
@font-face {
  font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Black'), url('../../assets/fonts/woff2/Pretendard-Regular.woff2') format('woff2'), url('../../assets/fonts/woff/Pretendard-Regular.woff') format('woff');
}
