@charset "utf-8";

//로케이션바
.container-inner .location li {font-size: 13px; color:#bcbcbc; letter-spacing: -1px;}
.container-inner .location li:first-child {line-height:15px;}
.container-inner .location li + li {position:relative;}
.container-inner .location li + li:before {content:'\e5e1'; height: 15px; line-height: 18px; margin-right:5px; padding-left:5px; font-size: 12px; color:#bcbcbc;}
.container-inner .location li.active {color:#333;}


// 공통
.my-txtbox {margin-bottom: 50px;}
.my-txtbox ul li {position: relative; color:$color-black-3;}
.my-txtbox ul li:after {content:'';}
.my-txtbox .text-h1 {display:block; margin-bottom:35px;}
.my-txtbox .text-subtitle4 li {position: relative; padding-left:10px;}
.my-txtbox .text-subtitle4 li:after {content:''; position: absolute; top:10px; left:0; width:2px; height:2px; background:#7e7e7e; border-radius: 50%;}


// 이력서 등록
.resumebox {}
.resumebox .resumbtn {position:relative; width:340px; height:380px; padding:40px; border-radius: 15px; background-color: #fff;}
.resumebox .resumbtn:hover {background-color: $color-cyan; color:#fff; transition: all ease-out 0.3s;}
.resumebox .resumbtn:hover .img {opacity: 0; right: auto;  -webkit-animation: imgAni 0.4s 0s forwards; animation: imgAni 0.4s 0s forwards;}
.resumebox .resumbtn .img-on {position: absolute; opacity: 0; right: -10px;}
.resumebox .resumbtn:hover .img-on {bottom: -60px; -webkit-animation: imgAni-on 0.3s 0.25s forwards; animation: imgAni-on 0.3s 0.25s forwards;}

@keyframes imgAni {
  0% {
    opacity: 0;
      left: -10px;
  }
  100% {
    opacity: 1;
    left: 40px;
  }
}

@keyframes imgAni-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 30px;
  }
}

.resumebox .resumbtn:hover .ico_arrow,
.resumebox .resumbtn:hover .ico_arrow:before {border-color:#fff;}
.resumebox .resumbtn:hover .ico_arrow:after {background:#fff;}

.resumebox .resumbtn .text-h1 {}
.resumebox .resumbtn .text-subtitle4 {margin-top: 20px;}
.resumebox .resumbtn .text-subtitle4:hover {color:#fff;}
.resumebox .resumbtn img {position: absolute; bottom:20px; right:40px;}

.resumebox .resumbtn .ico_arrow {position:relative; margin-top:30px; width:42px; height:42px; text-indent:-9999px; border-radius: 50%; border:2px solid #CCD1D7;}
.resumebox .resumbtn .ico_arrow:before {content:''; width:12px; height:12px; position:absolute; left:50%; top:50%; border-left:2px solid #CCD1D7; border-top:2px solid #CCD1D7; transform:translate(-50%,-50%) rotate(135deg);}
.resumebox .resumbtn .ico_arrow:after {content:''; width:18px; height:2px; position:absolute; right:12px; top:50%; transform:translateY(-50%); background:#CCD1D7}


// 공통
.my-subtxtbox {margin-top:25px; padding:50px; background:$color-neutral-2!important; border-radius: 15px; border-color:$borderColor-basic-3; border-width:1px; border-style:solid;}
.my-subtxtbox ul {width:calc(100% - 145px);}
.my-subtxtbox ul .title {margin-bottom:20px; color:$color-black-1; font-weight: bold;}
.my-subtxtbox ul .text-subtitle4 {color:$color-black-3;}
.my-subtxtbox ul .resume-state {color:$color-blue-3;}

// 이력서 관리
.my-resumebox {position: relative; margin-bottom:60px;}
.my-resumebox .contxt {padding:60px 40px; border-radius: 15px; background: url("images/img_resume_regInfo.png") no-repeat 125px 180px #fff !important; word-break: break-all;}
.my-resumebox .contxt-btns {overflow: hidden; position:absolute; top:30px; right:0; height: 100%; border-radius: 15px; height:270px;}
.my-resumebox .contxt-btns button {position: relative; width:215px;}
.my-resumebox .contxt-btns button:first-child {background-color:$color-teal;}
.my-resumebox .contxt-btns button:not(:first-child) {background-color:$color-cyan;}
.my-resumebox .contxt-btns button:last-child:before {display: none;}
.my-resumebox .contxt-btns button + button:before {content:''; position:absolute; width:1px; height:190px; right: 0; top: 50%; transform: translateY(-50%); background:#68c9d9;}

.my-resumebox .contxt-btns button p {color:#FFFFFFCC;}
.my-resumebox .contxt-btns strong {display: block; margin:32px 0 10px; font-weight:bold;}



