@charset "utf-8";


:root {
    /* Font */
    --mngr-fs16: 16px;
    --mngr-fs15: 15px;
    --mngr-fs14: 14px;
    --mngr-fs13: 13px;
}





/*테이블*/



/*탭*/
































/* border */
.h-border-none { border:none !important; }

/* display */
.block   { display:block; }
.i-block { display:inline-block; }
.inline  { display:inline; }

.h-txt-l {text-align:left;}
.h-txt-c {text-align:center;}
.h-txt-r {text-align:right;}

.fl {float:left;}
.fr {float:right;}

/* flex */
.flex { display: flex; }
.flex-none {flex:none;}
.flex.inline { display:inline-flex !important;}
.no-wrap { flex-wrap:nowrap; }
.flex-wrap { flex-wrap:wrap; }
.flex-start, .items-start { align-items:flex-start !important; }
.flex-center, .items-center { align-items:center !important; }
.flex-end, .items-end { align-items:flex-end !important; }
.flex-end2 {justify-content:flex-end;}
.flex-baseline { align-items:baseline !important; }
.flex-set { display:flex; flex-flow:row wrap; justify-content:center; align-items:center; }
.flex-between { justify-content:space-between !important; }
.flex-1 { flex:1; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row!important; }
.justify-start {justify-content: flex-start!important;}

/* 간격 */
.m0 { margin:0!important; }
.mt3 { margin-top:3px; }
.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mt15 { margin-top:15px; }
.mt20 { margin-top:20px; }
.mt25 { margin-top:25px; }
.mt30 { margin-top:30px; }
.mt40 { margin-top:40px; }
.mt50 { margin-top:50px; }
.mt60 { margin-top:60px; }
.mt70 { margin-top:70px; }

.ml3 { margin-left:3px; }
.ml5 { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml15 { margin-left:15px; }
.ml20 { margin-left:20px; }

.mr3 {margin-right:3px;}
.mr5 { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr40 {margin-right:40px;}
.mr50 {margin-right:50px;}

.mb0 {margin-bottom:0 !important;}
.mb5 { margin-bottom:5px; }
.mb10 { margin-bottom:10px; }
.mb15 { margin-bottom:15px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.mb40 { margin-bottom:40px; }
.mb50 { margin-bottom:50px; }
.mb60 { margin-bottom:60px; }
.mb70 { margin-bottom:70px; }

.p0 { padding:0!important; }
.pl5 {padding-left:5px;}
.pl10 { padding-left:10px; }
.pl15 { padding-left:15px; }
.pl20 {padding-left:20px;}
.pl30 { padding-left:30px; }
.pr10 { padding-right:10px; }
.pr20 {padding-right:20px;}
.pr30 { padding-right:30px; }
.pb0 {padding-bottom:0;}
.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}
.pb40 {padding-bottom:40px;}
.pb150 {padding-bottom:150px;}
.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt25 {padding-top:25px;}
.pt30 {padding-top:30px;}
.pt40 {padding-top:40px;}
.p20 {padding:20px;}
.box-border {box-sizing:border-box;}

/* width, height */
.wd100 { width:100%; }
.wd80  { width:80%!important; }
.wd50  { width:50%;}
.wd49  { width:49%; }
.minwd-Auto {min-width:auto;}


/* googl material icons */
.material-icons { font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; /* Preferred icon size */
 display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility; /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale; /* Support for IE. */
 font-feature-settings: 'liga'; }