@charset "utf-8"; /* 관리자페이지 - 컨텐츠 내용을 담은 CSS */

.academy-mngr-Wrap {display: flex; flex-direction: column; justify-content: space-between; height: 100%; min-height:100vh;} 
.academy-mngr-Wrap .layout-inner { min-width: 1280px; margin: 0 auto; width: 100%; } 
.academy-mngr-Wrap header .header-top { background-color: #5044b9; } 
.academy-mngr-Wrap header .layout-inner { /* padding: 0 30px; */box-sizing: border-box; } 
.academy-mngr-Wrap header .header-top-inner {display:flex;position: relative;padding: 30px;flex-wrap: wrap;box-sizing: border-box;justify-content: space-around;} 
.academy-mngr-Wrap header .top-logo-wrap {margin-right: 57px;overflow: hidden;/* position: absolute; *//* margin-left: 30px; */} 
.academy-mngr-Wrap header .top-logo { max-width: 141px; width: 141px; height: 49px; /* background: #ffffff; */ background: transparent url(../images/top-logo.png) center no-repeat; text-align: center; padding: 10px; white-space: normal; display: flex; align-items: center; justify-content: center; box-sizing: border-box; } 
.academy-mngr-Wrap header .top-logo .tit { width: 100%; word-wrap: break-word; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; } 
.academy-mngr-Wrap header .header-top-inner .gnb-wrap {flex-grow: 1;}
.academy-mngr-Wrap header .header-top-inner .gnb-wrap .gnb-list {display:flex;width: 100%;position: relative;} 
.academy-mngr-Wrap header .header-top-inner .gnb-wrap .gnb-list a { padding: 0 20px; display: block; font-size: 18px; color: #fff; font-weight: 400; } 
.academy-mngr-Wrap header .header-top-inner .gnb-wrap .gnb-list .menu-depth2-list {display:flex;position: absolute;margin-top: 9px;width: 100%;} 
.academy-mngr-Wrap header .header-top-inner .gnb-wrap .gnb-list .menu-depth2-list a { font-size:16px; } 
.academy-mngr-Wrap header .header-top-inner .gnb-wrap .gnb-list .menu-depth3-list a {word-break:keep-all;/* height: 54px; */line-height: 30px;} 
.academy-mngr-Wrap header .header-top-inner .gnb-wrap .gnb-list .menu-depth3-list {display:flex;align-items: center;position: absolute;top: 56px;background-color: #675edc;flex-wrap: wrap;width: 100vw;left: -228px;padding: 12px 0;min-height: 54px;box-sizing: border-box;} 
.academy-mngr-Wrap header .header-top-inner .login-wrap {display:flex;align-items:center;/* position: absolute; *//* right: 0; *//* top: 26px; */} 
.academy-mngr-Wrap header .header-top-inner .login-wrap .login-contents {display:flex;align-items:center;justify-content:space-between;margin-right: 30px;padding: 10px 20px 10px 10px;background: #41785f;height: 56px;min-width: 200px;border-radius: 40px;box-sizing: border-box;border: 1px solid #3b2989;background-color: #ffffff;position: relative;box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 28%);} 
.academy-mngr-Wrap header .header-top-inner .login-wrap .login-contents .login-icon { display:flex; align-items:center; width: 36px; height: 36px; background-color: #efedfc; margin-right: 10px; border-radius: 100%; box-sizing: border-box; justify-content: center; } 
.academy-mngr-Wrap header .header-top-inner .login-wrap .login-contents .login-info { font-size: 13px; font-weight: 500; color:#292e41; } 
.academy-mngr-Wrap header .header-top-inner .login-wrap .login-contents .login-arrow { width: 13px; height: 8px; background: transparent url(../images/login-arrow.png) center no-repeat; margin-left: 30px; } 
.academy-mngr-Wrap header .header-top-inner .login-wrap .logout-btn { width: 21px; height: 22px; background: transparent url(../images/icon-logout.png) center no-repeat; } 




/* 
.academy-mngr-Wrap header .menu-3depth {background-color: #675edc;width: 100%;margin-top: 30px;border-top: 1px solid #9d94c4;} 
.academy-mngr-Wrap header .menu-3depth .menu-3depth-data { height: 54px; }  
*/

.academy-mngr-Wrap .container {flex-grow:1;font-size:300px;padding-top: 54px;display: flex;}


.academy-mngr-Wrap footer { background-color: #f0f0f4; } 
.academy-mngr-Wrap footer .footer-inner { height: 100px; padding:0 30px; } 


/*
대시보드
*/
.academy-mngr-Wrap .dashboard { width: 100%; margin: 0 auto; background-color: #fff; } 




/*
원생관리
*/




/*
기본서브
*/
.academy-mngr-Wrap .sub { min-width: 1280px; margin: 0 auto; width: 100%; background-color: #fff; } 