@charset "utf-8"; /* 컨텐츠 내용을 담은 CSS */
/* 
로그인 페이지
*/
.academy-mngr-Wrap .login-page { background: linear-gradient(to right, #6359e8 0%, #7e4ef7 60%, #894fe2 100%); height: 100vh; display: flex; align-items: center; flex-direction: column; justify-content: center; } 
.academy-mngr-Wrap .login-page .login-tit { text-align: center; font-size: 17px; color: #fff; } 
.academy-mngr-Wrap .login-page .login-box { width: 430px; padding: 50px; background: #fff; border-radius: 20px; box-sizing: border-box; margin: 25px auto; box-shadow: 1px 2px 8px 0px rgb(0 0 0 / 28%); border: 1px solid var(--pc-border-4); } 
.academy-mngr-Wrap .login-page .login-box .login-logo { display: flex; align-items: center; justify-content: center; } 
.academy-mngr-Wrap .login-page .login-box .login-logo img { width: auto; max-width: 300px; height: auto; max-height: 65px; } 
.academy-mngr-Wrap .login-page .login-box .login-cont { margin-top: 15px; } 
.academy-mngr-Wrap .login-page .login-box .login-cont .t-button-login { height: 50px; line-height: 50px; border-radius: 2px; font-size: 15px; color: #fff; background: #36336b; margin: 12px 0; } 
.academy-mngr-Wrap .login-page .login-box .login-cont .login-info-box { display: flex; justify-content: space-between; align-items: center; } 
.academy-mngr-Wrap .login-page .login-info-box ul li button { font-size: 13px; color: #333; } 
.academy-mngr-Wrap .login-page .login-info-box ul li { position: relative; } 
.academy-mngr-Wrap .login-page .login-info-box ul li:first-child { padding-right: 12px; } 
.academy-mngr-Wrap .login-page .login-info-box ul li:first-child:after { display: block; content: ""; position: absolute; right: 0; top: calc(50% - 5px); width: 1px; height: 13px; background: var(--pc-border-2); } 
.academy-mngr-Wrap .login-page .login-info-box ul li:nth-child(2) { padding-left: 12px; } 
.academy-mngr-Wrap .login-page .select-ad { border-color: #36336b; width:100%; margin-top:10px; } 

/*
대시보드
*/
.academy-mngr-Wrap .dashboard { width: 100%; margin: 0 auto; background-color: #fff; } 
.academy-mngr-Wrap .dashboard .menu-section { width: 100%; height: 54px; box-sizing: border-box; background: linear-gradient(to right, #6359e8 0%, #7e4ef7 60%, #894fe2 100%); position: relative; } 
.academy-mngr-Wrap .dashboard .menu-section:after { position: absolute; left: 0; top: 0; background: #fff; width: 100%; content: ''; opacity: 0.1; height: 100%; } 


/*
원생관리 (studentMg)
*/
.academy-mngr-Wrap .studentMg .left-cont .photo-info { margin-top: 10px; padding: 10px; background: #ffff; border-radius: 2px; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .photo { position: relative; width: 100px; height: 100px; overflow: hidden; border-radius: 5px; border: 1px solid #e0e6ef; box-sizing: border-box; flex-shrink: 0; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .photo img { position: absolute; z-index: 1; top: -999px; bottom: -999px; left: -999px; right: -999px; width: 100%; max-width: 100%; height: auto; margin: auto; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list { margin-left: 13px; box-sizing: border-box; flex: 1; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt { display: flex; padding: 5px 0; position: relative; width: 100%; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt .pro-tit { margin-right: 6px; font-size: 13px; color: #9a9a9a; word-break: keep-all; text-align: left; flex: 1; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt .pro-txt { font-size: 13px; word-break: break-all; color: #333; text-align: left; flex: 2.8; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt.inclu-btn .pro-txt { padding-right: 71px; flex: 1.2; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt.inclu-btn [class^="t-button"]:last-child { width: 60px; position: absolute; right: 0; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap li { display: flex; margin-bottom: 22px; align-items: flex-start; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap>li .info-tit { color: #9a9a9a; margin-right: 28px; font-size: 13px; word-break: keep-all; flex: 1; text-align: left; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap>li .info-txt { color: #fff; font-size: 14px; text-align: left; flex: 4; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li { margin-bottom: 14px; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li .info-tit { position: relative; padding-right: 12px; margin-right: 12px; flex: auto; width: 38px; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li .info-tit:after { position: absolute; content: ''; width: 1px; height: 12px; top: 5px; right: 0; background-color: rgb(255 255 255 / 20%); } 

.academy-mngr-Wrap .studentMg .t-basic-1 tbody tr td { word-break: break-all; } 
.academy-mngr-Wrap .studentMg .add-info-wrap { transition: left .5s; width: 400px; position: absolute; left: -50px; background: #ffffff; top: 0; padding: 0; height: 100%; box-sizing: border-box; z-index: 2; box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 28%); } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-title { display: flex; padding: 20px; height: 66px; box-sizing: border-box; background: #5a4ddc; align-items: center; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-title .main-tit { color: #fff; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner { display: block; overflow: hidden; height: calc(100% - 65px); padding: 20px; box-sizing: border-box; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list { height: 100%; overflow-y: auto; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list>li { margin-bottom: 30px; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list>li:last-child { margin-bottom: 0; } 

.academy-mngr-Wrap .studentMg .add-close { background: var(--pc-bora-7)!important; } 
.academy-mngr-Wrap .studentMg .add-close .more-arrow { transform: rotate(180deg); } 

.academy-mngr-Wrap .studentMg .add-info-wrap.active { left: 350px; } 

.academy-mngr-Wrap .studentMg .left-cont .info-wrap li .t-radio-01 input[type="radio"] + label { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont .left-cont-wrap .info-wrap .result-wrap { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .regist-button-set { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt .result-wrap { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont .left-cont-wrap .info-wrap .result-wrap.flexIMF{display:none!important;}



/* 원생 등록 form */
/* 원생 등록 form 일때 안보여야하는 데이터들 */
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .left-cont-wrap .info-wrap .result-wrap { display: block; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li p.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li span.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .btn-set-box { display: none } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .add-info-wrap { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt .pro-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt .result-wrap { display: block; font-size: 13px; word-break: break-all; color: #333; text-align: left; flex: 2.8; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt.inclu-btn [class^="t-button"] { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .regist-button-set { display: flex; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li { margin-bottom: 10px; align-items: center; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap { flex: 4; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap .result-txt { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li .info-tit { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap select:first-child { margin-right: 5px; width: 140px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap select:nth-child(2) { width: 75px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap .t-bullet-01>li .result-wrap select { margin-right: 0; width: 120px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .t-bullet-01>li .info-tit:after { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .left-cont-wrap .info-wrap .result-wrap.flexIMF{display:flex!important;}

/* 원생 수정 form */
.academy-mngr-Wrap .studentMg .left-cont .photo-info .edit-button-set { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .photo-info .btn-set-box div:nth-child(2) { display:none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .photo-info .edit-button-set { display: flex; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap li .result-wrap { flex: 4; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .left-cont-wrap .info-wrap .result-wrap { display: block; align-items: center; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li p.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li p.info-txt.active { display:block; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li .info-tit { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap li { align-items: center; margin-bottom: 10px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap li .result-wrap .result-txt { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li span.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li p.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .left-cont-wrap .info-wrap .result-wrap.flexIMF{display:flex!important;}

/*
기본서브
*/
.academy-mngr-Wrap .sub { padding-top: 54px; min-width: 1280px; margin: 0 auto; width: 100%; background-color: #fff; display: flex; } 
.academy-mngr-Wrap .sub .layout-wrap { padding: 35px 20px; margin: 0 auto; box-sizing: border-box; } 
.academy-mngr-Wrap .sub .box-bg { margin-bottom: 40px; } 
.academy-mngr-Wrap .sub .main-cont { width: 100%; position: relative;} 
.academy-mngr-Wrap .sub .page-tit { margin-top: 35px; color: var(--pc-bora-1); font-size: 20px; font-weight: var(--text-bold); padding: 0 23px; margin-bottom: 16px; } 
.academy-mngr-Wrap .sub .layout-wrap .page-tit { margin-top: 0; } 
.academy-mngr-Wrap .sub .page-tit-wrap { display: flex; align-items: center; margin-bottom: 16px; } 


/* 왼쪽영역 */
.academy-mngr-Wrap .sub .left-cont { min-height:100vh; width: 350px; flex-shrink: 0; box-sizing: border-box; position: relative; } 
.academy-mngr-Wrap .sub .left-cont .left-cont-wrap { height: 100%; padding: 20px; background: #333952; z-index: 3; position: relative; box-sizing: border-box; box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 28%); } 



/*
반 (classMg)
*/
.academy-mngr-Wrap .classMg .class-list-wrap { height:680px; background: #fff; border: 1px solid var(--pc-border-2); border-radius: 2px; box-sizing: border-box; padding: 20px 0; overflow-y: auto; } 
.academy-mngr-Wrap .classMg .list-cnt-box { padding: 0 20px; box-sizing: border-box; } 
.academy-mngr-Wrap .classMg .class-list { display: block; position: relative; margin: 0; padding: 0; } 
.academy-mngr-Wrap .classMg .class-item { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; line-height: 20px; } 
.academy-mngr-Wrap .classMg .class-item > button { display: block; position: absolute; height: 34px; overflow: hidden; z-index: 1; } 
.academy-mngr-Wrap .classMg .class-item-cnt .class-name { word-break: break-all; color: var(--pc-text-color-1); } 
.academy-mngr-Wrap .classMg .class-list .class-item .class-list { padding-left: 27px; } 
.academy-mngr-Wrap .classMg .class-item > .class-item-cnt.group + .class-list { padding-bottom: 15px; } 
.academy-mngr-Wrap .classMg .class-list .class-item .class-list .class-item:before { content: ""; width: 18px; height: 1px; display: inline-block; border-top: 1px solid #ccc; position: absolute; left: -18px; top: 19.5px; } 
.academy-mngr-Wrap .classMg .class-item-cnt { height: auto; padding: 7px 10px 7px 28px; font-size: 15px; font-weight: 600; text-decoration: none; box-sizing: border-box; overflow: hidden; position: relative; } 
.academy-mngr-Wrap .classMg .class-item > button:before { background:#fff; content: url( "../images/icon-folder.png" ); display: block; width: 20px; height: 16px; } 
.academy-mngr-Wrap .classMg .class-list .class-item .class-list:before { content: ""; width: 1px; height: calc(100% + 5px); display: inline-block; left: 9px; top: -18px; border-left: 1px solid #ccc; position: absolute; } 
.academy-mngr-Wrap .classMg .class-list .class-item .class-list .class-item:last-child:after { content: ""; width: 30px; height: 100%; display: inline-block; position: absolute; left: -30px; top: 20px; background: #fff; } 
.academy-mngr-Wrap .classMg .class-item > button[data-action="collapse"]:before { content: url( "../images/icon-open-f.png" ); width: 22px; } 
.academy-mngr-Wrap .classMg .class-item > .last-item { position: absolute; height: 34px; overflow: hidden; z-index: 1; display: flex; align-items: center; } 
.academy-mngr-Wrap .classMg .class-item > .last-item:before { content: url( "../images/icon-d.png" ); position:relative; width: 16px; height: 20px; display:block; } 
.academy-mngr-Wrap .classMg .class-item > .last-item ~ .class-item-cnt>.class-name { font-size:14px; } 
.academy-mngr-Wrap .classMg .class-item > button[data-action="expand"]~.class-name { color:#5b5693; } 
 
.academy-mngr-Wrap .classMg .page-tit-wrap .page-tit { height: 36px; line-height: 36px; } 
.academy-mngr-Wrap .classMg .left-cont { transition: .5s; left:-350px; width:0; opacity:0; } 
.academy-mngr-Wrap .classMg .left-cont.active { left:0; width:350px; opacity:1; } 
.academy-mngr-Wrap .classMg .left-cont .left-cont-wrap { padding:0; } 
.academy-mngr-Wrap .classMg .left-cont.active .left-cont-wrap { padding:20px; } 
.academy-mngr-Wrap .classMg .process-data { display: inline-flex; align-items: center; margin-left: 30px; } 




