@charset "utf-8"; /* 컨텐츠 내용을 담은 CSS */
/*
대시보드
*/
.academy-mngr-Wrap .dashboard { width: 100%; margin: 0 auto; background-color: #fff; } 
.academy-mngr-Wrap .dashboard .menu-section { width: 100%; height: 54px; box-sizing: border-box; background: linear-gradient(to right, #6359e8 0%, #7e4ef7 60%, #894fe2 100%); position: relative; } 
.academy-mngr-Wrap .dashboard .menu-section:after { position: absolute; left: 0; top: 0; background: #fff; width: 100%; content: ''; opacity: 0.1; height: 100%; } 

/*
원생관리
*/
.academy-mngr-Wrap .studentMg { display: flex; } 
.academy-mngr-Wrap .studentMg .left-cont { flex-basis: 350px; height: 100%; flex-shrink: 0; box-sizing: border-box; position: relative; } 
.academy-mngr-Wrap .studentMg .searh-wrap { display: flex; } 
.academy-mngr-Wrap .studentMg .button-wrap { margin-top: 0px!important; } 
.academy-mngr-Wrap .studentMg .left-cont .left-cont-wrap { height: 100%; padding: 20px; background: #333952; z-index: 3; position: relative; box-sizing: border-box; box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 28%); } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info { margin-top: 10px; padding: 10px; background: #ffff; border-radius: 2px; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .photo { position: relative; width: 100px; height: 100px; overflow: hidden; border-radius: 5px; border: 1px solid #e0e6ef; box-sizing: border-box; flex-shrink: 0; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .photo img { position: absolute; z-index: 1; top: -999px; bottom: -999px; left: -999px; right: -999px; width: 100%; max-width: 100%; height: auto; margin: auto; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list { margin-left: 13px; box-sizing: border-box; flex: 1; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt { display: flex; padding: 5px 0; position: relative; width: 100%; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt .pro-tit { margin-right: 6px; font-size: 13px; color: #9a9a9a; word-break: keep-all; text-align: left; flex: 1; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt .pro-txt { font-size: 13px; word-break: break-all; color: #333; text-align: left; flex: 2.8; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt.inclu-btn .pro-txt { padding-right: 71px; flex: 1.2; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt.inclu-btn [class^="t-button"]:last-child { width: 60px; position: absolute; right: 0; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap li { display: flex; margin-bottom: 22px; align-items: flex-start; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap>li .info-tit { color: #9a9a9a; margin-right: 28px; font-size: 13px; word-break: keep-all; flex: 1; text-align: left; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap>li .info-txt { color: #fff; font-size: 14px; text-align: left; flex: 4; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li { margin-bottom: 14px; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li .info-tit { position: relative; padding-right: 12px; margin-right: 12px; flex: auto; width:38px; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li .info-tit:after { position: absolute; content: ''; width: 1px; height: 12px; top: 5px; right: 0; background-color: rgb(255 255 255 / 20%); } 
.academy-mngr-Wrap .studentMg .message-wrap { display: flex; background: #f9fafc; padding: 15px 20px; box-sizing: border-box; border-bottom: 1px solid #e0e6ef; } 
.academy-mngr-Wrap .studentMg .t-basic-1 tbody tr td { word-break: break-all; } 
.academy-mngr-Wrap .studentMg .add-info-wrap { transition: left .5s; width: 400px; position: absolute; left: -50px; background: #ffffff; top: 0; padding: 0; height: 100%; box-sizing: border-box; z-index: 2; box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 28%); } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-title { display: flex; padding: 20px; height: 66px; box-sizing: border-box; background: #5a4ddc; align-items: center; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-title .main-tit { color: #fff; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner { display: block; overflow: hidden; height: calc(100% - 65px); padding: 20px; box-sizing: border-box; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list { height: 100%; overflow-y: auto; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list>li { margin-bottom: 30px; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list>li:last-child { margin-bottom: 0; } 
.academy-mngr-Wrap .studentMg .add-close { background: var(--pc-bora-7)!important; } 
.academy-mngr-Wrap .studentMg .add-close .more-arrow { transform: rotate(180deg); } 
.academy-mngr-Wrap .studentMg .add-info-wrap.active { left: 350px; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap li .t-radio-01 input[type="radio"] + label { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont .left-cont-wrap .info-wrap .result-wrap { display:none; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .regist-button-set { display:none; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt .result-wrap { display:none; } 


/* 원생 등록 form */
/* 원생 등록 form 일때 안보여야하는 데이터들 */
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .left-cont-wrap .info-wrap .result-wrap { display:block; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li p.info-txt { display:none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li span.info-txt { display:none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .btn-set-box { display:none } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .add-info-wrap { display:none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt .pro-txt { display:none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt .result-wrap { display:block; display: block; font-size: 13px; word-break: break-all; color: #333; text-align: left; flex: 2.8; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt.inclu-btn [class^="t-button"] {display:none;}

.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .regist-button-set { display:flex; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li { margin-bottom: 10px; align-items: center; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap { flex: 4; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap .result-txt { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li .info-tit { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap select:first-child { margin-right: 5px; width: 140px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap select:nth-child(2) { width: 75px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap .t-bullet-01>li .result-wrap select { margin-right:0; width: 120px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .t-bullet-01>li .info-tit:after { display: none; } 


/*
기본서브
*/
.academy-mngr-Wrap .sub { padding-top: 54px; min-width: 1280px; margin: 0 auto; width: 100%; background-color: #fff; } 
.academy-mngr-Wrap .sub .layout-wrap { padding: 35px 20px; margin: 0 auto; box-sizing: border-box; } 
.academy-mngr-Wrap .sub .box-bg { margin-bottom: 40px; } 
.academy-mngr-Wrap .sub .content-section { padding: 0 30px; } 
.academy-mngr-Wrap .sub .main-cont { width: 100%; } 
.academy-mngr-Wrap .sub .main-tit .tit { padding-left: 5px; } 
