@charset "utf-8"; /* 컨텐츠 내용을 담은 CSS */
/*
로그인 페이지
*/
.academy-mngr-Wrap .login-page { background: linear-gradient(to right, #6359e8 0%, #7e4ef7 60%, #894fe2 100%); height: 100vh; display: flex; align-items: center; flex-direction: column; justify-content: center; } 
.academy-mngr-Wrap .login-page .login-tit { text-align: center; font-size: 17px; color: #fff; } 
.academy-mngr-Wrap .login-page .login-box { width: 430px; padding: 50px; background: #fff; border-radius: 20px; box-sizing: border-box; margin: 25px auto; box-shadow: 1px 2px 8px 0px rgb(0 0 0 / 28%); border: 1px solid var(--pc-border-4); } 
.academy-mngr-Wrap .login-page .login-box .login-logo { display: flex; align-items: center; justify-content: center; } 
.academy-mngr-Wrap .login-page .login-box .login-logo img { width: auto; max-width: 300px; height: auto; max-height: 65px; } 
.academy-mngr-Wrap .login-page .login-box .login-cont { margin-top: 15px; } 
.academy-mngr-Wrap .login-page .login-box .login-cont .t-button-login { height: 50px; line-height: 50px; border-radius: 2px; font-size: 15px; color: #fff; background: #36336b; margin: 12px 0; } 
.academy-mngr-Wrap .login-page .login-box .login-cont .login-info-box { display: flex; justify-content: space-between; align-items: center; } 
.academy-mngr-Wrap .login-page .login-info-box ul li button { font-size: 13px; color: #333; } 
.academy-mngr-Wrap .login-page .login-info-box ul li { position: relative; } 
.academy-mngr-Wrap .login-page .login-info-box ul li:first-child { padding-right: 12px; } 
.academy-mngr-Wrap .login-page .login-info-box ul li:first-child:after { display: block; content: ""; position: absolute; right: 0; top: calc(50% - 5px); width: 1px; height: 13px; background: var(--pc-border-2); } 
.academy-mngr-Wrap .login-page .login-info-box ul li:nth-child(2) { padding-left: 12px; } 
.academy-mngr-Wrap .login-page .select-ad { border-color: #36336b; width:100%; margin-top:10px; } 



/*
location
*/
.academy-mngr-Wrap .content .location { position: absolute; right: 25px; top: 13px; display: flex; align-items: center; } 
.academy-mngr-Wrap .content .location li { font-size: 13px; color: #6d6d6d; letter-spacing: -1px; font-family: Pretendard; } 
.academy-mngr-Wrap .content .location li:first-child { line-height: 15px; } 
.academy-mngr-Wrap .content .location li.active { font-weight: var(--text-medium); color: #333; } 
.academy-mngr-Wrap .content .location li+li { position: relative; padding-left: 20px; line-height: 18px; } 
.academy-mngr-Wrap .content .location li+li:before { content: "\e5e1"; font-family: Material Icons; height: 15px; line-height: 18px; font-size: 12px; color: #747474bd; display: inline-block; position: absolute; left: 5px; top: 0px; } 
.academy-mngr-Wrap .content .location li p { background:url(../images/icon_home.png); width:14px; height:15px; margin-top:-1px; text-indent: -9999999px; } 


/*
대시보드
*/
.academy-mngr-Wrap .dashboard { width: 100%; margin: 0 auto; background-color: #fff; } 
.academy-mngr-Wrap .dashboard .menu-section { box-shadow: inset 0px 3px 6px 0px rgb(33 33 33 / 16%); width: 100%; height: 44px; box-sizing: border-box; background: linear-gradient(to right, #6359e8 0%, #7e4ef7 60%, #894fe2 100%); position: relative; } 


/*
원생관리 (studentMg)
*/
.academy-mngr-Wrap .photo-info { box-sizing: border-box; margin-top: 10px; padding: 10px; background: #ffff; border-radius: 2px; } 
.academy-mngr-Wrap .photo-info .photo { position: relative; width: 100px; height: 100px; overflow: hidden; border-radius: 5px; border: 1px solid #e0e6ef; box-sizing: border-box; flex-shrink: 0; } 
.academy-mngr-Wrap .photo-info .photo img { position: absolute; z-index: 1; top: -999px; bottom: -999px; left: -999px; right: -999px; width: 100%; max-width: 100%; height: auto; margin: auto; } 
.academy-mngr-Wrap .photo-info .profile-txt-list { margin-left: 13px; box-sizing: border-box; flex: 1; } 
.academy-mngr-Wrap .photo-info .profile-txt-list .profile-txt { display: flex; padding: 5px 0; position: relative; width: 100%; } 
.academy-mngr-Wrap .photo-info .profile-txt-list .profile-txt .pro-tit { margin-right: 6px; font-size: 13px; color: #9a9a9a; word-break: keep-all; text-align: left; flex: 1; } 
.academy-mngr-Wrap .photo-info .profile-txt-list .profile-txt .pro-txt { font-size: 13px; word-break: break-all; color: #333; text-align: left; flex: 2.8; } 
.academy-mngr-Wrap .photo-info .profile-txt-list .profile-txt.inclu-btn .pro-txt { padding-right: 71px; flex: 1.2; } 
.academy-mngr-Wrap .photo-info .profile-txt-list .profile-txt.inclu-btn [class^="t-button"]:last-child { width: 60px; position: absolute; right: 0; margin-top: -4px!important; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap li { display: flex; margin-bottom: 22px; align-items: flex-start; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap>li .info-tit { color: #9a9a9a; margin-right: 28px; font-size: 13px; word-break: keep-all; flex: 1; text-align: left; } 
.academy-mngr-Wrap .studentMg .left-cont .info-wrap>li .info-txt { color: #fff; font-size: 14px; text-align: left; flex: 4; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li { margin-bottom: 14px; align-items: center; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li .info-tit { position: relative; padding-right: 12px; margin-right: 12px; flex: auto; width: 38px; } 
.academy-mngr-Wrap .studentMg .left-cont .t-bullet-01>li .info-tit:after { position: absolute; content: ''; width: 1px; height: 12px; top: 3px; right: 0; background-color: rgb(255 255 255 / 20%); } 


.academy-mngr-Wrap .studentMg .add-info-wrap { transition: left .5s; width: 400px; position: absolute; left: -50px; background: #ffffff; top: 0; padding: 0; height: 100%; box-sizing: border-box; z-index: 2; box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 28%); } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-title { display: flex; padding: 20px; height: 66px; box-sizing: border-box; background: #5a4ddc; align-items: center; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-title .main-tit { color: #fff; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner { display: block; overflow: hidden; height: calc(100% - 65px); padding: 20px; box-sizing: border-box; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list { height: 100%; overflow-y: auto; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list>li { margin-bottom: 30px; } 
.academy-mngr-Wrap .studentMg .add-info-wrap .add-info-inner .add-info-list>li:last-child { margin-bottom: 0; } 

.academy-mngr-Wrap .studentMg .add-close { background: var(--pc-bora-7)!important; } 
.academy-mngr-Wrap .studentMg .add-close .more-arrow { transform: rotate(180deg); } 

.academy-mngr-Wrap .studentMg .add-info-wrap.active { left: 350px; } 

.academy-mngr-Wrap .studentMg .left-cont .info-wrap li .t-radio-01 input[type="radio"] + label { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont .left-cont-wrap .info-wrap .result-wrap { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .regist-button-set { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont .photo-info .profile-txt-list .profile-txt .result-wrap { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont .left-cont-wrap .info-wrap .result-wrap.flexIMF { display:none!important; } 
/*
.academy-mngr-Wrap .studentMg .left-cont .info-wrap>li .info-txt .t-bullet-01 li:after { top: 17px; } */

/* 원생 등록 form */
/* 원생 등록 form 일때 안보여야하는 데이터들 */
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .left-cont-wrap .info-wrap .result-wrap { display: block; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li p.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li span.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .btn-set-box { display: none } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .add-info-wrap { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt .pro-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt .result-wrap { display: block; font-size: 13px; word-break: break-all; color: #333; text-align: left; flex: 2.8; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .profile-txt-list .profile-txt.inclu-btn [class^="t-button"] { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .photo-info .regist-button-set { display: flex; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li { margin-bottom: 10px; align-items: center; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap { flex: 4; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap .result-txt { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap>li .info-tit { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap select:first-child { margin-right: 5px; width: 140px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap li .result-wrap select:nth-child(2) { width: 75px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .info-wrap .t-bullet-01>li .result-wrap select { margin-right: 0; width: 120px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .t-bullet-01>li .info-tit:after { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-regist-form .left-cont-wrap .info-wrap .result-wrap.flexIMF { display:flex!important; } 

/* 원생 수정 form */
.academy-mngr-Wrap .studentMg .left-cont .photo-info .edit-button-set { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .photo-info .btn-set-box div:nth-child(2) { display:none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .photo-info .edit-button-set { display: flex; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap li .result-wrap { flex: 4; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .left-cont-wrap .info-wrap .result-wrap { display: block; align-items: center; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li p.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li p.info-txt.active { display:block; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li .info-tit { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap li { align-items: center; margin-bottom: 10px; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap li .result-wrap .result-txt { color: #fff; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li span.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .info-wrap>li p.info-txt { display: none; } 
.academy-mngr-Wrap .studentMg .left-cont.stu-edit-form .left-cont-wrap .info-wrap .result-wrap.flexIMF { display:flex!important; } 



/* 원생화면에서 스타일 달라짐 */
.academy-mngr-Wrap .studentMg .m-scroll { overflow: auto; } 
.academy-mngr-Wrap .studentMg .m-scroll table { width: 150%; } 
.academy-mngr-Wrap .studentMg .m-scroll table.t-basic-1 :is(th) { word-break:break-all; } 

/*
기본서브
*/
.academy-mngr-Wrap .sub { padding-top: 43px; margin: 0 auto; width: 100%; background-color: #fff; display: flex; flex-grow:1; } 
.academy-mngr-Wrap .sub .layout-wrap { position:relative; padding: 35px 20px; margin: 0 auto; box-sizing: border-box; } 
.academy-mngr-Wrap .sub .main-cont { width: 100%; position: relative; } 
/* .academy-mngr-Wrap .sub .layout-wrap .page-tit { margin-top: 0; } */
.academy-mngr-Wrap .sub .page-tit-wrap { display: flex; align-items: center; margin-bottom: 16px; } 
.academy-mngr-Wrap .sub .t-popup .content-section>.layout-wrap { padding:0; } 


/* 왼쪽영역 */
.academy-mngr-Wrap .sub .left-cont { /* min-height:100vh; */ width: 350px; flex-shrink: 0; box-sizing: border-box; position: relative; } 
.academy-mngr-Wrap .sub .left-cont .left-cont-wrap { height: 100%; padding: 20px; background: #333952; z-index: 3; position: relative; box-sizing: border-box; box-shadow: 4px 4px 8px 0px rgb(0 0 0 / 28%); } 



/*
반 (classMg)
*/
.academy-mngr-Wrap .classMg .class-list-wrap { height:680px; background: #fff; border: 1px solid var(--pc-border-2); border-radius: 2px; box-sizing: border-box; padding: 20px 0; overflow-y: auto; } 
.academy-mngr-Wrap .classMg .list-cnt-box { padding: 0 20px; box-sizing: border-box; } 
.academy-mngr-Wrap .classMg .class-list { display: block; position: relative; margin: 0; padding: 0; } 
.academy-mngr-Wrap .classMg .class-item { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; line-height: 20px; } 
.academy-mngr-Wrap .classMg .class-item > button { display: block; position: absolute; height: 34px; overflow: hidden; z-index: 1; } 
.academy-mngr-Wrap .classMg .class-item-cnt .class-name { word-break: break-all; color: var(--pc-text-color-1); } 
.academy-mngr-Wrap .classMg .class-list .class-item .class-list { padding-left: 27px; } 
.academy-mngr-Wrap .classMg .class-item > .class-item-cnt.group + .class-list { padding-bottom: 15px; } 
.academy-mngr-Wrap .classMg .class-list .class-item .class-list .class-item:before { content: ""; width: 18px; height: 1px; display: inline-block; border-top: 1px solid #ccc; position: absolute; left: -18px; top: 19.5px; } 
.academy-mngr-Wrap .classMg .class-item-cnt { height: auto; padding: 7px 10px 7px 28px; font-size: 15px; font-weight: 600; text-decoration: none; box-sizing: border-box; overflow: hidden; position: relative; } 
.academy-mngr-Wrap .classMg .class-item > button:before { background:#fff; content: url( "../images/icon-folder.png" ); display: block; width: 20px; height: 16px; } 
.academy-mngr-Wrap .classMg .class-list .class-item .class-list:before { content: ""; width: 1px; height: calc(100% + 5px); display: inline-block; left: 9px; top: -18px; border-left: 1px solid #ccc; position: absolute; } 
.academy-mngr-Wrap .classMg .class-list .class-item .class-list .class-item:last-child:after { content: ""; width: 30px; height: 100%; display: inline-block; position: absolute; left: -30px; top: 20px; background: #fff; } 
.academy-mngr-Wrap .classMg .class-item > button[data-action="collapse"]:before { content: url( "../images/icon-open-f.png" ); width: 22px; } 
.academy-mngr-Wrap .classMg .class-item > .last-item { position: absolute; height: 34px; overflow: hidden; z-index: 1; display: flex; align-items: center; } 
.academy-mngr-Wrap .classMg .class-item > .last-item:before { content: url( "../images/icon-d.png" ); position:relative; width: 16px; height: 20px; display:block; } 
.academy-mngr-Wrap .classMg .class-item > .last-item ~ .class-item-cnt>.class-name { font-size:14px; } 
.academy-mngr-Wrap .classMg .class-item > button[data-action="expand"]~.class-name { color:#5b5693; } 

.academy-mngr-Wrap .classMg .page-tit-wrap .page-tit { height: 36px; line-height: 36px; } 
.academy-mngr-Wrap .classMg .left-cont { transition: .5s; left:-350px; width:0; opacity:0; } 
.academy-mngr-Wrap .classMg .left-cont.active { left:0; width:350px; opacity:1; } 
.academy-mngr-Wrap .classMg .left-cont .left-cont-wrap { padding:0; } 
.academy-mngr-Wrap .classMg .left-cont.active .left-cont-wrap { padding:20px; } 
.academy-mngr-Wrap .classMg .process-data { display: inline-flex; align-items: center; margin-left: 30px; } 


/* 반 - 시간표설정 */
.academy-mngr-Wrap .time-box .add-result-list { margin:20px 0!important; } 
.academy-mngr-Wrap .time-box .add-result-list li { background: #e6ffe4; } 




/*
박스안에 있는 컨텐츠들
*/

.academy-mngr-Wrap .box-bg>.layout-wrap { padding: 30px 0 0; } 
.academy-mngr-Wrap .box-bg>.tab-side { top: 30px; } 


/* 박스안 tab menu */
.academy-mngr-Wrap .box-bg>.tab-menu>.tab-01 { border-bottom: 1px solid #bdbdbd; padding:0; } 
.academy-mngr-Wrap .box-bg>.tab-menu>.tab-01 li a .status { font-size: var(--pc-fs14); color: var(--pc-bora-1); } 


 /* hover */
 .academy-mngr-Wrap .box-bg>.tab-menu>.tab-01 li:hover { background-color: #727272; } 
 .academy-mngr-Wrap .box-bg>.tab-menu>.tab-01 li:hover a > * { color: #fff; } 

 /* active */
 .academy-mngr-Wrap .box-bg>.tab-menu>.tab-01 li.active { background-color: #727272; } 
 .academy-mngr-Wrap .box-bg>.tab-menu>.tab-01 li.active a > * { color: #fff; } 







 /* 약관류 페이지 (도움센터) */
 .message-wrap .fileNm { font-size:14px; text-decoration: underline; } 
 .message-wrap .fileNm:before { content:"\f0f6"; font-family:'FontAwesome'; display:inline-block; margin-right:5px; } 


 .terms-page { } 
 .terms-page .message-wrap { border:1px solid #e0e6ef; align-items:center; } 

 .terms-page .terms-coBox { margin:30px 0 50px; font-size: 15px; line-height: 160%; word-break: keep-all; word-wrap: break-word; } 
 .terms-page .terms-coBox h4 { font-size:18px; } 
 .academy-mngr-Wrap .terms-page .t-basic-1 { border-radius:3px; margin-bottom:10px; width:auto; max-width:100%; } 
 /* .academy-mngr-Wrap .terms-page .t-basic-1 th { background:#f7f7fa; border:1px solid var(--pc-border-4) !important; color: #333; font-weight: 500; } */

 .terms-page .cs-coBox { padding-left: 120px; box-sizing: border-box; position: relative; line-height:150%; display:flex; height:100%; } 
 .terms-page .cs-coBox:before { content:""; display: inline-block; width: 100px; height: 100px; position: absolute; left: 0; top: 0; } 
 .terms-page .cs-coBox .flex-center { display: flex; flex-direction: column; justify-content:space-between; text-align: left; align-items: flex-start !important; } 
 .terms-page .cs-coBox .flex-center b { display: block; color: #333; font-size: 16px; line-height: 150%; } 
 .terms-page .cs-coBox strong { font-size:25px; display: block; line-height: 150%; } 
 .terms-page .cs-coBox div { margin-top: 15px; font-size: 14px; line-height: 140%; color: #6a6969; flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; } 
 .terms-page .cs-coBox button { margin:15px 0 0; min-width: 100px !important; } 






 /* 게시판 */
 .board-wrap { padding: 20px 0; border-top: 2px solid var(--pc-border-1); border-bottom: 2px solid var(--pc-border-2); } 
 .board-wrap .board-tit { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 0 10px; box-sizing: border-box; } 
 .board-file { align-items: center; border: 1px solid var(--pc-border-2); border-width: 1px 0px 1px; padding: 10px 10px; box-sizing: border-box; display: flex; } 
 .board-wrap .board-cont { padding: 20px 10px 0; box-sizing: border-box; min-height: 200px; } 
 .board-wrap .add-result-list li { margin-right:15px!important; } 
 .board-wrap.board-answer { margin-top:50px; } 
 .board-cont-tit { width: 52px; margin-right: 20px; font-size: 15px; font-weight: 500; } 
 .board-next { border-bottom: 2px solid var(--pc-border-2); padding: 10px 10px; box-sizing: border-box; display: flex; align-items: center; } 
 .board-next-tit { margin-left: 10px; display: flex; justify-content: space-between; flex: 1; align-items: center; } 




 /* 문의등록 */
 .chat-input-area { display:flex; } 
 .chat-input-area .t-text-field_slot { border-radius: 20px; } 
 .chat-input-area .t-text-field_slot textarea { border-radius: 20px; font-size: 13px; padding: 20px; } 
 .chat-input-area button { height: 100%!important; width: 100px; border-radius: 20px!important; } 

 .chat-wrap { display:flex; flex-direction: column; min-height:250px; padding: 20px; } 
 .chat-day-set { margin-bottom: 40px; } 
 .chat-day-set:last-child { margin-bottom:0; } 

 .chat-item { display: flex; flex-direction: column; align-items: flex-end; margin-bottom:30px; } 
 .chat-item:last-child { margin-bottom:0; } 
 .chat-item .chat-set { display: flex; align-items: flex-end; flex-direction: row-reverse; } 
 .chat-item .chat-box { padding: 10px 15px; background: #c1b9dd6b; border-radius: 10px 0 10px 10px; } 
 .chat-item .chat-set .sb-txt { font-size: 11px!important; flex-shrink: 0; margin-right:5px; } 

 .chat-item.left { align-items: flex-start; } 
 .chat-item.left .chat-box { border-radius: 0 10px 10px 10px; background: var(--pc-border-3); } 
 .chat-item.left .chat-set { flex-direction: row; } 
 .chat-item.left .chat-set .sb-txt { margin-left:5px; margin-right:0; } 

 .chat-date { text-align: center; box-sizing: border-box; position: relative; margin-bottom:20px; } 
 .chat-date:before { content: ''; position: absolute; left: 0; top: 10px; width: 100%; height: 1px; background-color: #00000029; } 
 .chat-date span { position: relative; background-color: #f9fafc; padding: 0 8px; } 


 /* 문의종료일때 */
 .chat-state.chat-end .end-txt { display:block!important; } 
 .chat-state.chat-end .tit-wrap button { display:none; } 
 .chat-state.chat-end .chat-wrap { background-color: #c9c9c9; } 
 .chat-state.chat-end .chat-date span { background-color: #c9c9c9; } 
 .chat-state.chat-end .alarm-check { display:none; } 
 .chat-state.chat-end .chat-input-area { display:none; } 
 .chat-state.chat-end .chat-state-btn { display:none; } 




 /* 문자미리보기 */
 .academy-mngr-Wrap .box-bg-02.sms-box { width: 300px; height: 400px; margin: 0 auto; border-color: #2e2e2e; padding: 0; border-width: 5px; overflow: hidden; } 
 .academy-mngr-Wrap .box-bg-02.sms-box .text-wrap { overflow-y: scroll; border-color: #2e2e2e; height: 100%; padding: 10px; box-sizing: border-box; } 
 .academy-mngr-Wrap .box-bg-02.sms-box .chat-box { position: relative; border-radius: 10px; } 
 .academy-mngr-Wrap .box-bg-02.sms-box .chat-box:after { content: ''; position: absolute; left: 0; bottom: 6px; width: 0; height: 0; border: 10px solid transparent; border-right-color: var(--pc-border-3); border-left: 0; border-bottom: 0; margin-top: 10px; margin-left: -8px; } 





 /* 수납 */
 .academy-mngr-Wrap .box-basic.box-bg.box-bg-02 { padding: 20px; } 
 .academy-mngr-Wrap .box-basic.box-bg.box-bg-02 table { font-size: var(--pc-fs12); } 
 .academy-mngr-Wrap .box-basic.box-bg.box-bg-02 table thead tr th { font-size: var(--pc-fs13); padding: 10px; } 



 /* 환경설정 */
 /* 근무시간 테이블 */
 .academy-mngr-Wrap .work-time-table select { height: 30px; min-width: 60px; font-size: var(--pc-fs12); } 
 .academy-mngr-Wrap .work-time-table .time-set { display: inline-flex; flex-direction: column; align-items: flex-start; } 
 .academy-mngr-Wrap .work-time-table .time-set .flex-center-set select:first-child { margin-right:5px; } 
 .academy-mngr-Wrap .work-time-table .time-set .flex-center-set { margin-top: 5px; } 


 /* sms 템플릿관리 */
 .academy-mngr-Wrap .sms-temp-mng { display: flex; gap: 30px 1.25%; flex-wrap: wrap; } 
 .academy-mngr-Wrap .sms-temp-mng li { display: flex; flex-direction: column; flex-basis: 19%; } 
 .academy-mngr-Wrap .sms-temp-mng .temp-date-wrap { border-radius: 2px; padding: 10px; box-sizing: border-box; display: flex; margin-bottom: 5px; justify-content: space-between; align-items: center; border: 1px solid #6d57b378; } 
 .academy-mngr-Wrap .sms-temp-mng .temp-tit-wrap { background: #ddd8ed; border-radius: 2px 2px 0 0; padding: 10px; font-size: 16px; border: 1px solid var(--pc-border-2); border-bottom: none; font-weight: 500; color: var(--pc-text-color-1); text-align: left; word-break: keep-all; line-height: 19px; } 




 /* 반등록정보설정_영역 */
 .academy-mngr-Wrap .layout-wrap.ban-add-info { gap:0!important; } 
 .academy-mngr-Wrap .layout-wrap.ban-add-info .box-basic { margin-right:15px!important; } 



 /* 반별 원생정보 보기 팝업 */
 .academy-mngr-Wrap .t-popup .layout-wrap.col3.stu-info-pop .box-basic { margin-bottom: 5px; } 
 .academy-mngr-Wrap .t-popup .layout-wrap.col3.stu-info-pop .photo-info { border: 1px solid #7e7e7e; margin-top:0; } 
