@charset "utf-8";

/* All New 통통통 소개 */
.top-text-box {width:100%;padding:100px 0;box-sizing:border-box;}
.fullsize-wrap {width:100%;}
.fullsize-wrap.bg-purple {background:#F2F1F9;}
.fullsize-wrap.bg-royalblue {background:#987DEA;}
.fullsize-wrap.bg-gray {background:#F8F9FC;}
.fullsize-wrap .section-content {max-width:1165px;margin:0 auto;}
.round-label {display:inline-block;height:50px;line-height:50px;padding:0 30px;border-radius:50px;font-size:22px;color:#fff;}
.round-label.deepblue {background:#33267F;}
.round-label.royalblue {background:#684EE7;}

.fullsize-wrap .sec1 {width:100%;padding:130px 0 160px 0;position:relative;box-sizing:border-box;}
.sec1 .text-box {padding-right:580px;}
.sec1 .text-box .headline {margin-top:20px;}
.sec1 .text-box .headline p {margin-top:15px;font-size:26px;line-height:30px;color:#33267F;}
.sec1 .text-box .headline strong {display:block;font-size:46px;line-height:55px;color:#784EEE;} 
.sec1 .text-box .bodycopy {margin-top:50px;}
.sec1 .text-box .bodycopy strong {display:block;font-size:22px;}
.sec1 .text-box .bodycopy span {display:block;margin-top:12px;font-size:18px;font-weight:300;line-height:24px;}
.sec1 .img-box {position:absolute;right:-60px;top:100px;}
.sec1 .img-box img {width:100%;max-width:680px;}

.fullsize-wrap .sec2 {width:100%;padding:130px 0 150px;box-sizing:border-box;}
.sec2 .text-box .headline {margin-top:20px;}
.sec2 .text-box .headline strong {display:block;font-size:44px;line-height:53px;color:#33267F;}
.sec2 .text-box .headline p {margin-top:10px;font-size:26px;line-height:30px;color:#33267F;}
.sec2 .list-box {margin-top:40px;}
.sec2 .list-box ul {display:flex;justify-content:space-between;flex-wrap:wrap;}
.sec2 .list-box ul li {position:relative;width:calc(50% - 15px);min-height:209px;padding:40px;background:#F2F4F8;box-sizing:border-box;border-radius:30px;}
.sec2 .list-box ul li:nth-child(n+3) {margin-top:30px;}
.sec2 .list-box ul li:after {display:block;content:'';position:absolute;right:40px;top:calc(50% - 65px);width:129px;height:129px;border-radius:50%;background:#fff;}
.sec2 .list-box ul li:nth-child(1)::after {background:#fff url(../images/ttt/icon_care01.png) no-repeat 50% 50%;}
.sec2 .list-box ul li:nth-child(2)::after {background:#fff url(../images/ttt/icon_care02.png) no-repeat 50% 50%;}
.sec2 .list-box ul li:nth-child(3)::after {background:#fff url(../images/ttt/icon_care03.png) no-repeat 50% 50%;}
.sec2 .list-box ul li:nth-child(4)::after {background:#fff url(../images/ttt/icon_care04.png) no-repeat 50% 50%;}
.sec2 .list-box .bodycopy {padding-right:140px;}
.sec2 .list-box .bodycopy strong {display:block;font-size:22px;}
.sec2 .list-box .bodycopy span {display:block;max-width:318px;margin-top:12px;font-size:16px;font-weight:300;line-height:24px;}

.fullsize-wrap .sec3 {width:100%;padding:130px 0 150px;box-sizing:border-box;}
.sec3 .text-box .headline {margin-top:20px;}
.sec3 .text-box .headline strong {position:relative;display:inline-block;padding-right:110px;font-size:44px;line-height:53px;color:#784EEE;}
.sec3 .text-box .headline strong .headline-icon {position:absolute;right:0;top:-35px;display:flex;justify-content:center;align-items:center;width:100px;height:80px;}
.sec3 .text-box .headline strong .headline-icon img {width:100%;}
.sec3 .text-box .headline p {margin-top:10px;font-size:26px;line-height:30px;color:#33267F;}
.sec3 .round-box {margin-top:40px;background:#fff;border-radius:30px;}
.sec3 .round-box .swipe-list-aa {overflow:hidden;position:relative;}
.sec3 .round-box .swipe-list-aa .swiper-slide {min-height:400px;box-sizing:border-box;}
.sec3 .round-box .swipe-list-aa .slide-wrap {display:flex;justify-content:space-between;padding:0 24px 0 60px;box-sizing:border-box;}
.sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy {padding-top:96px;}
.sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy .t-txt-2 {display:block;font-size:30px;font-weight:600;line-height:36px;}
.sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy .t-txt-3 {display:block;margin-top:15px;font-size:20px;line-height:30px;}
.sec3 .round-box .swipe-list-aa .slide-wrap .img-box {display:flex;align-items:end;height:400px;}
.sec3 .swipe-list-aa .slide-btn-wrap {width:112px;position:absolute;left:60px;bottom:50px;z-index:1;display:flex;justify-content:space-between;}
.sec3 .swipe-list-aa .swiper-button-next, 
.sec3 .swipe-list-aa .swiper-button-prev {position:unset;width:50px;height:50px;}
.sec3 .swipe-list-aa .swiper-button-prev:after {width:50px;height:50px;background:url(../images/ttt/slide_prev.png) no-repeat 0 0;font-size:0;background-size:100%;}
.sec3 .swipe-list-aa .swiper-button-next:after {width:50px;height:50px;background:url(../images/ttt/slide_next.png) no-repeat 0 0;font-size:0;background-size:100%;}
.sec3 .swipe-list-aa .swiper-pagination {width:auto;top:50px;left:60px;bottom:auto;z-index:1;}
.sec3 .swipe-list-aa .swiper-pagination-bullet {width:16px;height:16px;background:#E8E8E8;border-radius:8px;opacity:1;}
.sec3 .swipe-list-aa .swiper-pagination-bullet.swiper-pagination-bullet-active {width:36px;height:16px;border-radius:8px;background:#784EEE;}

.fullsize-wrap .sec4 {width:100%;padding:130px 0 150px;box-sizing:border-box;}
.sec4 .text-box .headline {margin-top:20px;}
.sec4 .text-box .headline strong {display:block;font-size:44px;line-height:53px;color:#33267F;}
.sec4 .text-box .headline p {margin-top:10px;font-size:26px;line-height:30px;color:#33267F;}
.sec4 .list-box {margin-top:40px;}
.sec4 .list-box ul {display:flex;justify-content:space-between;flex-wrap:wrap;}
.sec4 .list-box ul li {position:relative;width:calc(100% / 3 - 40px);min-height:305px;padding:40px;background:#F2F4F8;box-sizing:border-box;border-radius:30px;}
.sec4 .list-box ul li:after {display:block;content:'';position:absolute;right:50px;bottom:40px;width:95px;height:95px;}
.sec4 .list-box ul li:nth-child(1)::after {background: url(../images/ttt/icon_payment01.png) no-repeat 50% 50%;}
.sec4 .list-box ul li:nth-child(2)::after {background: url(../images/ttt/icon_payment02.png) no-repeat 50% 50%;}
.sec4 .list-box ul li:nth-child(3)::after {background: url(../images/ttt/icon_payment03.png) no-repeat 50% 50%;}
.sec4 .list-box .bodycopy strong {display:block;font-size:22px;line-height:26px;}
.sec4 .list-box .bodycopy span {display:block;margin-top:12px;font-size:16px;font-weight:300;line-height:24px;}

.fullsize-wrap .sec5 {display:flex;justify-content:space-between;width:100%;padding:130px 0 130px;box-sizing:border-box;}
.sec5 .text-box {padding-top:20px;}
.sec5 .text-box .headline strong {display:block;margin-top:20px;font-size:44px;line-height:53px;color:#784EEE;}
.sec5 .text-box .headline p {margin-top:15px;font-size:26px;line-height:30px;color:#33267F;}
.sec5 .swipe-list-counsel {position:relative;width:730px;}
.sec5 .swipe-list-counsel .swiper-slide {box-sizing:border-box;}
.sec5 .swipe-list-counsel .slide-wrap {box-sizing:border-box;}
.sec5 .swipe-list-counsel .slide-wrap .img-box {display:flex;justify-content:right;position:relative;}
.sec5 .swipe-list-counsel .slide-wrap .img-box img {max-width:730px;}
.sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box {position:absolute;right:-30px;width:530px;padding:40px;border-radius:20px;box-sizing:border-box;box-shadow: 25px 25px 20px #00000029;}
.sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box strong {font-size:30px;line-height:30px;color:#fff;}
.sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box p {margin-top:15px;font-size:20px;line-height:30px;color:#EFEDFB;}
.sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box.royalblue-box {background:#5648B2;bottom:-40px;}
.sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box.mpurple-box {background:#987DEA;bottom:-40px;}
.sec5 .swipe-list-counsel .slide-btn-wrap {width:112px;position:absolute;left:-430px;bottom:0;z-index:1;display:flex;justify-content:space-between;}
.sec5 .swipe-list-counsel .swiper-button-next, 
.sec5 .swipe-list-counsel .swiper-button-prev {position:unset;width:50px;height:50px;}
.sec5 .swipe-list-counsel .swiper-button-prev:after {width:50px;height:50px;background:url(../images/ttt/slide_prev.png) no-repeat 0 0;font-size:0;background-size:100%;}
.sec5 .swipe-list-counsel .swiper-button-next:after {width:50px;height:50px;background:url(../images/ttt/slide_next.png) no-repeat 0 0;font-size:0;background-size:100%;}

.fullsize-wrap .sec6 {width:100%;padding:130px 0 150px;box-sizing:border-box;}
.sec6 .text-box .headline {margin-top:20px;}
.sec6 .text-box .headline strong {display:block;font-size:44px;line-height:53px;color:#33267F;}
.sec6 .text-box .headline p {margin-top:10px;font-size:26px;line-height:30px;color:#33267F;}
.sec6 .list-box {margin-top:40px;}
.sec6 .list-box ul {display:flex;justify-content:space-between;flex-wrap:wrap;}
.sec6 .list-box ul li {position:relative;width:calc(50% - 15px);min-height:209px;padding:40px;background:#F2F4F8;box-sizing:border-box;border-radius:30px;}
.sec6 .list-box ul li:after {display:block;content:'';position:absolute;right:40px;top:calc(50% - 65px);width:129px;height:129px;border-radius:50%;background:#fff;}
.sec6 .list-box ul li:nth-child(1)::after {background:#fff url(../images/ttt/icon_homework01.png) no-repeat 50% 50%;}
.sec6 .list-box ul li:nth-child(2)::after {background:#fff url(../images/ttt/icon_homework02.png) no-repeat 50% 50%;}
.sec6 .list-box .bodycopy {padding-right:140px;}
.sec6 .list-box .bodycopy strong {display:block;font-size:22px;}
.sec6 .list-box .bodycopy span {display:block;max-width:318px;margin-top:12px;font-size:16px;font-weight:300;line-height:24px;}

.fullsize-wrap .sec7 {position:relative;width:100%;padding:130px 0 172px;box-sizing:border-box;}
.sec7 .text-box {position:relative;}
.sec7 .text-box .headline strong {display:block;margin-top:20px;font-size:44px;line-height:53px;color:#fff;}
.sec7 .text-box .headline p {margin-top:15px;font-size:26px;line-height:30px;color:#fff;}
.sec7 .text-box .img-box {position:absolute;top:0;right:-80px;}
.sec7 .text-box .img-box img {max-width:800px;}
.sec7 .text-box .img-box .img-text-box {position:absolute;right:-30px;width:530px;padding:40px;border-radius:20px;box-sizing:border-box;box-shadow: 25px 25px 20px #00000029;}
.sec7 .text-box .img-box .img-text-box strong {font-size:30px;line-height:30px;color:#fff;}
.sec7 .text-box .img-box .img-text-box p {margin-top:15px;font-size:20px;line-height:30px;color:#EFEDFB;}
.sec7 .text-box .img-box .img-text-box.royalblue-box {background:#5648B2;bottom:0;left:-100px;}

/* 부가서비스 > 공통 */
/* tab puple color style */
.t-tab-Contents-mpurple {position:relative;width:100%;display:flex;justify-content:center;padding:0 20px;margin-top:70px;box-sizing:border-box;}
.t-tab-Contents-mpurple:after {display:block;content:"";width:100%;height:1px;background:#5F5991;position:absolute;bottom:0;z-index:0;}
.t-tab-Contents-mpurple > li > a { display:block; max-width:100%;width:230px; height:63px; line-height:63px;position:relative;z-index:1;background:#fff; text-align:center; font-size:16px; color:#333; border:1px solid #DCDCDC;border-bottom:1px solid #5F5991;box-sizing:border-box; margin-left:-1px; } 
.t-tab-Contents-mpurple > li > a.on { background:#5F5991; color: #fff; border-color:#5F5991; } 
.t-tab-Contents-mpurple > li > a:focus { background:#5F5991; color: #fff; border-color:#5F5991; } 
.t-tab-Contents-mpurple > li:first-child a {border-radius:10px 0 0 0;}
.t-tab-Contents-mpurple > li:last-child a {border-radius:0 10px 0 0;}

.vas-content h3 {margin-top:70px;font-size:30px;line-height:36px;color:#000000;}
.vas-content .bg-purple {background:#7A51ED;}
.vas-content .radius-20 {border-radius:20px;}
.vas-content h4 {margin-top:10px;font-size:24px;line-height:30px;}
.vas-content span {font-size:13px;line-height:15px;}
.vas-content p {margin-top:15px;font-size:16px;line-height:26px;}

/* 부가서비스 > 결제서비스 */
.vas-content .online-pay {display:flex;margin-top:20px;}
.vas-content .online-pay .content-1, 
.vas-content .online-pay .content-2 {flex:1;}
.vas-content .online-pay .content-1 {position:relative;max-width:582px;height:530px;padding:50px;padding-bottom:220px;margin-right:30px;}
.vas-content .online-pay .content-1:after {display:block;content:"";position:absolute;right:50px;bottom:30px;width:182px;height:124px;background:url(../images/vas/icon_content1.png) no-repeat 0 0;background-size:100%;}
.vas-content .online-pay .content-2 {display:flex;flex-direction:column;justify-content:space-between;}
.vas-content .online-pay .subcontent-2-1,
.vas-content .online-pay .subcontent-2-2 {flex:1;position:relative;padding:50px;padding-right:156px;}
.vas-content .online-pay .subcontent-2-1 {margin-bottom:30px;background:#F1F8FE;}
.vas-content .online-pay .subcontent-2-1:after {display:block;content:"";position:absolute;right:50px;bottom:30px;width:101px;height:110px;background:url(../images/vas/icon_content2.png) no-repeat 0 0;background-size:100%;}
.vas-content .online-pay .subcontent-2-2 {background:#FBF4EE;}
.vas-content .online-pay .subcontent-2-2:after {display:block;content:"";position:absolute;right:50px;bottom:30px;width:106px;height:83px;background:url(../images/vas/icon_content3.png) no-repeat 0 0;background-size:100%;}
.vas-content .online-pay .content-1 span {color:#FFF700;}
.vas-content .online-pay .content-1 span strong {font-size:18px;line-height:21px;}
.vas-content .online-pay .content-1 .link-btn {display:inline-block;position:relative;margin-top:30px;}
.vas-content .online-pay .content-1 .link-btn:after {display:block;content:"";position:absolute;left:0;bottom:0;z-index:1;width:100%;height:5px;background:#5A34C4;}
.vas-content .online-pay .content-1 .link-btn span {display:inline-block;padding-right:26px;position:relative;z-index:2;background:url(../images/vas/icon_arrow_y.png) no-repeat 100% 50%;font-size:16px;line-height:19px;color:#E6FF06;}
.vas-content .offline-pay {display:flex;margin-top:20px;}
.vas-content .offline-pay .content-1 {position:relative;max-width:500px;padding:50px;padding-bottom:166px;margin-right:30px;background:#F8F4FC;}
.vas-content .offline-pay .content-1:after {display:block;content:"";position:absolute;right:50px;bottom:30px;width:98px;height:116px;background:url(../images/vas/icon_content4.png) no-repeat 0 0;background-size:100%;}
.vas-content .offline-pay .content-2 {position:relative;max-width:635px;padding:50px;background:#FFF3F7;}
.vas-content .offline-pay .content-2:after {display:block;content:"";position:absolute;right:50px;bottom:30px;width:106px;height:94px;background:url(../images/vas/icon_content5.png) no-repeat 0 0;background-size:100%;}
.vas-content .offline-pay .content-2 .link-btn {display:inline-block;position:relative;margin-top:40px;}
.vas-content .offline-pay .content-2 .link-btn:after {display:block;content:"";position:absolute;left:0;bottom:0;z-index:1;width:100%;height:5px;background:#F7FF00;}
.vas-content .offline-pay .content-2 .link-btn span {display:inline-block;padding-right:26px;position:relative;z-index:2;background:url(../images/vas/icon_arrow_b.png) no-repeat 100% 50%;font-size:16px;line-height:19px;color:#0E97FF;}

/* 부가서비스 > 문자/알림톡 */
.vas-content .column-content.t2 .content-1,
.vas-content .column-content.t2 .content-2,
.vas-content .column-content.t2 .content-3 {position:relative;max-width:100%;min-height:140px;padding:50px;padding-right:210px;margin-top:20px;}
.vas-content .column-content.t2 .content-1 {background:#EBFBF2;}
.vas-content .column-content.t2 .content-2 {background:#F1F8FE;}
.vas-content .column-content.t2 .content-3 {background:#FBF4EE;}
.vas-content .column-content.t2 .content-1:after,
.vas-content .column-content.t2 .content-2:after,
.vas-content .column-content.t2 .content-3:after {display:block;content:"";position:absolute;right:50px;bottom:30px;}
.vas-content .column-content.t2 .content-1:after {width:91px;height:91px;background:url(../images/vas/icon_content2_1.png) no-repeat 50% 50%;background-size:100%;}
.vas-content .column-content.t2 .content-2:after {width:102px;height:99px;background:url(../images/vas/icon_content2_2.png) no-repeat 50% 50%;background-size:100%;}
.vas-content .column-content.t2 .content-3:after {width:152px;height:80px;background:url(../images/vas/icon_content2_3.png) no-repeat 50% 50%;background-size:100%;}
.vas-content .column-content.t2 h4 {margin-top:0;}

/* 부가서비스 > 자동출결 */
.vas-content .column-content.t3 .content-1,
.vas-content .column-content.t3 .content-2 {position:relative;max-width:100%;min-height:140px;padding:50px;padding-right:210px;margin-top:20px;}
.vas-content .column-content.t3 .content-1 {background:#F8F4FC;}
.vas-content .column-content.t3 .content-2 {background:#FFF3F7;}
.vas-content .column-content.t3 .content-1:after,
.vas-content .column-content.t3 .content-2:after {display:block;content:"";position:absolute;right:50px;bottom:30px;}
.vas-content .column-content.t3 .content-1:after {width:106px;height:90px;background:url(../images/vas/icon_content3_1.png) no-repeat 50% 50%;background-size:100%;}
.vas-content .column-content.t3 .content-2:after {width:106px;height:94px;background:url(../images/vas/icon_content3_2.png) no-repeat 50% 50%;background-size:100%;}
 
/* ( ~ 1165px) */
@media all and (max-width:1165px) {
    
    /* All New 통통통 소개 */
    .top-text-box {padding:8.6vw 0;}
    .top-text-box .text-subtitle1 {font-size:1.5vw;line-height:2.2vw;}
    .top-text-box .text-subtitle36 {font-size:3.1vw;line-height:3.7vw;}
    .round-label {height:4.3vw;line-height:4.3vw;padding:0 2.6vw;border-radius:4.3vw;font-size:1.9vw;}

    .fullsize-wrap .sec1 {padding:11.3vw 20px 13.7vw;}
    .sec1 .text-box {padding-right:49.8vw;}
    .sec1 .text-box .headline {margin-top:1.7vw;}
    .sec1 .text-box .headline p {margin-top:1.3vw;font-size:2.2vw;line-height:2.6vw;}
    .sec1 .text-box .headline strong {font-size:3.9vw;line-height:4.7vw;} 
    .sec1 .text-box .bodycopy {margin-top:4.3vw;}
    .sec1 .text-box .bodycopy strong {font-size:1.9vw;}
    .sec1 .text-box .bodycopy span {margin-top:1vw;font-size:1.5vw;font-weight:300;line-height:2.1vw;}
    .sec1 .img-box {right:-20px;top:15.5%;}
    .sec1 .img-box img {max-width:58.4vw;}

    .fullsize-wrap .sec2 {padding:11.3vw 20px 12.9vw;}
    .sec2 .text-box .headline {margin-top:1.7vw;}
    .sec2 .text-box .headline strong {font-size:3.8vw;line-height:4.5vw;}
    .sec2 .text-box .headline p {margin-top:0.9vw;font-size:2.2vw;line-height:2.6vw;}
    .sec2 .list-box {margin-top:3.4vw;}
    .sec2 .list-box ul li {width:calc(50% - 1.3vw);min-height:17.9vw;padding:3.4vw;border-radius:2.6vw;}
    .sec2 .list-box ul li:nth-child(n+3) {margin-top:2.6vw;}
    .sec2 .list-box ul li:after {right:6.5%;top:calc(50% - 5.6vw);width:11.1vw;height:11.1vw;border-radius:50%;}
    .sec2 .list-box ul li:nth-child(1)::after {background:#fff url(../images/ttt/icon_care01.png) no-repeat 50% 50%;background-size:6.4vw;}
    .sec2 .list-box ul li:nth-child(2)::after {background:#fff url(../images/ttt/icon_care02.png) no-repeat 50% 50%;background-size:6.4vw;}
    .sec2 .list-box ul li:nth-child(3)::after {background:#fff url(../images/ttt/icon_care03.png) no-repeat 50% 50%;background-size:6.4vw;}
    .sec2 .list-box ul li:nth-child(4)::after {background:#fff url(../images/ttt/icon_care04.png) no-repeat 50% 50%;background-size:7vw;}
    .sec2 .list-box .bodycopy {padding-right:12vw;}
    .sec2 .list-box .bodycopy strong {font-size:1.9vw;}
    .sec2 .list-box .bodycopy span {max-width:27.3vw;margin-top:1vw;font-size:1.4vw;font-weight:300;line-height:2.1vw;}

    .fullsize-wrap .sec3 {padding:11.3vw 20px 12.9vw;}
    .sec3 .text-box .headline {margin-top:1.7vw;}
    .sec3 .text-box .headline strong {padding-right:9.4vw;font-size:3.8vw;line-height:4.5vw;}
    .sec3 .text-box .headline strong .headline-icon {top:-85%;width:8.6vw;height:6.9vw;}
    .sec3 .text-box .headline p {margin-top:0.9vw;font-size:2.2vw;line-height:2.6vw;}
    .sec3 .round-box {margin-top:3.4vw;border-radius:2.6vw;}
    .sec3 .round-box .swipe-list-aa .swiper-slide {min-height:34.3vw;}
    .sec3 .round-box .swipe-list-aa .slide-wrap {padding:0 2.1vw 0 5.2vw;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy {padding-top:8.2vw;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy .t-txt-2 {font-size:2.6vw;font-weight:600;line-height:3.1vw;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy .t-txt-3 {margin-top:1.3vw;font-size:1.7vw;line-height:2.6vw;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .img-box {height:34.3vw;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .img-box img {width:57.5vw;}
    .sec3 .swipe-list-aa .slide-btn-wrap {width:9.6vw;left:5.2%;bottom:4.3%;}
    .sec3 .swipe-list-aa .swiper-button-next, 
    .sec3 .swipe-list-aa .swiper-button-prev {width:4.3vw;height:4.3vw;}
    .sec3 .swipe-list-aa .swiper-button-prev:after {width:4.3vw;height:4.3vw;background:url(../images/ttt/slide_prev.png) no-repeat 0 0;font-size:0;background-size:100%;}
    .sec3 .swipe-list-aa .swiper-button-next:after {width:4.3vw;height:4.3vw;background:url(../images/ttt/slide_next.png) no-repeat 0 0;font-size:0;background-size:100%;}
    .sec3 .swipe-list-aa .swiper-pagination {top:12%;left:5.2%;}
    .sec3 .swipe-list-aa .swiper-pagination-bullet {width:1.4vw;height:1.4vw;border-radius:0.7vw;}
    .sec3 .swipe-list-aa .swiper-pagination-bullet.swiper-pagination-bullet-active {width:3.1vw;height:1.4vw;border-radius:0.7vw;}

    .fullsize-wrap .sec4 {padding:11.2vw 20px 12.9vw;}
    .sec4 .text-box .headline {margin-top:1.7vw;}
    .sec4 .text-box .headline strong {font-size:3.8vw;line-height:4.5vw;}
    .sec4 .text-box .headline p {margin-top:0.9vw;font-size:2.2vw;line-height:2.7vw;}
    .sec4 .list-box {margin-top:3.4vw;}
    .sec4 .list-box ul li {width:calc(100% / 3 - 2.4vw);min-height:26.2vw;padding:3.4vw;border-radius:2.6vw;}
    .sec4 .list-box ul li:after {right:12.9%;bottom:12.9%;width:8.2vw;height:8.2vw;}
    .sec4 .list-box ul li:nth-child(1)::after {background: url(../images/ttt/icon_payment01.png) no-repeat 50% 50%;background-size:7.4vw;}
    .sec4 .list-box ul li:nth-child(2)::after {background: url(../images/ttt/icon_payment02.png) no-repeat 50% 50%;background-size:8.2vw;}
    .sec4 .list-box ul li:nth-child(3)::after {background: url(../images/ttt/icon_payment03.png) no-repeat 50% 50%;background-size:6.5vw;}
    .sec4 .list-box .bodycopy strong {font-size:1.9vw;line-height:2.2vw;}
    .sec4 .list-box .bodycopy span {margin-top:1vw;font-size:1.4vw;font-weight:300;line-height:2.1vw;}

    .fullsize-wrap .sec5 {padding:11.3vw 20px 11.3vw;}
    .sec5 .text-box {padding-top:1.7vw;}
    .sec5 .text-box .headline strong {margin-top:1.7vw;font-size:3.8vw;line-height:4.5vw;}
    .sec5 .text-box .headline p {margin-top:1.3vw;font-size:2.2vw;line-height:2.6vw;}
    .sec5 .swipe-list-counsel {width:62.7vw;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box img {width:62.7vw;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box {right:-2.6%;width:45.5vw;padding:3.4vw;border-radius:1.7vw;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box strong {font-size:2.6vw;line-height:2.6vw;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box p {margin-top:1.3vw;font-size:1.7vw;line-height:2.6vw;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box.royalblue-box {bottom:-12.5%;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box.mpurple-box {bottom:-12.5%;}
    .sec5 .swipe-list-counsel .slide-btn-wrap {width:9.6vw;left:-52.9%;}
    .sec5 .swipe-list-counsel .swiper-button-next, 
    .sec5 .swipe-list-counsel .swiper-button-prev {width:4.3vw;height:4.3vw;}
    .sec5 .swipe-list-counsel .swiper-button-prev:after {width:4.3vw;height:4.3vw;background:url(../images/ttt/slide_prev.png) no-repeat 0 0;font-size:0;background-size:100%;}
    .sec5 .swipe-list-counsel .swiper-button-next:after {width:4.3vw;height:4.3vw;background:url(../images/ttt/slide_next.png) no-repeat 0 0;font-size:0;background-size:100%;}

    .fullsize-wrap .sec6 {padding:11.3vw 20px 12.9vw;}
    .sec6 .text-box .headline {margin-top:1.7vw;}
    .sec6 .text-box .headline strong {font-size:3.8vw;line-height:4.5vw;}
    .sec6 .text-box .headline p {margin-top:0.9vw;font-size:2.2vw;line-height:2.6vw;}
    .sec6 .list-box {margin-top:3.4vw;}
    .sec6 .list-box ul li {width:calc(50% - 1.3vw);min-height:17.9vw;padding:3.4vw;border-radius:2.6vw;}
    .sec6 .list-box ul li:after {right:6.8%;top:calc(50% - 5.6vw);width:11.1vw;height:11.1vw;border-radius:50%;}
    .sec6 .list-box ul li:nth-child(1)::after {background:#fff url(../images/ttt/icon_homework01.png) no-repeat 50% 50%;background-size:5.2vw;}
    .sec6 .list-box ul li:nth-child(2)::after {background:#fff url(../images/ttt/icon_homework02.png) no-repeat 50% 50%;background-size:6.1vw;}
    .sec6 .list-box .bodycopy {padding-right:12vw;}
    .sec6 .list-box .bodycopy strong {font-size:1.9vw;}
    .sec6 .list-box .bodycopy span {max-width:27.3vw;margin-top:1vw;font-size:1.4vw;font-weight:300;line-height:2.1vw;}

    .fullsize-wrap .sec7 {width:100%;padding:11.3vw 20px 14.8vw;}
    .sec7 .text-box .headline strong {margin-top:1.7vw;font-size:3.8vw;line-height:4.5vw;}
    .sec7 .text-box .headline p {margin-top:1.3vw;font-size:2.2vw;line-height:2.6vw;}
    .sec7 .text-box .img-box {top:0;right:-6.9vw;}
    .sec7 .text-box .img-box img {max-width:68.7vw;}
    .sec7 .text-box .img-box .img-text-box {right:-2.6%;width:45.5vw;padding:3.4vw;border-radius:1.7vw;}
    .sec7 .text-box .img-box .img-text-box strong {font-size:2.6vw;line-height:2.6vw;}
    .sec7 .text-box .img-box .img-text-box p {margin-top:1.3vw;font-size:1.7vw;line-height:2.6vw;}
    .sec7 .text-box .img-box .img-text-box.royalblue-box {left:-8.6%;}

    /* 부가서비스 > 공통 */
    .vas-content {padding:0 20px;}
    .vas-content h3 {margin-top:30px;font-size:22px;line-height:26px;}
    .vas-content h4 {margin-top:10px;font-size:20px;line-height:24px;}
    .vas-content p {margin-top:15px;font-size:15px;line-height:26px;}

    /* 부가서비스 > 결제서비스 */
    .vas-content .online-pay {margin-top:15px;flex-direction:column;}
    .vas-content .online-pay .content-1,
    .vas-content .online-pay .content-2 {flex-basis:auto;}
    .vas-content .online-pay .content-1 {max-width:100%;height:auto;padding:25px;padding-right:204px;margin-right:0;}
    .vas-content .online-pay .content-1:after {width:146px;height:100px;right:25px;bottom:25px;}
    .vas-content .online-pay .content-2 {max-width:100%;margin-top:20px;}
    .vas-content .online-pay .subcontent-2-1,
    .vas-content .online-pay .subcontent-2-2 {padding:25px;padding-right:204px;}
    .vas-content .online-pay .subcontent-2-1 {max-width:100%;margin-bottom:20px;}
    .vas-content .online-pay .subcontent-2-1:after {width:95px;height:103px;right:25px;bottom:25px;}
    .vas-content .subcontent-2-2 {max-width:100%;margin-bottom:0;}
    .vas-content .subcontent-2-2:after {width:90px;height:71px;right:25px;bottom:25px;}

    .vas-content .offline-pay {flex-direction:column;margin-top:15px;}
    .vas-content .offline-pay .content-1,
    .vas-content .offline-pay .content-2 {max-width:100%;flex-basis:auto;}
    .vas-content .offline-pay .content-1 {padding:25px;padding-right:204px;margin-right:0;}
    .vas-content .offline-pay .content-1:after {width:90px;height:105px;}
    .vas-content .offline-pay .content-2 {padding:25px;padding-right:204px;margin-top:20px;}
    .vas-content .offline-pay .content-2:after {width:90px;height:80px;}

    /* 부가서비스 > 문자/알림톡 */
    .vas-content .column-content.t2 .content-1,
    .vas-content .column-content.t2 .content-2,
    .vas-content .column-content.t2 .content-3 {padding:25px;padding-right:180px;}
    .vas-content .column-content.t2 .content-1:after,
    .vas-content .column-content.t2 .content-2:after,
    .vas-content .column-content.t2 .content-3:after {right:25px;bottom:25px;}
    .vas-content .column-content.t2 .content-1:after {width:80px;height:80px;}
    .vas-content .column-content.t2 .content-2:after {width:80px;height:78px;}
    .vas-content .column-content.t2 .content-3:after {width:120px;height:63px;}

    /* 부가서비스 > 자동출결 */
    .vas-content .column-content.t3 .content-1,
    .vas-content .column-content.t3 .content-2 {padding:25px;padding-right:180px;}
    .vas-content .column-content.t3 .content-1:after,
    .vas-content .column-content.t3 .content-2:after {right:25px;bottom:25px;}
    .vas-content .column-content.t3 .content-1:after {width:95px;height:81px;}
    .vas-content .column-content.t3 .content-2:after {width:90px;height:80px;}
}

/* ( ~ 799px) */
@media all and (max-width:799px) {

    /* All New 통통통 소개 */
    .top-text-box {padding:50px 20px;}
    .top-text-box .text-subtitle1 {font-size:16px;line-height:19px;}
    .top-text-box .text-subtitle36 {font-size:26px;line-height:32px;}
    .round-label {height:36px;line-height:36px;padding:0 22px;border-radius:18px;font-size:15px;}

    .fullsize-wrap .sec1 {padding:50px 20px 98px;}
    .sec1 .text-box {padding-right:0;}
    .sec1 .text-box .headline {margin-top:12px;}
    .sec1 .text-box .headline strong {font-size:32px;line-height:38px;} 
    .sec1 .text-box .headline p {margin-top:10px;font-size:18px;line-height:24px;}
    .sec1 .text-box .headline br {display:none;}
    .sec1 .text-box .bodycopy {position:absolute;bottom:50px;left:0;z-index:1;margin-top:0;padding:0 20px;}
    .sec1 .text-box .bodycopy strong {font-size:18px;line-height:20px;}
    .sec1 .text-box .bodycopy span {margin-top:10px;font-size:15px;font-weight:300;line-height:22px;}
    .sec1 .text-box .bodycopy span br {display:none;}
    .sec1 .img-box {position:unset;text-align:center;}
    .sec1 .img-box img {width:100%;max-width:375px;}

    .fullsize-wrap .sec2 {padding:50px 20px;}
    .sec2 .text-box .headline {margin-top:12px;}
    .sec2 .text-box .headline strong {font-size:32px;line-height:38px;}
    .sec2 .text-box .headline p {margin-top:10px;font-size:18px;line-height:24px;}
    .sec2 .list-box {margin-top:10px;}
    .sec2 .list-box ul li {width:100%;min-height:auto;margin-top:20px;padding:25px;border-radius:20px;}
    .sec2 .list-box ul li:after {top:unset;right:20px;bottom:20px;width:90px;height:90px;border-radius:50%;}
    .sec2 .list-box ul li:nth-child(n+3) {margin-top:20px;}
    .sec2 .list-box ul li:nth-child(1)::after {background:#fff url(../images/ttt/icon_care01.png) no-repeat 50% 50%;background-size:52px;}
    .sec2 .list-box ul li:nth-child(2)::after {background:#fff url(../images/ttt/icon_care02.png) no-repeat 50% 50%;background-size:53px;}
    .sec2 .list-box ul li:nth-child(3)::after {background:#fff url(../images/ttt/icon_care03.png) no-repeat 50% 50%;background-size:52px;}
    .sec2 .list-box ul li:nth-child(4)::after {background:#fff url(../images/ttt/icon_care04.png) no-repeat 50% 50%;background-size:56px;}
    .sec2 .list-box .bodycopy {padding-right:0;}
    .sec2 .list-box .bodycopy strong {font-size:20px;line-height:30px;}
    .sec2 .list-box .bodycopy span {max-width:100%;padding-right:105px;margin-top:12px;font-size:15px;font-weight:300;line-height:22px;box-sizing:border-box;}

    .fullsize-wrap .sec3 {padding:50px 0;}
    .fullsize-wrap .sec3 .text-box {padding:0 20px;}
    .sec3 .text-box .headline {margin-top:12px;}
    .sec3 .text-box .headline strong {padding-right:0;font-size:32px;line-height:38px;}
    .sec3 .text-box .headline strong .headline-icon {top:-75px;right:unset;left:110px;width:78px;height:64px;}
    .sec3 .text-box .headline p {margin-top:10px;font-size:18px;line-height:24px;}
    .sec3 .round-box {margin-top:30px;background:none;}
    .sec3 .round-box .swipe-list-aa {overflow:hidden;position:relative;}
    .sec3 .round-box .swipe-list-aa .swiper-slide {min-height:auto;box-sizing:border-box;background:#fff;border-radius:20px;}
    .sec3 .round-box .swipe-list-aa .slide-wrap {display:flex;flex-direction:column;padding:25px 25px 70px;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy {padding-top:0;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy .t-txt-2 {font-size:24px;line-height:30px;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .bodycopy .t-txt-3 {min-height:62px;margin-top:12px;font-size:15px;line-height:22px;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .img-box {display:block;height:auto;text-align:center;}
    .sec3 .round-box .swipe-list-aa .slide-wrap .img-box img {width:100%;max-width:315px;}
    .sec3 .swipe-list-aa .swiper-button-prev,
    .sec3 .swipe-list-aa .swiper-button-next {display:none;}
    .sec3 .swipe-list-aa .swiper-pagination {top:unset;left:calc(50% - 46px);bottom:30px;}
    .sec3 .swipe-list-aa .swiper-pagination-bullet {width:16px;height:16px;border-radius:50%;}
    .sec3 .swipe-list-aa .swiper-pagination-bullet.swiper-pagination-bullet-active {width:36px;height:16px;border-radius:8px;}

    .fullsize-wrap .sec4 {padding:50px 20px;}
    .sec4 .text-box .headline strong {font-size:32px;line-height:38px;}
    .sec4 .text-box .headline p {margin-top:10px;font-size:18px;line-height:24px;}
    .sec4 .list-box {margin-top:10px;}
    .sec4 .list-box ul li {width:100%;min-height:auto;margin-top:20px;padding:25px;border-radius:20px;}
    .sec4 .list-box ul li:after {display:block;content:'';position:absolute;right:25px;bottom:25px;}
    .sec4 .list-box ul li:nth-child(1)::after {background-size:63px;width:63px;height:70px;}
    .sec4 .list-box ul li:nth-child(2)::after {background-size:60px;width:60px;height:60px;}
    .sec4 .list-box ul li:nth-child(3)::after {background-size:56px;width:56px;height:70px;}
    .sec4 .list-box .bodycopy {width:100%;padding-right:85px;box-sizing:border-box;}
    .sec4 .list-box .bodycopy strong {font-size:20px;line-height:30px;}
    .sec4 .list-box .bodycopy span {font-size:15px;line-height:22px;}

    .fullsize-wrap .sec5 {position:relative;display:block;padding:50px 20px 282px;}
    .sec5 .text-box {padding-top:0;}
    .sec5 .text-box .headline strong {margin-top:12px;font-size:32px;line-height:38px;}
    .sec5 .text-box .headline strong br {display:none;}
    .sec5 .text-box .headline p {margin-top:10px;font-size:18px;line-height:24px;}
    .sec5 .swipe-list-counsel {position:unset;width:100%;margin-top:30px;}
    .sec5 .swipe-list-counsel .swiper-slide {box-sizing:border-box;}
    .sec5 .swipe-list-counsel .slide-wrap {box-sizing:border-box;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box {display:block;text-align:center;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box img {display:block;width:100%;max-width:335px;margin:0 auto;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box {left:calc(50% - 168px);width:100%;max-width:335px;padding:25px;min-height:152px;box-sizing:border-box;text-align:left;border-radius:15px;box-shadow:5px 5px 10px #00000029;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box strong {font-size:20px;line-height:24px;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box p {margin-top:12px;font-size:15px;line-height:22px;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box.royalblue-box {top:176px;bottom:unset;}
    .sec5 .swipe-list-counsel .slide-wrap .img-box .img-text-box.mpurple-box {top:176px;bottom:unset;}
    .sec5 .swipe-list-counsel .slide-btn-wrap {width:112px;position:absolute;left:calc(50% - 56px);bottom:50px;}
    .sec5 .swipe-list-counsel .swiper-button-next, 
    .sec5 .swipe-list-counsel .swiper-button-prev {position:unset;width:50px;height:50px;}
    .sec5 .swipe-list-counsel .swiper-button-prev:after {width:50px;height:50px;background:url(../images/ttt/slide_prev.png) no-repeat 0 0;font-size:0;background-size:100%;}
    .sec5 .swipe-list-counsel .swiper-button-next:after {width:50px;height:50px;background:url(../images/ttt/slide_next.png) no-repeat 0 0;font-size:0;background-size:100%;}

    .fullsize-wrap .sec6 {padding:50px 20 50px;}
    .sec6 .text-box .headline {margin-top:12px;}
    .sec6 .text-box .headline strong {display:block;font-size:32px;line-height:38px;}
    .sec6 .text-box .headline p {margin-top:10px;font-size:18px;line-height:24px;}
    .sec6 .list-box {margin-top:10px;}
    .sec6 .list-box ul {display:flex;justify-content:space-between;flex-wrap:wrap;flex-direction:column;}
    .sec6 .list-box ul li {position:relative;width:100%;min-height:auto;margin-top:20px;padding:25px;border-radius:15px;}
    .sec6 .list-box ul li:after {right:20px;top:calc(50% - 45px);width:90px;height:90px;border-radius:50%;}
    .sec6 .list-box ul li:nth-child(1)::after {background:#fff url(../images/ttt/icon_homework01.png) no-repeat 50% 50%;background-size:42px;}
    .sec6 .list-box ul li:nth-child(2)::after {background:#fff url(../images/ttt/icon_homework02.png) no-repeat 50% 50%;background-size:50px;}
    .sec6 .list-box .bodycopy {padding-right:105px;}
    .sec6 .list-box .bodycopy strong {display:block;font-size:20px;line-height:30px;}
    .sec6 .list-box .bodycopy span {display:block;max-width:100%;margin-top:10px;font-size:15px;font-weight:300;line-height:22px;}

    .fullsize-wrap .sec7 {margin-bottom:230px;padding:50px 20px 223px;}
    .sec7 .text-box .headline strong {margin-top:12px;font-size:32px;line-height:38px;}
    .sec7 .text-box .headline strong br {display:none;}
    .sec7 .text-box .headline p {margin-top:10px;font-size:18px;line-height:24px;}
    .sec7 .text-box .headline p br {display:none;}
    .sec7 .text-box .img-box {position:absolute;top:unset;bottom:-251px;right:0;width:100%;}
    .sec7 .text-box .img-box img {display:block;width:100%;max-width:335px;margin:0 auto;}
    .sec7 .text-box .img-box .img-text-box {position:absolute;right:0;width:100%;max-width:335px;padding:25px;border-radius:15px;box-shadow:5px 5px 10px #00000029;}
    .sec7 .text-box .img-box .img-text-box strong {font-size:20px;line-height:24px;}
    .sec7 .text-box .img-box .img-text-box p {margin-top:12px;font-size:15px;line-height:22px;}
    .sec7 .text-box .img-box .img-text-box.royalblue-box {bottom:-70px;left:calc(50% - 168px);background:#5648B2;}

    /* 부가서비스 > 공통 */
    /* tab puple color style */
    .t-tab-Contents-mpurple {width:100%;padding:0 20px;margin-top:30px;}
    .t-tab-Contents-mpurple > li {width:calc(100% / 3);}
    .t-tab-Contents-mpurple > li > a {width:100%;height:46px;line-height:46px;font-size:14px;}
    
    .vas-content h3 {margin-top:30px;font-size:22px;line-height:26px;}
    .vas-content h4 {margin-top:10px;font-size:20px;line-height:24px;}
    .vas-content p {margin-top:15px;font-size:15px;line-height:26px;}

    /* 부가서비스 > 결제서비스 */
    .vas-content .online-pay {margin-top:15px;flex-direction:column;}
    .vas-content .online-pay .content-1,
    .vas-content .online-pay .content-2 {flex-basis:auto;}
    .vas-content .online-pay .content-1 {max-width:100%;height:auto;padding:25px;padding-right:25px;padding-bottom:155px;margin-right:0;}
    .vas-content .online-pay .content-1:after {width:146px;height:100px;right:25px;bottom:25px;}
    .vas-content .online-pay .content-2 {max-width:100%;margin-top:20px;}
    .vas-content .online-pay .subcontent-2-1,
    .vas-content .online-pay .subcontent-2-2 {padding:25px;padding-right:25px;padding-bottom:128px;}
    .vas-content .online-pay .subcontent-2-1 {max-width:100%;margin-bottom:20px;}
    .vas-content .online-pay .subcontent-2-1:after {width:95px;height:103px;right:25px;bottom:25px;}
    .vas-content .subcontent-2-2 {max-width:100%;margin-bottom:0;}
    .vas-content .subcontent-2-2:after {width:90px;height:71px;right:25px;bottom:25px;}

    .vas-content .offline-pay {flex-direction:column;margin-top:15px;}
    .vas-content .offline-pay .content-1,
    .vas-content .offline-pay .content-2 {max-width:100%;flex-basis:auto;}
    .vas-content .offline-pay .content-1 {padding:25px;padding-right:25px;padding-bottom:160px;margin-right:0;}
    .vas-content .offline-pay .content-1:after {width:90px;height:105px;}
    .vas-content .offline-pay .content-2 {padding:25px;padding-right:25px;padding-bottom:135px;margin-top:20px;}
    .vas-content .offline-pay .content-2:after {width:90px;height:80px;}

    /* 부가서비스 > 문자/알림톡 */
    .vas-content .column-content.t2 .content-1,
    .vas-content .column-content.t2 .content-2,
    .vas-content .column-content.t2 .content-3 {padding:25px;padding-right:25px;padding-bottom:135px;}

    /* 부가서비스 > 자동출결 */
    .vas-content .column-content.t3 .content-1,
    .vas-content .column-content.t3 .content-2 {padding:25px;padding-right:25px;padding-bottom:135px;}
}