@charset "utf-8";
@import 'styleGuide.css';

html, body {overflow-x:hidden;}

/* header */
.tong-wrap header {position:fixed; right:0; top:0; z-index:10; width:100%; height:110px; background:#fff; box-sizing:border-box;border-bottom:1px solid #E3E3E3;}
.tong-wrap header .header-inner {display: -webkit-flex;display:flex;justify-content:space-between;align-items:center;width:100%;max-width:1165px;height:100%;margin:0 auto;box-sizing:border-box;}
.tong-wrap header .header-inner .logo-menu-inner {display: -webkit-flex;display:flex; justify-content:flex-start;flex-wrap:wrap;}

/* 메인메뉴 */
.tong-wrap header .gnb-list {margin:0 0 0 10px;}
.tong-wrap header .gnb-list ul {display: -webkit-flex;display:flex;}
.tong-wrap header .gnb-list ul > li > a { display: block; padding:10px 20px 0; font-size: var(--text-subtitle3); font-weight:300; color: var(--black-1); height: 45px; line-height: 45px;}
.tong-wrap header .gnb-list ul > li:hover a {color: #F8951E;}
.tong-wrap header .gnb-list ul > li.list.on > a {color: #F8951E;}

/* 로그인,회원가입 버튼 */
.tong-wrap header .header-inner .button-group {display:flex;align-items:center;justify-content:right;min-width:340px;height:45px;padding-top:10px;}
.tong-wrap header .header-inner .button-group [class^="button-"] {height:21px;padding-left:25px;font-size:14px;line-height:21px;}
.tong-wrap header .header-inner .button-group .pre-login {display:flex;align-items:center;}
.tong-wrap header .header-inner .button-group .post-login {display:flex;align-items:center;}
.tong-wrap header .header-inner .button-group .button-login {background:url(../images/icon_login.png) no-repeat 0 50%;color:#0E97FF;}
.tong-wrap header .header-inner .button-group .button-membership {margin-left:20px;background:url(../images/icon_membership.png) no-repeat 0 50%;color:#6B6B6B;} 
.tong-wrap header .header-inner .button-group .user-name {height:21px;line-height:21px;padding-left:26px;background:url(../images/icon_user.png) no-repeat 0 50%;font-size:14px;color:#6b6b6b;}
.tong-wrap header .header-inner .button-group .user-name span {color:#0E97FF;}
.tong-wrap header .header-inner .button-group .t-button-xs {height:35px;padding:0 15px;margin:0 0 0 5px;font-size:13px;line-height:35px;}
.tong-wrap header .header-inner .button-group .button-pro {margin-left:60px;padding-left:0;}

/* 햄버거 버튼 type */
.menu-trigger {display:none;position:absolute;top:23px;right:25px;width: 22px;height: 18px;z-index:100;background:#fff;}
.menu-trigger span {display: inline-block;transition: all .4s;box-sizing: border-box;}
.menu-trigger span {position: absolute;width: 100%;height: 2px;background-color: #000;}
.menu-trigger span:nth-of-type(1) {top: 0;}
.menu-trigger span:nth-of-type(2) {top: calc(50% - 1px);}
.menu-trigger span:nth-of-type(3) {bottom: 0;}
.menu-trigger.active-1 span:nth-of-type(1) {-webkit-transform: translateY(20px) rotate(-45deg);transform: translateY(8px) rotate(-45deg);}
.menu-trigger.active-1 span:nth-of-type(2) {opacity: 0;}
.menu-trigger.active-1 span:nth-of-type(3) {-webkit-transform: translateY(-20px) rotate(45deg);transform: translateY(-8px) rotate(45deg);}

/* mobile side menu */
.side-con {width: 75%;height: 100%;padding:54px 30px 0;background-color:#FFFFFF;position: fixed;top:0;right:-75%;transition: right 300ms;color:#505050;z-index: 99;opacity: 1;box-sizing:border-box;}
.side-con.active {right:-75%;}
.side-con .side-logo {padding-bottom:15px;border-bottom:1px solid #E3E3E3;}
.side-con .pre-login {padding:20px 0 0;}
.side-con .post-login {padding:20px 0 0;}
.side-con .button-login {display:block;padding-left:25px;background:url(../images/icon_login.png) no-repeat 0 50%;font-size:15px;color:#0E97FF;line-height:21px;}
.side-con .button-membership {display:block;padding-left:25px;margin-top:16px;background:url(../images/icon_membership.png) no-repeat 0 50%;font-size:15px;color:#6B6B6B;line-height:21px;} 
.side-con .user-name {display:block;height:21px;line-height:21px;padding-left:26px;background:url(../images/icon_user.png) no-repeat 0 50%;font-size:16px;line-height:19px;color:#6b6b6b;}
.side-con .user-name span {color:#0E97FF;}
.side-con .t-button-ml {width:100%;height:45px;padding:0 15px;margin:0;font-size:15px;line-height:45px;}
.side-con .t-button-ml.t-button-mpurple {margin-top:20px;}
.side-con .t-button-ml.t-button-pink {margin-top:10px;}
.side-con .btm-wrap {position:absolute;left:0;bottom:0;width:100%;padding:30px 25px;border-top:1px solid #E3E3E3;background:#F4F6F9;box-sizing:border-box;}
.side-con .button-pro {display:flex;justify-content:space-between;}
.side-con .button-pro span {position:relative;display:block;padding-right:15px;font-size:14px;color:#7E7E7E;}
.side-con .button-pro span:after {position:absolute;right:0;top:5px;display:block;content:'';width:5px;height:9px;background:url(../images/icon_pro_arr.png) no-repeat 0 0;background-size:100%;}

#sideDim { display:none;position: fixed; top: 0; left: 0; z-index: 10; height: 100%; width: 100%; background: #000; opacity: 0.4; }
#sideDim.active {display:none;}

/* 컨텐츠 영역 */
.tong-wrap .container {position:relative;width:100%;padding-top:110px;}

/* sub page content, title, location */
.content {max-width:1165px;margin:0 auto;}
.content .content-tit-box {position:relative;}
.content .content-tit-box h2 {margin-top:70px;font-size:36px;}
.content .content-tit-box p {margin-top:12px;font-size:16px;}
.content .content-tit-box .location {position:absolute;top:40px;right:0;}
.content .content-tit-box .location .location-depth {position:relative;padding-left:13px;margin-left:8px;font-size:14px;color:#BCBCBC;}
.content .content-tit-box .location .location-depth:before {display:block;content:'';position:absolute;top:5px;left:0;width:5px;height:8px;background:url(../images/icon_location_arrow.png) no-repeat 0 0;}
.content .content-tit-box .location .location-page {position:relative;padding-left:13px;margin-left:8px;font-size:14px;color:#333;}
.content .content-tit-box .location .location-page:before {display:block;content:'';position:absolute;top:5px;left:0;width:5px;height:8px;background:url(../images/icon_location_arrow.png) no-repeat 0 0;}
.content.full-size {max-width:100%;}

/* footer */
.tong-wrap footer.pc {margin-top:200px;font-size:var(--text-subtitle5); color:var(--black-3); border-top: 1px solid #dedede; background: #fff;}
.tong-wrap footer .f-menu-wrap { border-bottom: 1px solid #dedede; }
.tong-wrap footer .f-menu-wrap .footer-inner { height: 62px; display: flex; align-items: center; justify-content:center;}
.tong-wrap footer .f-menu-wrap .footer-inner .f-menu-list {display:flex;}
.tong-wrap footer .f-menu-wrap .f-menu-list a { display: block; width: 100%; font-size: var(--text-subtitle3); color:#7E7E7E; box-sizing: border-box; }
.tong-wrap footer .f-menu-wrap .f-menu-list li:nth-child(3) a {font-weight:600; color:#333333;}
.tong-wrap footer .f-menu-wrap .f-menu-list li:not(:last-child) a:after {content:""; width:1px; height:13px; background:#C3CAD4; display:inline-block; vertical-align:middle; margin:0 30px;}
.tong-wrap footer .footer-info { display: flex;background:#F6F7F8;}
.tong-wrap footer .footer-info .layout-inner {width:100%;max-width:1165px;margin:0 auto;}
.tong-wrap footer .info-contents { padding: 40px 0; align-items:stretch;}
.tong-wrap footer .info-contents .addr-info { font-size: 12px; color: var(--black-3); line-height: 22px; padding-left:50px; flex-grow:1;}
.tong-wrap footer .info-contents .addr-info ul {display:flex; flex-wrap:wrap; margin:5px 0 15px;}
.tong-wrap footer .info-contents .addr-info ul li {color:#7E7E7E; font-size:13px;}
.tong-wrap footer .info-contents .addr-info ul li span:before {content:""; width:1px; height:13px; display:inline-block; vertical-align:middle; background:#C3CAD4; margin:0 15px;}
.tong-wrap footer .info-contents .addr-info ul li:nth-child(5) {width:100%;margin-top:20px;}
.tong-wrap footer .info-contents .addr-info ul li:nth-child(6) {}
.tong-wrap footer .info-contents .addr-info ul li:first-child span:before,
.tong-wrap footer .info-contents .addr-info ul li:nth-child(5) span:before,
.tong-wrap footer .info-contents .addr-info ul li:nth-child(6) span:before {display:none;}
.tong-wrap footer .info-contents .addr-info ul li span {color:#333333;}
.tong-wrap footer .info-contents .addr-info ul li b {color:#333333;}

.tong-wrap footer.m {display:none;margin-top:50px;}
.tong-wrap footer.m .footer-inner .addr-info {padding-bottom:15px;}
.tong-wrap footer.m .footer-inner .addr-info ul li {font-size:13px;line-height:22px;color:#7e7e7e;}
.tong-wrap footer.m .footer-inner .addr-info ul li b.tel {display:block;font-size:24px;line-height:29px;color:#333333;}
.tong-wrap footer.m .footer-inner .addr-info ul li span {color:#333;}
.tong-wrap footer.m .footer-inner .address-info li {position:relative;font-size:12px;line-height:20px;color:#333;}
.tong-wrap footer.m .footer-inner .address-info li span {color:#7e7e7e;}

.btn-tgl-footer {position: relative;width: 100%;height: 46px;background: var(--neutral-3);border: 1px solid var(--border-basic-2);border-radius: 4px;box-sizing: border-box;font-size: var(--text-subtitle3);color: var(--black-1);font-weight: var(--text-medium);}
.btn-tgl-footer:after {content: '';position: absolute;top: 50%;margin-left: 7px;transform: translateY(-50%);width: 0px;height: 0px;border-top: 6px solid #666666;border-left: 6px solid transparent;border-right: 6px solid transparent;transition: transform 0.5s;}
.btn-tgl-footer.on:after {transform: rotate(180deg);margin-top: -2px;}
.tong-wrap footer.m > .footer-inner {padding:20px 20px 105px;}
.tong-wrap footer.m > .footer-inner .address-info {display: none;margin-top: 13px;text-align: left;}
.tong-wrap footer.m > .footer-inner .address-info.on {display: block;}
.tong-wrap footer.m > .footer-inner .address-info li {position: relative;padding-left: 5px;line-height: 20px;font-size:12px;color:#333;}
.tong-wrap footer.m > .footer-inner .address-info li:after {content: '';position: absolute;top: 10px;left: 0;width: 1px;height: 1px;background: var(--black-3);}
.tong-wrap footer.m > .footer-inner .address-info li span {color:#7e7e7e;}

.tong-wrap .quick-btmBtn {display: flex;flex-direction: column;align-items: center;position:fixed;right:15px;bottom: 15px;z-index:10;}
.tong-wrap .quick-btmBtn .ver-btn {display:flex;justify-content:center;align-items:center;width:110px;height:110px;margin-bottom:5px;border-radius:50%;font-size:13px;line-height:15px;text-align:center;color:#fff;}
.tong-wrap .quick-btmBtn .ver-btn span {display:block;width:100%;padding-top:43px;background:url(../images/quick_logo.png) no-repeat 50% 0;font-family:'gmarket';}
.tong-wrap .quick-btmBtn .btn-prim-ver {background:#F8800B;}
.tong-wrap .quick-btmBtn .btn-free-ver {background:#5A5488;}
.tong-wrap .quick-btmBtn .pay-roul-btn {display:flex;justify-content:center;align-items:center;width:110px;height:110px;margin-bottom:5px;border-radius:50%;background:#C95BFF;font-size:13px;line-height:15px;text-align:center;color:#fff;}
.tong-wrap .quick-btmBtn .pay-roul-btn span {display:block;width:100%;padding-top:49px;background:url(../images/quick_pay.png) no-repeat 50% 0;font-family:'gmarket';}
.tong-wrap .fixedBtn.homeBtn {display: none;justify-content: center;align-items: center;width: 44px;height: 44px;background: #FFFFFF;border: 1px solid var(--border-basic-3);border-radius: 50%;box-sizing: border-box;}
.tong-wrap .fixedBtn.homeBtn span {display:block;width:44px;height:44px;background:url(../images/icon_home.png) no-repeat 50% 50%;}
.tong-wrap .fixedBtn.topBtn {display: flex;justify-content: center;align-items: center;width: 72px;height: 72px;background: #FFFFFF;border: 1px solid var(--border-basic-3);border-radius: 50%;box-sizing: border-box;}
.tong-wrap .fixedBtn.topBtn span {display:block;padding-top:19px;background:url(../images/arr_top.png) no-repeat 50% 0;}


/* ( ~ 1079px) */
@media all and (max-width:1079px) {
    /* header */
    .tong-wrap header .header-inner {padding:0 20px;}
    .tong-wrap header .gnb-list {position:absolute;top:110px;left:0;min-width:100%;margin:0 0 0 0;border-bottom:1px solid #E3E3E3;background:#fff;}
    .tong-wrap header .gnb-list ul > li > a {height:70px;line-height:70px;padding-top:0;}

    /* 컨텐츠 영역 */
    .tong-wrap .container {position:relative;padding-top:180px;}

    /* sub page content, title, location */
    .content {padding:0 20px;}
    .content.pd0 {padding:0;}

    /* footer */
    .tong-wrap footer .info-contents .f-logo {padding-left:20px;}
    .tong-wrap footer .info-contents .addr-info ul li:nth-child(4) span:before {display:none;}
}

/* ( ~ 799px) */
@media all and (max-width:799px) {
    /* header */
    .tong-wrap header {height:117px;}
    .tong-wrap header .header-inner {display:block;padding:17px 20px 0;}
    .tong-wrap header .header-inner .logo-menu-inner .top-logo {width:87px;}
    .tong-wrap header .header-inner .logo-menu-inner .top-logo img {width:100%;}
    .tong-wrap header .gnb-list {top:65px;border-top:1px solid #E3E3E3;}
    .tong-wrap header .gnb-list ul > li > a {height:52px;line-height:52px;padding-top:0;padding-right:0;padding-left:16px;}
    
    /* 햄버거 버튼 type */
    .menu-trigger {display:block;}

    /* mobile side menu */
    .side-con.active {right:0;}
    #sideDim.active {display:block;}

    /* 로그인,회원가입 버튼 */
    .tong-wrap header .header-inner .button-group {display:none;}

    /* 컨텐츠 영역 */
    .tong-wrap .container {position:relative;padding-top:117px;}

    /* sub page content, title, location */
    .content .content-tit-box h2 {margin-top:33px;font-size:26px;}
    .content .content-tit-box p {font-size:14px;}
    .content .content-tit-box p span {display:block;}
    .content .content-tit-box .location {display:none;}

    /* footer */
    .tong-wrap footer.pc {display:none;}
    .tong-wrap footer.m {display:block;}
    .tong-wrap footer {border-top:none;}
    .tong-wrap footer .f-menu-wrap {padding:0 20px;border-width:1px;border-style:solid none solid none;border-color:#E0E6EF;background:#EBEFF5;}
    .tong-wrap footer .f-menu-wrap .footer-inner {justify-content:left;height:45px;}
    .tong-wrap footer .f-menu-wrap .f-menu-list li a {padding-right:19px;font-size:13px;}
    .tong-wrap footer .f-menu-wrap .f-menu-list li a:after {display:none !important;}
    .tong-wrap footer .f-menu-wrap .f-menu-list li:nth-child(4) a {padding-right:0;}

    .tong-wrap .quick-btmBtn {flex-direction:row-reverse;}
    .tong-wrap .quick-btmBtn .ver-btn {width:80px;height:80px;margin-bottom:0;}
    .tong-wrap .quick-btmBtn .ver-btn span {padding-top:28px;background-size:31px;}
    .tong-wrap .quick-btmBtn .pay-roul-btn {width:80px;height:80px;margin-right:7px;margin-bottom:0;}
    .tong-wrap .quick-btmBtn .pay-roul-btn span {display:block;width:100%;padding-top:38px;background-size:32px;}
    .tong-wrap .quick-top-home {display:flex;justify-content:space-between;position:fixed;left:15px;bottom:15px;width:98px;}
    .tong-wrap .fixedBtn.homeBtn {display:flex;}
    .tong-wrap .fixedBtn.topBtn {display: flex;justify-content: center;align-items: center;width: 44px;height: 44px;background: #FFFFFF;border: 1px solid #e0e6ef;border-radius: 50%;box-sizing: border-box;z-index: 1;}
    .tong-wrap .fixedBtn.topBtn span {display:block;width: 44px;height: 44px;padding-top:0;background:url(../images/m_arr_top.png) no-repeat 50% 50%;font-size:0;letter-spacing:9999px;}
}