@charset "utf-8";

/* layer popup 통통통 요금정책 */
.lottie-bg {overflow-y:auto;}
.layer-popup {position:absolute;left:50%;top:20px;z-index:101;transform:translate(-50%, 0);width:100%;max-width:640px;padding:50px;background:#fff;border-radius:20px;}
.layer-popup .t-txt-purple {color:#674DE6;}
.layer-popup .pop-header {padding-bottom:20px;border-bottom:1px solid #5F5991;}
.layer-popup .pop-header h2 {font-size:30px;line-height:36px;}
.layer-popup .pop-header h3 {font-size:20px;line-height:24px;}
.layer-popup .pop-body .price-box {position:relative;border-radius:15px;}
.layer-popup .pop-body .price-box.default {display:flex;justify-content:space-between;background:#F8F4FC;}
.layer-popup .pop-body .price-box.default:after {display:block;content:"";position:absolute;left:50%;top:calc(50% - 30px);width:1px;height:60px;background:#E3E3E3;}
.layer-popup .pop-body .price-box.default .cell {width:50%;padding:25px 30px;}
.layer-popup .pop-body .price-box.default .cell .cell-tit {font-size:15px;line-height:18px;}
.layer-popup .pop-body .price-box.default .cell .price {margin-top:5px;margin-left:10px;}
.layer-popup .pop-body .price-box.default .cell .price .price-num {font-size:36px;line-height:43px;font-weight:600;color:#FF6000;}
.layer-popup .pop-body .price-box.default .cell .price .won {font-size:14px;line-height:16px;color:#333;}
.layer-popup .pop-body .price-box.features {padding:30px 25px;background:#FFF3F7;}
.layer-popup .pop-body .price-box.features .price-box-list {display:flex;justify-content:space-between;border-bottom:1px solid #E3E3E3;}
.layer-popup .pop-body .price-box.features .price-box-list:nth-child(1) {padding:0 0 20px 0;}
.layer-popup .pop-body .price-box.features .price-box-list:nth-child(2) {padding:20px 0;}
.layer-popup .pop-body .price-box.features .price-box-list:nth-child(3) {padding:20px 0 0 0;border-bottom:none;}
.layer-popup .pop-body .price-box.features .cell {width:200px;background:#FFF3F7;}
.layer-popup .pop-body .price-box.features .cell .cell-tit {font-size:15px;line-height:18px;}
.layer-popup .pop-body .price-box.features .cell .price {margin-top:5px;margin-left:10px;}
.layer-popup .pop-body .price-box.features .cell .price .price-num {font-size:36px;line-height:43px;font-weight:600;color:#FF6000;}
.layer-popup .pop-body .price-box.features .cell .price .won {font-size:14px;line-height:16px;color:#333;}
.layer-popup .pop-body .price-box.features .cell-list {width:calc(100% - 200px);}
.layer-popup .pop-body .price-box.features .cell-list li {font-size:14px;line-height:22px;letter-spacing:-1px;color:#7e7e7e;}
.layer-popup .close-btn {position:absolute;right:30px;top:30px;width:20px;height:20px;background:url(../images/clese_btn.png) no-repeat 0 0;}
.layer-popup .btm-box {border-radius:5px;}
.layer-popup .bodycopy {font-size:26px;line-height:31px;color:#333333;}
.layer-popup .bodycopy span {color:#C95BFF;}

/* ( ~ 799px) */
@media all and (max-width:799px) {
    /* layer popup 통통통 요금정책 */
    .layer-popup {width:calc(100% - 40px);padding:30px 20px 20px 20px;}
    .layer-popup .pop-header {padding-bottom:15px;}
    .layer-popup .pop-header h2 {font-size:20px;line-height:24px;}
    .layer-popup .pop-header h3 {font-size:18px;line-height:21px;}
    .layer-popup .pop-body .price-box {border-radius:10px;}

    .layer-popup .pop-body .price-box.default:after {top:calc(50% - 25px);}
    .layer-popup .pop-body .price-box.default .cell {padding:25px 20px;}
    .layer-popup .pop-body .price-box.default .cell .cell-tit {font-size:14px;line-height:16px;letter-spacing:-1px;}
    .layer-popup .pop-body .price-box.default .cell .price {margin-top:5px;margin-left:10px;}
    .layer-popup .pop-body .price-box.default .cell .price .won {font-size:14px;line-height:16px;}
    .layer-popup .pop-body .price-box.features {padding:25px 20px;}
    .layer-popup .pop-body .price-box.features .price-box-list {display:block;}
    .layer-popup .pop-body .price-box.features .price-box-list:nth-child(1) {padding:0 0 20px 0;}
    .layer-popup .pop-body .price-box.features .price-box-list:nth-child(2) {padding:20px 0;}
    .layer-popup .pop-body .price-box.features .price-box-list:nth-child(3) {padding:20px 0 0 0;}
    .layer-popup .pop-body .price-box.features .cell {width:100%;}
    .layer-popup .pop-body .price-box.features .cell .price .price-num {font-size:36px;line-height:43px;}
    .layer-popup .pop-body .price-box.features .cell .price .won {font-size:14px;line-height:16px;}
    .layer-popup .pop-body .price-box.features .cell-list {width:100%;margin-top:10px;}
    .layer-popup .pop-body .price-box.features .cell-list li {font-size:13px;line-height:20px;letter-spacing:-1px;}
    .layer-popup .close-btn {right:20px;top:20px;}
    .layer-popup .bodycopy {font-size:24px;line-height:29px;}
}