@charset "utf-8"; 

/* 공통서비스, 멤버서비스 전용 css */


/* (styleGuide.css 수정 충돌 방지 위해 해당 문서에 입력함) */
/* 간격 */
.mt60 {margin-top:60;}
.ml0 {margin-left:0 !important;}

/* 공간 */
.pdb60 {padding-bottom:60px !important;}
.pd30 {padding:30px !important;}

/* layout 넓이 */
.wrap-w950 {width:950px !important;box-sizing:border-box;}
.wrap-w640 {width:640px !important;box-sizing:border-box;}
.wrap-w460 {width:460px !important;box-sizing:border-box;}
.wrap-w420 {width:420px !important;box-sizing:border-box;}
.wrap-w360 {width:360px !important;box-sizing:border-box;}

/* width */
.w191 {width:191px !important;box-sizing:border-box;}
.w230 {width:230px;box-sizing:border-box;}
.w360 {width:360px;box-sizing:border-box;}
.w20ps {width:20% !important;box-sizing:border-box;}

/* 공통서비스, 멤버서비스 전용 layout custome */
.common-service header .header-top-inner {align-items:start !important;padding:30px 0;}
.common-service header .header-menu-inner {margin-right:260px;}
.common-service header .service-name {display:flex;align-items:end;max-height:37px;}
.common-service header .button-group {height:50px;align-items:center;}
.common-service header .h-listbox-wrap {height:50px;align-items:center;}
.common-service header .all-menu .btn-all-menu {margin-bottom:0;}
.common-service header .gnb-list>li>a {padding-bottom:0;}
.common-service .container .content {position:relative; width:100%; height:100%;padding:70px 0 100px;}
.common-service .container.membership {padding:70px 0 100px;background:#F9F9FB;}
.common-service .container.membership .content {padding:90px 0 90px;border:1px solid #E0E6EF;background:#fff;border-radius:10px;}

.common-service .h-tit-box-1 {margin:0;}


/* 공통 tab menu */
/* tab green color style */
.h-tab-Contents-green {position:relative;justify-content: flex-start;}
.h-tab-Contents-green:after {display:block;content:"";position:absolute;bottom:0;left:0;width:100%;height:1px;background:#DCDCDC;}
.h-tab-Contents-green > li:first-child a {border-radius:4px 0 0 0;}
.h-tab-Contents-green > li:last-child a {border-radius:0 4px 0 0;}
.h-tab-Contents-green > li > a {display:block;width:250px; height:60px; line-height:60px; text-align:center; font-size:var(--text-subtitle3); color:#333; border:1px solid #DCDCDC; box-sizing:border-box; margin-left:-1px; }
.h-tab-Contents-green > li > a.on { background:#43A986; color: #fff; border-color:#43A986; }
.h-tab-Contents-green > li > a:focus { background:#43A986; color: #fff;border-color:#43A986;}

/* tab border bottom line style */
.h-tab-Contents-line {display:flex;justify-content:flex-start; width:100%;border-bottom:1px solid #62666B;;}
.h-tab-Contents-line li a {display:block;position:relative;;height:60px;padding:0 25px;line-height:60px;box-sizing:border-box;font-size:15px;color:#7E7E7E;}
.h-tab-Contents-line li a:hover {color:#61A6FF;}
.h-tab-Contents-line li a.on {color:#61A6FF;}
.h-tab-Contents-line li a.on:after {display:block;content:"";position:absolute;bottom:-1px;left:0;z-index:1;width:100%;height:3px;background:#61A6FF;}

/* 이용정책, 개인정보처리방침, 이력서 노출정책, 게시물 삭제규칙 공통 */
.page-date-wrap {justify-content: flex-end;}
.page-date-wrap select {width:233px;}
.service-roul-wrap .round-menu {display:flex;justify-content:flex-start;flex-wrap: wrap;}
.service-roul-wrap .round-menu li a {display:flex;align-items:center;margin:5px 5px 0 0;height:54px;padding:0 25px;background:#F5F7FA;border:1px solid #E0E6EF;border-radius:27px;box-sizing:border-box;font-size:14px;line-height:54px;color:#333;}
.service-roul-wrap .round-menu li a:hover {border:1px solid #61A6FF;background:#fff;color:#61A6FF;}
.service-roul-wrap .txt {font-size:14px;line-height:22px;color:#7e7e7e;}
.service-roul-wrap .text-box {padding:30px;border:1px solid #E0E6EF;margin-top:16px;border-radius:4px;background:#FBFBFB;}
.service-roul-wrap .text-box .txt {color:#333;}
.service-roul-wrap .icon-tit {display:block;position:relative;padding:0 0 0 21px;font-size:16px;color:#333333;}
.service-roul-wrap .icon-tit:before {display:inline-block;content:"";position:absolute;left:0;top:0;width:9px;height:9px;border:4px solid #43A986;border-radius:2px;}
.service-roul-wrap .tms-h1 {display:block;font-size:16px;color:#333;}
.service-roul-wrap .tms-h2 {display:block;font-size:14px;color:#333;}
.service-roul-wrap table {width:100%;border-top:1px solid #E0E6EF;}
.service-roul-wrap table thead th {padding:15px 21px;background:#F5F7FA;border-width:1px;border-style:none solid solid none;border-color:#E0E6EF;font-size:14px;font-weight:500;line-height:22px;color:#333;text-align:center;}
.service-roul-wrap table thead th:first-child {border-left:1px solid #E0E6EF;}
.service-roul-wrap table tbody td {padding:15px 21px;border-width:1px;border-style:none solid solid none;border-color:#E0E6EF;font-size:14px;line-height:22px;color:#7E7E7E;text-align:left;}
.service-roul-wrap table tbody td:first-child {border-left:1px solid #E0E6EF;}
.service-roul-wrap .list li {font-size:14px;line-height:22px;color:#7E7E7E;}
.service-roul-wrap .list li li {margin-left:15px;font-size:14px;line-height:22px;color:#7E7E7E;}
.service-roul-wrap .list li table {margin-left:15px;}
.service-roul-wrap .list .color-black {color:#333;}
.service-roul-wrap .list.depth1 > li {position:relative;padding-left:15px;color:#333;}
.service-roul-wrap .list.depth1 > li span {position:absolute;left:0;top:0;}
.service-roul-wrap .list.hyphen > li {position:relative;padding-left:10px;margin-left:0;}
.service-roul-wrap .list.hyphen > li:before {display:inline-block;content:"-";position:absolute;left:0;top:0;}
.service-roul-wrap .page-buttons {padding:30px;border:1px solid #E0E6EF;margin-top:16px;border-radius:4px;background:#FBFBFB;}

/* 회원정보 관리 - 계정정보 수정, 비밀번호 변경, 서비스 탈퇴 */
.auth-tit {display:block;font-size:30px;text-align:center;}
.auth-tit > span {font-size:24px;}
.auth-tit strong {display:block;font-size:30px;font-weight:500;}
.auth-txt {display:block;margin-top:10px;font-size:14px;line-height:20px;color:#7E7E7E;text-align:center;}
.auth-txt strong {display:block;font-size:14px;font-weight:400;color:#333;}
.page-location {display:flex;justify-content:space-around;width:360px;margin:0 auto;}
.page-location li {width:50%;position:relative;text-align:center;color:#BCBCBC;}
.page-location li:nth-child(2)::before {display:block;content:"";position:absolute;left:0;top:0;width:1px;height:19px;background:#E0E6EF;}
.page-location li.on {color:#151515;}
.common-service .form-box {margin:0 auto;}
.common-service .form-box .h-txtfield-basic.disabled {background:var(--neutral-1);color:#bcbcbc;}
.common-service .form-box .labelArea {position:relative;padding-left:10px;font-size:12px;color:#333;}
.common-service .form-box .labelArea:before {content:'';position:absolute;top:calc(50% - 1px);left:3px;width:2px;height:2px;background:var(--black-2);}
.common-service .form-box .input-item {position:relative;}
.common-service .form-box .input-btn-set {position:relative;}
.common-service .form-box .input-btn-set .h-txtfield-basic {height:54px;padding: 0 105px 0 19px !important;font-size:15px;line-height:54px;color:#333333;}
.common-service .form-box .label-input-btn-set {position:relative;}
.common-service .form-box .label-input-btn-set .label {position:absolute;top:calc(50% - 7px);left:20px;line-height:14px;font-size:12px;color:#9A9A9A;}
.common-service .form-box .label-input-btn-set .h-txtfield-basic {height:54px;padding: 0 105px 0 76px !important;line-height:54px;}
.common-service .form-box .h-button-xms {position:absolute;top:calc(50% - 16px);right:11px;}
.common-service .form-box .remove {position:absolute;right:-30px;top:calc(50% - 10px);}
.common-service .form-box .include_txt {position: absolute;right: 15px;top: calc(50% - 7px);margin: 0;font-size: 12px;color: #FF5656;}
.common-service .form-box .marketing-box {padding:30px;background:#F5F7FA;border-radius:10px;}
.common-service .form-box .marketing-box .h-switch input[type="checkbox"]:checked~.h-switchlabel {color:#333333;}
.common-service .form-box .alert-column {display:flex;align-items:center;font-size:12px;}
.common-service .form-box .alert-column.good {color:#61A6FF;}
.common-service .form-box .alert-column.bad {color:#FF5656;}
.common-service .form-box .alert-column.bang {position:relative;}
.common-service .info-box.detaile-roul {padding:28px 0;background-image: url(../images/auth/bg_diagonal_pattern.png), url(../images/auth/bg_diagonal_pattern.png);background-position: top center, bottom center;background-repeat: repeat-x, repeat-x;text-align:center;}
.common-service .form-box .btm-btn {height:64px;line-height:64px;border-radius:4px;font-size:15px;color:#fff;}
.common-service .h-button-teal.xm-arrow:after {display:inline-block;content:'';width:20px;height:14px;margin-left: 10px;background: url(../images/icon-xm-arrow.png) no-repeat;}

/* 서비스탈퇴 -tab */
.common-service .h-tab-Contents-01.secession {justify-content: center;}
.common-service .h-tab-Contents-01.secession .tabBtn01_1 {border-radius:4px 0 0 0;}
.common-service .h-tab-Contents-01.secession .tabBtn01_2 {border-radius:0 4px 0 0;}
.common-service .h-tab-Contents-01.secession > input[type="radio"] + label {width:180px;color:#333;}
.common-service .h-tab-Contents-01.secession > input[type="radio"]:checked + label {background:#151515;border:1px solid #151515;color: #fff;}

/* 서비스탈퇴 - 박스 */
.common-service .point-box {display:flex;justify-content:space-around;align-items:center;height:110px;padding:0 20px;background:#EBEFF5;border-radius:10px;}
.common-service .point-box .point-item {text-align:center;}
.common-service .point-box .point-item .point-num {font-size:22px;font-weight:600;color:#61A6FF;}
.common-service .point-box .point-item .point-num span {margin-left:4px;font-weight:400;}
.common-service .point-box .point-item .point-tit {margin-top:6px;font-size:12px;line-height:14px;color:#333;}

.common-service .secession-input-box {padding:40px 50px;background:#F5F7FA;border-radius:10px;}
.common-service .secession-text-box {padding:38px 0;background: url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 0;}
.withdrawal-account li {position:relative;color: var(--black-2); padding-left: 10px;line-height: 24px;}
.withdrawal-account li:after {content:'';position:absolute;top:10px;left:0;width:2px;height:2px;background-color:var(--black-3);}
.withdrawal-account li .h-txt-3 {display:inline-block;width:110px;margin-right:6px;}

/* popup - 서비스 신청 */
.common-service .h-popup.service-apply {padding:40px 40px 49px;}
.common-service .h-popup .service-apply-tit {font-size:30px;}
.common-service .h-popup .service-apply li p {position:relative;padding-top:106px;}
.common-service .h-popup .service-apply li p:before {display:block;content:"";position:absolute;left:calc(50% - 46px);top:0;width:91px;height:91px;background:#fff;border-radius:50%;}
.common-service .h-popup .service-apply li:first-child p::before {background:#fff url(../images/icon_apply_teacher.png) no-repeat 50% 50%;}
.common-service .h-popup .service-apply li:last-child p::before {background:#fff url(../images/icon_apply_academy.png) no-repeat 50% 50%;}
.common-service .h-popup .today-close {padding-right:15px;right:20px;bottom:20px;position:absolute;}
.common-service .h-popup .today-close:before {display:block;content:"";width:8px;height:8px;position:absolute;right:0;top:4px;background:url(../images/icon_close8.png) no-repeat 0 0;}

.common-service .roul-check li:first-child {padding-bottom:23px;background:url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 bottom;}
.common-service .roul-check li:nth-child(4) {padding-bottom:23px;background:url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 bottom;}
.common-service .roul-check li:nth-child(5) {padding-bottom:23px;background:url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 bottom;}
.common-service .auth-info-box .h-checkbox {position:relative;margin:0;font-size:14px;}
.common-service .auth-info-box .h-checkbox .readmore-Arrowbtn {display: inline-block;width: 19px;height: 19px;border-radius: 100%;border: 1px solid var(--grey-2);text-indent: -999px;overflow: hidden;position: absolute;right:0;top:0;  box-sizing: border-box;}
.common-service .auth-info-box .h-checkbox .readmore-Arrowbtn:before {content: "";display: inline-block;width: 6px;height: 6px;border: 1px solid var(--grey-2);border-width: 0 1.5px 1.5px 0;position: absolute;left: 5px;top: 4px;transform: rotate(45deg);transition: 0.5s;}
.common-service .auth-info-box .h-checkbox .readmore-Arrowbtn.on:before {transform: rotate(225deg);top: 7px;}
.common-service .auth-info-box .dropdown {display:none;overflow-y:auto;height:150px;padding:20px;background:#F5F7FA;font-size:12px;line-height:18px;color:#7E7E7E;}
.common-service .auth-info-box .dropdown.on {display:block;}
.common-service .h-radio-01 input[type="radio"] + label .rchk {display: inline-block;width: 24px;height: 24px;border-radius: 100%;background: #fff;border: 1px solid var(--border-basic-2);box-sizing: border-box;vertical-align: middle;margin: 0 10px 0 0;transition: border 0.5s;position: relative;}
.common-service .dropdown::-webkit-scrollbar-thumb {height:30%;}