@charset "utf-8"; 

/* (styleGuide.css 수정 충돌 방지 위해 해당 문서에 입력함) */
/* 간격 */
.mt60 {margin-top:60;}
.ml0 {margin-left:0 !important;}

/* 공간 */
.pdb60 {padding-bottom:60px !important;}

/* layout 넓이 */
.wrap-w950 {width:950px !important;}

/* width */
.w191 {width:191px !important;}
.w20ps {width:20% !important;}

/* 고객센터홈 전용 layout custome */
.common-service header .header-menu-inner {margin-right:260px;}
.common-service header .all-menu .btn-all-menu {margin-bottom:0;}
.common-service header .gnb-list>li>a {padding-bottom:0;}
.common-service .content {position:relative; width:100%; height:100%;padding:70px 0 100px;}
.common-service .h-tit-box-1 {margin:0;}

/* 공통 tab menu */
/* tab green color style */
.h-tab-Contents-green {position:relative;justify-content: flex-start;}
.h-tab-Contents-green:after {display:block;content:"";position:absolute;bottom:0;left:0;width:100%;height:1px;background:#DCDCDC;}
.h-tab-Contents-green > li:first-child a {border-radius:4px 0 0 0;}
.h-tab-Contents-green > li:last-child a {border-radius:0 4px 0 0;}
.h-tab-Contents-green > li > a {display:block;width:250px; height:60px; line-height:60px; text-align:center; font-size:var(--text-subtitle3); color:#333; border:1px solid #DCDCDC; box-sizing:border-box; margin-left:-1px; }
.h-tab-Contents-green > li > a.on { background:#43A986; color: #fff; border-color:#43A986; }
.h-tab-Contents-green > li > a:focus { background:#43A986; color: #fff;border-color:#43A986;}

/* tab border bottom line style */
.h-tab-Contents-line {display:flex;justify-content:flex-start; width:100%;border-bottom:1px solid #62666B;;}
.h-tab-Contents-line li a {display:block;position:relative;;height:60px;padding:0 25px;line-height:60px;box-sizing:border-box;font-size:15px;color:#7E7E7E;}
.h-tab-Contents-line li a:hover {color:#61A6FF;}
.h-tab-Contents-line li a.on {color:#61A6FF;}
.h-tab-Contents-line li a.on:after {display:block;content:"";position:absolute;bottom:-1px;left:0;z-index:1;width:100%;height:3px;background:#61A6FF;}

/* 이용정책, 개인정보처리방침, 이력서 노출정책, 게시물 삭제규칙 공통 */
.page-date-wrap {justify-content: flex-end;}
.page-date-wrap select {width:233px;}
.service-roul-wrap .round-menu {display:flex;justify-content:flex-start;flex-wrap: wrap;}
.service-roul-wrap .round-menu li a {display:flex;align-items:center;margin:5px 5px 0 0;height:54px;padding:0 25px;background:#F5F7FA;border:1px solid #E0E6EF;border-radius:27px;box-sizing:border-box;font-size:14px;line-height:54px;color:#333;}
.service-roul-wrap .round-menu li a:hover {border:1px solid #61A6FF;background:#fff;color:#61A6FF;}
.service-roul-wrap .txt {font-size:14px;line-height:22px;color:#7e7e7e;}
.service-roul-wrap .text-box {padding:30px;border:1px solid #E0E6EF;margin-top:16px;border-radius:4px;background:#FBFBFB;}
.service-roul-wrap .text-box .txt {color:#333;}
.service-roul-wrap .icon-tit {display:block;position:relative;padding:0 0 0 21px;font-size:16px;color:#333333;}
.service-roul-wrap .icon-tit:before {display:inline-block;content:"";position:absolute;left:0;top:0;width:9px;height:9px;border:4px solid #43A986;border-radius:2px;}
.service-roul-wrap .tms-h1 {display:block;font-size:16px;color:#333;}
.service-roul-wrap .tms-h2 {display:block;font-size:14px;color:#333;}
.service-roul-wrap table {width:100%;border-top:1px solid #E0E6EF;}
.service-roul-wrap table thead th {padding:15px 21px;background:#F5F7FA;border-width:1px;border-style:none solid solid none;border-color:#E0E6EF;font-size:14px;font-weight:500;line-height:22px;color:#333;text-align:center;}
.service-roul-wrap table thead th:first-child {border-left:1px solid #E0E6EF;}
.service-roul-wrap table tbody td {padding:15px 21px;border-width:1px;border-style:none solid solid none;border-color:#E0E6EF;font-size:14px;line-height:22px;color:#7E7E7E;text-align:left;}
.service-roul-wrap table tbody td:first-child {border-left:1px solid #E0E6EF;}
.service-roul-wrap .list li {font-size:14px;line-height:22px;color:#7E7E7E;}
.service-roul-wrap .list li li {margin-left:15px;font-size:14px;line-height:22px;color:#7E7E7E;}
.service-roul-wrap .list li table {margin-left:15px;}
.service-roul-wrap .list .color-black {color:#333;}
.service-roul-wrap .list.depth1 > li {position:relative;padding-left:15px;color:#333;}
.service-roul-wrap .list.depth1 > li span {position:absolute;left:0;top:0;}
.service-roul-wrap .list.hyphen > li {position:relative;padding-left:10px;margin-left:0;}
.service-roul-wrap .list.hyphen > li:before {display:inline-block;content:"-";position:absolute;left:0;top:0;}
.service-roul-wrap .page-buttons {padding:30px;border:1px solid #E0E6EF;margin-top:16px;border-radius:4px;background:#FBFBFB;}
