@charset "utf-8";


@font-face {
  font-family: "gmarket";
  font-weight: 600;
  src: local("gmarket Bold"),url("font/GmarketSansTTFBold.woff") format("woff"),url("font/GmarketSansTTFBold.ttf") format("truetype")
}

@font-face {
  font-family: "gmarket";
  font-weight: 400;
  src: local("gmarket Medium"),url("font/GmarketSansTTFMedium.woff") format("woff"),url("font/GmarketSansTTFMedium.ttf") format("truetype")
}

@font-face {
  font-family: "gmarket";
  font-weight: 200;
  src: local("gmarket Regular"),url("font/GmarketSansTTFLight.woff") format("woff"),url("font/GmarketSansTTFLight.ttf") format("truetype")
}


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); */