@charset "utf-8"; 

.hunjang-main-wrap.landing {width:100%;max-width:1920px;margin:0 auto;}
.hunjang-main-wrap.landing header .layout-inner  {width:1580px;}
.hunjang-main-wrap.landing header .layout-inner .header-top-inner {padding:21px 0;}
.landing-content {width:1920px;margin:0 auto;}