@charset "utf-8"; 

/* (styleGuide.css 수정 충돌 방지 위해 해당 문서에 입력함) */
/* 간격 */
.mt15 {margin-top:15px !important;}
.mt60 {margin-top:60px;}
.ml0 {margin-left:0 !important;}

/* 공간 */
.pdb60 {padding-bottom:60px !important;}

/* width */
.w20ps {width:20% !important;}
.w55 {width:55px !important;}
.w191 {width:191px !important;}
.w-max {width:100%;}

/* layout 넓이 */
.wrap-w950 {width:950px !important;}


/* popup */
.h-popup-wrap {display: none;z-index: 1001;display: flex;height: 100%;justify-content: center;left: 0;position: fixed;top: 0;width: 100%;}
.h-m-popup {width:100%;height: fit-content;top: 10%;white-space: normal;word-wrap: break-word;position: relative;flex: 0 0 auto;flex-direction: column;z-index: 1001;background-color: #fff;box-sizing: border-box;}
.respons-layer-popup {border-radius:10px;}
.h-m-popup button.close {height: 14px;top: 15px;right: 15px;width: 14px;height: 14px;position: absolute;background: url(../images/btn_close.png);border: none;cursor: pointer;text-align: center;box-sizing: border-box;background-size: 100%;background-repeat: no-repeat;}
.h-m-popup .pop-body {height: calc(100% - 60px);box-sizing: border-box;position: relative;overflow: hidden;}
.h-m-popup .pop-container {width: 100%;height: 100%;box-sizing: border-box;position: relative;word-wrap: break-word;overflow-y: auto;padding:30px;}
.h-m-popup .pop-container ul.about-find-account li {position:relative;padding-left:8px;list-style:none;} 
.h-m-popup .pop-container ul li:before {content: '';position: absolute;top:7px;left:0;width: 2px;height: 2px;background: var(--black-2);}
.h-m-popup .lightblue-bgBox {width: 100%;border-radius: 10px;background: var(--neutral-3);padding: 20px;box-sizing: border-box;}
.h-button-ml {height: 46px;line-height: 46px;font-size: var(--text-subtitle4);}
.h-button-ml.h-button-find {margin:30px 0 0;}


/* 반응형웹 전용 layout */
.hunjang-wrap.h-auth-wrap header {display:flex;justify-content:center;height:100px;background:#000;}
.hunjang-wrap.h-auth-wrap header .logo-wrap {display:flex;justify-content:space-between;align-items:center;width:100%;max-width:580px;background:#000;}
.hunjang-wrap.h-auth-wrap header .logo-wrap .logo-item .logo-text {display:block;font-size:11px;color:#fff;}
.hunjang-wrap.h-auth-wrap header .logo-wrap .logo-item .logo-text span {color:#FFEE00;}
.hunjang-wrap.h-auth-wrap .container {position:unset;padding-top:170px;}
.hunjang-wrap.h-auth-wrap .home-menu {display:flex;justify-content:right;align-items:center;width:100%;max-width:580px;margin:0 auto;box-sizing:border-box;}
.hunjang-wrap.h-auth-wrap .home-menu .m-tit {display:none;justify-content:left;align-items:center;font-size:18px;}
.hunjang-wrap.h-auth-wrap .home-menu .m-tit .closeBtn {width:14px;height:14px;margin-right:15px;background:url(../images/auth/btn_close.png) no-repeat 0 0;}
.hunjang-wrap.h-auth-wrap .home-menu ul {display:flex;justify-content:end;}
.hunjang-wrap.h-auth-wrap .home-menu ul li {padding:0 12px;}
.hunjang-wrap.h-auth-wrap .home-menu ul li:first-child {position:relative;}
.hunjang-wrap.h-auth-wrap .home-menu ul li:first-child::after {display:block;content:"";position:absolute;right:0;top:calc(50% - 7px);width:1px;height:13px;background:#E0E6EF;}
.hunjang-wrap.h-auth-wrap .home-menu ul li a {display:block;font-size:13px;}
.hunjang-wrap.h-auth-wrap .content {max-width:580px;margin-top:15px;background:#fff;border:1px solid #E0E6EF;border-radius:10px;}
.hunjang-wrap.h-auth-wrap .content .auth-tit {display:block;font-size:30px;text-align:center;}
.hunjang-wrap.h-auth-wrap .content .auth-tit > span {font-size:24px;}
.hunjang-wrap.h-auth-wrap .content .auth-tit strong {display:block;font-size:30px;font-weight:500;}
.hunjang-wrap.h-auth-wrap .content .form-box {max-width:360px;margin:0 auto;}
.hunjang-wrap.h-auth-wrap footer {margin-top:100px;}

  
/* (해상도 480px ~ 767px) */
@media all and (max-width:767px) {
    .hunjang-wrap.h-auth-wrap header .logo-wrap {max-width:100%;padding:0 30px;}
    .hunjang-wrap.h-auth-wrap .container {background:#fff;}
    .hunjang-wrap.h-auth-wrap .home-menu {width:100%;max-width:100%;padding-right:30px;}
    .hunjang-wrap.h-auth-wrap .content {max-width:100%;padding:0 20px;margin-top:35px;border:none;border-radius:0;}
    footer {display:none;}
} 

/* (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    .hunjang-wrap.h-auth-wrap header {display:none;}
    .hunjang-wrap.h-auth-wrap .home-menu {position:fixed;z-index:1;top:0;justify-content:space-between;height:54px;padding:0 20px;background:#F5F7FA;border-bottom:1px solid #ebfff5;}
    .hunjang-wrap.h-auth-wrap .home-menu .m-tit {display:flex;}
    .hunjang-wrap.h-auth-wrap .home-menu ul li {padding:0;}
    .hunjang-wrap.h-auth-wrap .home-menu ul li:first-child::after {display:none;}
    .hunjang-wrap.h-auth-wrap .home-menu ul li:nth-child(2) {margin-left:15px;}
    .hunjang-wrap.h-auth-wrap .home-menu ul li a {position:relative;width:25px;height:22px;font-size:0;line-height:0;}
    .hunjang-wrap.h-auth-wrap .home-menu ul li a:after {display:block;content:"";position:absolute;left:0;top:0;width:25px;height:22px;}
    .hunjang-wrap.h-auth-wrap .home-menu .home-link:after {background:url(../images/auth/icon_home_link.png) no-repeat 50% 50%;}
    .hunjang-wrap.h-auth-wrap .home-menu .customer-link:after {background:url(../images/auth/icon_customer_link.png) no-repeat 50% 50%;}
    .hunjang-wrap.h-auth-wrap .container {padding-top:104px;}
    .hunjang-wrap.h-auth-wrap .content {margin-top:0;}
    .hunjang-wrap.h-auth-wrap .content .auth-tit {font-size:26px;}
    .hunjang-wrap.h-auth-wrap .content .auth-tit > span {font-size:20px;}
    .hunjang-wrap.h-auth-wrap .content .auth-tit strong {font-size:26px;}
    .hunjang-wrap.h-auth-wrap .content .form-box {max-width:100%;}
}