@charset "utf-8";

/* ============================== 스마트 취업 Tool ==========================*/

/* 글자수 세기 */
.smartToolIcon-wrap {display:flex; gap:12px;}
.smartToolIcon-wrap li {position:relative; width:135px; height:100px;}
.smartToolIcon-wrap li a .tit-txt {color:var(--black-2); font-size: var(--text-subtitle4); text-align: center;}
.smartToolIcon-wrap li a {display: flex; flex-direction: column; justify-content: space-between; padding:20px 0; width:135px; height:100px; border:1px solid var(--border-basic-2); border-radius: 4px; box-sizing: border-box;}
.smartToolIcon-wrap li.on a .tit-txt {color:#fff; font-weight:var(--text-medium); }
.smartToolIcon-wrap li.on a {background:var(--teal); border-color:var(--teal);}
.smartToolIcon-wrap li.on a .toolBg-icon {background-position-x: -50px!important;}
.smartToolIcon-wrap li a .toolBg-icon {display: block; width:51px; height:35px; margin:0 auto; background:url('../images/bg_smartToolIcon.png') no-repeat;}

.smartToolIcon-wrap li:nth-of-type(1) a .toolBg-icon {background-position-x: 0;}
.smartToolIcon-wrap li:nth-of-type(2) a .toolBg-icon {background-position-Y: -34px;}
.smartToolIcon-wrap li:nth-of-type(3) a .toolBg-icon {background-position-Y: -68px;}
.smartToolIcon-wrap li:nth-of-type(4) a .toolBg-icon {background-position-Y: -102px;}
.smartToolIcon-wrap li:nth-of-type(5) a .toolBg-icon {background-position-Y: -136px;}
.smartToolIcon-wrap li:nth-of-type(6) a .toolBg-icon {background-position-Y: -170px;}
.smartToolIcon-wrap li:nth-of-type(7) a .toolBg-icon {background-position-Y: -204px;}
.smartToolIcon-wrap li:nth-of-type(8) a .toolBg-icon {background-position-Y: -238px;}

.editor-wordCount textarea {width:100%; height:560px; padding:40px; border:1px solid var(--border-basic-3); border-radius: 2px; resize: none; box-sizing: border-box; font-size:var(--text-subtitle3); line-height: 26px;}
.editor-wordCount .wordCount-txt {display:flex; align-items: center; justify-content: center; height:65px; margin-top: -1px; background:#F3F5F9; border-radius:0px 0px 2px 2px; border:1px solid var(--border-basic-3);}
/* 공통 */
.wordCount-txt p {font-size:var(--text-subtitle5);}
.wordCount-txt p + p {margin-left: 15px; padding-left: 15px; border-left:1px solid var(--black-6);}

.smartTool-wrap .btmbox {font-size:0;}
.smartTool-wrap .btmbox .h-button-white {font-weight:var(--text-regular);}

/* 급여 계산기 */
/* 05 라디오박스 체크형 */
.h-radio-05 input[type="radio"] + label {/*display:inline-block;*/ position:relative!important; display: flex; align-items: center; justify-content: center; width:94px; height:44px; text-align: center; transition: color 0.5s; -webkit-transition: color 0.5s; color: var(--grey-2); font-size: var(--text-subtitle3); position: relative; cursor:pointer; border-radius:22px; border:1px solid #F3F4F7; color:#C9C9CC; background:var(--neutral-3); box-sizing: border-box;}
.h-radio-05 input[type="radio"] + label:before {content:"";width:14px;height:14px;border-radius:100%;display:inline-block;margin-right: 5px;border: 1px solid #C9C9CC;vertical-align: middle;box-sizing: border-box;margin-top: -2px;}
.h-radio-05 input[type="radio"]:checked + label:before {border-color: #43C1D5;}
.h-radio-05 input[type="radio"] + label span {position:relative;}
.h-radio-05 input[type="radio"] + label span:after {content: ""; position: absolute; left: -15px; top: 5px; display: inline-block; width: 5px; height: 3px; border: 1px solid #C3CAD4; border-width: 0 0 1px 1px; transform: rotate(-45deg); opacity: 1; border-radius: 0; background-color: transparent;}
.h-radio-05 input[type="radio"]:checked + label span:after { border-color: #43C1D5; }
.h-radio-05 input[type="radio"]:checked + label {color:#43C1D5; font-weight:var(--text-medium); background:#DFF7FB; border-color:#43C1D5!important;}

.smartTool-wrap .smartCal-wrap {margin-bottom:50px;}
.smartTool-wrap .smartCal-wrap > ul {border:1px solid var(--border-basic-3);}
.smartTool-wrap .smartCal-wrap > ul > li {width:50%; padding:40px;}
.smartTool-wrap .smartCal-wrap > ul > li:first-child {border-right:1px solid var(--border-basic-3); box-sizing: border-box;}
.smartTool-wrap .smartCal-wrap > ul > li:last-child {border-top:2px solid var(--black-1); box-sizing: border-box;}

.smartTool-wrap .smartCal-wrap .currentPay-box {}
.smartTool-wrap .smartCal-wrap .currentPay-box li {display: flex; justify-content: space-between; align-items: center; position:relative;}
.smartTool-wrap .smartCal-wrap .currentPay-box li .h-radio-05 {gap:15px;}
.smartTool-wrap .smartCal-wrap .currentPay-box > ul > li + li {margin-top:20px;}
.smartTool-wrap .smartCal-wrap .currentPay-box > ul > li:nth-child(4) {margin-top:30px;}
.smartTool-wrap .smartCal-wrap .currentPay-box .sumResult-box {justify-content: flex-start; margin-top:40px;}
.smartTool-wrap .smartCal-wrap .currentPay-box .sumResult-box .wontxt-type {margin-right:40px;}
.smartTool-wrap .smartCal-wrap .currentPay-box .sumResult-box .error-txt {right: auto; left: 0; width: 255px; text-align: right;}
.smartTool-wrap .smartCal-wrap .netPay-box {padding:40px; margin-top:-1px;}

.smartTool-wrap .circleBtn {width:42px; height:42px;}
.smartTool-wrap .circleBtn.iconUp {background:url('../images/icon_circleUp.png') no-repeat;}
.smartTool-wrap .circleBtn.iconDown {background:url('../images/icon_circleDown.png') no-repeat;}
.smartTool-wrap .circleBtn.iconPlus {background:url('../images/icon_circlePlus.png') no-repeat;}
.smartTool-wrap .circleBtn.iconMinus {background:url('../images/icon_circleMinus.png') no-repeat;}

.smartTool-wrap .resetBtn {margin-top:20px; font-size:var(--text-subtitle4); color:var(--black-3); border-bottom:1px solid var(--black-3);}
.smartTool-wrap .resetBtn:before {content:''; display:inline-block; margin-right:5px; width:11px; height:11px; background:url('../images/icon_refresh_thin.png') no-repeat;}

.smartTool-wrap .resultList li:not(.sumResult-box) {padding-bottom:8px; border-bottom: 1px solid #EAEAEC;}
.smartTool-wrap .resultList li {position:relative; display:flex; justify-content: space-between;}
.smartTool-wrap .resultList li + li:not(.sumResult-box) {padding-top:8px;}
.smartTool-wrap .resultList li.sumResult-box {margin-top:20px; padding:13px 18px; background:#F3F5F9; border-radius:5px; box-sizing: border-box;}


/* 마우스오버 툴팁 */
.smartTool-wrap .tooltip {display: block;}  
.smartTool-wrap .tooltip .tooltiptext {visibility: hidden; position: absolute; border-radius: 2px; padding:30px; z-index: 1; box-shadow: 0px 5px 10px #0000001A; border:1px solid var(--grey-3); background:#fff;}
.smartTool-wrap .tooltip:hover .tooltiptext {visibility: visible;}
.smartTool-wrap .tooltip .tooltip-bottom {top: 25px; left: 0;}


/* 졸업 전역 계산기 */
.smartTool-wrap .graduateCal-box {position:relative;}
.smartTool-wrap .graduateCal-box .h-radio-05 input[type="radio"] + label {width:120px}
.smartTool-wrap .graduateCal-box .h-radio-05 {gap:15px; flex-wrap: wrap;}
.smartTool-wrap .graduateCal-box .btn-center-wrap {position:absolute; bottom:40px; left: 50%; transform: translateX(-50%);}
.smartTool-wrap .graduateCal-box .innerCal-last {margin-top:30px; padding-top:30px; border-top:1px solid var(--border-basic-2); box-sizing: border-box;}


 /* 공통 */
.smartTool-wrap .btn-center-wrap {text-align:center;}
.smartTool-wrap .wontxt-type {display: flex; align-items: center;}
.smartTool-wrap .unitTxt {color:var(--black-3); font-size:var(--text-subtitle4);}
.smartTool-wrap .updown-type {margin:0 10px;}

.smartTool-wrap .icon-qmark {display:inline-block; margin-left:5px; background:url('../images/icon_question.png') no-repeat; width:14px; height:14px; vertical-align: middle;}
.smartTool-wrap .h-textfield-bottom {border-bottom:1px solid #EAEAEC;}
.smartTool-wrap .h-textfield-bottom input[type="text"] {border:0; border-radius: 0; padding:0 10px; font-family: 'SUIT'; font-size:var(--text-subtitle2);}
.smartTool-wrap .h-textfield-round input[type="text"] {border-radius:22px; border-color:#EAEAEC;}
.smartTool-wrap .h-textfield-round select {border-radius:22px; background: url(../images/icon_selectBox_arrow.png) no-repeat right 16px center #fff; border-color:#EAEAEC;}
.smartTool-wrap .h-textfield-solid input[type="text"] {border-width: 0 0 1px; border-radius: 0; border-color:#EAEAEC;}
.smartTool-wrap .h-line-cyan {padding:0 40px; border:1px solid var(--cyan); border-radius:3px; color:var(--cyan); font-size:var(--text-subtitle2); background:#fff;}
.smartTool-wrap .innerCal + .innerCal {margin-top:30px}
.smartTool-wrap .btn-delet-outline {display:inline-block; background:url('../images/icon_delete_outline.png') no-repeat; width:16px; height:19px;}
.smartTool-wrap .btn-subjectAdd {padding-right: 8px; padding-left: 6px; height:24px; line-height:24px; border:1px solid var(--black-3); font-size:var(--text-subtitle6); font-weight:var(--text-medium); border-radius: 3px; background:#fff;}
.smartTool-wrap .btn-subjectAdd:before {content:''; display:inline-block; background:url('../images/icon_small_plus.png') no-repeat right center; width:16px; height:16px; vertical-align: middle;}
 

/* 졸업 전역연도 */
.smartTool-wrap .graduateResult-box .school-year > li + li {margin-top:20px;}
.smartTool-wrap .graduateResult-box .school-year {padding:30px; box-sizing:border-box;}
.smartTool-wrap .graduateResult-box .yearLine-box {border-top:1px solid var(--border-basic-2);}
.smartTool-wrap .graduateResult-box .yearLine-box .no-data {display:flex; justify-content:center; align-items:center; height:390px;}
.smartTool-wrap .military-year {border-top:1px solid var(--border-basic-2);}

/* 어학점수 변환*/
.smartTool-wrap .languageScore-box {position:relative;}
.smartTool-wrap .languageScore-box ul.h-radio-05 {gap:15px;}
.smartTool-wrap .languageScore-box ul.h-radio-05 input[type="radio"] + label {width:157px;}
.smartTool-wrap .languageScore-box .btn-center-wrap {position:absolute; bottom:40px; left: 50%; transform: translateX(-50%);}


/* 학점 변환기-내 점수 입력 */
.smartTool-wrap .creditChange-box {width:728px!important; background:#F7F9FB;}
.smartTool-wrap .creditChange-box {position:relative;}
.smartTool-wrap .creditChange-box .btn-center-wrap {position:absolute; bottom:40px; left: 50%; transform: translateX(-50%);}


/* 학점 변환기-학점변환 결과 계산기 */
.smartTool-wrap .creditResult-box {width: calc(100% - 728px)!important;}
.smartTool-wrap .creditResult-box .h-textfield-solid input[type="text"] {width:70px;}
.smartTool-wrap .creditResult-box .blt-slash {margin:0 18px;}


/* 학점 계산기-내 점수 입력 */
.smartTool-wrap .creditCalc-box {width:728px!important; background:#F7F9FB;}

table.tbl-scoreCalc {width:100%; height:100%; border-bottom:none !important; background:#fff;}
table.tbl-scoreCalc tr {display:table; width:100%; box-sizing:border-box;}
table.tbl-scoreCalc thead {display:table; width:100%;}
table.tbl-scoreCalc thead tr th {padding:12px 0; font-size:var(--text-subtitle4); color:var(--black-3); background:#F7F9FB; border-top:1px solid var(--black-1); border-bottom:1px solid var(--border-basic-3); font-weight:var(--text-regular); text-align: center;}
table.tbl-scoreCalc tbody {display:block; height:225px; overflow-y:auto;}
table.tbl-scoreCalc tbody tr td {padding:7px 5px; line-height:31px; text-align:center;}
table.tbl-scoreCalc tbody tr:first-child td {padding-top:20px;}
table.tbl-scoreCalc tbody tr:last-child td {padding-bottom:20px;}
table.tbl-scoreCalc tbody tr td:first-child {padding-left:18px;}
table.tbl-scoreCalc tbody tr td:last-child {padding-right:18px;}
table.tbl-scoreCalc .h-textfield-round input[type="text"],
table.tbl-scoreCalc .h-textfield-round select {height:38px;}
table.tbl-scoreCalc .btn-delet-outline {vertical-align: -3px;}
table.tbl-scoreCalc .h-checkbox {display:block!important;}


/* 학점 계산기-총 평점 */
.creditSum-box {position:relative; width: calc(100% - 728px)!important;}
.creditSum-box .topScore {border-color:var(--black-1);}
.creditSum-box .topScore .unitTxt {color:var(--black-1);}
.creditSum-box .bottomScore .h-textfield-bottom input[type="text"] {font-family: "SUIT"; font-weight:var(--text-medium); font-size: var(--text-subtitle1);}
.creditSum-box .bottomScore li + li {margin-top:12px;}
.creditSum-box .bottomScore {margin-top:70px;}
.creditSum-box .btn-center-wrap {position:absolute; bottom:60px; left: 50%; transform: translateX(-50%);}


/* 취업활동증명서 가이드 */
.certificate-guide {border-top:2px solid var(--black-1); border-left:1px solid var(--border-basic-3); border-right:1px solid var(--border-basic-3); border-bottom:1px solid var(--border-basic-3);}
.certificate-guide .txt-guide {padding:76px 0;}
.certificate-guide .step-guide {padding:30px 45px; border-top:1px solid var(--border-basic-3); box-sizing:border-box; background:#F7F9FB;}
.certificate-guide .step-guide .imgbox img {width:100%; }


/* 사진크기 조정 */
.imgsize-before {position:relative; height:570px; background:#F7F9FB;}
.imgsize-before .btn-center-wrap {position:absolute; bottom:40px; left: 50%; transform: translateX(-50%);}
.imgsize-before .guideTxt {display: flex; justify-content: center; align-items: center; height: calc(100% - 65px);}
.imgsize-editor {height: calc(100% - 65px); display: flex; justify-content: center;  align-items: center;}
.imgsize-editor img {max-width:250px; max-height:188px;}

.imgsize-after {position:relative;}
.imgsize-after .btn-center-wrap {position:absolute; bottom:40px; left: 50%; transform: translateX(-50%);}
.imgsize-after .imgsize-px .multipTxt {margin:0 10px;}
.imgsize-after .imgsize-px {padding:25px 0; margin:0 -40px; background:#F7F9FB; box-sizing: border-box;}
.imgsize-after .imgsize-px input[type="text"] {font-size:var(--text-subtitle1); font-weight:var(--text-medium); color:var(--black-1); text-align: center;}
.imgsize-after .result-photo {height: 296px; display: flex; align-items: center; justify-content: center;}
.imgsize-after .result-photo .photo-inner {overflow:hidden; width: 110px; height: 133px; outline: 2px dashed #DEE0E1; border-radius: 3px;}


/* 퀵자소서 */
.tab-selfIntro {width: 100%;}
.tab-selfIntro .tab {display: flex; border-top:2px solid #F7F9FB; border-bottom:2px solid var(--border-basic-3);}
.tab-selfIntro .tab_item {flex-basis: min-content; flex-grow: 1; text-align: center; padding: 15px 5px; margin-top: -2px;}
.tab-selfIntro .tab_item + .tab_item {position:relative;}
.tab-selfIntro .tab_item + .tab_item:after {content:''; position:absolute; top:50%; left:-1px; transform: translateY(-50%); width:1px; height:37px; background:#eff1f4;}
.tab-selfIntro .tab_item + .tab_item:last-child:after {display:none;}

.tab-selfIntro .tab_inner_wrap {padding:40px; border:2px solid #eff1f4; border-width: 0 2px 2px 2px; background: #f7f9fb; box-sizing: border-box;}
.tab-selfIntro .tab_inner {display: none;}
.tab-selfIntro .tab_item.active {margin-bottom: -2px; border-left:1px solid #eff1f4; border-right:1px solid #eff1f4; border-top:2px solid var(--cyan); background:#f7f9fb; color: var(--cyan); font-weight:var(--text-medium);}
.tab-selfIntro .tab_item.active:last-child {border-right:0;}
.tab-selfIntro .tab_item:first-child {border-left:2px solid #eff1f4; }
.tab-selfIntro .tab_inner.active {display: block;}

.tbl-sampleIntro .h-checkbox.checkbox07 {margin:0;}
.tbl-sampleIntro .h-checkbox.checkbox07 input[type="checkbox"] + label {/*display:inline-block;*/ position:relative!important; display: flex; align-items: center; justify-content: center; width:60px; height:25px; font-size:var(--text-subtitle5); text-align: center; transition: color 0.5s; -webkit-transition: color 0.5s; color: var(--grey-2); font-size: var(--text-subtitle5); position: relative; cursor:pointer; border-radius:22px; border:1px solid var(--border-basic-3); color:#C9C9CC; background:var(--neutral-3); box-sizing: border-box;}
.tbl-sampleIntro .h-checkbox.checkbox07 input[type="checkbox"]:checked + label:before {border-color: #43C1D5;}
.tbl-sampleIntro .h-checkbox.checkbox07 input[type="checkbox"]:checked + label {color:#43C1D5; font-weight:var(--text-medium); background:#DFF7FB; border-color:#43C1D5!important;}

.tbl-sampleIntro {border-top:2px solid #868788; border-bottom:1px solid var(--border-basic-3);}
.tbl-sampleIntro thead tr th {padding:16px 0; border-right:1px solid var(--border-basic-3); font-size:var(--text-subtitle4); font-weight:var(--text-medium);}
.tbl-sampleIntro thead tr th:last-child {border-right:0;}
.tbl-sampleIntro tbody {background:#fff;}
.tbl-sampleIntro tbody tr td {padding:11px 25px; border-top:1px solid var(--border-basic-3); border-right:1px solid var(--border-basic-3); font-size:var(--text-subtitle4); color:var(--black-1); line-height: 1.3em;}
.tbl-sampleIntro tbody tr td:last-child {border-right:0;}
.tbl-sampleIntro tbody tr td.sampleTxt {}

.editor-selfIntro {position:relative; margin-top:60px;}
.editor-selfIntro .textarea-wrap {display: flex; justify-content: center; align-items: center; width: 100%; height: 267px; padding: 40px; border: 1px solid var(--border-basic-3); border-top:1px solid var(--black-1); box-sizing: border-box; font-size: var(--text-subtitle3); background:#fff;}
.editor-selfIntro .textarea-wrap textarea {width: 100%; line-height: 26px; height: 265px; padding: 40px 0; resize: none; border:0; box-sizing: border-box;}
.editor-selfIntro .textarea-wrap textarea:focus-visible {outline:0;}
.editor-selfIntro .h-btn-reset {position:absolute; bottom:0; right:0; width:110px; height:40px; background:#fff; border:1px solid var(--border-basic-3); border-radius: 3px; font-size:var(--text-subtitle2); color:var(--black-6);}
.editor-selfIntro .h-btn-reset:before {content:''; display:inline-block; margin-right:5px; background:url(../images/icon_refresh_thin_gray.png) no-repeat; width:16px; height:16px; vertical-align: -2px; background-size: cover;}
.editor-selfIntro .h-button-cyan {font-size:var(--text-subtitle2)!important;}
/* .editor-selfIntro .h-line-cyan {font-size:var(--text-subtitle2)!important;} */


/* 적용할 이력서 선택 */
.smartTool-wrap .check-resumeList .h-radio-01 {display:inline-block; width:24px;}
.smartTool-wrap .check-resumeList .check-resumeTxt {display: inline-flex; flex-direction: column; width: calc(100% - 43px); margin-left: 5px;}
.smartTool-wrap .check-resumeList {margin-top:10px; padding:20px; background:var(--neutral-3); border-radius:4px; box-sizing:border-box;}
.smartTool-wrap .check-resumeList li + li {margin-top:15px;}


/*오류메세지*/
.smartTool-wrap .h-textfield-bottom.errorBox {border-bottom:1px solid #FF6000;}
.smartTool-wrap .h-textfield-bottom.errorBox + .error-txt {font-size:12px; color:#FF6000; position:absolute; right:0; bottom:-18px;}