@charset "utf-8";

/* 강사 서비스 홈 메인 */


body:not(.q-body--layout-animate) .q-layout--prevent-focus {
  visibility: visible;
}

a {
  text-decoration: none;
}

.main-wrap {
  background: #f5f7fa;
}

.q-header {
  height: 85px;
  left: 0 !important;
  margin: 0 0 0 270px;
  opacity: 0.95;
  padding: 0 24px;
  background:#43a986;
}

.spacer {
  flex-grow: 1 !important;
}


.q-drawer--left {
  transform: translateX(0) !important;
}

.q-toolbar {
  height: 85px;
  padding: 4px 16px;
}

.q-page-container {
  padding-left: 270px !important;
}

.q-drawer {
  width: 270px !important;
}

.q-item__label--header {
  text-align: center;
}

.q-item__section--avatar {
  align-items: center;
  padding-right: 0;
}

.q-item__section--side>.q-icon {
  background-image: url(../assets/sprite_teacher_lnb_icons.png);
}

.menu02 i {
  background-position-y: -24px;
}

.menu03 i {
  background-position-y: -48px;
}

.menu04 i {
  background-position-y: -72px;
}

.menu05 i {
  background-position-y: -96px;
}

.menu06 i {
  background-position-y: -120px;
}

.menu07 i {
  background-position-y: -144px;
}

.menu08 i {
  background-position-y: -168px;
}

.menu09 i {
  background-position-y: -192px;
}

.menu10 i {
  background-position-y: -216px;
}

.menu11 i {
  background-position-y: -240px;
}

.menu12 i {
  background-position-y: -264px;
}

.menu13 i {
  background-position-y: -288px;
}

.menu14 i {
  background-position-y: -312px;
}

.q-item__label--header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  padding: 0;
}

#q-app {
  font-family:'Pretendard';
  color: #333333;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 400;
}

.q-item__section--main {
  position: relative;
  font-size: 15px;
  color: #8b8b8b;
  line-height: 1.2;
}

.q-toolbar__title {
  flex: none;
}


.icon_buttons {
  display: flex;
  align-items: center;
}

button {
  background-color: transparent;
  border-style: none;
}

.icon_buttons button {

  padding: 0 12px;
}

.icon_buttons a {
  background-image: url(../assets/homeBtn.png);
  background-position: center center;
  background-size: cover;
  width: 21px;
  height: 23px;
  display: block;
}

.icon_buttons button:nth-child(2) a {
  background-image: url(../assets/starBtn.png);
  width: 25px;
}

.icon_buttons button:nth-child(3) a {
  background-image: url(../assets/heartBtn.png);
  width: 25px;
}

.etc-btn {
  padding: 0 20px !important;
  border-radius: 2px;
  color: #ffffff !important;
  font-size: 14px;
  box-shadow: none !important;
  height: 38px;
}


.etc-btn span {
  align-items: center;
  color: inherit;
  display: flex;
  flex: 1 0 auto;
  justify-content: inherit;
  line-height: normal;
  position: relative;
  transition: inherit;
  transition-property: opacity;
  word-break: keep-all;
}

.icon_arrow {
  background-image: url(../assets/icon_arrow.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin: 0 0 0 10px;
}

.main-wrap {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}

.myContainer-wrap .myContainer{
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 90px 30px 170px;
  box-sizing: content-box;
}


.q-footer {
  margin: 0 0 0 270px;
  left: 0 !important;
}
