@charset "utf-8";


/* checkbox */
.q-checkbox.checkbox01 .q-checkbox__inner {
  font-size: 48px;
}

.q-checkbox.checkbox01 .q-checkbox__bg {
  border: 1px solid $borderColor-basic-2;
  border-radius: 4px;
}

.q-checkbox.checkbox01 .q-checkbox__inner--truthy {
  color: $color-cyan;
}

.q-checkbox.checkbox01 .q-checkbox__inner--truthy .q-checkbox__bg {
  border: none;
}

.q-checkbox.checkbox01 .q-checkbox__inner--truthy path {
  d: path("M 5.73 10.91 L 11.1 17.28 L 21.79 4.59");
  stroke-width: 2.12px;
  stroke-dasharray: 20.78334;
}

.q-checkbox.checkbox02 .q-checkbox__icon {
  font-size: 28px;
}
.q-checkbox.checkbox02 .q-checkbox__inner--truthy {
  color: $color-blue-3;
}
.q-checkbox.checkbox02 .q-checkbox__inner--falsy {
  color: $color-grey-1;
}

/* radio button */
.q-radio .q-radio__inner {
  font-size: 48px;
  color: $borderColor-basic-4;
}

.q-radio .q-radio__inner--truthy {
  color: $color-cyan;
}

/* pagination */
.q-pagination .q-pagination__content {
  --q-pagination-gutter-parent: -4px;
  --q-pagination-gutter-child: 4px;
}

.q-pagination .q-pagination__content > .q-btn {
  padding: 6px 8px !important;
}

/* 활성화 안됬을 때 폰트 컬러 */
.q-pagination .q-btn--outline {
  color: $color-black-3 !important;
  font-weight: 400 !important;
}

/* 활성화 안됬을 때 border 컬러 */
.q-pagination .q-btn--outline:before {
  border-color: $borderColor-basic-2;
}

.q-pagination .q-pagination__middle > .q-btn {
  min-width: 34px !important;
  min-height: 34px !important;
  background: $color-cyan;
  font-weight: 700;
  border-radius: 2px;
}

.q-pagination .q-btn:before {
  box-shadow: none !important;
}

.q-pagination .q-btn .q-icon {
  color: $color-grey-2;
}



/* button */
.q-btn.buttonBasic {
  color: #fff;
  min-width: 90px;
  height: 38px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  background-color: $color-grey-3;
  text-align: center;
  letter-spacing: 0px;
  padding: 0 20px;
  font-weight: 400;
  box-sizing: border-box;
}

.q-btn.button02 {
  height: 42px;
}

.q-btn.button03 {
  min-width: 70px;
  height: 34px;
}

.q-btn.buttonBig {
  min-width: 200px;
  height: 54px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.q-btn.onlyIconbtn {
  padding: 0;
  margin-right: 5px;
}
.q-btn.onlyIconbtn:before {
  box-shadow: none;
}

/*  컬러별 버튼 */
.q-btn.buttonBasic.color-cyan {
  background-color: $color-cyan;
}

.q-btn.buttonBasic.color-teal {
  background-color: $color-teal;
}

.q-btn.buttonBasic.color-orange {
  background-color: $color-orange;
}



/* switch */
.q-toggle .q-toggle__inner {
  width: 48px;
  min-width: 48px;
  height: 28px;
  padding:0;
}

.q-toggle .q-toggle__track {
  height: 28px;
  width: 48px;
  border: 1px solid $borderColor-basic-2;
  background: $color-grey-1;
  border-radius: 14px;
  opacity: 1;
  box-sizing: border-box;
}

.q-toggle .q-toggle__thumb {
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
}

.q-toggle .q-toggle__inner--truthy .q-toggle__thumb {
  left: auto;
  right: 4px;
}

.q-toggle .q-toggle__inner--truthy .q-toggle__thumb:after {
  background: #ffffff;
}

.q-toggle .q-toggle__inner--truthy .q-toggle__track {
  opacity: 1;
  background: $color-blue-3;
  border: $color-blue-3;
}

.q-toggle .q-toggle__thumb:after {
  box-shadow: none;
}

/* slide group */
.q-carousel {
  background-color: transparent;
}

.q-carousel .q-panel {
  box-sizing: border-box;
}

.q-carousel .q-carousel__arrow .q-icon {
  color: $color-grey-2;
}

.q-carousel .q-img {
  border-radius: 10px;
}
