@charset "utf-8"; /*상단 타이틀부분 공통*/
.academyBox.my-txtbox { margin-bottom: 19px; } 
.academyBox.my-txtbox .text-h1 { margin-bottom: 28px; } 
.academyBox.h-tab-wrap { margin-bottom: 70px; } 
.academyBox.h-tab-wrap>a,
.academyBox.h-tab-wrap [class^="h-button"] { border:1px solid #E0E6EF !important; margin-right: 0 !important; min-width: 130px !important; text-align: center; box-sizing: border-box; } 


/* 결제내역 관리 */
 /*목록*/
 .academy-paymentSrchBox { justify-content:flex-end; } 
 .academy-paymentSrchBox>a:last-child { margin-right:0; } 
 .academy-paymentSrchBox .datepick { display: flex; align-items: center; } 
 .academy-paymentSrchBox .datepick .h-field-wrap.calendar { width:160px; height: 46px; } 
 .academy-paymentSrchBox .datepick .h-field-wrap .h-txtfield-inner { height:46px; padding-right: 0; } 
 .academy-paymentSrchBox .datepick .h-field-wrap.calendar a.h-btn-calndar { padding: 0 15px; } 
 .paymentList.h-tbl-basic-1 { } 
 .paymentList.h-tbl-basic-1 tbody tr:hover td { background:transparent; } 
 .paymentList.h-tbl-basic-1 td { padding: 18px 7.5px; } 
 .paymentList.h-tbl-basic-1 td a.h-button-ml { width: 120px; margin: 0; padding:0 5px; } 
 .paymentList.h-tbl-basic-1 td a.disabled { color:var(--black-6) !important; } 
 .paymentList.h-tbl-basic-1 td a.downarrowBtn { width: 20px; height: 20px; display: inline-block; border-radius: 100%; border: 1.5px solid #9b9a9b; position: relative; box-sizing: border-box; margin-left: 4px; } 
 .paymentList.h-tbl-basic-1 td a.downarrowBtn:before { content:""; display: inline-block; width: 6px; height: 6px; border: 1px solid #9b9a9b; transform: rotate(45deg); border-width: 1.5px 0 0 1.5px; margin: 0px -1px 1px 0; } 
 .paymentList.h-tbl-basic-1 td a.downarrowBtn:hover { cursor:pointer; } 

 /*상세*/
 .paymentView.my-subtxtbox { background: #fff !important; padding: 33px 35px 31px 40px; display: flex; justify-content: space-between; align-items: center; } 
 .paymentView.my-subtxtbox>div { } 
 .paymentView.my-subtxtbox>div .text-subtitle5 { color: #9A9A9A; margin-right: 25px; font-weight: normal; } 
 .paymentView.my-subtxtbox>div .text-h4 { } 
 .paymentView.my-subtxtbox a.h-button-s { } 

 .payBlock { margin-top:50px; } 
 .payBlock h4 { width: 100%; padding-bottom: 20px; color: #151515; font-weight: normal; } 
 .payBlock .paymentList.h-tbl-basic-1 { } 
 .payBlock .paymentList.h-tbl-basic-1 td { padding: 17px 7.5px 13px; } 
 .payBlock .paymentList.h-tbl-basic-1 td .h-job-info { min-width:auto; } 
 .payInfo.payBlock { display: flex; flex-wrap: wrap; flex-direction: row; } 
 .payInfo.payBlock .block4 { padding: 27px 30px 22px; margin-right:12px; border:1px solid #E0E6EF; border-radius:15px; background:#fff; box-sizing: border-box; width: 261px; } 
 .payInfo.payBlock .block4 .text-subtitle5 { color: #9A9A9A; font-weight: 400; } 
 .payInfo.payBlock .block4 .priceBox { width:100%; padding: 16px 20px; background:#F5F7FA; font-size:13px; color:#7E7E7E; margin: 8px 0 11px; border-radius: 10px; box-sizing: border-box; } 
 .payInfo.payBlock .block4 .priceBox strong { font-size:20px; color:#333; margin-right: 3px; } 
 .payment-salelist { } 
 .payment-salelist li { display: flex; justify-content: flex-end; font-size:12px; color:#7E7E7E; line-height: 25px; } 
 .payment-salelist li .category { } 
 .payment-salelist li .category strong { font-size:14px; color:#333; margin: 0 1px 0 9px; } 
 .payment-salelist li .rslt { margin-left:15px; } 
 .payment-salelist li .rslt strong { font-size:14px; color:#61A6FF; } 
 .payInfo.payBlock .block4:last-child { margin-right:0; } 
 .payInfo.payBlock .block4:last-child .priceBox { background: #FF6000; color: #fff; } 
 .payInfo.payBlock .block4:last-child .priceBox strong { color:#fff; } 
 .payInfo.payBlock .block4:last-child .list li .category strong { margin-left: 0; } 

 .payBlock .paymentView.my-subtxtbox { margin-top:0; padding: 39px 35px; } 
 .paymentView dl { display: flex; align-items: center; } 
 .paymentView dt { font-size:12px; background:#C3CAD4; color:#fff; border-radius:30px; padding:4px 10px; } 
 .paymentView dd { font-size:14px; color:#333; margin: 0 30px 0 10px; font-weight: 500; } 
 .paymentView dd a { color:#0E97FF; text-decoration:underline; } 
 .payBlock + .h-btn-wrap { width:100%; margin-top:55px; } 
 


/* 인재매칭 */
 /* 공고 상세 */
 .htMatch-wrap .h-mat-box { justify-content: space-between; align-items: flex-end; } 
 .htMatch-wrap .resume-form { border-radius: 10px; width: 840px; box-sizing: border-box; } 
 .htMatch-wrap .resume-form .title { margin-top: 0; position:relative; } 
 .htMatch-wrap .resume-form .resume-list { font-size: var(--text-subtitle5); } 
 .htMatch-wrap .resume-form .resume-list li { color: var(--black-2); } 
 .htMatch-wrap .resume-form .resume-list li:nth-child(2n) { float: left; } 
 .htMatch-wrap .h-rd-serv { width: 220px; height: 185px; padding: 30px 25px 25px; justify-content: space-between; } 
 .htMatch-wrap .rd-tit { font-size: var(--text-subtitle5); color: var(--black-5); line-height: 18px; } 
 .htMatch-wrap .rd-count { font-family: 'SUIT'; font-size: var(--text-h2); line-height: 33px; color: var(--teal); } 
 .htMatch-wrap .rd-count span { font-size: var(--text-subtitle5); color: var(--black-2); margin-left: 3px; font-weight: var(--text-regular); vertical-align: middle; } 
 .htMatch-wrap .h-rd-btn { height: 37px; line-height: 37px; font-size: var(--text-subtitle5); margin: 0; } 
 /* 화살표 버튼 클릭하면 보여지는 리스트 */
 .htMatch-wrap .resume-lists-wrap { border: 2px solid var(--border-basic-1); z-index: 5; position: absolute; left: 0; top: 100%; width: 100%; margin: 10px 0 0 0; border-radius: 4px; background: #fff; box-shadow: 0px 5px 10px #0000001A; display: flex; } 
 .htMatch-wrap .resume-lists-wrap .t-section { padding: 30px; box-sizing: border-box; border-right: 1px solid var(--border-basic-3); } 
 .htMatch-wrap .resume-lists-wrap .list-section { padding: 20px; flex: auto; box-sizing: border-box; } 
 .htMatch-wrap .resume-form .resume-lists { overflow-y: auto; max-height: 189px; } 
 .htMatch-wrap .resume-form .resume-lists li { display: flex; align-items: center; position: relative; padding: 8px 10px 8px 20px; font-size: 16px; color: #333333; justify-content: space-between; } 
 .htMatch-wrap .resume-form .resume-lists li .date { font-size: var(--text-subtitle5); color: var(--black-3); } 
 .htMatch-wrap .resume-form .resume-lists li::before { content: ""; position: absolute; left: 10px; top: 17px; width: 2px; height: 2px; background: #333333; border-radius: 50%; } 
 /* 진행중인 채용공고가 없을 때 */
 .htMatch-wrap .resume-form.none p { font-size:var(--text-subtitle4); line-height: 22px; } 

 /* 이력서 열람서비스 보유중일때 */
 .htMatch-wrap .h-rd-serv.ht-on .servon-info { width: 170px; height: 37px; font-size: var(--text-subtitle6); background: #F5F7FA; line-height: 37px; color: var(--black-5); border-radius: 4px; } 


 /* 매칭 이력서 */
 .htMatch-wrap .h-tbl-basic-1 .employeeInfo { justify-content: center; } 
 .htMatch-wrap .h-tbl-basic-1 .employeeInfo .profileArea { width: 85px; padding-right: 15px; box-sizing: border-box; } 
 .htMatch-wrap .h-tbl-basic-1 .employeeInfo .profileArea .imgbox { width: 65px; height: 65px; overflow: hidden; border-radius: 100%; } 
 .htMatch-wrap .h-tbl-basic-1 .employeeInfo .profileArea .imgbox img { width: 100%; height: 100%; } 
 .htMatch-wrap .h-tbl-basic-1 .employeeInfo .infoArea { text-align: left; display: flex; flex-direction: column; justify-content: center; } 
 .htMatch-wrap .h-tbl-basic-1 .employeeInfo .infoArea .em-name { font-size: var(--text-subtitle4); } 
 
 /* 이력서 보기 (연락처만 비공개) */
 .htMatch-wrap .h-subbox-wide.none .h-personal-info-none { padding-left: 30px; margin-left: 40px; border-left: 1px solid var(--border-basic-4); box-sizing: border-box; line-height: 20px; font-size: var(--text-subtitle5); height: 93px; justify-content: center; color: var(--black-2); } 
 .htMatch-wrap .h-subbox-wide.none .h-status-wrap { flex-direction: column; } 
 .htMatch-wrap .h-subbox-wide.none .h-status-wrap .proposal-btn { height: 48px; line-height: 48px; margin: 14px 0 0; } 
 
    /* 인재스크랩 버튼 클릭시 */
    .htMatch-wrap .htMatch-scrap span.on { background: url(../images/btn-scrap-active.png) } 
    /* 퀵메뉴 */
    .htMatch-wrap .h-quick-position { z-index: 10; position: absolute; width: 100%; visibility: hidden; margin-top: 158px; top: 0; } 
    .htMatch-wrap .h-quickWrap { visibility: hidden; z-index: 1; position: relative; left: 0; width: 100%; } 
    .htMatch-wrap .h-quick-menu { position: fixed; right: 0; max-width: 100% !important; } 
    .htMatch-wrap .q-position { width: 100%; margin: 0 auto; position: relative; text-align: center; } 
    .htMatch-wrap .floating { box-sizing: border-box; z-index: 1; position: absolute; right: 0;  } 
    .htMatch-wrap .quick { width: 150px; box-sizing: border-box; visibility: visible; height: auto; border-radius: 4px; } 
    .htMatch-wrap .menuContents { justify-content: center; box-sizing: border-box; padding: 20px; border: 1px solid #D4DAE2; border-radius: 4px; display: flex; background: #fff; flex-direction: column; } 
    .htMatch-wrap .menuContents .rd-count { padding-bottom: 10px; border-bottom: 1px solid var(--border-basic-4); } 
    .htMatch-wrap .apply-line-btn { line-height: 20px; font-size:var(--text-subtitle5); padding: 0; margin-top: 15px; color: #0E97FF; text-decoration: underline !important; font-weight: var(--text-medium); display: block; } 
    .htMatch-wrap .htMatch-scrap-btn { margin-top: 10px; height: 50px; padding: 0; } 
    .htMatch-scrap { font-size:var(--text-subtitle4); color: var(--black-2); display: block; height: 100%; line-height: 48px; } 
    .htMatch-scrap .sc-icon { background: url(../../../images/btn-scrap.png) top center no-repeat; width: 23px; height: 21px; display: inline-block; margin-right: 10px; margin-bottom: 3px; vertical-align: middle; } 
    .htMatch-wrap .h-quick-arrow { width: 50px; height: 50px; background: #FFFFFF; border: 1px solid #D4DAE2; border-radius: 100%; margin-top: 20px; color: #62666B; display: flex; align-items: center; justify-content: center; } 
    .htMatch-wrap .h-quick-arrow span { font-size: 26px; font-weight: 300; } 
    .htMatch-wrap .suggest-btn { border-radius: 4px; margin: 0; margin-top: 10px; height: 50px; display: flex; line-height: 50px; justify-content: center; color: #fff; } 

