@charset "utf-8";


/*검색바 탭 디자인*/
.human_mainSrchBox {width:100%; display:flex; flex-wrap:wrap;}
.human_mainSrchBox>input[type="checkbox"] {display:none; width:1px; height:1px; position:absolute; text-indent:-999px; overflow:hidden;}
.human_mainSrchBox>input[type="checkbox"] + label {padding:16px 20px; border:1px solid #D4DAE2; font-size:16px; line-height:160%; color:#151515; box-sizing:border-box; position:relative;}
.human_mainSrchBox>input[type="checkbox"]:not(#srch_detail) + label:before {content:""; display:inline-block; width:26px; height:26px; vertical-align:middle; margin-right:10px;}
.human_mainSrchBox>input[type="checkbox"]#srch_region + label {width:calc(50% - 65px);}
.human_mainSrchBox>input[type="checkbox"]#srch_subject + label {width:calc(50% - 65px);}
.human_mainSrchBox>input[type="checkbox"]#srch_detail + label {width:130px;}
.human_mainSrchBox>input[type="checkbox"]#srch_region + label ~ label {border-left:none;}
.human_mainSrchBox>input[type="checkbox"]#srch_region + label:before {background:url(../images/human_mainSrch_region.svg) no-repeat;}
.human_mainSrchBox>input[type="checkbox"]#srch_subject + label:before {background:url(../images/human_mainSrch_subject.svg) no-repeat;}
.human_mainSrchBox>input[type="checkbox"] + label:after {content:""; position:absolute; width:20px; height:20px; right:20px; top:19px; display:inline-block; background:url(../images/human_mainSrch_arrow.png) no-repeat; transition:transform 0.5s;}
.human_mainSrchBox>input[type="checkbox"] + label:hover {cursor:pointer;}
.human_mainSrchBox>input[type="checkbox"]:checked + label {border:2px solid #62666B; padding:15px 19px;}
.human_mainSrchBox>input[type="checkbox"]:checked + label:after {top:18px; right:19px; transform:rotate(180deg);}
.human_mainSrchBox>input[type="checkbox"]#srch_subject:checked + label {border-left:2px solid #62666B; margin-left:-1px; width:calc(50% - 64px);}
.human_mainSrchBox>input[type="checkbox"]#srch_detail:checked + label {border-left:2px solid #62666B; margin-left:-1px; width:131px;}
.human_mainSrchBox>input[type="checkbox"]#srch_subject:checked ~ input[type="checkbox"]#srch_detail:checked + label {margin-left: -2px; padding-left: 20px; width: 132px;}


/*검색바 탭 클릭하면 보여지도록 세팅*/
.human_mainSrchBox .human_mainSrchBox_dpt2Wrap .srchBoxWrap {display:none;border:2px solid #62666B;box-sizing:border-box;margin-top:-2px;box-shadow: 0px 5px 10px #0000001A;}
.human_mainSrchBox #srch_region:checked ~ .human_mainSrchBox_dpt2Wrap .srchBox_region, 
.human_mainSrchBox #srch_subject:checked ~ .human_mainSrchBox_dpt2Wrap .srchBox_subject, 
.human_mainSrchBox #srch_detail:checked ~ .human_mainSrchBox_dpt2Wrap .srchBox_detail {display:block;}
.human_mainSrchBox .human_mainSrchBox_dpt2Wrap {width:100%;z-index: 1;}


/*검색 공통*/
.human_mainSrchBox_dpt2Wrap .h-button-refresh {color:#7E7E7E;}
.human_mainSrchBox_dpt2Wrap .srchSetBox {display:flex;justify-content:space-between;border-top:1px solid #eaedf0;padding:0 30px;box-sizing:border-box;align-items: center;padding: 9px 30px;}
.human_mainSrchBox_dpt2Wrap .srchSetBox .guideTip {font-size:13px; color:#7E7E7E;}
.human_mainSrchBox_dpt2Wrap ul li {background:transparent; transition:background 0.5s; padding: 5px;box-sizing: border-box;display: flex;}
.human_mainSrchBox_dpt2Wrap ul li:hover {background:#F5F7FA;}
.human_mainSrchBox_dpt2Wrap ul li .h-checkbox.checkbox03 input[type="checkbox"] + label span {font-size:12px;margin-left: 3px;display: inline-block;}

.human_mainSrchBox_dpt2Wrap .srchBox_subject .subjectList ::-webkit-scrollbar { width:8px; }
.human_mainSrchBox_dpt2Wrap .srchBox_subject .subjectList ::-webkit-scrollbar-track { background:transparent; }
.human_mainSrchBox_dpt2Wrap .srchBox_subject .subjectList ::-webkit-scrollbar-thumb { background:#E1E1E1; }


/*01_지역별인재*/
.human_mainSrchBox_dpt2Wrap .srchBox_region {}
.human_mainSrchBox_dpt2Wrap .srchBox_region .regionList {display:flex;flex-wrap:wrap;padding: 17px 28px;}
.human_mainSrchBox_dpt2Wrap .srchBox_region .regionList li {width:calc(100% / 7);}

/*02_과목별인재*/
.human_mainSrchBox_dpt2Wrap .srchBox_subject {}
.human_mainSrchBox_dpt2Wrap .srchBox_subject .subjectList {display:flex;}
.human_mainSrchBox_dpt2Wrap .srchBox_subject .subjectList .subject_dpt1 {width:230px;height: 142px;padding: 15px 0 0 30px;box-sizing: border-box;overflow-y: scroll;border-right: 1px solid #d4dae2;}
.human_mainSrchBox_dpt2Wrap .srchBox_subject .subjectList .subject_dpt1 li {}
.human_mainSrchBox_dpt2Wrap .srchBox_subject .subjectList .subject_dpt2 {width:calc(100% - 230px);height: 142px;display: flex;flex-wrap: wrap;overflow-y: scroll;padding: 15px 0 0 28px;box-sizing: border-box;}
.human_mainSrchBox_dpt2Wrap .srchBox_subject .subjectList .subject_dpt2 li {width: calc(100% / 4);}

/*03_상세조건*/
.human_mainSrchBox_dpt2Wrap .srchBox_detail {width: 100%;padding: 25px 43px;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul {}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li {width: 100%;background: transparent !important;align-items: center;padding: 0 0 5px;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>strong {width: 135px;color: #7E7E7E;font-size: 14px;font-weight: 500;line-height: 44px;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>strong:before {content:"\b7";margin-right: 5px;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul {width: calc(100% - 135px);display: flex;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li {background: transparent !important;padding: 0;align-items: center;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li>div {margin-left: 0;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li>div.checkbox01 {min-height:44px;line-height: 44px;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li label {font-size:14px;color:#333333;margin-right: 40px;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li label ~ label {margin-right: 20px;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li .h-radio-01 input[type="radio"] + label .rchk {margin-left: 0;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li select {width: 175px;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li select:disabled {background-color: #F2F2F2;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul:not(.allselectoption)>li select:only-of-type {margin-right: 30px !important;}
.human_mainSrchBox_dpt2Wrap .srchBox_detail>ul>li>ul>li select:last-of-type {margin-right:10px;}



/* 00_검색조건설정박스  */
.srchBox_default {width: 100%;display: flex;background: #EBEFF5;padding: 25px 25px 25px 30px;border: 1px solid #CCD1D7;border-top: none;box-sizing: border-box;z-index: 1;}
.srchBox_default .mysrchBox {width: calc(100% - 180px);padding-right: 20px;box-sizing: border-box;}
.srchBox_default .mysrchBox .first_message {font-size: 14px; color: #9a9a9a;}

.srchBox_default .srchBtnBox {width: 180px; text-align: right;}
.srchBox_default .srchBtnBox .mainBtn {margin: 0; border-radius: 2px; width: 100%;}
.srchBox_default .srchBtnBox .mainBtn span {color: #D6FF00; margin-right: 5px;}
.srchBox_default .srchBtnBox .mainBtn:disabled {background: #FFFFFFB3; color: #BCBCBC;}

    /* 내가 선택한 키워드들 */
    .my_selectSrch {}
    .my_selectSrch>li {width:100%;background: transparent !important;padding: 0 !important;}
    .my_selectSrch>li strong:before {content:"\b7";color:#9A9A9A;display: inline-block;vertical-align: middle;margin: 0 3px 0 0;line-height: 150%;}
    .my_selectSrch>li>strong {width: 105px;color:#9A9A9A;font-size:14px;padding: 5px 0 4px;font-weight: 500;}
    .my_selectSrch>li>ul {width: calc(100% - 105px);}
    .my_selectSrch>li>ul>li {font-size:14px;display: inline-block;color:#333333;background: transparent !important;}
    .my_selectSrch>li>ul>li .dpt {width: 5px; height: 5px; display: inline-block; border: 1px solid #BCBCBC; border-width: 1px 1px 0 0; transform: rotate(45deg); vertical-align: middle; margin-right: 5px;}

    .my_selectSrch .deleteKywrd {width: 15px; height: 15px; display: inline-block; text-align: center; border: 1.5px solid #C3CAD4; color: #C3CAD4; border-radius: 100%; box-sizing: border-box; line-height: 13px; font-size: 8px; margin: -2px 5px 0 5px; vertical-align: middle; transition: all 0.5s;}
    .my_selectSrch ul>li:hover .deleteKywrd {border-color: #8b8b8b;color: #8b8b8b;}
