@charset "utf-8";



.h-button-xs.h-button-grey1.h-button-radius {padding:0 20px;}

[class^="brand-rcrutment-Wrap"] {display: flex;flex-wrap: wrap;justify-content: space-between;}
[class^="brand-rcrutment-Wrap"] .brand-block {border: 1px solid #E0E6EF;border-radius:10px;background:#fff;box-shadow:0px 5px 10px #0000000D;overflow: hidden;text-align: center;display: flex;flex-direction: column;align-items: center;justify-content: center;transition: border-color 0.5s;}
[class^="brand-rcrutment-Wrap"] .brand-block:hover {border-color:#26B2C8;}
.brand-rcrutment-Wrap-4block .brand-block {width:273px; height:217px; margin-bottom:24px;}
.brand-rcrutment-Wrap-5block .brand-block {width:216px; height:189px; margin-bottom:18px;}

[class^="brand-rcrutment-Wrap"] .logoBox {width: 140px; height: 58px; line-height: 58px; vertical-align: middle;}
[class^="brand-rcrutment-Wrap"] .logoBox img {display: inline-block;max-width: 100%;max-height: 100%;vertical-align: middle;}
[class^="brand-rcrutment-Wrap"] .brandNmBox {font-size:18px;color:#333;font-weight:600;margin: 10px 0 15px;}
[class^="brand-rcrutment-Wrap"] .brandnumberBox {font-size:15px;padding: 7px 20px;background:#FF6000;border-radius:30px;text-align:center;color:#fff;font-family: 'SUIT';}
.brand-rcrutment-Wrap-5block .logoBox {width:100px; height:42px;}
.brand-rcrutment-Wrap-5block .brandNmBox {font-size:16px;}
.brand-rcrutment-Wrap-5block .brandnumberBox {color:#FF6000;background:#fff;font-size: 18px;font-weight: 600;padding: 0;}