@charset "utf-8";

/*  공통 box */
.h-subtxtbox-01 {padding:40px; margin-bottom:50px; background-color:var(--neutral-2); border-radius:15px; box-sizing:border-box;}

/* 관심학원 - 탭 버튼 */
.h-tab-wrap [class^="h-button"] {position:relative; margin:0;}
.h-tab-wrap [class^="h-button"] + [class^="h-button"] {margin-left:5px;}
.h-tab-wrap [class^="h-button"]:hover {background-color:var(--cyan);}
.h-tab-wrap [class^="h-button"]:hover :is(*) {color:#fff;}

/* 관심학원 - App 설치 */
.h-app-wrap {padding-left:40px; border-left:1px solid var(--border-basic-4); box-sizing:border-box;}
.h-app-wrap .app-txt {margin-right:20px;}
.h-app-wrap [class^="h-button"] {font-size:var(--text-subtitle5);}
.h-app-wrap [class^="h-button"] .imgbox {width:auto; height:auto; max-width:22px; max-height:22px; vertical-align:middle; overflow:hidden; margin-right:10px !important;} 
.h-app-wrap [class^="h-button"] .imgbox img {max-width:100%; max-height:100%;}
.h-app-wrap [class^="h-button"] .txtbox {margin-left:0 !important; vertical-align:middle;}
