@charset "utf-8";

/* 로케이션바 */
.hunjang-wrap .content .location {display:flex; justify-content:flex-end; align-items:center;}
.hunjang-wrap .content .location li {font-size:var(--text-subtitle5); color:var(--black-3); letter-spacing:-1px;}
.hunjang-wrap .content .location li:first-child {line-height:15px;}
.hunjang-wrap .content .location li + li {position:relative;}
.hunjang-wrap .content .location li + li:before {content:'\e5e1'; height: 15px; line-height: 18px; margin-right:5px; padding-left:5px; font-size:var(--text-subtitle6); color:var(--grey-1);}
.hunjang-wrap .content .location li.active {font-weight:var(--text-medium); color:var(--black-2);}


/* 공통 */
.my-txtbox {margin-bottom: 50px;}
.my-txtbox ul li {position: relative; color:var(--black-3);}
.my-txtbox .text-h1 {display:block; margin-bottom:30px;}
.my-txtbox .text-h1 .text-subtitle4 {line-height:24px;}
.my-txtbox .text-subtitle4 li {position: relative; padding-left:10px; color:#7E7E7E;}
.my-txtbox .text-subtitle4 li:after {content:''; position: absolute; top:10px; left:0; width:2px; height:2px; background:#7e7e7e; border-radius: 50%;}
.my-txtbox .text-subtitle4 li.em:after{background-color:var( --orange);}
.my-txtbox .text-subtitle4 li.em{color:var( --orange);}

.h-over-hidden {overflow:hidden;}
.h-subtxtbox-01 {padding:40px; margin-bottom:70px; background-color:var(--neutral-2); border-radius:15px; box-sizing:border-box;}
.h-subtxtbox-01 .h-radio-02 {background:#fff;}


/* 이력서 등록 */
.resumebox {display: flex;justify-content: space-between;}
.resumebox .resumbtn {position:relative;width:340px;height:380px;border-radius: 15px;background-color: #fff;}
.resumebox .resumbtn a {display: inline-block;height: 100%;padding: 40px;box-sizing: border-box;}
.resumebox .resumbtn:hover {background-color:#26B2C8; color:#fff; transition: all ease-out 0.3s;}
.resumebox .resumbtn:hover a {color:#fff;}
.resumebox .resumbtn:hover .img {opacity: 0; right: auto;  -webkit-animation: imgAni 0.4s 0s forwards; animation: imgAni 0.4s 0s forwards;}
.resumebox .resumbtn .img-on {position: absolute; opacity: 0; right: -10px;}
.resumebox .resumbtn:hover .img-on {bottom: -60px; -webkit-animation: imgAni-on 0.3s 0.25s forwards; animation: imgAni-on 0.3s 0.25s forwards;}

@keyframes imgAni {
  0% {
    opacity: 0;
      left: -10px;
  }
  100% {
    opacity: 1;
    left: 40px;
  }
}

@keyframes imgAni-on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 30px;
  }
}

.resumebox .resumbtn:hover .ico_arrow,
.resumebox .resumbtn:hover .ico_arrow:before {border-color:#fff;}
.resumebox .resumbtn:hover .ico_arrow:after {background:#fff;}

.resumebox .resumbtn .text-subtitle4 {margin-top: 20px;}
.resumebox .resumbtn .text-subtitle4:hover {color:#fff;}
.resumebox .resumbtn img {position: absolute; bottom:20px; right:40px;}

.resumebox .resumbtn .ico_arrow {position:relative; margin-top:30px; width:42px; height:42px; text-indent:-9999px; border-radius: 50%; border:2px solid #CCD1D7;}
.resumebox .resumbtn .ico_arrow:before {content:''; width:12px; height:12px; position:absolute; left:50%; top:50%; border-left:2px solid #CCD1D7; border-top:2px solid #CCD1D7; transform:translate(-50%,-50%) rotate(135deg);}
.resumebox .resumbtn .ico_arrow:after {content:''; width:18px; height:2px; position:absolute; right:12px; top:50%; transform:translateY(-50%); background:#CCD1D7}

/* 이력서 공개 상태 일때 */
.my-subtxtbox .resume-form {background-color: var(--neutral-2)!important;border: none;}
.my-subtxtbox .resume-form .resume-qlink {display: flex;margin-top: 35px;}
.my-subtxtbox .resume-form .resume-qlink li a {display: flex;padding: 20px 25px;border-radius: 90px;font-size: var(--text-subtitle4);background-color: #fff;}
.my-subtxtbox .resume-form .resume-qlink li + li {margin-left:5px;}
.my-subtxtbox .resume-form .resume-qlink li a .number{margin-left:10px; color:var(--blue-3); font-weight: 500;}
.my-subtxtbox .resume-form .resume-qlink li a:hover {background-color:var(--cyan); color:#fff; transition: all ease-out 0.3s;}
.my-subtxtbox .resume-form .resume-qlink li a:hover .number {color:#fff; transition: all ease-out 0.3s;}


/* 이력서가 등록되지 않은 경우 */
.my-subtxtbox {margin-top:25px;/*padding:50px;*/background-color:var(--neutral-2)!important;border:1px solid var(--border-basic-3);border-radius: 15px;}
.my-subtxtbox.off .resume-form {display:flex;justify-content: space-between;align-items: center; flex-direction: initial;}
.my-subtxtbox.off .resume-form ul {width:calc(100% - 145px);}
.my-subtxtbox.off .resume-form ul .title {margin-bottom: 10px;color:var(--black-1);font-weight: bold;}
.my-subtxtbox.off .resume-form ul .title .resume-state {margin:0 5px; color:var(--blue-3);}
.my-subtxtbox.off .resume-form ul .text-subtitle4 {color:var(--black-3);}
.my-subtxtbox.off .resume-form ul .resume_state {color:var(--black-3);}
.my-subtxtbox.off .resume-form ul .btn-add {margin-top:15px; margin-left:0;}


.resume-form .h-switch {position: absolute; top: 40px; right: 40px;}
/* .resume-form .h-switch .h-switchlabel {color:var(--black-5)!important;} */


/* 이력서 관리 */
.my-resumebox {position: relative; padding-bottom:60px; margin-bottom:60px;}
.my-resumebox .contxt {padding: 40px;width:500px;height: 160px;border-radius: 15px;background: url("../images/img_resume_regInfo.png") no-repeat 149px 180px #fff !important;word-break: break-all;}
.my-resumebox .contxt .name {margin-bottom:15px;font-size: var(--text-h4); color:var(--black-1);}
.my-resumebox .contxt .name .point {color:var(--blue-3); font-weight:600;}
.my-resumebox .contxt-btns {overflow: hidden; position:absolute; top:30px; right:0; height: 100%; border-radius: 15px; height:270px;}
.my-resumebox .contxt-btns button {position: relative; width:215px;}
.my-resumebox .contxt-btns button:first-child {background-color:var(--teal);}
.my-resumebox .contxt-btns button:not(:first-child) {background-color:var(--cyan);}
.my-resumebox .contxt-btns button:last-child:before {display: none;}
.my-resumebox .contxt-btns button + button:before {content:''; position:absolute; width:1px; height:190px; right: 0; top: 50%; transform: translateY(-50%); background:#68c9d9;}

.my-resumebox .contxt-btns button p {color:#FFFFFFCC;}
.my-resumebox .contxt-btns button strong {display: block; margin:32px 0 10px; font-weight:bold; color:#fff;}

/* 검색결과 수 */
.count-tit {color:var(--black-3); font-weight: normal;}
.count-tit .sum {margin-left:3px; color:#333;}
/* .count-tit + a, .count-tit + button, .count-tit + div {margin-bottom:0!important;} */

.resume-form {position: relative;display:flex;justify-content: center;flex-direction: column;border-radius: 15px;border:1px solid var(--border-basic-3); background-color: #fff; padding: 40px;}
.resume-form .date {display: flex;font-size: var(--text-subtitle6);align-items: center;}
.resume-form .date .point {margin-right:3px; color:var(--black-3);}
.resume-form .title {display: inline-flex;align-items:center;margin-top: 10px;}
.resume-form .title .text-h4 {overflow: hidden;text-overflow:ellipsis;white-space:nowrap;max-width: 80%;margin-right: 10px;}
.resume-form .title .blt-basic-txt {padding:4px 10px;border-radius:13px;background-color:#C3CAD4;color:#fff;font-size: var(--text-subtitle6);vertical-align: 3px;word-break: keep-all;}
.resume-form + .resume-form {margin-top:20px}
.resume-form.none {height: 295px; text-align: center;}
.resume-form.none strong {margin-bottom: 10px;}
.resume-form.none p {color:var(--black-3); font-weight: 400;}
.resume-form.none p .count {color:var(--blue-3); font-weight: 500;}
.resume-form.none p .name {margin-right:3px; color:var(--teal); font-weight: 500;}

.resume-list {margin-top: 13px;font-size: var(--text-subtitle4);}
.resume-list li {position: relative; float: left; padding-left:10px; margin-right:25px; line-height:24px;}
.resume-list li span {color:var(--black-3);}
.resume-list li:after {content:'';position: absolute;top: 10px;left:0;width:2px;height:2px;background-color:var(--black-3);}
.resume-list li:nth-child(2n) {float: none;}
.resume-list .h-button-txt {padding: 0; height: auto; line-height: inherit; padding:0; font-size: var(--text-subtitle4); font-weight: 400; vertical-align: top;}

.resume-mngr-btn {margin:20px 0 10px; text-align:right;}
.resume-mngr-btn .link {margin-right:20px;padding: 0 5px;font-size: 13px;font-weight: 400;}
.resume-mngr-btn .h-button-s {margin:0;}

/* 이력서 폼 안에서의 토글 버튼 */
.more_toggle {position: absolute;right: 40px;bottom: 35px;width:40px;height:40px;border-radius:50%; background-color:var(--neutral-3);}
.more_toggle .h-button-menu {margin:0;}
.more_toggle.on {display: flex;background-color:var(--neutral-3);border-radius: 38px;padding: 13px 30px;align-items: baseline;width: max-content;justify-content: space-evenly;flex-direction: row;}
.more_toggle.on li {text-align:center;}
.more_toggle.on li a {display: inline-block;}
.more_toggle.on li a .txt {display:block;margin-top: 4px;font-size:var(--text-subtitle6); color:var(--black-3);}
.more_toggle.on li + li {margin-left:17px;}
.more_toggle.on li.point a .txt {color:#333;}

.more_toggleBox {position: absolute;right: 40px;bottom: 30px;width: 50px;height: 66px;overflow: hidden;}
.more_toggleBox:hover {width:337px;}
.more_toggleBox .more_toggle {right:0;bottom: 10px;position: absolute;}
.more_toggleBox .more_toggle + .more_toggle.on  {transition: all 0.5s;right:-337px;bottom: 0;}
.more_toggleBox:hover .more_toggle + .more_toggle.on,
.more_toggleBox .more_toggle:focus + .more_toggle.on,
.more_toggleBox .more_toggle:active + .more_toggle.on {right: 0;}
.more_toggleBox .more_toggle + .more_toggle.on.toglle_white {background: #fff !important;}
.more_toggleBox .more_toggle {background-color: var(--neutral-3) !important;}

/* ==================================== 지원현황 =============================== */

.tab-menu {display: flex; justify-content: space-between;}
.tab-menu li {width:250px; border-radius: 15px;background-color:#fff;text-align: center; border:1px solid transparent;}
.tab-menu li a {display: block; height:100%; padding: 29px 0;}
.tab-menu li a .txt {font-size: var(--text-subtitle2);}
.tab-menu li a .number {font-family: ''; font-size: var(--text-h1);}
.tab-menu li.active {background-color: var(--cyan);}
.tab-menu li.active a {color:#fff;}
.tab-menu li.active :hover {color:#fff;}
.tab-menu li:hover {border:1px solid var(--cyan); transition: all ease-out 0.3s;}
.tab-menu li:hover a {color:var(--cyan); transition: all ease-out 0.3s;}


.basic-serchbox {position:relative; margin-top: 30px; margin-bottom:70px; padding:40px; border-radius:15px; background:var(--neutral-2);}
/* .basic-serchbox input {height:46px; padding:0 20px;border:1px solid var(--border-basic-2);border-radius: 4px!important;font-size: var(--text-subtitle4); box-sizing: border-box;} */
.basic-serchbox .h-radio-02 {display:inline-block; /*margin-left:10px;*/ background-color: #fff;}
.date-picker + .h-radio-02 {margin-left:10px;}
.basic-serchbox .h-btn-search {margin-right: 0;min-width:50px;text-align:center;}
.basic-serchbox .h-btn-refresh {width:38px;}
.basic-serchbox .col {display: flex; align-items: center;}
.basic-serchbox .col + .col {margin-top:10px;}

.applicant-col a {margin-left:0; margin-right:20px;}

/* 테이블내에 내역이 없을 경우 공통 */
.tblsrch-result-none {padding:100px 0!important;}
.tblsrch-result-none a {margin-top: 20px; font-weight: 300;}


.sprt-btn-del {width:60px; background-color:var(--grey-1); font-weight: 300;}
.sprt-btn-cancle {width:60px; background-color:var(--grey-3); font-weight: 300;}

/* 추천채용정보 */
.depth-box {font-size:var(--text-subtitle4);}
.depth-box > li > .tit {width:107px; color:var(--black-3);}
.depth-box > li {position:relative; display: flex; padding-left:6px;}
.depth-box > li:after {content:''; position:absolute; width:2px; height:2px; top:8px; left:0; background-color:var(--black-3);}
.depth-box > li + li {margin-top:15px;}
.depth-box ul.depth1 {display: flex; flex-wrap: wrap;}
.depth-box ul.depth1 > li:first-child:before {content:'>'; padding:0 5px; color:var( --black-6);}
.depth-box ul.depth1 > li + li:before {content:','; padding:0 2px; color:var(--black-2);}
.depth-box .depth1 + .depth1:before {content:'/'; padding:0 5px; color:var( --black-6);}

.depth-box .depth-tit {float:left;}
.depth-box .depth-tit:after {content: '>'; padding: 0 5px; color: var(--black-6); vertical-align: 1px;}
.basic-serchbox .sett-btn-box {position:relative; margin-right:66px;}
.basic-serchbox .sett-btn-box:after {content:''; position:absolute; top:0; right:-30px; width:1px; height:198px; background:var(--border-basic-4);}
.basic-serchbox .sett-btn-box > a {display: flex; justify-content: space-between; width: 140px;padding: 0 25px;background: url('../images/sett_arrow_grey.png') no-repeat #fff 80% 50%;color:var(--black-2);font-weight: 500;font-size: var(--text-subtitle4);}
.basic-serchbox .sett-btn-box > a + a {margin-top:10px;}
.basic-serchbox .sett-btn-box > a.active {background: url('../images/sett_arrow_white.png') no-repeat var(--cyan) 80% 50%!important;color:#fff;}

.basic-serchbox .sett-btn-box .h-button-more {background-image:none;display: flex;flex-direction: row-reverse;position: absolute;bottom: 0;height: 45px;align-content: center;justify-content: flex-end;}
.basic-serchbox .sett-btn-box .h-button-more:after {position: relative;right: 6px;top: 2px;}

.basic-serchbox .sett-btn-inner {position: absolute;bottom: 40px;right: 35px;display: flex;flex-direction: column;}
.basic-serchbox .sett-btn-inner a + a {margin-top: 5px;}

/* 설정조건 3개 초과되면 조건추가 버튼 삭제 */
.basic-serchbox .sett-btn-box > a:nth-child(n+4) {display: none;}



/* ==================================== 이력서 매칭정보 =============================== */
.btnboxR {float:right; text-align:right;}
.my-subtxtbox .resume-form.resume-match {padding: 20px 30px 40px 40px;}
.my-subtxtbox .resume-form.resume-match .btnboxR:first-child {position: absolute; right: 20px; top: 20px;}
.my-subtxtbox .resume-form.resume-match .btnboxR:first-child .h-button-radius {padding:0 15px;}
.resume-list.wd70 + .btnboxR {position: absolute;right: 20px;bottom: 20px;}
.resume-list.wd70 + .btnboxR .h-button-radius {padding:0 22px;}
.resume-list.wd70 + .btnboxR img {margin-right:8px;}

.my-resume-matching {width:100%; clear:both;}
.my-resume-matching .topBox {margin-bottom: 15px;width: 100%;display: flex;justify-content: space-between;align-items: baseline; align-items: flex-end;}
.my-resume-matching .topBox .count-tit {margin-bottom: 0;}
.my-resume-matching .topBox .btnboxR {}
.my-resume-matching .topBox .btnboxR>*:last-child {margin-right:0;}

.my-resume-matching .h-tbl-basic-1 tbody tr td strong {display: block;}
.my-resume-matching .h-tbl-basic-1 tbody tr td span {display: block;}

.my-subtxtbox .resume-form.resume-match-detail {display: block;text-align: center;padding: 65px 0;}
.my-subtxtbox .resume-form.resume-match-detail div {margin-bottom: 15px;}
.my-subtxtbox .resume-form.resume-match-detail span {margin:0 3px;}
.my-subtxtbox .resume-form.resume-match-detail span[class^="h-txt"] {margin:0;}
.my-resume-matching .h-tbl-basic-1 tbody tr td.no-data {padding:96px 10px;}

      /*상세*/
      .resume-form .title.reseme-detail {position:relative;}
      .resume-form .title.reseme-detail .text-h4 {font-size:26px;}
      .resume-form .title .my-resume-listBtn {position:relative;width:28px;height:28px;display:inline-block;border: 2px solid var(--grey-2);border-radius: 100%;box-sizing: border-box;margin: 3px 0 0 10px;}
      .resume-form .title .my-resume-listBtn:before {content:"";width: 7px;height: 7px;display:inline-block;transform: rotate(225deg);border: 2px solid var(--grey-2); border-width: 2px 0 0 2px;margin: 0px 0 2px 1px;transition: transform 0.5s, margin 0.5s;}
      .resume-form .title .my-resume-listBtn.on:before {transform:rotate(45deg);margin: 7px 0 0 0px;}
      .resume-form .title .my-resume-list {position: absolute;top: 32px;left: 0;width: 87%;height: 180px;overflow-y: scroll;background:#fff;border:2px solid var(--grey-3); border-radius:4px;box-shadow:0px 5px 10px #0000001A;box-sizing: border-box;z-index: 1;}
      .resume-form .title .my-resume-list ul {padding-top: 10px;}
      .resume-form .title .my-resume-list ul li {font-size:16px;padding: 11px 28px;transition:background 0.5s;}
      .resume-form .title .my-resume-list ul li:before {content:"\b7";display: inline-block;}
      .resume-form .title .my-resume-list ul li:hover {background:var(--neutral-3);}
      .resume-form .title .my-resume-list ul li .rsmTit {display: inline-block; max-width: 80%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
      .resume-form .title .my-resume-list ul li span {font-size:12px;}

      .resume-form .title .my-resume-list::-webkit-scrollbar { width:8px; }
      .resume-form .title .my-resume-list::-webkit-scrollbar-track { background:transparent; }
      .resume-form .title .my-resume-list::-webkit-scrollbar-thumb { background:#E1E1E1; }

/* ==================================== 이메일 수신 설정 =============================== */
.emailReceiveForm {flex-direction:row; justify-content:space-between; align-items:stretch;}
.emailReceiveForm .email-leftBox {width:510px;}
.emailReceiveForm .email-leftBox .title {width: 100%;}
.emailReceiveForm .email-leftBox .resume-list {margin-bottom: 25px; display: block; float: left;}
.emailReceiveForm .email-leftBox .resume-list li {width:100%;}
.emailReceiveForm .email-leftBox .email-switchBox {width: 100%; clear: both; float: left;}
.email-switchBox li {display: inline-block; position: relative; margin-right: 20px;}
.email-switchBox li:last-child {margin-right:0;}

.emailReceiveForm .email-leftBox .email-switchBox li .h-switch {position: relative; top: auto; right: auto;}
.emailReceiveForm .email-rightBox {flex-grow:1; padding-top:15px; margin-left:160px;}
.emailReceiveForm .email-rightBox .rcmmd-email {font-size:var(--text-subtitle4); color:var(--black-6); width:100%; height:120px; line-height:110px; margin-top:15px; text-align:center;}
.emailReceiveForm .email-rightBox .rcmmd-email img {max-width:100%; max-height:100%;}


/* ==================================== 관심학원 =============================== */
/* 탭 버튼 */
.h-tab-wrap [class^="h-button"] {position:relative; background-color:#fff; color:var(--black-2); transition:all ease-out 0.3s;}
.h-tab-wrap [class^="h-button"]:first-child {margin-left:0;}
.h-tab-wrap [class^="h-button"]:last-child {margin-right:0;}
.h-tab-wrap .active {cursor:default;}
.h-tab-wrap .active,
.h-tab-wrap [class^="h-button"]:hover {background-color:var(--cyan);}
.h-tab-wrap .active :is(*),
.h-tab-wrap [class^="h-button"]:hover :is(*) {color:#fff;}

/* App 설치 */
.h-app-wrap {padding-left:40px; border-left:1px solid var(--border-basic-4); box-sizing:border-box;}
.h-app-wrap .app-txt {margin-right:20px;}
.h-app-wrap [class^="h-button"] {font-size:var(--text-subtitle5); line-height:normal;}
.h-app-wrap [class^="h-button"] .imgbox {width:auto; height:auto; max-width:22px; max-height:22px; vertical-align:middle; overflow:hidden; margin-right:10px !important;}
.h-app-wrap [class^="h-button"] .imgbox img {max-width:100%; max-height:100%;}
.h-app-wrap [class^="h-button"] .txtbox {margin-left:0 !important; vertical-align:middle;}

/* 스크랩채용 - 검색 */
.h-search-wrap :is(.h-date-box, .h-search-box) {display:flex; width:100%;}
.h-search-wrap .h-date-box + .h-search-box {margin-top:12px;}

/* 내 이력서 열람학원 */
.my-txtbox .text-h1 + .h-subtxtbox-01 {margin-bottom:30px;}
.my-txtbox .text-h1 + .h-subtxtbox-01 + ul {margin-bottom:20px;}
.my-txtbox ~ .h-tbl-basic-1 .h-job-check-wrap {margin-left:20px;}
.my-txtbox ~ .h-tbl-basic-1 .h-job-check-wrap .h-job-info {min-width:800px;}
.my-txtbox ~ .h-tbl-basic-1 .check-read {display:flex; flex-flow:row wrap; justify-content:center; align-items:center; padding-left:10px; padding-right:10px; font-weight:var(--text-medium); font-size:var(--text-subtitle6); color:#fff; text-align:center; background-color:var(--grey-1); border-radius:13px; box-sizing:border-box;}
