@charset "utf-8";

.h-tab-01 + .h-tit-box-1 {margin-top:70px;}


/* ==================================== 채용공고관리 ==================================== */
.h-academy-recruit {}
.h-academy-recruit .location + .resume-form {margin-top:4px;}
.h-academy-recruit .h-tit-box-1 select {color:var(--black-2);}
.h-academy-recruit .h-tit-box-1 input[type="text"] + [class^="h-button"] {margin-left:10px;}
.h-academy-recruit .h-tit-box-1 [class^="h-button"]:nth-last-child(1) {margin-right:0;}

/* 채용공고 - 목록 */
.h-notice-list {display:flex; flex-flow:column wrap;}
.resume-form {display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:center;}
.resume-form + .resume-form {margin-top:10px;}
    /* 공고상태 */
    .resume-form .h-circle {flex-grow:0; width:65px; height:65px; border-radius:50%; background-color:var(--grey-1); font-size:var(--text-subtitle5); font-weight:var(--text-regular); color:#fff; line-height:16px;}
    .resume-form .h-circle.ongoing {background-color:var(--cyan);}
    .resume-form .h-circle + .h-info-wrap {margin-left:30px;}
    /* 공고제목, 채용담당자, 모집기간, 등록일, 버튼 */
    .resume-form .h-info-wrap {flex-grow:1; max-width:630px; display:inline-flex; flex-flow:column wrap;}
        .resume-form .h-info-wrap .title {width:100%; margin-top:0; font-size:var(--text-h4); font-weight:var(--text-bold); color:var(--black-1); line-height:24px;}
        .resume-form .h-info-wrap .info-txt {display:flex; flex-flow:row wrap;}
        .resume-form .h-info-wrap .info-txt li {display:inline-flex; align-items:center; font-size:var(--text-subtitle5); line-height:20px;}
        .resume-form .h-info-wrap .info-txt li:not(:first-child)::before {content:''; display:inline-block; width:1px; height:13px; margin-left:12px; margin-right:12px; background-color:var(--border-basic-2);}
        .resume-form .h-info-wrap .info-txt span {color:var(--black-3);}
        .resume-form .h-info-wrap .info-txt span::after {content:':'; display:inline-block; margin-left:4px; margin-right:4px;}
        .resume-form .h-info-wrap .btn-wrap .h-button-xxs {padding:0 12px; margin-left:0; margin-right:0;}
        .resume-form .h-info-wrap .btn-wrap .h-txt-pit,
        .resume-form .h-info-wrap .btn-wrap .h-button-link {margin-left:10px;}
        .resume-form .h-info-wrap .btn-wrap .h-button-link p {margin-right:7px;}
        .resume-form .h-info-wrap .title + .info-txt {margin-top:12px;}
        .resume-form .h-info-wrap .info-txt + .btn-wrap {margin-top:25px;}
        /* title 클릭 시 dorpdown */
        .resume-form .h-info-wrap .title .h-notice-wrap > input[type="checkbox"] + label {position:initial !important;}
        .resume-form .h-info-wrap .title .h-notice-wrap .dropdown {overflow-y:auto; display:block; position:absolute; top:24px; left:-115px; z-index:-1; width:1040px;}
        .resume-form .h-info-wrap .title .h-notice-wrap > input[type="checkbox"]:checked ~ .dropdown {top:34px; z-index:3;}

    /* 전체지원자, 열람, 미열람 */
    .resume-form .info-count {flex-grow:0; display:inline-flex; flex-flow:row wrap; margin-left:auto;}
    .resume-form .info-count li:not(:first-child) {margin-left:20px;}
    .resume-form .info-count li a {min-width:60px; width:100%; height:100%; display:flex; flex-flow:column wrap; text-align:center;}
    .resume-form .info-count li .num {font-size:var(--text-h2); font-weight:var(--text-bold); color:var(--black-2); line-height:30px;}
    .resume-form .info-count li .num.all {color:var(--blue-3);}
    .resume-form .info-count li .item {font-size:var(--text-subtitle5); color:var(--black-5); line-height:18px;}
    .resume-form .info-count li .num + .item {margin-top:10px;}
    /* 결제하기 */
    .resume-form .info-payment {max-width:270px; flex-grow:0; display:inline-flex; flex-flow:column wrap; align-items:flex-end; margin-left:auto;}
    .resume-form .info-payment .txt {font-size:var(--text-subtitle5); text-align:right; line-height:20px;}
    .resume-form .info-payment .txt + .h-button-link {margin-top:15px;}
    .resume-form .info-payment .h-button-link {width:auto; margin-right:0;}
    /* 공고보기, 공고수정, 공고마감 */
    .resume-form .notice-btn-wrap {flex-grow:0; display:inline-flex; flex-flow:row wrap; margin-left:auto;}
    .resume-form .notice-btn-wrap li:not(:first-child) {margin-left:25px;}
    .resume-form .notice-btn-wrap li a {width:auto; display:flex; flex-flow:column wrap; text-align:center;}
    .resume-form .notice-btn-wrap li a .item {font-size:var(--text-subtitle6); font-weight:var(--text-regular); color:var(--black-2); line-height:14px;}
    .resume-form .notice-btn-wrap li a img + .item {margin-top:7px;}


/* 채용공고관리 - 지원자관리 - 목록  */
.h-academy-recruit .resume-form + .my-txtbox {margin-top:40px; margin-bottom:30px;}
.h-academy-recruit .resume-form + .my-txtbox.line {border-bottom:1px solid var(--border-basic-3);}
.h-academy-recruit .resume-form + .my-txtbox.line .text-h1 {margin-bottom:20px; letter-spacing:-0.8px; line-height:37px;}
.h-academy-recruit .flex-between .col.h-tab-02 {flex-grow:1;}
.h-academy-recruit .flex-between .col.btn-wrap input[type="checkbox"], 
.h-academy-recruit .flex-between .col.btn-wrap [class^="h-button"] {margin:0;}
    /* table - 지원자 리스트 */
    .h-tbl-volunteer thead tr th:last-child {padding-right:10px;}
    .h-tbl-volunteer tbody tr td {padding:20px 5px;}
    .h-tbl-volunteer tbody tr td:first-child {width:60px; text-align:center;}
    .h-tbl-volunteer tbody tr td:last-child {text-align:center;}
    .h-tbl-volunteer tbody tr td .h-txtbox-1 + .date {margin-top:5px;}
    /* 사진, 이름, 경력 */
    .h-volunteer-wrap {display:flex; flex-flow:row wrap; align-items:center; box-sizing:border-box;}
    .h-volunteer-wrap .photo-wrap {width:65px; height:65px; border-radius:50%; background-color:#fff; border:1px solid var(--neutral-2); overflow:hidden;}
    .h-volunteer-wrap .photo-wrap + .info-wrap {margin-left:15px;}
    .h-volunteer-wrap .info-wrap .name {font-size:var(--text-subtitle4); font-weight:var(--text-bold); color:var(--black-2); line-height:24px;}
    .h-volunteer-wrap .info-wrap .age {font-size:var(--text-subtitle5); color:var(--black-3); line-height:24px;}

/* 공고와 연관된 추천인재 */
.h-academy-recruit .h-title-info {position:relative; display:inline-flex; align-items:center; font-size:var(--text-h3); font-weight:var(--text-bold); color:var(--black-1);}


/* pagination 영역 */
.h-academy-recruit .h-pagination-wrap {position:relative; display:flex; align-items:center; margin-top:40px;}
.h-academy-recruit .h-pagination-wrap .h-button-excel {position:absolute; top:0; left:0; padding-left:44px; margin-left:0;}
.h-academy-recruit .h-pagination-wrap .h-button-excel::after {position:absolute; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); left:20px; content:''; display:inline-block; width:18px; height:15px; background:url('../images/icon_resume_download.png') center no-repeat;}
.h-academy-recruit .h-pagination-wrap .h-pagination {display:inline-flex; margin:-1px auto 0;}
.h-academy-recruit .h-pagination-wrap + .h-subtxtbox-01 {margin-top:50px; padding:30px !important;}
.h-academy-recruit .h-pagination-wrap + .h-subtxtbox-01 .text-subtitle5 {line-height:24px;}



/* ==================================== 인재정보 - 검색 상세 ==================================== */
.htSearch-tab-wrap {}

/* Tab */
.htSearch-tab {margin-top:30px;}
.htSearch-tab>input[type="radio"] {z-index:-1;}
.htSearch-tab>input[type="radio"]:first-child + label {margin-left:0;}
.htSearch-tab>input[type="radio"] + label {display:inline-flex; justify-content:flex-start; align-items:center; position:relative; padding-left:20px; padding-right:20px; margin-bottom:15px; font-size:var(--text-subtitle3); color:var(--black-2); line-height:normal; text-align:left; background-color:#fff; border-color:var(--border-basic-2); box-sizing:border-box;}
.htSearch-tab input[type="radio"] + label::before {position:inherit; opacity:1; border-radius:0; transition-property:none; transform:scale(1); background-color:transparent;}
.htSearch-tab input[type="radio"]:focus + label::before,
.htSearch-tab input[type="radio"] + label:hover::before {transform:scale(1);}
.htSearch-tab>input[type="radio"] + label::after {position:absolute; right:20px; content:''; width:20px; height:20px; background:url('../images/arrow_circle.png') left center no-repeat;}
.htSearch-tab>input[type="radio"].tab-detail + label {width:135px;}
.htSearch-tab>input[type="radio"]:not(.tab-detail) + label {flex-basis:190px;}
    .htSearch-tab>input[type="radio"]:not(.tab-detail) + label::before {display:inline-block; content:''; height:24px; margin-right:10px; background-color:transparent; background-size:auto 24px; background-repeat:no-repeat;}
    .htSearch-tab>input[type="radio"].tab-area + label::before {width:23px; background-image:url('../images/icon_area.png');} 
    .htSearch-tab>input[type="radio"].tab-duty + label::before {width:24px; background-image:url('../images/icon_duty.png');} 
    .htSearch-tab>input[type="radio"].tab-academic + label::before {width:24px; background-image:url('../images/icon_academic.png');} 
    .htSearch-tab>input[type="radio"].tab-career + label::before {width:22px; background-image:url('../images/icon_career.png');} 
    .htSearch-tab>input[type="radio"].tab-time + label::before {width:25px; background-image:url('../images/icon_time.png');} 
    /* Tab - checked */
    .htSearch-tab>input[type="radio"]:checked + label {background-color:var(--teal); border-color:var(--teal);}
    .htSearch-tab>input[type="radio"]:checked + label::before,
    .htSearch-tab>input[type="radio"]:checked + label::after {background-position-x:right;}

    
/* Tab - contents */
.htSearch-tab>.tabCo-Wrap {border:none; margin-top:0;}
.htSearch-tab>.tabCo-Wrap .tabCo-CommonBox {height:190px; background:#fff; border:2px solid var(--grey-3); border-radius:4px 4px 0 0; box-sizing:border-box; box-shadow:0 5px 10px #0000001A;}
    /* Tab 안에 Slide Tab */
    .h-tab-container {position:relative; width:100%; height:100%;}
    .h-tab-container .tabs-wrap {display:flex; width:100%; height:54px;}
    .h-tab-container .tabs-wrap .tab-link {position:relative; display:inline-flex; align-items:center; width:auto !important; margin-left:45px; font-size:var(--text-subtitle4); color:var(--black-2); cursor:pointer;}
    .h-tab-container .tabs-wrap .tab-link.current {font-weight:var(--text-medium); color:var(--blue-3);}
    .h-tab-container .tabs-wrap .tab-link.current::after {position:absolute; bottom:0; left:0; z-index:1; content:''; width:100%; height:3px; background-color:var(--blue-3);}
    /* Slide Navigation Arrows */
    .h-tab-container .btn-arrow {top:0; width:45px; height:54px; margin-top:0; background:#fff; border-style:solid; border-color:var(--border-basic-3); box-sizing:border-box;}
    .h-tab-container .btn-arrow::after {width:100%; height:100%; display:inline-flex; flex-flow:row wrap; justify-content:center; align-items:center; font-family:'Material Icons'; font-style:normal; font-size:18px; font-weight:600; color:var(--grey-2); box-sizing:border-box;}
    .h-tab-container .btn-prev {left:0; border-width:0 1px 1px 0;}
    .h-tab-container .btn-prev::after {content:'arrow_back_ios'; margin-left:8px;}
    .h-tab-container .btn-next {right:0; border-width:0 0 1px 1px;}
    .h-tab-container .btn-next::after {content:'arrow_forward_ios'; margin-right:1px;}
    .h-tab-container .btn-arrow.swiper-button-disabled {opacity:1 !important;}
    .h-tab-container .btn-arrow.swiper-button-disabled::after{color:var(--grey-1);}

    /* Tab 안에 Tab - contents */
    .h-tab-container .tabs-wrap ~ .tab-content-wrap {border-top:1px solid var(--border-basic-3);}
    .h-tab-container .tab-content-wrap {height:calc(100% - 53px); margin-top:-1px; overflow-x:hidden; overflow-y:auto; box-sizing:border-box;}
    .h-tab-container .tab-content-wrap:only-child {height:100%; margin-top:0;}
        .h-tab-container .tab-content-wrap::-webkit-scrollbar {width:14px;}
        .h-tab-container .tab-content-wrap::-webkit-scrollbar-thumb {height:30%; border-style:solid; border-color:#fff; border-width:5px 3px; box-sizing:border-box;}
    .h-tab-container .tab-content {position:relative; display:none; width:100%; padding:15px 20px; box-sizing:border-box;}
    .h-tab-container .tab-content.current {display:flex;}    
    .h-tab-container .tab-content .tab-check-list {display:flex; flex-flow:row wrap; width:calc(100% + 10px); margin-left:-10px;}
    .h-tab-container .tab-content .tab-check-list li {display:inline-flex; align-items:center; height:34px; box-sizing:border-box;}
    .h-tab-container .tab-content .tab-check-list li .h-checkbox {margin:0 !important; width:100%;}
    .h-tab-container .tab-content .tab-check-list li .h-checkbox.checkbox04 input[type="checkbox"] + label {display:block; width:100%; height:100%; padding:8px 10px; color:var(--black-3); box-sizing:border-box; text-align:left; transition:color 0s !important; -webkit-transition:color 0s !important;}
    .h-tab-container .tab-content .tab-check-list li .h-checkbox.checkbox04 input[type="checkbox"] + label::after {left:14px; top:11.5px;}
    .h-tab-container .tab-content .tab-check-list li .h-checkbox.checkbox04 input[type="checkbox"]:checked + label {font-weight:var(--text-medium); color:var(--blue-3); background-color:var(--neutral-3);}
        /* 4열 */
        .h-tab-container .tab-content .col-4 li {flex:0 1 calc(25% - 10px); margin-left:10px;}
        /* 5열 */
        .h-tab-container .tab-content .col-5 li {flex:0 1 calc(20% - 10px); margin-left:10px;}
        /* 7열 */
        .h-tab-container .tab-content .col-7 li {flex:0 1 calc(100% / 7 - 10px); margin-left:10px;}

    /* 근무형태, 상세조건 - 검색옵션 */
    .h-tab-container .tab-content .h-bullet-01 {display:inline-flex; flex-flow:column wrap; width:100%; margin:8px 0 8px 10px; font-size:var(--text-subtitle4); color:var(--black-3); box-sizing:border-box;}
    .h-tab-container .tab-content .h-bullet-01 > li {display:flex; flex-flow:row wrap; align-items:center; min-height:24px; padding-left:12px;}
    .h-tab-container .tab-content .h-bullet-01 > li::after {top:11px;}
    .h-tab-container .tab-content .h-bullet-01 > li.height-46:after {top:22px;}
    .h-tab-container .tab-content .h-bullet-01 > li:not(:first-child) {margin-top:20px;}
    .h-tab-container .tab-content .h-bullet-01 > li .item-name {align-self:flex-start; display:flex; align-items:center; width:100px; height:24px; color:var(--black-3); box-sizing:border-box;}

    .h-tab-container .cont-select-wrap,
    .h-tab-container .cont-check-list {flex-grow:1; display:inline-flex; flex-flow:row wrap; width:calc(100% - 130px); max-width:870px; margin-left:30px; box-sizing:border-box;}
    .h-tab-container .cont-check-list + .cont-check-list {margin-left:auto; margin-top:12px;}
    .h-tab-container .cont-check-list li {display:inline-flex; flex-flow:row wrap; padding-left:0; box-sizing:border-box;}
    .h-tab-container .cont-check-list li::after {display:none;}
    .h-tab-container .cont-check-list li:not(:first-child) {margin-left:30px;}
    .h-tab-container .cont-check-list li .h-checkbox {display:inline-flex; align-items:center; margin:0;}
    .h-tab-container .cont-check-list li .h-checkbox.checkbox01 input[type="checkbox"] + label {color:var(--black-2);}
    .h-tab-container .cont-check-list li .h-checkbox.checkbox01 input[type="checkbox"] + label::before {margin-top:0;}
    .h-tab-container .cont-check-list li .h-checkbox.checkbox01 input[type="checkbox"] + label::after {top:10px;}
    .h-tab-container .cont-select-wrap {align-items:center;}
    .h-tab-container .cont-select-wrap .tilde {display:inline-block; margin-left:5px; margin-right:5px;}
  
    
/* Tab - result 선택한 검색옵션 표기 */
.htSearch-result-wrap {padding:25px 30px; font-size:var(--text-subtitle4); color:var(--black-5); line-height:16px; background-color:var(--neutral-2); border:1px solid var(--border-basic-2); border-radius:0 0 4px 4px; box-sizing:border-box;}
    /* Depth 없는 경우 */
    .result-list-1 {display:flex; flex-flow:row wrap;}
    .result-list-1 li {display:inline-flex; align-items:center; height:34px; padding-left:15px; padding-right:15px; font-size:var(--text-subtitle4); color:var(--black-2); background:#fff; border:1px solid var(--border-basic-2); border-radius:90px; box-sizing:border-box;}
    .result-list-1 li:not(:last-child) {margin-right:5px;}
    /* Depth 있는 경우 */
    .result-list-depth-1 {display:flex; flex-flow:row wrap;}
    .result-list-depth-1 li {display:inline-flex; align-items:center; font-size:var(--text-subtitle4); color:var(--black-2);}
    .result-list-depth-1 li:not(.cate-group):not(:last-child) {margin-right:10px;}
    .result-list-depth-1 li.cate-group::after {content:'>'; display:inline-block; margin-left:5px; margin-right:5px; color:var(--black-6);}
    /* 간격 */
    .htSearch-result-wrap [class^="result-list-"] + [class^="result-list-"] {margin-top:14px;}
    /* button - 삭제 */
    .htSearch-result-wrap .deleteKywrd {width:15px; height:15px; text-indent:-9999px; margin-left:5px; background:transparent url(../images/icon_cancel.svg) center no-repeat; background-size:15px 15px;}


/* 스페셜 강사 */
.h-special-teacher-list {display:flex; flex-flow:row wrap;}
.h-special-teacher-list :is(.item-box, .banner-box) {position:relative; flex:0 1 350px; display:flex; flex-flow:row wrap; padding:25px 20px 20px; font-size:var(--text-subtitle5); border-radius:10px; box-sizing:border-box; overflow:hidden;}
.h-special-teacher-list .item-box {color:var(--black-3); background-color:#fff; border:1px solid var(--border-basic-4); word-wrap:break-word; word-break:keep-all;}
.h-special-teacher-list :is(.item-box, .banner-box):not(:nth-child(3n+1)) {margin-left:15px;}
.h-special-teacher-list :is(.item-box, .banner-box):nth-child(n+4) {margin-top:15px;}
    /* 사진, 이름, 성별, 나이 */
    .h-special-teacher-list .item-box .thumb-wrap {width:65px;}
    .h-special-teacher-list .item-box .thumb-wrap .photo {display:inline-flex; justify-content:center; align-items:center; width:65px; height:65px; border-radius:50%; border:1px solid var(--border-basic-4); box-sizing:border-box; overflow:hidden;}
    .h-special-teacher-list .item-box .thumb-wrap .photo img {max-width:100%;}
    .h-special-teacher-list .item-box .thumb-wrap .name {margin-top:6px; text-align:center; font-size:var(--text-subtitle4); font-weight:var(--text-bold); color:var(--black-2); line-height:18px;}
    .h-special-teacher-list .item-box .thumb-wrap .name .pl {display:block; font-size:var(--text-subtitle5); font-weight:var(--text-regular); color:var(--black-3);}
    /* 경력, 이력서 제목, 지역, 근무형태, 학력, 상태 등 */
    .h-special-teacher-list .item-box .info_wrap {width:calc(100% - 80px); margin-left:15px; box-sizing:border-box;}
    .h-special-teacher-list .item-box .info_wrap .career {font-size:var(--text-subtitle4); color:var(--blue-3);}
    .h-special-teacher-list .item-box .info_wrap .title-wrap {min-height:42px; margin-top:8px; font-size:var(--text-subtitle2); font-weight:var(--text-bold); color:var(--black-2); line-height:22px; display:-webkit-box; vertical-align:middle; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; text-overflow:ellipsis; overflow:hidden;}
    .h-special-teacher-list .item-box .info_wrap .title-wrap .title {vertical-align:middle;}
    .h-special-teacher-list .item-box .info_wrap .title-wrap [class^="h-txtbox"] {height:20px; font-size:var(--text-subtitle6); vertical-align:middle; line-height:20px; margin-left:2px;}
    .h-special-teacher-list .item-box .info_wrap .academic {margin-top:7px;}
    .h-special-teacher-list .item-box .info_wrap .title-wrap + .info-list {margin-top:10px;}
        /* list - 지역, 근무형태 등 */
        .info_wrap .info-list {display:flex; flex-flow:row wrap; width:100%;}
        .info_wrap .info-list li.cate-group::after {content:'>'; display:inline-block; margin-left:4px; margin-right:2px; color:var(--black-6);}
        .info_wrap .info-list li:not(.cate-group):not(:last-child)::after {content:','; display:inline-block; margin-right:4px;}
        .info_wrap .info-list + .info-list {margin-top:7px;}
        /* 상태, 시강 */
        .status-txtbox {display:inline-flex; margin-top:15px;}
        .status-txtbox .h-txtbox-1 {height:24px; font-size:var(--text-subtitle6); color:var(--cyan); border:1px solid var(--grey-1); border-radius:50px;}
        .status-txtbox .h-txtbox-1 + .h-txtbox-1 {margin-left:5px;}
        .status-txtbox .h-txtbox-1.video {color:var(--black-3);}
        .status-txtbox .h-txtbox-1.video::before {display:inline-block; content:''; width:8px; height:8px; margin-right:6px; background:url(../images/icon_video_play_red.svg) center no-repeat; background-size:8px;}
    /* banner - 스페셜 강사 결제 */
    .h-special-teacher-list .banner-box {padding:0;}
    .h-special-teacher-list .banner-box a {display:flex; flex-direction:column; width:100%; height:100%; padding:40px; background:#6089B2 url(../images/h-special-teacher.svg) 183px 88px no-repeat; border-radius:10px; box-sizing:border-box; transition:all ease-out 0.3s;}
    .h-special-teacher-list .banner-box .bnr-text {font-size:var(--text-subtitle4); font-weight:var(--text-light); color:#fff; line-height:22px; word-wrap:break-word; word-break:keep-all;}
    .h-special-teacher-list .banner-box .bnr-title {font-size:var(--text-subtitle2); font-weight:var(--text-medium); color:#fff; line-height:20px; word-wrap:break-word; word-break:keep-all;}
    .h-special-teacher-list .banner-box .ico_arrow img {width:42px; height:42px;} 
    .h-special-teacher-list .banner-box .bnr-text + .bnr-title {margin-top:26px;}
    .h-special-teacher-list .banner-box .bnr-title + .ico_arrow {margin-top:13px;}
        /* hover */
        .h-special-teacher-list .banner-box:hover a {background-position:178px 83px;}


/* 인재정보 리스트 */
.h-list-option-box .h-radio-04 {margin:0; background-color:transparent;}
.h-list-option-box .h-radio-04 label {background-color:#fff;}
.h-list-option-box .h-radio-04 label ~ label {margin-left:6px;}
.h-list-option-box .h-button-icon-refresh {margin-right:0;}
/* Table - 인재정보 리스트 */
.h-tbl-resume thead tr th:first-child {padding-left:20px;}
.h-tbl-resume tbody tr th:first-child {padding-left:20px; vertical-align:top;}
.h-tbl-resume thead tr th:last-child,
.h-tbl-resume tbody tr td:last-child {padding-right:20px;}
.h-tbl-resume tbody tr th,
.h-tbl-resume tbody tr td {padding:20px 0;}
    /* 사진, 이름, 성별, 나이 */
    .h-tbl-resume .thumb-wrap {width:160px; height:100%; display:flex; flex-direction:row; align-items:center;}
    .h-tbl-resume .thumb-wrap .photo {display:inline-flex; justify-content:center; width:65px; height:65px; border-radius:50%; border:1px solid var(--border-basic-4); box-sizing:border-box; overflow:hidden;}
    .h-tbl-resume .thumb-wrap .photo img {max-width:100%;}
    .h-tbl-resume .thumb-wrap .name {width:calc(100% - 80px); margin-left:15px; text-align:left; font-size:var(--text-subtitle4); font-weight:var(--text-bold); color:var(--black-2); text-overflow:ellipsis; white-space:nowrap; overflow:hidden; line-height:18px;}
    .h-tbl-resume .thumb-wrap .name .pl {display:block; margin-top:5px; font-size:var(--text-subtitle5); font-weight:var(--text-regular); color:var(--black-3);}
    /* 이력서 정보 - 제목, 학력, 경력, 근무형태, 희망 근무지 등 */
    .h-tbl-resume .h-job-info {max-width:730px; padding-left:5px; padding-right:5px; text-align:left;}
    .h-tbl-resume .h-job-info .academy-wrap .academy .h-txtbox-1 {margin-left:10px;}
    .h-tbl-resume .h-job-info .academy-wrap .academy .txt-ellipsis {max-width:calc(100% - 84px);}
    .h-tbl-resume .h-job-info .academy-wrap .academy .btn-scrap[type="checkbox"] + label {margin-top:-3px;}
    .h-tbl-resume .h-job-info .academy-wrap + .h-resume-info-list {margin-top:5px;}
    .h-tbl-resume .h-resume-info-list + .status-txtbox {margin-top:15px;}
        /* list */
        .h-resume-info-list {display:flex; flex-flow:row wrap; font-size:var(--text-subtitle5);}
        .h-resume-info-list .list-group {display:inline-flex; flex-flow:row wrap; color:var(--black-2);}
        .h-resume-info-list .list-group:not(:first-child):not(.hope-area)::before {display:inline-block; content:''; width:1px; height:13px; margin:5px 10px 0; background-color:var(--border-basic-2);}
        .h-resume-info-list .list-group .item-name {color:var(--black-3);}
        .h-resume-info-list .list-group .item-name::after {content:':'; display:inline-block; margin-left:3px; margin-right:3px;}
        .h-resume-info-list .list-group.info_wrap .info-list {display:inline-flex; width:auto;}
        .h-resume-info-list .list-group.hope-area {width:100%;}
        .h-resume-info-list .list-group.hope-area .info-list {width:calc(100% - 70px);}
    /* 이력서 확인 - 이력서 보기, 연락처 공개제의 */
    .h-tbl-resume .btn-wrap {width:130px;}
    .h-tbl-resume .btn-wrap [class^="h-button"] {width:100%; padding:0; margin-left:0; margin-right:0;}
    .h-tbl-resume .btn-wrap [class^="h-button"] + [class^="h-button"] {margin-top:5px;}
    .h-tbl-resume .btn-wrap .date {margin-top:20px; font-size:var(--text-subtitle5); color:var(--black-3); text-align:center;}

        
/* ==================================== Side Quick Menu ==================================== */
.quick .q-icon-list {font-size:var(--text-subtitle4); color:var(--black-2); line-height:24px; margin-top:4px; margin-bottom:4px;}
.quick .q-icon-list li:not(:first-child) {margin-top:19px;}
.quick .q-icon-list .qbtn-icon-1 {display:flex; flex-flow:row wrap; align-items:center; color:var(--black-2);}
.quick .q-icon-list .qbtn-icon-1 .btn-icon {display:inline-flex; justify-content:center; align-items:center; width:20px; height:20px;}
.quick .q-icon-list .qbtn-icon-1 .btn-icon img {max-width:100%; max-height:100%;}
.quick .q-icon-list .qbtn-icon-1 .btn-name {display:inline-block;}
.quick .q-icon-list .qbtn-icon-1 .btn-icon + .btn-name {margin-left:14px;}
.quick .q-select-1 {width:100% !important; color:var(--black-2);}
.quick .qbtn-msg-send {display:inline-flex; justify-content:center; align-items:center; width:100%; font-size:var(--text-subtitle4); color:var(--black-2); padding-top:30px; padding-bottom:30px;}
.quick .qbtn-msg-send .qicon-message {margin-right:10px;}



/* ==================================== Template ==================================== */
/* 공통 */
.h-recruitment-page {width:850px; margin-left:auto; margin-right:auto; padding-bottom:50px;}
.h-recruitment-page .template-wrap {width:100%;}
.h-recruitment-page .template-wrap .tpl-section {margin-top:50px;}
.h-recruitment-page .template-wrap .tpl-section .section-title {position:relative; margin-bottom:20px; font-size:var(--text-h4); font-weight:var(--text-bold); line-height:24px;}
.h-recruitment-page .template-wrap .tpl-section .section-title span {position:relative;}
/* 채용공고 제목 영역 */
.h-recruitment-page .template-wrap .tpl-header {width:100%;}
.h-recruitment-page .template-wrap .tpl-header .tpl-intro-title {font-size:var(--text-h1); font-weight:var(--text-bold); line-height:40px;}
.h-recruitment-page .template-wrap .tpl-header .tpl-intro-text {font-size:var(--text-subtitle3); line-height:24px;}
.h-recruitment-page .template-wrap .tpl-header .tpl-intro-text strong {font-size:var(--text-subtitle3); font-weight:var(--text-medium); line-height:24px;}
/* 모집부문, 담당과목 및 업무, 자격요건 */
.h-recruitment-page .template-wrap .tpl-tbl-recruit {margin-top:50px;}
.h-recruitment-page .template-wrap .tpl-tbl-recruit .recruit-group {display:flex;}
.h-recruitment-page .template-wrap .tpl-tbl-recruit .recruit-group .group-align {display:inline-flex; flex-grow:1;}
.h-recruitment-page .template-wrap .tpl-tbl-recruit .recruit-group .cate {}
.h-recruitment-page .template-wrap .tpl-tbl-recruit .recruit-group .cate .title {position:relative; font-size:var(--text-subtitle3);}
.h-recruitment-page .template-wrap .tpl-tbl-recruit .recruit-group .cate .subject {display:block; font-size:var(--text-subtitle3); font-weight:var(--text-medium); color:var(--black-2); line-height:24px;}
.h-recruitment-page .template-wrap .tpl-tbl-recruit .recruit-group .cate .period {display:block; font-size:var(--text-subtitle3); color:var(--black-3); line-height:24px;}
/* 전형절차 */
.h-recruitment-page .template-wrap .tpl-list-step {display:inline-flex; align-items:center;}
.h-recruitment-page .template-wrap .tpl-list-step li {position:relative; display:inline-flex; justify-content:center; align-items:center;}
.h-recruitment-page .template-wrap .tpl-list-step .num-box {}
.h-recruitment-page .template-wrap .tpl-list-step .num-box .num {}
.h-recruitment-page .template-wrap .tpl-list-step .num-box .txt {}
.h-recruitment-page .template-wrap .tpl-list-step .step {font-size:var(--text-subtitle3); line-height:20px;}
/* list type 1 - hyphen */
.h-recruitment-page .template-wrap .tpl-list-hyphen-1 {font-size:var(--text-subtitle3); color:var(--black-2); line-height:24px;}
.h-recruitment-page .template-wrap .tpl-list-hyphen-1 li {position:relative; padding-left:10px;}
.h-recruitment-page .template-wrap .tpl-list-hyphen-1 li::before {position:absolute; top:12px; left:0; content:''; display:inline-block; width:4px; height:1px; background-color:currentcolor;}
.h-recruitment-page .template-wrap .tpl-list-hyphen-1 li .tit {color:var(--black-5);}
.h-recruitment-page .template-wrap .tpl-list-hyphen-1 li .tit::after {content:':'; display:inline-block; margin-left:4px; margin-right:4px;}
.h-recruitment-page .template-wrap .tpl-list-hyphen-1 li .txt {}
/* list type 2 - dot */
.h-recruitment-page .template-wrap .tpl-list-dot-1 {font-size:var(--text-subtitle3); color:var(--black-2); line-height:26px;}
.h-recruitment-page .template-wrap .tpl-list-dot-1 li {position:relative; padding-left:12px;}
.h-recruitment-page .template-wrap .tpl-list-dot-1 li::before {position:absolute; top:12px; left:4px; content:''; display:inline-block; width:2px; height:2px; background-color:currentcolor; border-radius:50%;}
.h-recruitment-page .template-wrap .tpl-list-dot-1 li .tit {color:var(--black-5);}
.h-recruitment-page .template-wrap .tpl-list-dot-1 li .tit::after {content:':'; display:inline-block; margin-left:4px; margin-right:4px;}
.h-recruitment-page .template-wrap .tpl-list-dot-1 li .txt {}
/* buttet type1 - dot */
.h-recruitment-page .template-wrap .bullet-dot {position:relative; padding-left:7px; margin-top:15px; font-size:var(--text-subtitle4); color:var(--black-3);}
.h-recruitment-page .template-wrap .bullet-dot::before {position:absolute; top:8px; left:0; content:''; display:inline-block; width:2px; height:2px; background-color:currentcolor; border-radius:50%;}

    /* 템플릿 디자인 #1 - template-01 */
    .template-01 .tpl-header .tpl-intro-title {display:flex; align-items:center; width:100%; min-height:220px; padding:0 300px 0 50px; color:#fff; background:#78a6fe url(../images/template_bnr_01.jpg) bottom center no-repeat; background-size:contain; box-sizing:border-box;}
    .template-01 .tpl-header .tpl-intro-text {margin-top:20px; color:var(--black-3); text-align:center;}
    .template-01 .tpl-header .tpl-intro-text strong {color:var(--black-2);}
    .template-01 .tpl-tbl-recruit {border-top:4px solid #79A5FC;}
    .template-01 .tpl-tbl-recruit .recruit-group {display:flex; border-bottom:1px solid #EBEBEB;}
    .template-01 .tpl-tbl-recruit .recruit-group .cate:nth-child(1) {width:230px;}
    .template-01 .tpl-tbl-recruit .recruit-group .cate:not(:first-child) {border-left:1px solid #EBEBEB;}
    .template-01 .tpl-tbl-recruit .recruit-group .group-align {border-left:1px solid #EBEBEB;}
    .template-01 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(1) {flex-grow:1;}
    .template-01 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(2) {width:210px;}    
    .template-01 .tpl-tbl-recruit .recruit-group:nth-child(1) .cate .title {display:inline-flex; width:100%; height:54px; justify-content:center; align-items:center; color:var(--black-5); background-color:var(--neutral-3); border-bottom:1px solid #EBEBEB;}
    .template-01 .tpl-tbl-recruit .recruit-group:not(:nth-child(1)) .cate .title {display:none;}
    .template-01 .tpl-tbl-recruit .recruit-group .cate .text {padding:25px 20px;}
    .template-01 .tpl-tbl-recruit .recruit-group .cate .text :is(.subject, .period) {text-align:center;}
    .template-01 .tpl-header + .tpl-section .section-title {display:none;}
    .template-01 .tpl-section .section-title {color:#79A5FC;}
    .template-01 .tpl-section .section-title span::before {position:absolute; bottom:3px; left:0; z-index:-1; content:''; width:100%; height:4px; background-color:#F8D061;}
    .template-01 .tpl-list-step {margin-bottom:10px;}
    .template-01 .tpl-list-step li {width:130px; height:130px; border:4px solid #79A5FC; border-radius:50%; box-sizing:border-box;}
    .template-01 .tpl-list-step li:not(:first-child) {margin-left:40px;}
    .template-01 .tpl-list-step li:not(:last-child)::after {position:absolute; left:calc(100% + 4px); content:''; display:inline-flex; justify-content:center; align-items:center; width:40px; height:20px; background:url(../images/template_arrow_01.svg) center no-repeat; box-sizing:border-box;}
    .template-01 .tpl-list-step li .num-box {position:absolute; top:16px; display:flex; justify-content:center; align-items:center; font-size:var(--text-subtitle5); color:#79A5FC;}
    .template-01 .tpl-list-step + .bullet-dot {display:none;}

    /* 템플릿 디자인 #2 - template-02 */
    .template-02 .tpl-header .tpl-intro-title {display:flex; align-items:center; width:100%; min-height:220px; padding:0 300px 0 50px; color:var(--black-2); background:#94fdd2 url(../images/template_bnr_02.jpg) bottom center no-repeat; background-size:contain; box-sizing:border-box;}
    .template-02 .tpl-header .tpl-intro-text {margin-top:20px; color:var(--black-3);}
    .template-02 .tpl-header .tpl-intro-text strong {color:var(--black-2);}
    .template-02 .tpl-tbl-recruit {border-top:4px solid #94FED1 ;}
    .template-02 .tpl-tbl-recruit .recruit-group {display:flex; border-bottom:1px solid #EBEBEB;}
    .template-02 .tpl-tbl-recruit .recruit-group .cate:nth-child(1) {width:230px;}
    .template-02 .tpl-tbl-recruit .recruit-group .cate:not(:first-child) {border-left:1px solid #EBEBEB;}
    .template-02 .tpl-tbl-recruit .recruit-group .group-align {border-left:1px solid #EBEBEB;}
    .template-02 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(1) {flex-grow:1;}
    .template-02 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(2) {width:210px;}   
    .template-02 .tpl-tbl-recruit .recruit-group .cate:not(:first-child) {border-left:1px solid #EBEBEB;}
    .template-02 .tpl-tbl-recruit .recruit-group:nth-child(1) .cate .title {display:inline-flex; width:100%; height:54px; justify-content:center; align-items:center; color:var(--black-2); border-bottom:1px solid #EBEBEB;}
    .template-02 .tpl-tbl-recruit .recruit-group:not(:nth-child(1)) .cate .title {display:none;}
    .template-02 .tpl-tbl-recruit .recruit-group .cate .text {padding:25px 20px;}
    .template-02 .tpl-tbl-recruit .recruit-group .cate .text :is(.subject, .period) {text-align:center;}
    .template-02 .tpl-header + .tpl-section .section-title {display:none;}
    .template-02 .tpl-section .section-title {padding-left:34px; color:var(--black-2);}
    .template-02 .tpl-section .section-title::before {position:absolute; top:0; left:0; content:''; width:24px; height:24px; background:url(../images/template_bullet_02.svg) center no-repeat; background-size:24px;}
    .template-02 .tpl-section .section-title + :is(.tpl-list-dot-1, .tpl-list-step),
    .template-02 .tpl-section .bullet-dot {margin-left:34px;}
    .template-02 .tpl-list-step li {width:160px; height:80px; border-radius:10px; color:var(-black-2); background-color:#94FDD1;}
    .template-02 .tpl-list-step li:not(:first-child) {margin-left:10px;}
    .template-02 .tpl-list-step .num-box {position:absolute; top:15px; left:10px; width:17px; height:17px; display:inline-flex; justify-content:center; align-items:center; border:2px solid #333; border-radius:50%; box-sizing:border-box;}
    .template-02 .tpl-list-step .num-box .num {font-size:11px; font-weight:var(--text-bold);}
    .template-02 .tpl-list-step .num-box .txt {display:none;}

    /* 템플릿 디자인 #3 - template-03 */
    .template-03 .tpl-header {display:flex; flex-flow:column wrap; justify-content:center; width:100%; min-height:280px; padding:0 300px 0 50px; color:#fff; background:#1b1e3d url(../images/template_bnr_03.jpg) bottom center no-repeat; background-size:contain; border-radius:15px; box-sizing:border-box;}
    .template-03 .tpl-header .tpl-intro-title + .tpl-intro-text {margin-top:20px;}
    .template-03 .tpl-header .tpl-intro-text {color:#fff;}
    .template-03 .tpl-header .tpl-intro-text strong {font-weight:var(--text-regular) !important; color:#FFFF1E;}
    .template-03 .tpl-tbl-recruit {margin-top:20px !important; border-top:4px solid #606AB7;}    
    .template-03 .tpl-section .section-title {width:100%; padding-left:38px; color:var(--black-1 ); box-sizing:border-box;}
    .template-03 .tpl-section .section-title::before {position:absolute; top:0; left:0; content:''; width:28px; height:24px; background:url(../images/template_bullet_03.svg) center no-repeat; background-size:28px 24px;}
    .template-03 .tpl-section .section-title + :is(.tpl-list-dot-1, .tpl-list-step),
    .template-03 .tpl-section .bullet-dot {margin-left:38px;}
    .template-03 .tpl-tbl-recruit .recruit-group {align-items:stretch; border-bottom:1px solid #EBEBEB;}
    .template-03 .tpl-tbl-recruit .recruit-group .cate:nth-child(1) .title {display:none;}
    .template-03 .tpl-tbl-recruit .recruit-group > .cate .text {display:flex; flex-flow:column wrap; justify-content:center; align-items:center; width:230px; height:100%;}
    .template-03 .tpl-tbl-recruit .recruit-group .group-align {display:flex; flex-flow:column wrap; padding:25px; border-left:1px solid #EBEBEB; box-sizing:border-box;}
    .template-03 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(1) {flex-grow:1; width:auto;}
    .template-03 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(1) .title {display:block;}
    .template-03 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(2) {width:210px; margin-top:20px;} 
    .template-03 .tpl-tbl-recruit .recruit-group .group-align .cate .title {margin-bottom:12px; font-weight:var(--text-bold);} 
    .template-03 .tpl-list-step li {width:170px; height:140px; background:url(../images/template_step_bg.svg) no-repeat;}
    .template-03 .tpl-list-step li:not(:first-child) {margin-left:5px;}
    .template-03 .tpl-list-step li .step {position:relative; z-index:2; color:#fff;}
    .template-03 .tpl-list-step li .num-box {display:none;}
    .template-03 .tpl-list-dot-1 li {padding-left:8px !important;}
    .template-03 .tpl-list-dot-1 li::before {left:0 !important;}

    /* 템플릿 디자인 #4 - template-04 */
    .template-04 .tpl-header .tpl-intro-title {display:flex; flex-flow:column wrap; justify-content:center; width:100%; min-height:220px; padding:0 300px 0 50px; color:#fff; background:#1b1e3d url(../images/template_bnr_04.jpg) bottom center no-repeat; background-size:cover; border-radius:15px; box-sizing:border-box;}
    .template-04 .tpl-header .tpl-intro-title + .tpl-intro-text {margin-top:20px;}
    .template-04 .tpl-header .tpl-intro-text {text-align:center; color:var(--black-3);}
    .template-04 .tpl-header .tpl-intro-text strong {color:var(--black-2);}
    .template-04 .tpl-tbl-recruit {margin-top:20px !important; border-top:4px solid #1AA882;}    
    .template-04 .tpl-section .section-title {width:100%; padding-left:34px; color:#1AA882; box-sizing:border-box;}
    .template-04 .tpl-section .section-title::before {position:absolute; top:0; left:0; content:''; width:24px; height:24px; background:url(../images/template_bullet_04.svg) center no-repeat; background-size:24px 24px;}
    .template-04 .tpl-section .section-title + :is(.tpl-list-dot-1, .tpl-list-step),
    .template-04 .tpl-section .bullet-dot {margin-left:34px;}
    .template-04 .tpl-tbl-recruit .recruit-group {align-items:stretch; border-bottom:1px solid #EBEBEB;}
    .template-04 .tpl-tbl-recruit .recruit-group .cate:nth-child(1) .title {display:none;}
    .template-04 .tpl-tbl-recruit .recruit-group > .cate .text {display:flex; flex-flow:column wrap; justify-content:center; align-items:center; width:230px; height:100%; background-color:var(--neutral-3);}
    .template-04 .tpl-tbl-recruit .recruit-group .group-align {display:flex; flex-flow:column wrap; padding:25px; border-left:1px solid #EBEBEB; box-sizing:border-box;}
    .template-04 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(1) {flex-grow:1; width:auto;}
    .template-04 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(1) .title {display:block;}
    .template-04 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(2) {width:210px; margin-top:20px;} 
    .template-04 .tpl-tbl-recruit .recruit-group .group-align .cate .title {margin-bottom:12px; font-weight:var(--text-bold);} 
    .template-04 .tpl-list-step li {position:relative; display:inline-flex; flex-flow:column wrap; justify-content:center; align-items:center; width:140px; height:140px; background-color:#1AA8821A ; border-radius:50%;}
    .template-04 .tpl-list-step li:not(:first-child) {margin-left:40px;}
    .template-04 .tpl-list-step li:not(:last-child)::after {position:absolute; left:calc(100% + 14px); content:''; display:inline-block; width:11px; height:21px; background:url(../images/template_arrow_01.svg) center no-repeat; background-size:contain;}
    .template-04 .tpl-list-step li .step {display:flex; flex-flow:column wrap; justify-content:center; align-items:center; width:120px; height:120px; background-color:#1AA882; border-radius:50%; color:#fff;}
    .template-04 .tpl-list-step li .num-box {display:none;}
    .template-04 .tpl-list-dot-1 li {padding-left:8px !important;}
    .template-04 .tpl-list-dot-1 li::before {left:0 !important;}

    /* 템플릿 디자인 #5 - template-05 */
    .template-05 .tpl-header {display:flex; flex-flow:column wrap; align-items:center; width:100%; min-height:320px; padding:50px; background:#0e151b url(../images/template_bnr_05.jpg) bottom center no-repeat; background-size:cover; border-radius:15px; box-sizing:border-box;}
    .template-05 .tpl-header .tpl-intro-title {color:#fff;}
    .template-05 .tpl-header .tpl-intro-title + .tpl-intro-text {margin-top:20px;}
    .template-05 .tpl-header .tpl-intro-text {color:#fff; text-align:center;}
    .template-05 .tpl-header .tpl-intro-text strong {font-weight:var(--text-regular) !important; color:#FFFF1E;}
    .template-05 .tpl-section .section-title {width:100%; padding-left:34px; color:var(--black-2); box-sizing:border-box;}
    .template-05 .tpl-section .section-title::before {position:absolute; top:0; left:0; content:''; width:24px; height:24px; background:url(../images/template_bullet_05.svg) center no-repeat; background-size:24px 24px;}
    .template-05 .tpl-section .section-title + :is(.tpl-list-dot-1, .tpl-list-step),
    .template-05 .tpl-section .bullet-dot {margin-left:34px;}
    .template-05 .tpl-tbl-recruit .recruit-group {flex-flow:column wrap;}
    .template-05 .tpl-tbl-recruit .recruit-group > .cate {display:flex; flex-flow:row wrap; align-items:center; padding:20px 25px; background-color:var(--neutral-3); border-radius:10px; box-sizing:border-box;}
    .template-05 .tpl-tbl-recruit .recruit-group > .cate .title {color:var(--black-5);}
    .template-05 .tpl-tbl-recruit .recruit-group > .cate .title + .text {margin-left:20px;}
    .template-05 .tpl-tbl-recruit .recruit-group > .cate .text {display:flex; flex-flow:row wrap; align-items:center;}
    .template-05 .tpl-tbl-recruit .recruit-group > .cate .text :is(.subject, .period) {line-height:normal;}
    .template-05 .tpl-tbl-recruit .recruit-group > .cate .text .subject::after {content:','; display:inline-block; color:inherit; margin-right:5px;}
    .template-05 .tpl-tbl-recruit .recruit-group .group-align {display:flex; flex-flow:column wrap; margin:20px 25px 0 25px;}
    .template-05 .tpl-tbl-recruit .recruit-group .group-align .cate:nth-child(2) {margin-top:17px;}
    .template-05 .tpl-tbl-recruit .recruit-group .group-align .cate .title {position:relative; padding-left:11px; margin-bottom:9px; font-weight:var(--text-medium); color:var(--black-1);}
    .template-05 .tpl-tbl-recruit .recruit-group .group-align .cate .title::before {position:absolute; top:8px; left:4px; content:''; display:inline-block; width:2px; height:2px; background-color:currentcolor; border-radius:50%;}
    .template-05 .tpl-tbl-recruit .recruit-group .group-align .cate .tpl-list-hyphen-1 {margin-left:8px;}
    .template-05 .tpl-tbl-recruit .recruit-group + .recruit-group {margin-top:30px;}
    .template-05 .tpl-list-step li {padding:20px 30px; color:#fff; background-color:#446585; border-radius:30px; box-sizing:border-box;}
    .template-05 .tpl-list-step li:not(:first-child) {margin-left:10px;}
    .template-05 .tpl-list-step li br {display:none;}
    .template-05 .tpl-list-step li .num-box {display:flex; font-size:var(--text-subtitle3);}
    .template-05 .tpl-list-step li .num-box::after {display:inline-block; content:'-'; color:inherit; margin-left:4px; margin-right:4px;}
    .template-05 .tpl-list-step li .num-box .step {font-weight:var(--text-medium);}
    .template-05 .tpl-list-dot-1 li {padding-left:8px !important;}
    .template-05 .tpl-list-dot-1 li::before {left:0 !important;}
    

/* ==================================== 공통 ==================================== */
.width-120 {width:120px !important; min-width:auto;}
.width-160 {width:160px !important;}
.width-350 {width:350px !important;}
.height-46 {height:46px !important; font-size:ver(--text-subtitle4);}

.h-button-detail {display:inline-flex; width:auto; height:auto; line-height:normal; padding:0; margin:0; font-size:var(--text-subtitle5); color:var(--black-2);}
.h-button-detail::after {content:'east'; font-size:17px; font-family:'Material Icons'; font-style:normal; font-weight:100; height:100%; color:#91969c; margin-left:5px; box-sizing:border-box;}
.h-button-detail span {margin-left:0 !important;}



