@charset "utf-8";

 /***** 팝업 공통*****/
 .h-popup-wrap { display: none; z-index: 1001; display: flex; height: 100%; justify-content: center; left: 0; position: fixed; top: 0; width: 100%; } 
 .h-popup { top: 10%; white-space: normal; display: block; word-wrap: break-word; min-height: 300px; border-radius: 15px; position: relative; margin: 0 auto; flex: 0 0 auto; z-index: 1001; max-height: 95%; -webkit-box-shadow: 0px 5px 10px #0000001A; box-shadow: 0px 5px 10px #0000001A; padding: 40px; background-color: #fff; box-sizing: border-box; height: 80%; max-height: 790px!important; } 
 .h-popup .pop-header { width: 100%; text-align: left; box-sizing: border-box; padding-bottom: 20px; } 
 .h-popup .pop-body { height: calc(100% - 47px); box-sizing: border-box; position: relative; overflow: hidden; } 
 .h-popup .pop-container { width: 100%; height: 100%; box-sizing: border-box; position: relative; word-wrap: break-word; overflow-y: auto; } 
 .h-popup .pop-title { color:var(--black-1); } 
 .h-popup button.close { height: 54px; top: 0px; right: 0px; width: 54px; position: absolute; border: none; cursor: pointer; text-align: center; border-radius: 0 15px 0 0; box-sizing: border-box; } 
 .h-popup button.close img { vertical-align: middle; max-width: 14px; } 
 .h-popup.popup-02 button.close { border-radius: 0 4px 0 0; } 
 .h-popup.popup-02 { border: 2px solid var(--border-basic-1); border-radius: 4px; } 
 .h-popup.popup-03 { border: 2px solid #0000001A; border-radius: 0; padding:0; } 
 .h-popup.popup-03 .pop-header { background-color: var(--neutral-3); padding: 40px 40px 30px; /*max-height: 190px;*/ overflow: hidden; text-overflow: clip; } 
 .h-popup.popup-03 .pop-header p.pop-title {position:relative; text-overflow: clip; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-inline-box; overflow: hidden; padding-bottom: 20px; margin-bottom:15px; width: 100%; border-bottom:1px solid var(--grey-3);} 
 .h-popup.popup-03 .pop-header .subTitle01 { position: relative; font-size: var(--text-subtitle2); /*padding-top: 20px;*/ margin-bottom: 8px; line-height: 21px; text-overflow: clip; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-inline-box; overflow: hidden; width: 100%; } 
 .h-popup.popup-03 .pop-header .subTitle02 { line-height: 20px; text-overflow: clip; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-inline-box; overflow: hidden; width: 100%; } 
 .h-popup.popup-03 .pop-container { padding:30px 40px 40px; } 
 .h-popup.popup-03 .pop-body { height: calc(100% - 190px); } 
 .h-popup-b-g a{margin-bottom: 8px;}



 @media (max-width: 1049px){
    .h-popup{ width: 85% !important; }
 }

 @media (max-width: 799px){
    .h-popup-b-g {flex-direction: column;}
  
 }

 @media (orientation: landscape){

    @media (max-height: 599px){
        .h-popup.popup-03 .pop-container{
            justify-content: flex-start;
        }

    }
 }




/* 팝업 */
.pop-container .basic-serchbox .h-radio-01 {padding:20px; border-radius: 4px; background-color:var(--neutral-3);}
.pop-container .basic-serchbox .h-radio-01 li {font-size: var(--text-subtitle4);}
.pop-container .basic-serchbox .h-radio-01 li + li {margin-top: 10px;}
.pop-container .basic-serchbox .h-radio-01 li .etc {margin-top:10px;margin-left: 40px;}
.pop-container .basic-serchbox > .h-radio-01 {padding:0;}

/* 팝업 공통 */
.pop-container ul.top-list-box + .pop-title {margin-top:30px;} 
.pop-container ul.top-list-box + .basic-serchbox {margin-top:30px;}
.pop-container ul.top-list-box li {position: relative; padding-left:12px; color:var(--black-3);}
.pop-container ul.top-list-box li .h-button-underline {padding:0; margin:0; height: auto; line-height: inherit; font-size: var(--text-subtitle5);}
.pop-container ul.top-list-box li:before {content:'';position: absolute;top: 8px;left: 4px;width:2px;height:2px;background-color:var(--black-3);}


.pop-container .pop-title {margin-bottom:10px;}

.pop-container .col-guide li {display: flex;width:250px;/* height: 200px; */padding: 25px 0;border-radius:10px;background-color:var(--neutral-3);text-align: center;align-items: center;justify-content: flex-start;flex-wrap: nowrap;flex-direction: column; font-weight: 400;}
.pop-container .col-guide li img {height:70px;margin: 18px 0;}


/* .pop-container .srch-box {padding:20px; background-color:var(--neutral-3); border-radius: 4px;} */
.pop-container > .basic-serchbox {padding:20px; margin-bottom:0; margin-top:0; border-radius: 10px; background-color: var(--neutral-3);}

/* 인풋 txt 안에 버튼 */
.pop-container .inp-inner-btn {position:relative;}
.pop-container .inp-inner-btn a {position:absolute; right: 0; top: -10px; transform: translateY(50%);}
.pop-container .inp-inner-btn input {padding:0 80px 0 20px;}

/* 테이블 헤더는 고정이고 바디만 스크롤되는 스타일 */
.scrolltable {max-height:460px;}
.scrolltable table thead {display: table; width:100%;}
.scrolltable table tbody {height: 318px;display: block;overflow-y: auto;overflow-x: hidden;}
.scrolltable table tbody tr {display: table; width:100%;}

/* 팝업내에 테이블 */
.pop-container .h-tbl-basic-1 thead tr th {padding: 15px 5px; background-color:var(--neutral-3);}
.pop-container .h-tbl-basic-1 tbody tr td {padding:15px 10px;}
.pop-container .h-tbl-basic-1 {border-bottom:1px solid var(--grey-3);}
.pop-container .h-tbl-basic-1 + .h-pagination {margin-top:20px;}
.pop-container .h-job-info .academy-wrap + p + p {margin-top:0;}


/* 공통 */
.m0 {margin:0!important;}
.mt5 {margin-top:5px;}
.mb5 {margin-bottom:5px;}
.ml20 {margin-left:20px;}
.pl10 {padding-left:10px;}
.pr10 {padding-right:10px;}
.pop-container .h-radio-02.bg-type input[type="radio"]:checked + label {background-color:var(--cyan); border-color: var(--cyan); color:#fff;}
.pop-container .h-radio-02.bg-type input[type="radio"] + label {/*margin-left:0;*/ width: 100px;}
.pop-container .h-radio-02.bg-type input[type="radio"]:checked + label +input + label {border-left-color: var(--cyan);}
.pop-container .textarea textarea {display:block; padding:20px; margin-top:10px; height:80px; box-sizing: border-box; resize: none; border:1px solid var(--border-basic-2); border-radius: 4px; overflow-y:scroll; font-size: var(--text-subtitle4);}
.pop-container .textarea::placeholder {font-size: var(--text-subtitle4); color:var(--black-6);}

/* 공통 입사지원 팝업 #1 */
.pop-container .resume-top-tit {position:relative; margin-bottom:10px;}
.pop-container .resume-top-btn a {font-size:var(--text-subtitle4);}
.pop-container .basic-serchbox + .resume-top-tit {margin-top:30px;}
.pop-container .basic-serchbox .file-type li a {padding:0; margin:0; font-weight:var(--text-regular); /*font-size: var(--text-subtitle4);*/}
.pop-container .basic-serchbox .file-type li a .fa-trash-o:before {color:var(--grey-1);}
.pop-container .basic-serchbox .file-type li {display: flex;justify-content: space-between; height: 33px;}
.pop-container .basic-serchbox .user-info li {display: flex; align-items: center; font-size: var(--text-subtitle4); color:var(--black-3);}

/* 지원이력서 리스트 */
.pop-arrow-btn {padding-right:30px; background:url('../images/icon_pop_arrow.png') no-repeat 99% 50%;}
.pop-container .resume-list-item {position: absolute;top: 33px;left:0;width:100%;background:#fff;z-index: 1;border:2px solid var(--grey-3);border-radius: 4px;box-sizing: border-box;box-shadow: 0px 5px 10px #0000001A;}
.pop-container .resume-list-item .basic-serchbox {margin: 0;width: calc(100% - 9px);border-radius: 0;padding: 0 0 0 13px;background:transparent;box-sizing: border-box;}
.pop-container .resume-list-item ul {overflow-y: auto; overflow-x: hidden; height: 228px;}
.pop-container .resume-list-item ul li {display: flex;align-items: center;cursor: pointer;padding: 15px;}
.pop-container .resume-list-item ul li:hover {background-color: var(--neutral-3); transition: all ease-out 0.3s;}
.pop-container .resume-list-item ul li .basic-serchbox .btit {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;display: inline-block;width: 87%;}


/* 블릿 */
.resume-list-item .basic-serchbox .blt-basic-txt {padding: 4px 10px;border-radius: 13px;background-color: #C3CAD4;color: #fff;font-size: var(--text-subtitle6);word-break: keep-all;vertical-align: 10px;}

/* 이력서 보기 텍스트 링크 */
.pop-container .basic-serchbox .resume-qlink {margin-left: 0; font-size:var(--text-subtitle5);}

.user-info .phone-number input {width:150px;}
.user-info .email input {width:230px;}
.user-info li label {min-width:37px;}

/* 최하단 버튼 */
.h-button-l {width:200px;}

.academy-list li + li {margin-top:20px;}

/* 입사지원 건수 */
.top-result {padding:30px 0;}














