@charset "utf-8"; /* 공통 */
.h-subbox-wide {width: 100%; border: 1px solid #E0E6EF; background: #fff; border-radius: 15px; padding: 50px; box-sizing: border-box; margin-bottom: 50px;}

/* 상품선택 - product-Wrap */
.product-Wrap {margin-top: -20px; padding-bottom: 86px;}
.product-Wrap .productBox-inner {width: 100%; margin-top: 20px; display: flex; justify-content: space-between;}
.product-Wrap .product-Info-R {width: calc(100% - 320px); display: flex; flex-wrap: wrap;}
.product-Wrap .product-Info-R .product-Img {width: 260px; height: 200px; background: #F9F9FB; border-radius: 10px; overflow: hidden;}
.product-Wrap .product-Info-R .product-Info {padding-left: 30px; width: calc(100% - 260px); box-sizing: border-box;}
.product-Wrap .product-Info-R .product-Info>li {margin-bottom: 26px;}
.product-Wrap .product-Info-R .product-Info>li>strong {font-size: 12px; background: #C3CAD4; color: #fff; padding: 4px 10px; border-radius: 30px; margin-bottom: 10px; font-weight: 400;}
.product-Wrap .product-Info-R .product-Info>li>ul {width: 100%; margin-top: 10px; display: flex; justify-content: flex-start; flex-wrap: wrap;}
.product-Wrap .product-Info-R .product-Info>li>ul>li {font-size: 13px; color: #333; line-height: 22px;}
.product-Wrap .product-Info-R .product-Info>li>ul>li:not(:last-child):after {content: "+"; color: #BCBCBC; margin: 0 4px;}
.product-Wrap .product-Info-R .product-Info-icon {width: 100%; display: flex; margin-top: 14px; padding-top: 15px;}
.product-Wrap .product-Info-R .product-Info-icon>li {width: 120px; height: 45px; font-size: 12px; color: #333; position: relative; display: flex; align-items: flex-end; justify-content: center; background-position: top !important;}
.product-Wrap .product-Info-R .product-Info-icon>li.prdctIcon-pcmobile {background: url(../images/product-pcmobile.svg) no-repeat;}
.product-Wrap .product-Info-R .product-Info-icon>li.prdctIcon-main {background: url(../images/product-main.svg) no-repeat;}
.product-Wrap .product-Info-R .product-Info-icon>li.prdctIcon-logo {background: url(../images/product-logo.svg) no-repeat;}
.product-Wrap .product-Info-R .product-Info-icon>li.prdctIcon-list {background: url(../images/product-listFX.svg) no-repeat;}
.product-Wrap .product-Info-R .product-Info-icon>li.prdctIcon-jumpup {background: url(../images/product-jumpup.svg) no-repeat;}
.product-Wrap .product-Info-R .product-Info-icon>li:not(:last-child):after {content: ""; width: 1px; height: 45px; background: #EBEBEB; display: inline-block; position: absolute; right: 0;}
.product-Wrap .product-price-L {width: 320px;}
.product-Wrap .product-price-L .product-priceInfo {display: flex; flex-direction: column; align-items: flex-end;}
.product-Wrap .product-price-L .product-priceInfo .btnbox {display: flex; justify-content: flex-end; margin-bottom: 15px;}
.product-Wrap .product-price-L .product-priceInfo .btnbox .linebtn {font-size: 11px; margin: 0; display: flex; align-items: center; vertical-align: middle; padding: 0; line-height: 35px;}
.product-Wrap .product-price-L .product-priceInfo .btnbox .linebtn b {font-size: 14px; margin-left: 3px;}
.product-Wrap .product-price-L .product-priceInfo .btnbox .h-button-cyan.linebtn {width: 118px; margin-right: 5px; border: 1px solid #26B2C8; background: #fff; color: #26B2C8;}
.product-Wrap .product-price-L .product-priceInfo .btnbox .h-button-orange.linebtn {width: 106px; border: 1px solid #FF7800; background: #fff; color: #FF7800;}
.product-Wrap .product-price-L .product-priceInfo .price-guide {font-size: 14px; margin-bottom: 12px; display: flex; align-items: center;}
.product-Wrap .product-price-L .product-priceInfo .price-guide strong {font-size: 20px; color: #333; margin-left: 5px; margin-right: 2px;}
.product-Wrap .product-price-L .product-priceInfo .price-guide span.won {color: #7E7E7E;}
.product-Wrap .product-price-L .product-priceInfo .price-guide span.won:after {content: "/"; color: #BCBCBC; margin: 0 3px;}
.product-Wrap .product-price-L .product-priceInfo .price-guide .surtax {color: #9A9A9A; margin-left: 4px;}
.product-Wrap .product-price-L .product-priceInfo .price-Period {display: flex; align-items: center;}
.product-Wrap .product-price-L .product-priceInfo .price-Period span {font-size: 13px; color: #9A9A9A; margin-right: 15px;}
.product-Wrap .product-price-L .product-priceInfo .price-Period .h-field-wrap.calendar {width: 150px; height: 46px;}
.product-Wrap .product-price-L .product-priceInfo .price-Period .h-field-wrap.calendar .h-txtfield-inner {height: 46px;}
.product-Wrap .product-price-L .product-priceInfo .price-Period select {width: 90px; min-width: 90px;}
.product-Wrap .product-price-L .product-priceInfo .price-finBox {padding: 15px 0 20px; border-bottom: 1px solid #62666B; margin-bottom: 20px; width: 100%; text-align: right;}
.product-Wrap .product-price-L .product-priceInfo .price-finBox>a {width: 160px; margin: 0; font-size: 15px;}
.product-Wrap .product-price-L .product-priceInfo .price-rsult {}
.product-Wrap .product-price-L .product-priceInfo .price-rsult span:first-child {font-size: 13px; color: #333;}
.product-Wrap .product-price-L .product-priceInfo .price-rsult span.h-txt-orange {margin-left: 15px; color: #FF6000;}
.product-Wrap .product-price-L .product-priceInfo .price-rsult span.h-txt-orange strong {color: #FF6000; margin-right: 2px; letter-spacing: 0.5px;}

/*하단 선택장바구니*/
.btm-FixBar {width: 100%; position: fixed; bottom: 0; left: 0; background: #fff;}
.btm-FixBar .wrapBox-1080 {width: 1080px; margin: 0 auto;}
.btm-FixBar .btm-finBox {background: #62666B; height: 86px; color: #fff; display: flex; align-items: center;}
.btm-FixBar .btm-finBox>.wrapBox-1080 {display: flex; align-items: center; justify-content: flex-end;}
.btm-FixBar .btm-finBox ul {width: auto;display: flex;margin-right: 30px;align-items: center;}
.btm-FixBar .btm-finBox ul>li {font-size: 13px; display: flex; align-items: center; font-weight: 300;}
.btm-FixBar .btm-finBox ul>li strong {color: #F7FF00; font-size: 20px; margin: 0 3px 0 15px;}
.btm-FixBar .btm-finBox ul>li:not(:last-child):after {content: ""; width: 1px; height: 20px; display: inline-block; background: #8B8B8B; margin: 0 20px;}
.btm-FixBar .btm-finBox .btnBox {display: inline-flex;}
.btm-FixBar .btm-finBox .btnBox a:not(:last-child) {width: 120px;}
.btm-FixBar .btm-finBox .btnBox a:last-child {width: 160px; font-weight: 600; font-size: 14px; margin-right: 0;}
.btm-FixBar .btm-myOptionWrap {display:none; width: 100%; /* height: 0; */ border-top: 2px solid #8C9197; /* transition: height 0.5s; */}
.btm-FixBar .btm-myOptionWrap.on {display:block;height: auto;}
.btm-FixBar .btm-myOptionWrap .select-Option {padding: 15px 0;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul {}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li {width: 100%;padding: 5px 35px 5px 40px;display: flex;align-items: center;justify-content: space-between;box-sizing: border-box;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-Nm {color: #151515; width: 270px; /* padding-right: 28px; */ box-sizing: border-box;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-Nm strong {font-size: 18px; line-height: 46px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-Nm span {font-size: 15px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-Nm button.moreInfoBtn {width: 28px; height: 28px; border-radius: 100%; background: #c3cad3; float: right; margin-top: 10px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-Nm button.moreInfoBtn:before {content:"\f002";font-family: FontAwesome;color: #fff;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-usePeriod {padding-left: 15px;display: flex;align-items: center;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-usePeriod .calendar {width: 150px; height: 46px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-usePeriod .calendar .h-txtfield-inner {height: 46px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-usePeriod select {width: 90px; min-width: 90px; margin-right: 10px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-usePeriod>span {color: #9A9A9A; font-size: 13px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-rsltprice {display: flex;align-items: center;justify-content: flex-end;min-width: 305px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-rsltprice .pricexday {font-size: 13px; color: #333; width: 120px; display: flex; justify-content: flex-end;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-rsltprice .pricexday span {}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-rsltprice .pricexday span:first-child:after {content: "/"; color: #BCBCBC; margin: 0 3px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-rsltprice .sumprice {color: #FF6000; font-size: 18px; font-weight: 600; margin-left: 43px; min-width: 88px; text-align: right;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-rsltprice .sumprice .won {font-size: 13px; color: #333;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-rsltprice .deleteBtn {color: #C3CAD4;display: flex;align-items: center;margin-left: 15px;margin-top: 4px;}
.btm-FixBar .btm-myOptionWrap .select-Option>ul>li .product-rsltprice .deleteBtn span {font-size: 20px;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption {border-top: 1px solid #ebebeb; background: #F9F9FB; height: 70px; display: flex;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul {display: flex;align-items: center;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li {border-right: 1px solid #ebebeb; display: flex; align-items: center; justify-content: space-between; width: 352px; height: 100%; padding: 0 40px; position: relative; box-sizing: border-box;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li:first-child {border-left: 1px solid #ebebeb; padding-right: 35px;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li:last-child {width: 378px;padding-right: 35px;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li .rlstTit {font-size: 13px; color: #333;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li>div {}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li>div strong {font-size: 20px; color: #333;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li>div span {}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li:not(:last-child):after {content:""; width: 30px; height: 30px; background: #fff; border: 1px solid #ebebeb; border-radius: 100%; box-sizing: border-box; position: absolute; right: 0; margin-right: -15px; text-align: center;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li:first-child:after {content:"-";font-size: 28px;line-height: 24px;text-indent: 1px;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li:nth-child(2):after {content:"=";font-size: 23px;line-height: 24px;text-indent: 0px;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li:last-child>div strong {color: #FF6000; font-size: 26px;}
.btm-FixBar .btm-myOptionWrap .select-ALLOption>ul>li:last-child>div span {color: #FF6000;}
.btm-FixBar .btm-foldBtn {position: relative;}
.btm-FixBar .btm-foldBtn .wrapBox-1080 {height: 0; position: relative;}
.btm-FixBar .btm-foldBtn button {width: 60px;height: 28px;border-radius: 4px 4px 0 0;background: #8C9197;color: #fff;position: absolute;right: -90px;bottom: 0;display: flex;align-items: center;justify-content: center;}
.btm-FixBar .btm-foldBtn button span {transform:rotate(180deg); transition:transform 0.5s;}
.btm-FixBar .btm-foldBtn button.on {}
.btm-FixBar .btm-foldBtn button.on span {transform:rotate(0deg);}