@charset "utf-8";

/* ==================================== Layout ==================================== */
body{-ms-overflow-style:none; }
body::-webkit-scrollbar { display:none; }

.h-resume-wrap {display:flex; flex-flow:row wrap; height:100%;}
.h-resume-wrap header {position:fixed; z-index:10; order:1; width:100%;}
.h-resume-wrap .container {order:2; top:85px; left:0; width:calc(100% - 250px); height:calc(100vh - 85px); overflow-y:scroll;}
.h-resume-wrap .content {box-sizing:border-box;}
.h-resume-wrap .col {display:flex; flex-flow:column nowrap; text-align:center;}



/* ==================================== right menu ==================================== */
/* right menu - 공통 */
.h-resume-wrap .r-side {position:fixed; top:85px; right:0; order:3; display:flex; flex-flow:column nowrap; width:250px; height:calc(100vh - 85px); padding:20px; overflow-y:auto; overflow-x:hidden; box-sizing:border-box;}
.h-resume-wrap .r-side [class^="h-button"] {width:100%; margin-left:0; margin-right:0;}
.h-resume-wrap .r-side [class^="h-button"]:not(:first-child) {margin-top:10px;}

/* right menu - 이력서 보기 */
.h-resume-wrap .r-side .modify-date {width:100%; height:54px; font-size:var(--text-subtitle4); color:var(--black-3); border:1px solid var(--border-basic-2); border-radius:4px; box-sizing:border-box;}
.h-resume-wrap .r-side .modify-date strong {font-weight:var( --text-medium); color:var(--black-2);}

.h-resume-wrap .r-side .h-resume-item {position:relative;}
.h-resume-wrap .r-side .h-resume-item:before {position:absolute; top:10px; left:4px; content:''; width:1px; height:calc(100% - 20px); background-color:var(--border-basic-4);}
.h-resume-wrap .r-side .h-resume-item li {position:relative; display:flex; flex-flow:row wrap; align-items:center;}
.h-resume-wrap .r-side .h-resume-item li::before {content:''; width:9px; height:9px; margin-top:-1px; margin-right:15px; background:#fff; border:1px solid var(--border-basic-4); border-radius:50%; box-sizing:border-box; transition:all ease-out 0.3s;}
.h-resume-wrap .r-side .h-resume-item li:not(:first-child) {margin-top:11px;}
.h-resume-wrap .r-side .h-resume-item li a {color:var(--black-5); transition:all ease-out 0.3s;}
.h-resume-wrap .r-side .h-resume-item li:hover a {color:var(--black-3);}
.h-resume-wrap .r-side .h-resume-item li:hover::before {background-color:var(--black-4); border-color:var(--black-4);}
.h-resume-wrap .r-side .h-resume-item li.active::before {background-color:var(--blue-3); border-color:var(--blue-3);}
.h-resume-wrap .r-side .h-resume-item li.active a {color:var(--blue-3); font-weight:var(--text-medium);}

/* right menu - 이력서 등록 */
.h-resume-wrap .r-side .h-register {}
.h-resume-wrap .r-side .h-register .h-register-tit {position:relative; font-size:var(--text-subtitle2); font-weight:var(--text-bold);}
.h-resume-wrap .r-side .h-register .h-register-tit::before {position:absolute; top:0; left:0; content:''; width:100%; height:calc(100% + -1px); border-bottom:1px solid #DFE4EC;}
.h-resume-wrap .r-side .h-register .h-register-tit strong {position:relative; padding-bottom:10px; display:inline-block; border-bottom:1px solid #000; box-sizing:border-box;}
.h-resume-wrap .r-side .h-register .h-register-cate li {position:relative; display:flex; flex-flow:row wrap; align-items:center; border-radius:4px;}
.h-resume-wrap .r-side .h-register .h-register-cate li a {display:flex; flex-flow:row wrap; align-items:center; width:100%; padding:7px 15px; color:var(--black-6); box-sizing:border-box; transition:all ease 0.3s;}
.h-resume-wrap .r-side .h-register .h-register-cate li:not(.required) a {justify-content:space-between;}
.h-resume-wrap .r-side .h-register .h-register-cate li:not(.required) a::after {display:inline-block; font-family:'Material Icons'; content:'add_circle_outline'; width:24px; height:24px; font-style:normal; font-size:24px;}
/* 필수 값 */
.h-resume-wrap .r-side .h-register .h-register-cate .required a {font-weight:var(--text-medium); color:var(--black-2);}
.h-resume-wrap .r-side .h-register .h-register-cate .required strong {display:inline-block; margin-left:5px; font-size:10px; font-weight:var(--text-regular); color:var(--orange);}
/* hover */
.h-resume-wrap .r-side .h-register .h-register-cate li:hover a {color:var(--black-3);}
/* active */
.h-resume-wrap .r-side .h-register .h-register-cate li:not(.required).active {background-color:var(--neutral-3);}
.h-resume-wrap .r-side .h-register .h-register-cate li:not(.required).active a {font-weight:var(--text-medium); color:var(--blue-3);}
.h-resume-wrap .r-side .h-register .h-register-cate li:not(.required).active a::after {display:inline-block; content:'cancel_outline'; color:var(--grey-1);}
/* 미리보기 button */
.h-resume-wrap .r-side .h-register .h-preview-wrap {margin-top:20px;}
.h-resume-wrap .r-side .h-register .h-preview-wrap [class^="h-button"] {position:relative; justify-content:space-between; padding-left:15px; padding-right:15px; font-size:var(--text-subtitle4); transition:all ease-out 0.3s;}
.h-resume-wrap .r-side .h-register .h-preview-wrap [class^="h-button"]:not(:first-child) {margin-top:5px;}
.h-resume-wrap .r-side .h-register .h-preview-wrap [class^="h-button"]:hover {border-color:var(--black-5);}
.h-resume-wrap .r-side .h-register .h-preview-wrap [class^="h-button"]::after {display:inline-block; content:''; width:24px; height:20px; box-sizing:border-box;}
.h-resume-wrap .r-side .h-register .h-preview-wrap .h-preview-pc::after {background:url(../images/icon_preview_pc.svg) center no-repeat;}
.h-resume-wrap .r-side .h-register .h-preview-wrap .h-preview-mobile::after {background:url(../images/icon_preview_mobile.svg) center no-repeat;}
/* 자동저장, button */
.h-resume-wrap .r-side .h-register + .btn-wrap .h-auto-save {font-size:var(--text-subtitle5); color:var(--black-6); text-align:center;}
.h-resume-wrap .r-side .h-register + .btn-wrap [class^="h-button"]:not(:nth-of-type(1)) {margin-top:5px;}


/* contents */
.h-resume-wrap .h-resume-tit {padding:30px 10px; border-top:1px solid var(--grey-3); box-sizing:border-box;}

/* ==================================== 공통 ==================================== */
/* box */
.h-resume-wrap .h-subbox-wide {position:relative;}
.h-resume-wrap .h-subbox-wide,
.h-resume-wrap .h-subbox-list li {padding:30px; background-color:#fff; border:1px solid var(--border-basic-4); border-radius:10px; box-sizing:border-box;}
.h-resume-wrap .h-subbox-list {display:flex; flex-flow:row wrap;}
.h-resume-wrap .h-subbox-list.item-4 li {flex:1 1 20%;}
.h-resume-wrap .h-subbox-list.item-4 li:not(:nth-child(4n+1)) {margin-left:20px;}
.h-resume-wrap .h-subbox-list.item-4 li:nth-child(n+5) {margin-top:20px;}
.h-resume-wrap .h-linebox {display:flex; flex-flow:column wrap; justify-content:center; padding:30px; border-top:1px solid var(--grey-3); border-bottom:1px solid var(--border-basic-4); word-wrap:break-word; word-break:keep-all; box-sizing:border-box;}


/* ==================================== 이력서 보기 ==================================== */
/* 이력서 사진 */
.h-resume-wrap .h-photo {position:relative; width:110px; height:133px; border-radius:4px; overflow:hidden;}
.h-resume-wrap .h-photo::before {position:absolute; top:0; left:0; content:''; width:100%; height:100%; background-color:var(--neutral-3); border:1px solid var(--border-basic-3); border-radius:4px; box-sizing:border-box; font-family:'Material Icons Outlined'; /* content:'familiar_face_and_zone'; */}
.h-resume-wrap .h-photo::after {position:absolute; content:'이력서 사진'; font-size:var(--text-subtitle5); color:var(--black-5);}
.h-resume-wrap .h-photo img {position:absolute; z-index:1; top:-999px; bottom:-999px; left:-999px; right:-999px; width:100%; max-width:100%; height:auto; margin:auto;}

/* 이름, 나이, 성별 */
.h-resume-wrap .h-personal-info {font-size:var(--text-subtitle4); color:var(--black-2);}
.h-resume-wrap .h-personal-info .name {font-size:var(--text-h4); font-weight:var(--text-bold); color:var(--black-1);}

/* 핸드폰, 이메일, 주소 */
.h-resume-wrap .h-personal-info-list li:not(:first-child) {margin-top:15px;}
.h-resume-wrap .h-personal-info-list li .tit {display:inline-block; width:34px; margin-right:30px; font-size:var(--text-subtitle5); color:var(--black-5);}
.h-resume-wrap .h-personal-info-list li .txt {display:inline-block; font-size:var(--text-subtitle3); font-weight:var(--text-regular); color:var(--black-2);}

/* 지원 상태 */
.h-resume-wrap .h-status-wrap {display:inline-flex; flex-flow:row wrap; position:absolute; top:20px; right:20px;}
.h-resume-wrap .h-status-wrap :is(.status, .score) {height:90px; border-radius:4px;}
.status {width:90px; text-align:center; font-size:var(--text-subtitle5); color:var(--black-2); background-color:var(--neutral-3);}
.h-resume-wrap .h-status-wrap .status span {margin-top:4px;}
.h-resume-wrap .h-status-wrap .score {padding-left:18px; padding-right:18px; background-color:var(--cyan); font-size:var(--text-subtitle6); color:#fff;}
.h-resume-wrap .h-status-wrap .score .num {font-size:var(--text-h2); font-weight: var(--text-bold);}
.h-resume-wrap .h-status-wrap .score .num + span {font-size:var(--text-subtitle4);}

/* 학력사항, 경력사항, 희망급여, 희망근무지/근무형태 */
.h-resume-wrap .h-subbox-list .h-list-tit {display:inline-block; padding-bottom:6px; font-size:var(--text-subtitle5); color:var(--black-5); border-bottom:1px solid var(--border-basic-4); box-sizing:border-box;}
.h-resume-wrap .h-subbox-list .h-list-txt {color:var(--black-2);}
.h-resume-wrap .h-subbox-list .h-list-txt strong {font-size:var(--text-subtitle1); font-weight:var(--text-bold); color:var(--black-2);}
.h-resume-wrap .h-subbox-list .h-list-txt span {font-size:var(--text-subtitle5); color:var(--black-3);}
.h-resume-wrap .h-subbox-list .h-list-txt .region {display:-webkit-box; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden;}

/* 시강(영상) */
.h-resume-wrap .h-video-list {display:inline-flex; flex-flow:row wrap; align-content:flex-start; margin-left:auto; margin-right:auto; width:940px;}
.h-resume-wrap .h-video-list li {position:relative; align-items:center; flex:0 1 300px; height:168px; overflow:hidden;}
.h-resume-wrap .h-video-list li:not(:nth-child(3n+1)) {margin-left:20px;}
.h-resume-wrap .h-video-list li:nth-child(n+4) {margin-top:20px; align-content:flex-start;}
.h-resume-wrap .h-video-list li .h-button-video {position:absolute; top:0; left:0; z-index:2; width:100%; height:100%; padding:0; margin:0; border-radius:0; background-color:#00000080; box-sizing:border-box; transition:background-color ease-out 0.3s;}
.h-resume-wrap .h-video-list li:hover .h-button-video {background-color:#00000090;}
.h-resume-wrap .h-video-list li .h-button-video i {font-size:50px;}
.h-resume-wrap .h-video-list li video {width:auto; max-width:100%;}

/* 어학능력, 컴퓨터 활용능력, 희망 근무조건, 근무일시, 희망급여 */
.h-resume-wrap :is(.h-item-list, .h-region-list, .h-item-slash) {display:flex; flex-flow:row wrap; align-items:center;}
.h-resume-wrap .h-item-list li {color:var(--black-2);}
.h-resume-wrap :is(.h-item-list, .h-item) span {color:var(--black-3); font-weight:var(--text-regular);}
.h-resume-wrap :is(.h-item-list, .h-item) span::after {display:inline-block; content:':'; margin:0 5px; color:var(--black-3);}

.h-resume-wrap .h-slash li:not(:last-child)::after,
.h-resume-wrap .h-item-slash span:not(:last-child)::after {display:inline-block; content:'/'; margin:0 8px;}
.h-resume-wrap .h-slash li:not(:last-child)::after {color:var(--black-3);}
.h-resume-wrap .h-item-slash span:not(:last-child)::after {color:var(--black-6);}
.h-resume-wrap .h-comma li:not(:last-child)::after {display:inline-block; content:','; margin-right:4px;}

/* 희망 근무지 */
.h-resume-wrap .h-region-list li:not(:last-child)::after {display:inline-block; content:','; margin-right:8px; color:var(--blue-4);}
.h-resume-wrap .h-region-list li a {display:inline-block; height:auto; line-height:normal; padding:0; margin:0; font-size:var(--text-subtitle3);}
.h-resume-wrap .h-region-list li a:before {display:none;}
.h-resume-wrap .h-region-list li a span {display:inline-block; margin:0 !important; text-decoration:underline !important;}
.h-resume-wrap .h-region-list li a span:not(:last-child)::after {display:inline-block; content:'\00a0>\00a0'; text-decoration:underline !important;}

/* 근무형태 */
.h-resume-wrap .h-type-list {display:flex; flex-flow:column wrap;}
.h-resume-wrap .h-type-list li {position:relative; display:flex; flex-flow:row wrap; align-items:center; padding-left:8px; font-size:var(--text-subtitle3); font-weight:var(--text-bold); color:var(--black-2);}
.h-resume-wrap .h-type-list li::before {position:absolute; top:11px; left:0; content:''; width:2px; height:2px; border-radius:50%; background-color:var(--black-2);}
.h-resume-wrap .h-type-list li p {font-weight:var(--text-regular); margin-left:5px;}
.h-resume-wrap .h-type-list li p:before {content:'(';}
.h-resume-wrap .h-type-list li p:after {content:')';}
.h-resume-wrap .h-type-list li span:not(:last-child)::after {display:inline-block; content:'/'; margin:0 8px; color:var(--black-6);}

/* 개인과외 근무조건 */
.h-resume-wrap .h-item-list.h-slash + .h-item::before {display:inline-block; content:'/'; margin:0 8px; color:var(--black-6);}

/* 취업 우대사항 */
.h-resume-wrap .h-tbl-strong td {color:var(--black-2);}

/* 자기소개서 */
.h-resume-wrap .intro-wrap + .intro-wrap {margin-top:50px;}
.h-resume-wrap .intro-wrap .tit + .txt-box {margin-top:15px; word-wrap:break-word; word-break:keep-all;}
 
/* 이력서 파일 미리보기, 이력서 링크 (URL) */
.h-resume-wrap .h-add-view-wrap {padding:40px; background-color:#fff;}
.h-resume-wrap .h-add-view-wrap :is(.view-box, .link-box) {display:flex; flex-flow:row wrap; background-color:var(--neutral-3); box-sizing:border-box;}
    .h-resume-wrap .h-add-view-wrap .view-box {justify-content:center; align-items:flex-start; height:400px; padding:25px; overflow-y:auto;}
    .h-resume-wrap .h-add-view-wrap .view-box * {width:auto; max-width:75%;} 
    .h-resume-wrap .h-add-view-wrap .link-box {align-items:center; padding:18px 18px 18px 30px;}
    .h-resume-wrap .h-add-view-wrap .link-box .h-button-underline {height:auto; line-height:normal; padding:0; margin:0; font-size:var(--text-subtitle1);}
    .h-resume-wrap .h-add-view-wrap .link-box .h-button-underline:before {display:none;}


/* 간격 */
.h-resume-wrap .r-side .modify-date + .h-resume-item,
.h-resume-wrap .r-side .h-resume-item-wrap + .btn-wrap {margin-top:15px;}
.h-resume-wrap .r-side .h-register + .btn-wrap {margin-top:130px;}
.h-resume-wrap .h-subbox-wide + .h-subbox-list {margin-top:20px;}
.h-resume-wrap .h-photo + .h-personal-info {margin-left:30px;}
.h-resume-wrap .h-personal-info p + p {margin-top:5px;}
.h-resume-wrap .h-personal-info .name + p {margin-top:10px;}
.h-resume-wrap .h-personal-info + .h-personal-info-list {padding-left:30px; margin-left:40px; border-left:1px solid var(--border-basic-4); box-sizing:border-box;} 
.h-resume-wrap .h-status-wrap .status + .score {margin-left:5px;}
.h-resume-wrap .h-subbox-list .h-list-tit + .h-list-txt {margin-top:40px;}
.h-resume-wrap .h-subbox-list .h-list-txt strong + span {margin-top:8px;}
.h-resume-wrap .h-tit-box-1 {margin-top:60px;}
.h-resume-wrap .h-tbl-basic-1 + .h-tbl-basic-1 {margin-top:30px;}
.h-resume-wrap .r-side .h-register .h-register-tit + .h-register-cate {margin-top:15px;}