@charset "utf-8";

/* ============================ 학원정보 ============================ */
[class^="academyInfo"] {}
:is(.academyInfo-mainTop, .academyInfo-photo, .academyInfo-map) .content {width:1000px;background:transparent;text-align:center;}

.academyInfo-mainTop {width:100%;}
.academyInfo-mainTop.bg01 {background:url(../images/recruit_acdmyInfo-bgImg1.jpg); background-repeat:no-repeat;}
.academyInfo-mainTop.bg02 {background:url(../images/recruit_acdmyInfo-bgImg2.jpg); background-repeat:no-repeat;}
.academyInfo-mainTop.bg03 {background:url(../images/recruit_acdmyInfo-bgImg3.jpg); background-repeat:no-repeat;}
.academyInfo-mainTop.bg04 {background:url(../images/recruit_acdmyInfo-bgImg4.jpg); background-repeat:no-repeat;}
.academyInfo-mainTop.bg05 {background:url(../images/recruit_acdmyInfo-bgImg5.jpg); background-repeat:no-repeat;}
.academyInfo-mainTop .content {background:transparent;}
.academyInfo-mainTop .h-tit-26.whiteColor {margin-bottom:26px; color:#fff; text-align:left; font-weight:500;}
.academyInfo-mainTop .radiusBox {border-radius:20px; padding:50px 0 0; text-align:center; background:#fff;}
.academyInfo-logoBox {width:280px; height:94px; border:1px solid #E0E6EF; border-radius:10px; margin-bottom:15px; overflow:hidden; text-align:center; line-height:94px; display:inline-block;}
.academyInfo-logoBox img {max-width:85%; max-height:85%; display:inline-block; vertical-align:middle;}
.academyInfo-NmBox {width:100%; text-align:center;}
.academyInfo-NmBox .text-subtitle2 {font-size:30px;font-weight:600;vertical-align:middle;letter-spacing: -0.5px; line-height:36px;}
.academyInfo-NmBox .btn-tgl[type="checkbox"] + label {width: 28px; height: 28px; vertical-align: middle;}
.academyInfo-NmBox .btn-tgl[type="checkbox"] + label:before {background-size:100%;}
.academyInfo-NmBox p {margin-top:30px; font-size:14px; color:#7E7E7E; line-height:24px;}
.academyInfo-NmBox p b {color:#333333; font-weight:500;}
.academyInfo-NmBox .h-tbl-basic-2 {width:800px;margin: 30px auto 60px;}
.academyInfo-NmBox .h-tbl-basic-2 th {font-weight:500;}
.academyInfo-benefit {display:flex; width: 800px; margin: 0 auto; padding-bottom: 20px; flex-wrap:wrap; justify-content:center; gap:10px;}
.academyInfo-benefit li {font-size:14px; padding:15px 28px; border:1px solid #E0E6EF; border-radius:4px;}
.academyInfo-person {width: 800px;margin: 0 auto;display: flex;flex-wrap: wrap;justify-content: center; gap:10px;}
.academyInfo-person li {width: 260px;min-height: 120px;border: 1px solid #E0E6EF;border-radius: 10px; padding: 30px;box-sizing: border-box;display: flex;justify-content: space-between;}
.academyInfo-person li div {width:calc(100% - 40px); font-size: 14px; color: #333; line-height: 22px; word-break: keep-all; text-align: left;}
.academyInfo-person li .bedgeBox {width:36px; height: 46px; display: inline-block; background: url(../images/recruit_acdmyInfo-bedgeImg.png);}
.academyInfo-person li:nth-child(5n+2) .bedgeBox {background-position-y: -46px;}
.academyInfo-person li:nth-child(5n+3) .bedgeBox {background-position-y: -92px;}
.academyInfo-person li:nth-child(5n+4) .bedgeBox {background-position-y: -138px;}
.academyInfo-person li:nth-child(5n) .bedgeBox {background-position-y: -184px;}
.academyInfo-map {width:100%;background:url(../images/recruit_acdmyInfo-mapImg.png);background-size: cover;}
.academyInfo-map + .content {width:1000px; margin-bottom:50px;}

.academyInfo-photo {}
.academyInfo-photo .academy-photo-preview {width:790px; height:415px; margin:0 auto; overflow:hidden;}
.academyInfo-photo .academy-photo-preview img {min-width:100%; min-height:100%;}

.academyInfo-photo .academy-photo-slide {position:relative; width:790px; margin:20px auto 0; } 
.academyInfo-photo .academy-photo-slide:hover {cursor: pointer;}
.academyInfo-photo .academy-photo-slide .swiper-slide {height:95px; position:relative; padding:0; border-radius:4px; overflow:hidden;} 
.academyInfo-photo .academy-photo-slide .swiper-slide img {width:100%; display:block; position: absolute; left:-999px; top:-999px; right:-999px; bottom:-999px; margin:auto; min-width:100%; min-height: 100%;}
.academyInfo-photo .academy-photo-slide .swiper-slide .clickPhoto:after {content:""; background:url(../images/icon_mypage_arrow_full.png) no-repeat center #43A986B3; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.academyInfo-photo .academy-photo-slide .swiper-button-next, 
.academyInfo-photo .academy-photo-slide .swiper-button-prev {width:64px; height:64px; background:url(../images/slide-arrow-circleBtn.png); top:50%; margin-top:-26px; opacity:1 !important;} 
.academyInfo-photo .academy-photo-slide .swiper-button-next {right:0; margin-right:-32px; background-position:right;} 
.academyInfo-photo .academy-photo-slide .swiper-button-prev {left:0; margin-left:-32px;} 
.academyInfo-photo .academy-photo-slide .swiper-button-next::after {display:none;}
.academyInfo-photo .academy-photo-slide .swiper-button-next:hover, 
.academyInfo-photo .academy-photo-slide .swiper-button-prev:hover {cursor: pointer;}