@charset "utf-8";


:root {
    /* Color */
    --teal: #43a986;
    --cyan: #26b2c8;
    --orange: #ff6000;
    --blue-1: #369BFF;
    --blue-2: #0080FF;
    --blue-3: #61A6FF;
    --blue-4: #0E97FF;
    --blue-grey: #31516a;
    --grey-1: #c3cad4;
    --grey-2: #8c9197;
    --grey-3: #62666b;
    --neutral-1: #f2f2f2;
    --neutral-2: #ebeff5;
    --neutral-3: #f5f7fa;
    --neutral-4: #ebf4ff;
    --black-1: #151515;
    --black-2: #333333;
    --black-3: #7E7E7E;
    --black-4: #8B8B8B;
    --black-5: #9A9A9A;
    --black-6: #BCBCBC;
    --border-basic-1: #62666B;
    --border-basic-2: #CCD1D7;
    --border-basic-3: #E0E6EF;
    --border-basic-4: #D4DAE2;
    /* Font */
    --text-light: 300;
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;
    --text-extrabold: 800;
    --text-h1: 32px;
    --text-h2: 26px;
    --text-h3: 22px;
    --text-h4: 20px;
    --text-subtitle1: 18px;
    --text-subtitle2: 16px;
    --text-subtitle3: 15px;
    --text-subtitle4: 14px;
    --text-subtitle5: 13px;
    --text-subtitle6: 12px;
    --letter-spacing-0: 0;
    --letter-spacing-065: -0.65px;
    --letter-spacing-1: -1px;
    --letter-spacing-2: -2px;
}

/* 텍스트 */
.font-fam-suit {font-family: "SUIT";}
.text-h1 { font-size:var(--text-h1); letter-spacing:var(--letter-spacing-1); font-weight:var(--text-bold); line-height:1.2em; } 
.text-h2 { font-size:var(--text-h2); letter-spacing:var(--letter-spacing-1); font-weight:var(--text-bold); line-height:1.2em; } 
.text-h3 { font-size:var(--text-h3); letter-spacing:var(--letter-spacing-1); font-weight:var(--text-bold); line-height:1.2em; } 
.text-h4 { font-size:var(--text-h4); letter-spacing:var(--letter-spacing-0); font-weight:var(--text-bold); line-height:1.2em; } 
.text-subtitle1 { font-size:var(--text-subtitle1); letter-spacing:var(--letter-spacing-0); line-height:26px; } 
.text-subtitle2 { font-size:var(--text-subtitle2); letter-spacing:var(--letter-spacing-0); line-height:24px; } 
.text-subtitle3 { font-size:var(--text-subtitle3); letter-spacing:var(--letter-spacing-0); line-height:24px; } 
.text-subtitle4 { font-size:var(--text-subtitle4); letter-spacing:var(--letter-spacing-0); line-height:22px; } 
.text-subtitle5 { font-size:var(--text-subtitle5); letter-spacing:var(--letter-spacing-0); line-height:20px; } 
.text-subtitle6 { font-size:var(--text-subtitle6); letter-spacing:var(--letter-spacing-0); line-height:16px; } 

.h-tit-26 {font-size:var(--text-h2); color:var(--black-1); font-weight:var(--text-bold); letter-spacing:var(--letter-spacing-065);}
.h-tit-16 {font-size:var(--text-subtitle2); color:var(--black-2);}
.h-tit-18 {font-size:var(--text-subtitle1);}

.h-txt-1 {color:var(--black-1);}
.h-txt-2 {color:var(--black-2);}
.h-txt-3 {color:var(--black-3);}
.h-txt-6 {color:var(--black-6);}
.h-txt-pit {color:var(--blue-3);}

.h-txt-light {font-weight:var(--text-light);}
.h-txt-medium {font-weight:var(--text-medium);}
.h-txt-regular {font-weight:var(--text-regular);}
.h-txt-bold {font-weight:var(--text-bold);}

.txt-ellipsis {width:100%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}

input::placeholder { color:#BCBCBC; } 
.inp-type-basic input { padding:15px; border-radius: 4px; border: 1px solid #CCD1D7; } 
.inp-type-basic input:focus { outline: none !important; border-color: #62666B; transition: all ease 0.5s; } 
.inp-type-basic { position: relative; } 
.inp-type-basic .inp-tit { position: absolute; top: -5px; left: 13px; padding: 0 5px; font-size: 12px; background:#fff; } 

.slt-type-basic select { padding:15px; border-radius: 4px; border: 1px solid #CCD1D7; } 

/* border */
.h-border-none { border:none !important; }

/* display */
.block { display:block; }
.i-block { display:inline-block; }

/* flex */
.flex { display: flex; } 
.flex.inline { display:inline-flex; } 
.no-wrap { flex-wrap:nowrap; } 
.flex-start, .items-start { align-items:flex-start !important; } 
.flex-center, .items-center { align-items:center !important; } 
.flex-end, .items-end { align-items:flex-end !important; } 
.flex-set { display:flex; flex-flow:row wrap; justify-content:center; align-items:center; } 


/* googl material icons */
.material-icons { font-family: 'Material Icons'; font-weight: normal; font-style: normal; font-size: 24px; /* Preferred icon size */
 display: inline-block; line-height: 1; text-transform: none; letter-spacing: normal; word-wrap: normal; white-space: nowrap; direction: ltr; /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility; /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale; /* Support for IE. */
 font-feature-settings: 'liga'; } 








/* 
button 
*/
[class^="h-button"] {position: relative; overflow: hidden; display: inline-block; vertical-align: middle;
    margin:0 5px; padding:0 20px; cursor: pointer; border-radius:4px; background: var(--border-basic-1); color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color; transition-property: color;
    -webkit-transition-duration: 0.3s; transition-duration: 0.3s;}

[class^="h-button"]:before {content:""; position:absolute; z-index: -1; top: 0; left: 0; right: 0; bottom: 0; opacity:0;}
[class^="h-button"]:focus:before {opacity:0.2; -webkit-animation: hbtnFX01 1s 1 ease; -o-animation: hbtnFX01 1s 1 ease; animation: hbtnFX01 1s 1 ease;}
[class^="h-button"] span:first-child:nth-last-child(2) {margin-right:7px;}
[class^="h-button"] span:last-child:nth-last-child(1) {margin-left:7px;}
[class^="h-button"] img {vertical-align:middle;}


/* 사이즈별 */
.h-button-xxs {height:30px; line-height:30px; font-size:var(--text-subtitle6); padding:0 13px;}
.h-button-xs {height:36px; line-height:36px; font-size:var(--text-subtitle4);}
.h-button-s  {height:38px; line-height:38px; font-size:var(--text-subtitle4);}
.h-button-m  {height:42px; line-height:42px; font-size:var(--text-subtitle4);}
.h-button-ml  {height:46px; line-height:46px; font-size:var(--text-subtitle4);}
.h-button-l  {height:54px; line-height:54px; font-size:var(--text-subtitle2); font-weight:var(--text-medium);}

/* 사이즈별 : 아이콘만 있는 경우 */
.h-btn-sqre {padding:0; text-align:center;}
.h-button-xs.h-btn-sqre {width:36px;}
.h-button-s.h-btn-sqre  {width:38px;}
.h-button-m.h-btn-sqre  {width:42px;}
.h-button-l.h-btn-sqre  {width:54px;}

/* 컬러별 */
.h-button-nobg {background:transparent !important; color:var(--black-2); transition:background ease 1.5s;}
.h-button-nobg:focus:before {-webkit-animation: hbtnFX02 1s 1 ease; -o-animation: hbtnFX02 1s 1 ease; animation: hbtnFX02 1s 1 ease; background:rgba(136,136,136,0.2);}
.h-button-white {background:#fff; color:var(--black-2); border:1px solid var(--border-basic-4);}
.h-button-grey {background: var(--border-basic-1);}
.h-button-grey1 {background: var(--grey-1);}
.h-button-teal {background: var(--teal);}
.h-button-cyan {background: var(--cyan);}
.h-button-orange {background: var(--orange);}

/* 특수디자인 */
.h-button-txt {font-size:var(--text-subtitle4); color:var(--blue-4); padding:0 10px;}
.h-button-underline {text-decoration:underline !important; font-weight:var(--text-medium);}
.h-button-more {font-size:var(--text-subtitle5); color:var(--black-3); transition:color 0.5s;}
.h-button-more:after {content:"+"; color:var(--grey-1); margin-left:6px; font-size:23px; width:22px; height:22px; line-height: 15px; border: 2px solid var(--grey-1); border-radius: 100%; display: inline-block; text-align: center; vertical-align: middle; margin-top: -3px; box-sizing: border-box; font-weight: 300; transition:all 0.5s;}
.h-button-more:hover,
.h-button-more:hover:after {color:var(--black-2); border-color:var(--black-2);}
.h-button-refresh {font-size:var(--text-subtitle6);}
.h-button-refresh i {transition:transform 0.5s;}
.h-button-refresh:hover i {transform:rotate(180deg);}
.h-button-radius {border-radius:90px;}

.h-button-icon {color:#8c9197;padding: 0;width: 40px;height: 40px;text-align: center;line-height: 40px;font-size: 20px;background: #fff;border-radius: 100%;}
.h-button-del {}
.h-button-menu {font-size: 17px;}
.h-button-icon:hover {background:var(--neutral-3) !important;}
.h-button-icon:before {box-shadow:0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);}


@keyframes hbtnFX01 {
        0% {transform:scale(0); background:var(--neutral-1);}
        1% {border-radius:100%;}
        90% {transform:scale(2);}
        100% {transform:scale(2);}
}
@keyframes hbtnFX02 {
        0% {transform:scale(0); background:var(--black-4);}
        1% {border-radius:100%;}
        90% {transform:scale(2);}
        100% {transform:scale(2);}
}




/* 체크박스 */
.h-checkbox {display: inline-block;vertical-align: middle;-webkit-user-select: none !important;user-select: none !important;margin: 3px;/* z-index: 0; */} 
.h-checkbox input,
.h-checkbox label>input {/* display:none; */width: 1px;height: 1px;text-indent: -999px;overflow: hidden;opacity: 0;position: absolute;} 
.h-checkbox input[type="checkbox"] + label,
.h-checkbox label>input[type="checkbox"] + .spanLabel {cursor:pointer;position: relative;z-index: 1;} 

/* checkbox01 */
    /* label:before에 체크하기 전 상태 CSS */
    .h-checkbox.checkbox01 input[type="checkbox"] + label {position:relative;z-index: 0;}
    .h-checkbox.checkbox01 input[type="checkbox"] + label:before,
    .h-checkbox.checkbox01 label>input[type="checkbox"] + .spanLabel:before {content:"";display:inline-block;box-sizing: border-box;width: 24px;height: 24px;line-height: 24px;font-size: 24px;margin: -4px 10px 0 0;text-align: center;border-radius: 4px;border: 1px solid var(--border-basic-2);transition: background-color 0.5s;-webkit-transition: background-color 0.5s;vertical-align: middle;background-color: #fff;z-index: 1;} 
    .h-checkbox.checkbox01 label>input[type="checkbox"] + .spanLabel:before{margin: -4px 0 0 0;z-index: 1;}
    /* label:before에 체크 된 상태 CSS */ 
    .h-checkbox.checkbox01 input[type="checkbox"]:checked + label:before,
    .h-checkbox.checkbox01 label>input[type="checkbox"]:checked + .spanLabel:before { content:"\2713"; color: #fff; background-color: var(--cyan); border-color:transparent; font-weight: 400; } 
    /*포커싱되었을때*/
    .h-checkbox.checkbox01 input[type="checkbox"]:focus + label:before,
    .h-checkbox.checkbox01 label>input[type="checkbox"]:focus + .spanLabel:before {border-color:var(--cyan);}
    /*hover*/
    .h-checkbox.checkbox01 input[type="checkbox"] + label:after,
    .h-checkbox label>input[type="checkbox"] + .spanLabel:after {content:"";display: inline-block;width: 4px;height: 4px;position: absolute;top: 7px;left: 10px;border-radius: 100%;opacity: 0;z-index: -1;transition: transform 0.2s, opacity 0.1s;background: var(--grey-1);}
    .h-checkbox.checkbox01 input[type="checkbox"] + label:hover:after,
    .h-checkbox label>input[type="checkbox"] + .spanLabel:hover:after {transform: scale(12);transform-origin: center;opacity: 0.3;}
    .h-checkbox.checkbox01 input[type="checkbox"]:checked + label:after,
    .h-checkbox label>input[type="checkbox"]:checked  + .spanLabel:after {background: var(--cyan);opacity: 0.2;}


/* checkbox02 */
    /* label에 체크하기 전 상태 CSS */
    .h-checkbox.checkbox02 i { vertical-align: middle; margin: -3px 5px 0 0; } 
    .h-checkbox.checkbox02 input[type="checkbox"] + label { text-align: center; transition: color 0.5s; -webkit-transition: color 0.5s; color: var(--grey-2); } 
    /* label에 체크 된 상태 CSS */ 
    .h-checkbox.checkbox02 input[type="checkbox"]:checked + label {color:var(--blue-3); } 
    /*포커싱되었을때*/
    .h-checkbox.checkbox02 input[type="checkbox"]:focus + label i,
    .h-checkbox.checkbox02.notxt input[type="checkbox"]:focus + label {color:var(--blue-2);}
    /*hover*/
    .h-checkbox.checkbox02 input[type="checkbox"] + label:after {content:""; display: inline-block;width: 4px;height: 4px;position: absolute;top: 7px;left: 10px;border-radius: 100%;opacity: 0;z-index: -1;transition: transform 0.2s, opacity 0.1s;background: var(--grey-1);}
    .h-checkbox.checkbox02 input[type="checkbox"] + label:hover:after {transform: scale(9);transform-origin: center;opacity: 0.2;}
    .h-checkbox.checkbox02 input[type="checkbox"]:checked + label:after {background:var(--blue-3);opacity: 0.15;}
    .h-checkbox.checkbox02.notxt input[type="checkbox"] + label:after {top: 10px; left: 11px;}





/*
라디오버튼
*/
[class^="h-radio"] input[type="radio"] {/* display:none; */width: 1px;height: 1px;text-indent: -999px;overflow: hidden;opacity: 0;position: absolute;}

/* 01 기본형 */
.h-radio-01 input[type="radio"] + label {display:inline-block;font-size:var(--text-subtitle4);margin: 0 20px 0 0;box-sizing:border-box;position:relative;z-index: 0;}
.h-radio-01 input[type="radio"] + label:hover {cursor:pointer;}
.h-radio-01 input[type="radio"] + label .rchk {display: inline-block;width:24px;height:24px;border-radius:100%;background:#fff;border:1px solid var(--border-basic-2);box-sizing: border-box;vertical-align: middle;margin:0 10px;transition: border 0.5s;position: relative;}
.h-radio-01 input[type="radio"] + label .rchk:before {content:"";display: inline-block;width: 4px;height: 4px;position: absolute;top: 9px;left: 9px;border-radius: 100%;opacity: 0;z-index: -1;transition: transform 0.2s, opacity 0.1s;background: var(--grey-1);}
.h-radio-01 input[type="radio"] + label .rchk:after {content:"";display: inline-block;width: 2px;height: 2px;position: absolute;top: 10px;left: 10px;border-radius:100%;opacity: 0;transition: transform 0.2s, opacity 0.1s;background: var(--cyan);}
.h-radio-01 input[type="radio"] + label:hover .rchk:before {transform: scale(12);transform-origin: center;opacity: 0.1;}
.h-radio-01 input[type="radio"]:checked + label {}
.h-radio-01 input[type="radio"]:checked + label .rchk {border-color:var(--cyan);}
.h-radio-01 input[type="radio"]:checked + label .rchk:after {transform: scale(6); transform-origin: center;opacity: 1;}
.h-radio-01 input[type="radio"]:checked + label .rchk:before {background:var(--cyan);opacity: 0.1;}
.h-radio-01 input[type="radio"]:disabled + label {}
.h-radio-01 input[type="radio"]:focus + label .rchk {border-color:var(--cyan);}

/* 02 버튼형 */
.h-radio-02 input[type="radio"] + label { display:inline-block; height:46px; line-height:44px; border:1px solid var(--border-basic-2); border-left-width: 0; font-size:var(--text-subtitle4); margin:0; padding:0 19px; margin-left:-5px; box-sizing:border-box; min-width:70px; text-align:center; position:relative; overflow:hidden; transition: all 0.5s;}
.h-radio-02 input[type="radio"] + label:before {content:""; position:absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.1; background:var(--cyan); border-radius: 100%; -webkit-transform: scale(0); transform: scale(0); -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out;}
.h-radio-02 input[type="radio"] + label:hover:before ,
.h-radio-02 input[type="radio"] + label:focus:before ,
.h-radio-02 input[type="radio"] + label:checked:before {-webkit-transform: scale(2);transform: scale(2);}
.h-radio-02 input[type="radio"] + label:hover {cursor:pointer;}
.h-radio-02 input[type="radio"]:checked + label {background:var(--cyan); color:#fff; border-color:var(--cyan);}
.h-radio-02 input[type="radio"]:disabled + label {background:var(--border-basic-4);}
.h-radio-02 input[type="radio"]:focus + label {border-color:var(--cyan);}
.h-radio-02 input[type="radio"] + label:first-of-type {margin-left:0;border-radius:4px 0 0 4px;border-left-width: 1px;}
.h-radio-02 input[type="radio"] + label:last-of-type {border-radius:0 4px 4px 0;}

/* switch */
.h-switch {display: inline-block;z-index: 0;}
.h-switch .h-switchlabel {font-size:var(--text-subtitle4);line-height: 28px;display: inline-block;vertical-align: middle;margin-right: 7px;color: #BCBCBC;transition: color 0.5s;}
.h-switch input[type="checkbox"] {position: absolute; appearance: none; -webkit-appearance: none; -moz-appearance: none;}
.h-switch .h-switchBtn-box {position: relative;cursor: pointer;display: inline-block;width: 48px;height: 28px;background: #D1D7DF;border: 1px solid var(--border-basic-2); border-radius: 14px;transition: 0.2s;box-sizing: border-box;z-index: 0;}
.h-switch .h-switchBtn-box:hover {background: #D1D7DF;}
.h-switch .h-switchBtn-box .h-switchBtn {position: absolute;top: 3px;left: 3px;display: inline-block;width: 20px;height: 20px;border-radius: 20px;background: #fff;transition: 0.2s;box-sizing: border-box;border: 2px solid #fff;/* z-index: -1; */}
.h-switch input[type="checkbox"]:checked~.h-switchBtn-box {background:var(--blue-3); border: 1px solid var(--blue-3);}
.h-switch input[type="checkbox"]:checked~.h-switchBtn-box:hover {background:var(--blue-3);}
.h-switch input[type="checkbox"]:checked~.h-switchBtn-box .h-switchBtn {left: 23px;background: #fff;border-color: #fff !important;box-shadow: 1px 2px 3px #00000020;}
.h-switch input[type="checkbox"]:checked~.h-switchBtn-box .h-switchBtn:before {left: 8px;}
.h-switch input[type="checkbox"]:checked~.h-switchlabel {color: #000;}
.h-switch .h-switchBtn-box .h-switchBtn:before {content:"";display: inline-block;width: 4px;height: 4px;position: absolute;top: 7px;left: 6px;border-radius: 100%;opacity: 0;z-index: -1;transition: transform 0.2s, opacity 0.1s, left 0.2s;background: var(--grey-2);}
.h-switch .h-switchBtn-box:hover .h-switchBtn:before {transform: scale(10);transform-origin: center;opacity: 0.3;}
.h-switch input[type="checkbox"]:focus~.h-switchBtn-box .h-switchBtn {border-color: var(--blue-3);border-color: var(--black-6);}



/***** pagination *****/
.h-pagination .h-btn { display: inline-block; border: 1px solid var(--border-basic-2); background: transparent; padding: 3px 2px; min-width: 34px; min-height: 34px; box-sizing: border-box; text-decoration: none; text-transform: uppercase; text-align: center; font-weight: 400; border-radius: 4px; margin-top: 2px; margin-left: 5px; color: var(--black-3); 
    position: relative; overflow: hidden; vertical-align: middle; transition: all 0.5s; font-size:14px;} 
.h-pagination .h-btn:before { content: ""; display: block; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border-radius: inherit; box-sizing: border-box; opacity: 0.1; background: var(--cyan); -webkit-transform: scale(0); transform: scale(0); -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; } 
.h-pagination .h-btn-content { justify-content: center; } 
.h-pagination .h-btn .h-icon { font-size: 22px; color: var(--grey-2); -webkit-user-select: none; user-select: none; display: inline-flex; align-items: center; justify-content: center; vertical-align: middle; line-height: 1; width: 1em; height: 1em; flex-shrink: 0; letter-spacing: normal; text-transform: none; white-space: nowrap; word-wrap: normal; direction: ltr; text-align: center; position: relative; box-sizing: content-box; fill: currentColor; } 
.h-pagination .h-pagination-middle { flex-wrap: wrap; justify-content: center; } 

.h-pagination .disabled,.h-pagination .disabled *,
.h-pagination [disabled],
.h-pagination [disabled] * { outline: 0 !important; cursor: not-allowed !important; } 
.h-pagination .h-btn.disabled { opacity: 0.7 !important; } 
.h-pagination .non-selectable { -webkit-user-select: none !important; user-select: none !important; } 
.h-pagination .h-btn-actionable { cursor: pointer; } 


/* 버튼 클릭시(활성화) 됬을 때 */
.h-pagination .h-btn-outline { color: #fff !important; font-weight: 700 !important; background: var(--cyan)!important; border-color: var(--cyan)!important; } 

/* 마우스 hover효과 */
.h-pagination .h-btn:not(.disabled):hover:before { -webkit-transform: scale(2); transform: scale(2); } 






/***** 테이블 상단 텍스트 *****/
.h-tit-box-1 {display:flex; margin-top:20px; margin-bottom:20px;}
.h-tit-box-1 .h-tit-26 + :is(p, span) {margin-left:15px;}
.h-tit-box-1 .h-tit-26 + .h-button-more {padding:0; margin:0 0 0 20px; transition:none; overflow:initial;}
    .h-tit-box-1 .h-tit-26 + .h-button-more:focus:before {display:none;}
.h-tit-box-1 .vert-m {vertical-align:middle;}
.h-tit-box-1 .material-symbols-outlined {font-size:var(--text-h3); font-weight:200;}

/***** 테이블 유형 1 (기본) *****/
.h-tbl-basic-1 {border-top:1px solid var(--border-basic-1); font-size:var(--text-subtitle4); text-align:center;}
.h-tbl-basic-1 thead tr th {background-color:var(--neutral-2); font-size:var(--text-subtitle5); font-weight:var(--text-regular); color:var(--black-5); padding:22px 5px; border-bottom:1px solid var(--border-basic-4); box-sizing:border-box;}
.h-tbl-basic-1 tbody tr:hover td {background-color:var(--neutral-2);}
.h-tbl-basic-1 tbody tr th {padding:25px 10px; border-bottom:1px solid var(--border-basic-3); box-sizing:border-box;} 
.h-tbl-basic-1 tbody tr td {padding:25px 10px; color:var(--black-3); border-bottom:1px solid var(--border-basic-3); word-break:break-all; box-sizing:border-box;}
.h-tbl-basic-1 tbody tr td :is(span, strong):not(.i-block):not(.h-list-1 *) {display:block;}
.h-tbl-basic-1 tbody tr td a {display:inline-block;}
.h-tbl-basic-1:not(.th-white) tbody tr td :is(span, strong):not([class *= "m"]) {margin-top:2px; margin-bottom:2px;}
.h-tbl-basic-1 tbody tr td strong:not([class *= "txt"]) {font-weight:var(--text-medium); color:var(--black-2);}
.h-tbl-basic-1 .txt-l {text-align:left;}
.h-tbl-basic-1 .vert-t {vertical-align:top;}
    /* 테이블 hover 시 tr 색 변경 없음 */
    .hover-bg-none tbody tr:hover td {background-color:transparent;}
    /* 테이블 앞 checkbox 있는 경우 width 값 */
    .check-use :is(th:first-child, td:first-child) {width:44px;}

/***** 테이블 thead 흰색 + 세로 구분 선 있는 유형 *****/
.th-white thead tr th {background:#fff;}
.th-white :is(th, td) {border-color:var(--border-basic-4);}
.th-white :is(th:not(:last-child), td:not(:last-child)) {border-right:1px solid var(--border-basic-4);}
.th-white tbody tr :is(th, td) {padding:20px;}
.th-white tbody tr td strong {color:var(--black-2);}
.th-white tbody tr td span {font-size:var(--text-subtitle5);}

/***** 테이블 file *****/
.h-tbl-file thead tr th,
.h-tbl-file tbody tr td {padding:20px;}
.h-tbl-file .h-file-name {font-size:var(--text-subtitle3);}
.h-tbl-file .h-file-name:focus:before {display:none;}
.h-tbl-file [class^="h-button"] {padding:0; width:auto; height:auto; line-height:normal;}

/***** 테이블 아이콘 *****/
.h-file-icon {width:22px; height:22px;}
.h-file-icon + span {display:inline-block; margin-left:10px; font-size:var(--text-subtitle4); color:var(--black-2);}

/***** 텍스트 박스 *****/
.h-box-wd500 {width:500px; box-sizing:border-box;}
.h-th-tit {width:250px;}
.h-th-tit strong + p {margin-top:10px;}

.h-job-info {min-width:420px; box-sizing:border-box;}
.h-job-info .academy-wrap {display:flex; box-sizing:border-box;}
.h-job-info .academy-wrap .academy {display:flex; align-items:center; flex:1; width:1px;}
.h-job-info .academy-wrap .academy .txt-ellipsis {display:inline-block; width:auto; max-width:calc(100% - 33px);}

/***** 목록 유형 1 - dl dt dd *****/
.h-list-1 {display:flex; flex-flow:row wrap; text-align:left; box-sizing:border-box;}
.h-list-1:not(.dt-wide) dt:not(:nth-child(-n+2)), 
.h-list-1:not(.dt-wide) dd:not(:nth-child(-n+2)) {margin-top:8px;}
.h-list-1 dt {flex-shrink:0; position:relative; width:96px; padding-left:8px; font-size:var(--text-subtitle5); color:var(--black-5); box-sizing:border-box;}
.h-list-1 dt:before {position:absolute; top:10px; left:0; content:''; width:2px; height:2px; background-color:var(--black-5); border-radius:50%;}
.h-list-1 dd {width:calc(100% - 96px); margin-left:auto; font-size:var(--text-subtitle3); font-weight:var(--text-medium); color:var(--black-2); box-sizing:border-box;}
.h-list-1 dd span {color:var(--black-3);}
    /* dt - width 100% */
    .h-list-1.dt-wide :is(dt, dd) {width:100%;} 
    .h-list-1.dt-wide dd {padding-left:8px;}

/***** 체크박스 토글버튼 *****/
.btn-tgl[type="checkbox"] {position:absolute; width:1px; height:1px; clip:rect(0 0 0 0); padding:0; margin-left:1px; border:0; overflow:hidden;}
.btn-tgl[type="checkbox"] + label {display:inline-block; width:23px; height:23px; text-indent:-9999px; margin-left:10px; cursor:pointer; overflow:hidden;}
.btn-tgl[type="checkbox"] + label:before {content:''; width:100%; height:100%; display:block; border:2px solid transparent; border-radius:4px; box-sizing:border-box; transition:background-image 0.3s;}
.btn-tgl[type="checkbox"]:focus + label:before {border-color:#000;}
    /* 좋아요 */
    .btn-like[type="checkbox"] + label:before {background:url(../images/btn-like.png) center no-repeat;}
    .btn-like[type="checkbox"]:checked + label:before {background-image:url(../images/btn-like-active.png);}
    /* 스크랩 */
    .btn-scrap[type="checkbox"] + label:before {background:url(../images/btn-scrap.png) top center no-repeat;}
    .btn-scrap[type="checkbox"]:checked + label:before {background-image:url(../images/btn-scrap-active.png);}

/***** 간격 *****/
.mt3-mb6 {margin-top:3px; margin-bottom:6px;}
.h-tbl-basic-1 + .h-pagination {margin-top:40px;}















/***** 프로그레스 Progress *****/
.h-progress-wrap {display:flex; flex-flow:row wrap; justify-content:space-between; padding:40px 60px; margin-bottom:50px; box-sizing:border-box;}
.h-progress-wrap strong + .h-progress {margin-left:35px;}
.h-progress-wrap .h-progress {flex-grow:1; display:flex; flex-flow:row wrap; align-items:center;}
.h-progress-wrap .h-progress .h-progress-bar-inner {position:relative; flex-grow:1; display:flex; flex-flow:row wrap; height:20px; margin-left:10px; margin-right:10px; border-radius:90px; box-shadow:inset 0px 1px 5px #00000026; background-color:var(--grey-1);}
.h-progress-wrap .h-progress .h-progress-bar-inner .h-progress-bar {background-color:var(--cyan); border-radius:90px;}
    /* 텍스트 */
    .h-progress-wrap .h-progress :is(.min, .max) {display:inline-block; font-size:var(--text-subtitle6); color:var(--black-3);}
    .h-progress-wrap .h-progress .h-progress-bar-inner .size {display:flex; flex-flow:row wrap; justify-content:center; align-items:center; position:absolute; transform:translateX(-40px); -webkit-transform:translateX(-40px); top:-55px; width:64px; height:45px; color:#fff; font-size:var(--text-subtitle6); font-weight:var(--text-regular); background-color:var(--cyan); border-radius:50%;}
    .h-progress-wrap .h-progress .h-progress-bar-inner .size:after {position:absolute; top:100%; left:50%; content:''; display:block; width:0; height:0; margin-left:-4px; border-top:6px solid var(--cyan); border-right:4px solid transparent; border-bottom:4px solid transparent; border-left:4px solid transparent;}





 /***** 팝업 *****/
 .h-popup-wrap { display: none; z-index: 1001; align-items: center; display: flex; height: 100%; justify-content: center; left: 0; position: fixed; top: 0; width: 100%; } 
 .h-popup { white-space: normal; display: block; word-wrap: break-word; min-height: 300px; border-radius: 15px; position: relative; margin: 0 auto; flex: 0 0 auto; z-index: 1001; max-height: 95%; -webkit-box-shadow: 0px 5px 10px #0000001A; box-shadow: 0px 5px 10px #0000001A; padding: 40px; background-color: #fff; box-sizing: border-box; height: 80%; max-height: 790px!important; } 
 .h-popup .pop-header { width: 100%; text-align: left; box-sizing: border-box; padding-bottom: 20px; } 
 .h-popup .pop-body { height: calc(100% - 47px); box-sizing: border-box; position: relative; overflow: hidden; } 
 .h-popup .pop-container { width: 100%; height: 100%; box-sizing: border-box; position: relative; word-wrap: break-word; overflow-y: auto; } 
 .h-popup .pop-title { color:var(--black-1); } 
 .h-popup button.close { height: 54px; top: 0px; right: 0px; width: 54px; position: absolute; border: none; cursor: pointer; text-align: center; border-radius: 0 15px 0 0; box-sizing: border-box; } 
 .h-popup button.close img { vertical-align: middle; max-width: 14px; } 
 .h-popup.popup-02 button.close { border-radius: 0 4px 0 0; } 
 .h-popup.popup-02 { border: 2px solid var(--border-basic-1); border-radius: 4px; } 
 .h-popup.popup-03 { border: 2px solid #0000001A; border-radius: 0; padding:0; } 
 .h-popup.popup-03 .pop-header { background-color: var(--neutral-3); padding: 40px 40px 30px; max-height: 190px; overflow: hidden; text-overflow: clip; } 
 .h-popup.popup-03 .pop-header p.pop-title { text-overflow: clip; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-inline-box; overflow: hidden; margin-bottom: 20px; width: 100%; } 
 .h-popup.popup-03 .pop-header .subTitle01 { position: relative; font-size: var(--text-subtitle2); padding-top: 20px; margin-bottom: 8px; line-height: 21px; text-overflow: clip; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-inline-box; overflow: hidden; width: 100%; } 
 .h-popup.popup-03 .pop-header .subTitle01:before { content: ''; width: 100%; height: 1px; background: var(--grey-3); position: absolute; left: 0; top: 0; } 
 .h-popup.popup-03 .pop-header .subTitle02 { line-height: 20px; text-overflow: clip; -webkit-line-clamp: 1; -webkit-box-orient: vertical; display: -webkit-inline-box; overflow: hidden; width: 100%; } 
 .h-popup.popup-03 .pop-container { padding: 20px 40px; } 
 .h-popup.popup-03 .pop-body { height: calc(100% - 190px); } 

