@charset "utf-8";

/* style */
/* $color-teal:#43a986;
$color-cyan:#26b2c8;
$color-grey-1:#c3cad4;
$color-grey-2:#8c9197;
$color-grey-3:#62666b;
$color-neutral-1:#f2f2f2;
$color-neutral-2:#ebeff5;
$color-neutral-3:#f5f7fa;
$color-neutral-4:#ebf4ff;
$color-orange:#ff6000;

$color-blue-1:#369BFF;
$color-blue-2:#0080FF;
$color-blue-3:#61A6FF;
$color-blue-4:#0E97FF;
$color-blue-grey:#31516a;

$color-black-1:#151515;
$color-black-2:#333333;
$color-black-3:#7E7E7E;
$color-black-4:#9A9A9A;
$color-black-5:#BCBCBC;

$borderColor-basic-1:#62666B;
$borderColor-basic-2:#CCD1D7;
$borderColor-basic-3:#E0E6EF;
$borderColor-basic-4:#D4DAE2; */

/* 공통 */
input::placeholder {color:#BCBCBC;}

.text-h1 {font-size:32px; letter-spacing:-1px; font-weight:700; line-height:1.2em;}
.text-h2 {font-size:26px; letter-spacing:-1px; font-weight:700; line-height:1.2em;}
.text-h3 {font-size:22px; letter-spacing:-1px; font-weight:700; line-height:1.2em;}
.text-h4 {font-size:20px; letter-spacing:0; font-weight:700; line-height:1.2em;}

.text-subtitle1 {font-size:18px; letter-spacing:0; line-height:26px;}
.text-subtitle2 {font-size:16px; letter-spacing:0; line-height:24px;}
.text-subtitle3 {font-size:15px; letter-spacing:0; line-height:24px;}
.text-subtitle4 {font-size:14px;letter-spacing:0;line-height:22px;}
.text-subtitle5 {font-size:13px;letter-spacing:0;line-height:20px;}
.text-subtitle6 {font-size:12px;letter-spacing:0;line-height:16px;}

.inp-type-basic input {padding:15px; border-radius: 4px; border: 1px solid #CCD1D7;}
.inp-type-basic input:focus {outline: none !important; border-color: #62666B; transition: all ease 0.5s;}
.inp-type-basic {position: relative;}
.inp-type-basic .inp-tit {position: absolute;top: -5px;left: 13px;padding: 0 5px;font-size: 12px;background:#fff;}

.slt-type-basic select {padding:15px; border-radius: 4px; border: 1px solid #CCD1D7;}
