@charset "utf-8";

:root {
    /* Color */
    --teal:#43a986;
    --cyan:#26b2c8;
    --orange:#ff6000;

    --blue-1:#369BFF;
    --blue-2:#0080FF;
    --blue-3:#61A6FF;
    --blue-4:#0E97FF;
    --blue-grey:#31516a;

    --grey-1:#c3cad4;
    --grey-2:#8c9197;
    --grey-3:#62666b;
    --neutral-1:#f2f2f2;
    --neutral-2:#ebeff5;
    --neutral-3:#f5f7fa;
    --neutral-4:#ebf4ff;
    
    --black-1:#151515;
    --black-2:#333333;
    --black-3:#7E7E7E;
    --black-4:#8B8B8B;
    --black-5:#9A9A9A;
    --black-6:#BCBCBC;
    
    --border-basic-1:#62666B;
    --border-basic-2:#CCD1D7;
    --border-basic-3:#E0E6EF;
    --border-basic-4:#D4DAE2;

    /* Font */
    --text-light: 300;
    --text-regular: 400;
    --text-medium: 500;
    --text-bold: 700;
    --text-extrabold: 800;

    --text-h1: 32px;
    --text-h2: 26px; 
    --text-h3: 22px;
    --text-h4: 20px;

    --text-subtitle1: 18px;
    --text-subtitle2: 16px;
    --text-subtitle3: 15px;
    --text-subtitle4: 14px;
    --text-subtitle5: 13px;
    --text-subtitle6: 12px; 

    --letter-spacing-0: 0;
    --letter-spacing-1: -1px;
    --letter-spacing-2: -2px;
}

.text-h1 {font-size:var(--text-h1); letter-spacing:var(--letter-spacing-1); font-weight:var(--text-bold); line-height:1.2em;}
.text-h2 {font-size:var(--text-h2); letter-spacing:var(--letter-spacing-1); font-weight:var(--text-bold); line-height:1.2em;}
.text-h3 {font-size:var(--text-h3); letter-spacing:var(--letter-spacing-1); font-weight:var(--text-bold); line-height:1.2em;}
.text-h4 {font-size:var(--text-h4); letter-spacing:var(--letter-spacing-0); font-weight:var(--text-bold); line-height:1.2em;}
.text-subtitle1 {font-size:var(--text-subtitle1); letter-spacing:var(--letter-spacing-0); line-height:26px;}
.text-subtitle2 {font-size:var(--text-subtitle2); letter-spacing:var(--letter-spacing-0); line-height:24px;}
.text-subtitle3 {font-size:var(--text-subtitle3); letter-spacing:var(--letter-spacing-0); line-height:24px;}
.text-subtitle4 {font-size:var(--text-subtitle4); letter-spacing:var(--letter-spacing-0); line-height:22px;}
.text-subtitle5 {font-size:var(--text-subtitle5); letter-spacing:var(--letter-spacing-0); line-height:20px;}
.text-subtitle6 {font-size:var(--text-subtitle6); letter-spacing:var(--letter-spacing-0); line-height:16px;}



input::placeholder {color:#BCBCBC;}

.inp-type-basic input {padding:15px; border-radius: 4px; border: 1px solid #CCD1D7;}
.inp-type-basic input:focus {outline: none !important; border-color: #62666B; transition: all ease 0.5s;}
.inp-type-basic {position: relative;}
.inp-type-basic .inp-tit {position: absolute;top: -5px;left: 13px;padding: 0 5px;font-size: 12px;background:#fff;}

.slt-type-basic select {padding:15px; border-radius: 4px; border: 1px solid #CCD1D7;}
