@charset "utf-8";

/********** Table **********/
/***** 테이블 상단 텍스트 *****/
.h-tit-box-1 {display:flex; margin-bottom:23px;}

/***** 테이블 유형 1 *****/
.h-tbl-basic-1 {border-top:1px solid var(--border-basic-1); font-size:var(--text-subtitle4); text-align:center;}
.h-tbl-basic-1 thead tr th {background-color:var(--neutral-2); font-size:var(--text-subtitle5); font-weight:var(--text-regular); color:var(--black-5); padding:25px 15px; border-bottom:1px solid var(--border-basic-4); box-sizing:border-box;}
.h-tbl-basic-1 tbody tr:hover td {background-color:var(--neutral-2);}
.h-tbl-basic-1 tbody tr td {padding:25px 10px; color:var(--black-3); border-bottom:1px solid var(--border-basic-3); box-sizing:border-box;}
.h-tbl-basic-1 tbody tr td.txt-l {text-align:left;}
.h-tbl-basic-1 tbody tr td :is(span, strong):not(.i-block) {display:block;}
.h-tbl-basic-1 tbody tr td :is(span, strong):not([class *= "m"]) {margin:2px 0;}
.h-tbl-basic-1 tbody tr td strong:not([class *= "txt"]) {font-weight:var(--text-medium); color:var(--black-2);}
    /* 테이블 hover 시 tr 색 변경 없음 */
    .h-tbl-hover-none tbody tr:hover td {background-color:transparent;}

/***** 텍스트 *****/
.tbl-tit-1 {font-size:var(--text-h2); color:var(--black-1); font-weight:var(--text-bold); letter-spacing:var(--letter-spacing-065);}
    .tbl-tit-1 + :is(.btn-more-circle) {margin-left:20px;}
.h-txt-1 {color:var(--black-1);}
.h-txt-2 {color:var(--black-2);}

/***** 간격 *****/
.mt3-mb6 {margin-top:3px; margin-bottom:6px;}

/***** 버튼 *****/
/* 더보기 */
.btn-more-circle {display:inline-flex; flex-flow:row wrap; align-items:center; font-size:var(--text-subtitle5); color:var(--black-3);}
.btn-more-circle i {width:18px; height:18px; margin-left:8px; border:2px solid var(--grey-1); border-radius:50%; box-sizing:border-box;}
.btn-more-circle i:before {content:''; display:inline-block; }

/* 체크박스 토글버튼 */
.btn-tgl[type="checkbox"] {position:absolute; width:1px; height:1px; clip:rect(0 0 0 0); padding:0; margin-left:1px; border:0; overflow:hidden;}
.btn-tgl[type="checkbox"] + label {display:inline-block; width:23px; height:23px; text-indent:-9999px; margin-left:10px; cursor:pointer; overflow:hidden;}
.btn-tgl[type="checkbox"] + label:before {content:''; width:100%; height:100%; display:block; border:2px solid transparent; border-radius:4px; box-sizing:border-box; transition:background-image 0.3s;}
.btn-tgl[type="checkbox"]:focus + label:before {border-color:#000;}
    /* 좋아요 */
    .btn-like[type="checkbox"] + label:before {background:url(../images/btn-like.png) center no-repeat;}
    .btn-like[type="checkbox"]:checked + label:before {background-image:url(../images/btn-like-active.png);}
    /* 스크랩 */
    .btn-scrap[type="checkbox"] + label:before {background:url(../images/btn-scrap.png) top center no-repeat;}
    .btn-scrap[type="checkbox"]:checked + label:before {background-image:url(../images/btn-scrap-active.png);}

