@charset "utf-8";

.menu-btit {margin:70px 0 30px;} 
.menu-btit strong {font-size:var(--text-h2); font-weight:var(--text-bold);}
.menu-stit {margin:70px 0 20px;}
.menu-stit strong {font-size:var(--text-subtitle1); font-weight:var(--text-bold);}


.recruit-info {}

.area-list-box {display: flex; flex-wrap: wrap; gap: 10px;}
.area-list-box li {display:flex;}
.area-list-box li a:hover {background:var(--teal); color:#fff; transition-duration: 0.3s;}
.area-list-box li a {margin:0; min-width:auto!important; padding:0 28px;}