@charset "utf-8";

/* ============================ 채용정보 ============================ */

.menu-stit {margin:70px 0 20px;}
.menu-stit strong {font-size:var(--text-subtitle1); font-weight:var(--text-bold);}

/* Tab 같은 링크이동 유형 */
.menu-btit {display:flex; align-items: flex-end;}
.menu-btit li {display:flex;}
.menu-btit li + li {position:relative; margin-left: 25px; padding-left: 25px;}
.menu-btit li + li:after {content:''; position:absolute; top:0; left:0; width:1px; height:30px; background:#dedede;}
.menu-btit li:last-child a {font-size:var(--text-h4); color:var(--black-6); font-weight:var(--text-medium);}

.area-list-box {display: flex; flex-wrap: wrap; gap: 10px; padding-top:10px;}
.area-list-box li {display:flex;}
.area-list-box li a:hover {background:var(--teal); color:#fff; transition-duration: 0.3s;}
.area-list-box li a {margin:0; min-width:auto!important; padding:0 28px;}


/* 카드형 UI 공통 */
/* 과목 직무 스페셜 TOP */
.card-logo-wrap {margin-bottom:70px;}
.card-logo-wrap ul {display:flex; gap:24px; flex-wrap: wrap;}
.card-logo-wrap ul li {position:relative; display:flex; flex-wrap: wrap; padding:40px 25px 35px; width:273px; height:290px; border:1px solid var(--cyan); border-radius: 10px; box-sizing: border-box;}
.card-logo-wrap ul li .imgbox {display:flex; align-items:center; width:140px; height:58px; margin:0 auto;}
.card-logo-wrap ul li img {width:140px; height:58px;}
.card-logo-wrap ul li .cardbox {margin-top:30px;}
.card-logo-wrap ul li .cardbox .name {margin-bottom:8px; font-size:var(--text-subtitle4); color:var(--black-3); font-weight:var(--text-regular);}
.card-logo-wrap ul li .cardbox .btit {margin-bottom:15px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.3em; height: 2.6em; font-size:var(--text-subtitle1); color:var(--black-2); font-weight:var(--text-bold);}
.card-logo-wrap ul li .cardbox .txtbox {margin-bottom:10px; font-size:var(--text-subtitle5); color:var(--black-3);}
.card-logo-wrap ul li .cardbox .txtbox span + span {position:relative; margin-left:10px; padding-left:10px;}
.card-logo-wrap ul li .cardbox .txtbox span + span:after {content:''; position:absolute; top:0; left:0; width:1px; height:15px; background:#dedede;}
.card-logo-wrap ul li .cardbox .paytxt {font-size:var(--text-subtitle5);}
.card-logo-wrap ul li .cardbox .paytxt span {color:var(--black-5);}
.card-logo-wrap ul li .btn-star {position:absolute; top:20px; right:20px; width:23px; height:23px;}
.card-logo-wrap ul li .btn-star label {margin:0;}
.card-logo-wrap ul li .btn-circle-plus {position:absolute; right:15px; bottom:15px; width:26px; height:26px; line-height:25px; border-radius: 50%; background:var(--neutral-2); box-sizing: border-box;}
.card-logo-wrap ul li .btn-circle-plus:after {content:'+'; position:absolute; width:26px; height:26px; right:0; bottom:0; font-size: 23px; font-weight:300; color:var(--grey-1);}

.qmenu-arrow {font-size:var(--text-subtitle5); color:var(--black-2);}
.qmenu-arrow:after {content:''; display:inline-block; margin-left:7px; background:url('../images/btn_grey_arrow2.png') no-repeat; width:14px; height:11px;}

/* LOGO 스페셜 TOP */
.card-logo-wrap ul.nowrap-type {gap:18px;}
.card-logo-wrap ul.nowrap-type li {flex-wrap: nowrap; padding:25px; width:376px; height:145px;}
.card-logo-wrap ul.nowrap-type li .cardbox {margin-top:0;}
.card-logo-wrap ul.nowrap-type li .cardbox .btit {height: 1.3em; font-size: var(--text-subtitle3); font-weight: var(--text-medium); -webkit-line-clamp:1;}
.card-logo-wrap ul.nowrap-type li .imgbox {width:80px; height:34px; margin-right:15px;}
.card-logo-wrap ul.nowrap-type li img {width:80px; height:34px;}
.card-logo-wrap ul.nowrap-type li .btn-star {top:15px; right:15px;}

/* 상세조건 */
.htRound-tab > input[type="radio"] + label {flex-basis: 180px!important; height: 60px; margin-right:10px; border-radius:4px;}

/* 5개씩 떨어짐 */
.card-logo-wrap ul.col-5-list {gap:21px;}
.card-logo-wrap ul.col-5-list li {width:216px; height:250px; padding:30px 25px 35px;}
.card-logo-wrap ul.col-5-list li .cardbox {margin-top:20px;}
.card-logo-wrap ul.col-5-list li .cardbox .btit {font-size:var(--text-subtitle2); font-weight:var(--text-medium);}
.card-logo-wrap ul.col-5-list li .imgbox {width:100px; height:42px; margin: initial;}
.card-logo-wrap ul.col-5-list li .imgbox img {width:100px; height:42px;}
.card-logo-wrap ul li .fc-orange {color:var(--orange)!important;}

.card-ui-wrap .card-logo-wrap ul li {border-color:var(--border-basic-4);} 
.card-ui-wrap .card-logo-wrap ul.specialTop-list li {overflow: hidden; height: auto!important; padding: 5px 0 0 0!important; background: var(--teal); border-color:var(--teal)!important;}
.card-ui-wrap .card-logo-wrap ul.specialTop-list li .specialTop-inner {padding:40px 25px 35px; background:#fff; border-radius:10px; box-sizing: border-box;}
.card-ui-wrap .card-logo-wrap ul.special-list li {border-color:var(--cyan)!important;}
.card-ui-wrap .card-logo-wrap ul.focus-list li {height:257px; padding:30px 25px 34px;}
.card-ui-wrap .card-logo-wrap ul.focus-list li .cardbox {margin-top:20px;}
.card-ui-wrap .card-logo-wrap ul.focus-list li .cardbox .btit {font-size:17px;}
.card-ui-wrap .card-logo-wrap ul.focus-list li .imgbox {width:115px; height:48px;}
.card-ui-wrap .card-logo-wrap ul.focus-list li .imgbox img {width:115px; height:48px;}

/* 리스트 */
.card-logo-wrap ul.nowrap-type.list-type {gap:0;}
.card-logo-wrap ul.nowrap-type.list-type li {position:relative; padding:25px; width:389px; height:90px; border-radius:0; border:1px solid var(--border-basic-4);  border-right-width:0; margin-left:-1px; cursor: pointer; box-sizing: border-box;}
.card-logo-wrap ul.nowrap-type.list-type li:nth-child(-n+3) {margin-bottom:-1px;}
.card-logo-wrap ul.nowrap-type.list-type li:nth-child(3n) {border-right:1px solid var(--border-basic-4);}
.card-logo-wrap ul.nowrap-type.list-type li .cardbox .txt {position:absolute; bottom:15px; right:15px; font-size:var(--text-subtitle5); color:var(--black-3);}
.card-logo-wrap ul.nowrap-type.list-type li .cardbox .btit {width:90%;}


.card-logo-wrap ul.nowrap-type.list-type li:hover {border-color:var(--blue-3); transition:all ease 0.3s;}
.card-logo-wrap ul.nowrap-type.list-type li:hover + li {border-left-color:var(--blue-3);}
.card-logo-wrap ul.nowrap-type.list-type li:hover + li + li + li {border-top-color:var(--blue-3);}






/* ============================ 브랜드채용관 ============================ */

.subVisual {position:relative; /*padding-top:250px;*/}
.subVisual:after {content:''; display:block; position:absolute; top:0; left:0; width:100%; height:250px; background:url('../images/bg_brandRecruit01.jpg') no-repeat; background-size:cover; z-index: -1;}
.subVisual .content {padding-top:0;}

.txtVisual {height:250px;}
.txtVisual ul {max-width: 1164px; width: 100%; margin: 0 auto; display: flex; align-items: center; height:100%;}
.txtVisual .imgbox {display: flex; align-items: center; justify-content: center; margin-right:30px; width:220px; height:94px; background:#fff; border-radius:10px; box-sizing: border-box;}
.txtVisual .imgbox img {width:140px; height:58px;}
.txtVisual .txtbox {color:#fff;}
.txtVisual .txtbox strong {font-size:30px; font-weight:var(--text-bold);}
.txtVisual .txtbox p {margin-top:10px; line-height:20px; font-size:var(--text-subtitle4); font-weight:var(--text-regular);}



