@charset "utf-8"; 
/*2023-06-29 SSJ*/

/*리스트 상단 기간 검색바*/
.m-hunjang-wrap .list-topBox {background: var(--neutral-3);width: 100%; padding:20px 15px 11px;box-sizing:border-box;border-bottom: 1px solid var(--border-basic-3);}
.m-hunjang-wrap .list-topBox.noborder {border:none;}
.m-hunjang-wrap .list-topBox .tit {margin-bottom: 7px;display: flex;}
.m-hunjang-wrap .list-topBox .tit strong {margin-right: 7px;}
.m-hunjang-wrap .list-topBox .tit .i-guideBtn {}
.m-hunjang-wrap .list-topBox .flex.flex-between a,.list-topBox .flex.flex-between button {padding: 0 12px !important; min-width: auto !important;}
.m-hunjang-wrap .list-topBox .flex.flex-between a i,
.m-hunjang-wrap .list-topBox .flex.flex-between button i {font-size:var(--text-subtitle3); vertical-align: middle; margin-top: -2px; margin-right: 3px;}
.m-hunjang-wrap .list-topBox .flex.flex-between select { height: 35px; min-width: 100px;}
.m-hunjang-wrap .list-topBox .m-datepicker {display: flex; justify-content: space-between;}
.m-hunjang-wrap .list-topBox .m-datepicker .periodBox {width: calc(100% - 68px);background:var(--neutral-2);border-radius:4px;margin-right:5px;padding: 8px 15px;box-sizing:border-box;text-align: left;}
.m-hunjang-wrap .list-topBox .m-datepicker .periodBox .period {color:var(--black-5);font-size:var(--text-subtitle5);margin-right: 8px;}
.m-hunjang-wrap .list-topBox .m-datepicker .periodBox .period:before {content:"\b7";margin-right: 3px;}
.m-hunjang-wrap .list-topBox .m-datepicker .periodBox .date {color:var(--black-2)var(--black-2); font-size:var(--text-subtitle5);}
.m-hunjang-wrap .list-topBox .m-datepicker .h-button-white {width:68px;margin: 0;}
.m-hunjang-wrap .list-topBox .totaldata {display:flex;}
.m-hunjang-wrap .list-topBox .totaldata .dt {font-size:var(--text-subtitle5); color:var(--black-3);}
.m-hunjang-wrap .list-topBox .totaldata .dd {font-size:var(--text-subtitle5); color:var(--black-2)var(--black-2); margin-left:3px;}
.m-hunjang-wrap .list-topBox .bluebgBox {background:var(--neutral-2); border-radius:10px; padding:20px; box-sizing:border-box;}
.m-hunjang-wrap .list-topBox .guideTxt {font-size:13px; color:#7E7E7E; line-height:22px; padding-left: 9px; text-indent: -5px;}
.m-hunjang-wrap .list-topBox .guideTxt:before {content:"\b7"; margin-right:3px;}
.m-hunjang-wrap .list-topBox a.wd100.h-button-teal {margin:15px 0 0; font-size:15px; font-weight:500;}
.m-hunjang-wrap .content.p0 {background:var(--neutral-3);}
.m-hunjang-wrap .content.p0 .list-topBox {border-bottom:none;}
.m-hunjang-wrap .content.p0 .list-topBox:only-child,
.m-hunjang-wrap .content.white-nopadding .list-topBox:only-child {min-height: 82vh;}

/*기본 리스트*/
.list-mbasic {width:100%; display:flex; flex-direction:column;}
.list-mbasic .libox {border-bottom:1px solid #E7EDF5;padding: 18px 15px 17px;display: flex;}
.list-mbasic:not(.myrsume-OpenAcmy) .libox {justify-content: space-between;}
.list-mbasic .chckdiv {}
.list-mbasic .txtdiv {}
.list-mbasic:not(.myrsume-OpenAcmy) .txtdiv {width:65%; flex-grow: 3;}
.list-mbasic .txtdiv .trTit {width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size:var(--text-subtitle2);color:var(--black-1);font-weight:var(--text-bold);line-height:22px;margin-top: 2px;display: block;margin-bottom: 3px;}
.list-mbasic .txtdiv .dl {display:flex;}
.list-mbasic .txtdiv .dt {font-size:var(--text-subtitle6);color:var(--black-5);line-height:20px;margin-right: 3px;}
.list-mbasic .txtdiv .dd {font-size:var(--text-subtitle6); color:var(--black-2)var(--black-2); line-height:20px;}
.list-mbasic .txtdiv .dl.straightDl {}
.list-mbasic .txtdiv .dl.straightDl .dt:not(:last-of-type):after {content:"";display: inline-block;width: 1px;height: 12px;background: #E0E6EF;margin: 0 5px 0 7px;vertical-align: middle;}
.list-mbasic .txtdiv .subco {color:var(--black-3); font-size:var(--text-subtitle5); line-height:20px;}
.list-mbasic .txtdiv.loginList {display:flex;}
.list-mbasic .txtdiv.loginList .dt {font-size:var(--text-subtitle5);}
.list-mbasic .txtdiv.loginList .dd {font-size:var(--text-subtitle5); margin:0 20px 0 2px}
.list-mbasic .r-btnbox {display: flex;flex-direction:column;align-items: flex-end;justify-content: space-between;min-width: 70px;}
.list-mbasic .r-btnbox a {margin:0;}
.list-mbasic .straightUl {display: flex;}
.list-mbasic .straightUl .dt {}
.list-mbasic .straightUl .dd {margin-right: 15px;}
.list-mbasic.no-data {width: 100%;display: flex;background: var(--neutral-3);justify-content: center;align-items: center;min-height: 65vh;}
.list-mbasic.no-data p {font-size:var(--text-subtitle5); color:var(--black-3); line-height:20px; padding:0 30px;}
.list-mbasic.no-data.includeBtn {flex-direction: column;align-items: center; text-align: center;}
.list-mbasic.no-data.includeBtn a {margin-top:20px;}


.m-hunjang-wrap .yellowMking {font-size:var(--text-subtitle6);color:var(--black-2)var(--black-2);line-height:20px;margin-top: 4px;z-index: 0;display: inline-block;position: relative;}
.m-hunjang-wrap .yellowMking:before {content:"";display:inline-block;width:100%;height:6px;background:#ffe43a;position: absolute;z-index: -1;bottom: 3px;}


.m-hunjang-wrap .bg-lightblue-List {background:var(--neutral-3); padding:20px 15px; width:100%; box-sizing:border-box;}
.m-hunjang-wrap .bg-lightblue-List .list-topBox {border-bottom:none; padding:0 0 3px;}
/*기본 화이트박스 리스트*/
.m-hunjang-wrap .list-whitebox {background:#fff; border-radius:10px; box-sizing:border-box; padding:20px; margin-bottom:10px;}
.m-hunjang-wrap .list-whitebox .trTit {font-size:var(--text-subtitle3); font-weight:var(--text-bold); line-height:18px; color:var(--black-1); margin-bottom:5px; display:block;}
.m-hunjang-wrap .list-whitebox .subco {font-size:var(--text-subtitle5); color:var(--black-3); line-height:20px; margin-bottom:10px;}
.m-hunjang-wrap .list-whitebox .select_check {margin-top:20px;}
.m-hunjang-wrap .list-whitebox a:only-of-type.wd100 {margin-left:0; margin-right:0;}
.m-hunjang-wrap .list-whitebox .h-switch {margin-right:15px;}













/*연락처공개제의학원*/
.m-hunjang-wrap .rspnd-date {margin-top: 8px;text-align:center;line-height: 13px;}
.m-hunjang-wrap .rspnd-date p {font-size:var(--text-subtitle6);color:var(--black-3);}
.m-hunjang-wrap .rspnd-date .d-daytxt {font-size:var(--text-subtitle6);}

/*연락처공개제의학원*/
.m-hunjang-wrap .filemngr .libox {display:flex; justify-content:space-between; align-items: flex-end;}
.m-hunjang-wrap .filemngr .libox:last-child {margin-bottom:70px;}
.m-hunjang-wrap .filemngr .filesort {display:flex; align-items:center;}
.m-hunjang-wrap .filemngr .filesort img {width:18px; margin-right:7px;}
.m-hunjang-wrap .filemngr .filesort span {font-size:var(--text-subtitle5); color:var(--black-3); line-height:20px;}
.m-hunjang-wrap .filemngr .trTit {padding-top: 4px;}
.m-hunjang-wrap .filemngr .r-box .h-button-del {margin:0 -10px -10px 0;}

/*내이력서열람학원*/
.m-hunjang-wrap .myrsume-OpenAcmy {overflow:hidden;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox {display:flex; padding: 0;position: relative;flex-wrap: wrap; z-index:0;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox .libox.wd100 {z-index:1; background:#fff;}
.m-hunjang-wrap .myrsume-OpenAcmy .chckdiv {padding: 17px 0 17px 15px;}
.m-hunjang-wrap .myrsume-OpenAcmy .txtdiv {width: 100%;width: calc(100% - 128px);flex-shrink:3;padding: 17px 5px 17px 0;}
.m-hunjang-wrap .myrsume-OpenAcmy .r-box {width: 68px; padding: 20px 0; display: flex; align-items: center; text-align: center; border-left: 1px solid #E7EDF5; box-sizing: border-box;}
.m-hunjang-wrap .myrsume-OpenAcmy .r-box .geonIng {font-size:12px;width: 100%;}
.m-hunjang-wrap .myrsume-OpenAcmy .r-box .geonIng p {font-weight:500;}
.m-hunjang-wrap .myrsume-OpenAcmy .r-box .geonIng strong {font-weight:500;margin-right: -2px;}
.m-hunjang-wrap .myrsume-OpenAcmy .r-box button {width:100%; clear:both; margin-top:3px;}
.m-hunjang-wrap .myrsume-OpenAcmy .r-box button.close img {transform:rotate(180deg);}

.m-hunjang-wrap .myrsume-OpenAcmy .libox-subWrap {width:100%; background:#EBEFF5; padding-bottom:4px; transition: all 1s;overflow: hidden; margin-top: -180px;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-subWrap.on {/*display:block !important;*/ margin-top:0;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub {width:100%;background: #F5F7FA;border-top: 1px solid #E7EDF5;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .txtdiv {padding-left: 55px; position: relative; width: calc(100% - 80px); box-sizing: border-box;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .txtdiv .trTit {width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .txtdiv .dt:not(:last-of-type):after {content:"";display: inline-block;width: 1px;height: 12px;background: #E0E6EF;margin: 0 5px 0 7px;vertical-align: middle;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .txtdiv:before {content:"";width:8px;height:10px;border:1px solid #C3CAD4;border-width:0 0 1px 1px;display:inline-block;/* margin: 22px 15px 0 32px; */position: absolute;left: 32px;top: 22px;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .r-box {border-left:none;flex-direction:column;align-items: flex-end;width: 80px;padding: 15px 15px 16px 0;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .r-box a {margin:0; width:65px;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .r-box .scrap_star {margin-top: 7px;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .r-box .scrap_star .btn-scrap-bold[type="checkbox"] + label {width: 20px; height: 18px;}
.m-hunjang-wrap .myrsume-OpenAcmy .libox-sub .r-box .scrap_star .btn-scrap-bold[type="checkbox"] + label:before {background-size: 20px 18px;}


/* 이력서매칭정보 */
.myresumeInfoBox {margin-top:10px;}
.myresumeInfoBox .dl {width:100%;display: flex;align-items: center; position:relative;}
.myresumeInfoBox .dl .dt {font-size:12px; color:#9A9A9A; line-height:20px;}
.myresumeInfoBox .dl .dd {font-size:12px;color:#333333;line-height:20px;padding-left: 4px;}
.myresumeInfoBox .dl .h-button-refresh {height: auto; line-height: normal;}
.myresumeInfoBox .titbox {padding:5px 0 0;display: flex;justify-content: space-between;}
.myresumeInfoBox .titbox .tit {font-size:16px;color:#151515;line-height:22px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width: 90%;flex-grow: 2;display: list-item;}
.myresumeInfoBox .titbox .foldBtn {width: 21px; height: 21px; background: url(../images/arrow_dropdown.svg); background-size: 21px;}
.myresumeInfoBox .resume-prevwnbtn {align-items: flex-end;}
.myresumeInfoBox .resume-prevwnbtn .dlbox {}
.myresumeInfoBox .resume-prevwnbtn .dlbox .dl {}
.myresumeInfoBox .resume-prevwnbtn .dlbox .dl .dt {}
.myresumeInfoBox .resume-prevwnbtn .dlbox .dl .dt:before {content:"\b7";margin-right: 2px;}
.myresumeInfoBox .resume-prevwnbtn .dlbox .dl .dd {}
.myresumeInfoBox .resume-prevwnbtn .dlbox .dl .dd .foldBtn {}
.myresumeInfoBox .resume-prevwnbtn .dlbox .dl .foldBtn {width: 17px; height: 17px; background: url(../images/arrow_dropdown.svg) no-repeat; background-size: 17px; padding: 0 !important; margin-left: 8px; transition:transform 0.5s;}
.myresumeInfoBox .resume-prevwnbtn .dlbox .dl .foldBtn.active {transform: rotate(180deg);}
.myresumeInfoBox .resume-prevwnbtn .btnbox  {}
.myresumeInfoBox .resume-prevwnbtn .btnbox a {margin:0;}
.myresumeInfoBox .no-resume {font-size:15px; line-height:22px; color:#151515; width:100%; text-align:center; padding:8px 0;}

.myresume-list {}
.myresume-list .myresumeInfoBox {margin:0 0 10px;}
.myresume-list .myresumeInfoBox .resume-prevwnbtn {}
.myresume-list .myresumeInfoBox .resume-prevwnbtn .dlbox { width: 100%; display: flex; flex-wrap: wrap; flex-direction: row;}
.myresume-list .myresumeInfoBox .resume-prevwnbtn .dlbox .dl {width: auto;box-sizing: border-box;padding-right: 14px;}
.myresume-list .myresumeInfoBox .resume-prevwnbtn .dlbox .dl:nth-child(2) ~ .dl {width: 100%;}
.myresume-list .myresumeInfoBox .h-checkbox {width:100%;margin: 15px 0 0;}
.myresume-list .myresumeInfoBox .h-checkbox.checkbox02 input[type="checkbox"] + label {border: 1px solid #E0E6EF;border-radius: 4px;width: 100%;display: block;height: 35px;line-height: 35px;box-sizing: border-box;font-size: 13px;}
.myresume-list .myresumeInfoBox .h-checkbox.checkbox02 input[type="checkbox"] + label:after {display:none;}
.myresume-list .myresumeInfoBox .h-checkbox.checkbox02 i {font-size: 16px;font-weight: 600;}
.myresume-list .myresumeInfoBox .h-checkbox.checkbox02 input[type="checkbox"]:checked + label {font-weight: 500;border-color: #61A6FF;}


/*이력서 관리*/
.myresumeInfoBox.myResmeAdmin {margin-top:0;}
.myresumeInfoBox.myResmeAdmin .flex.flex-between {align-items: flex-start;}
.myresumeInfoBox.myResmeAdmin .left-box {width:87%; flex-shrink: 2;}
.myresumeInfoBox.myResmeAdmin .left-box .titbox .tit {text-overflow: initial; white-space: normal;}
.myresumeInfoBox.myResmeAdmin .left-box .dl a {padding: 0 !important; margin: 0 0 0 15px !important; padding-right:15px;}
.myresumeInfoBox.myResmeAdmin .left-box .dl a span {margin-left:0 !important;}
.myresumeInfoBox.myResmeAdmin .fidelity {}
.myresumeInfoBox.myResmeAdmin .fidelity {background: var(--cyan); text-align: center; border-radius: 4px; padding: 13px 5px; margin-bottom: 6px; width: 55px; margin: -20px; box-sizing: border-box;}
.myresumeInfoBox.myResmeAdmin .fidelity p {font-size: var(--text-subtitle7); color: #fff; margin-bottom: 4px;}
.myresumeInfoBox.myResmeAdmin .fidelity strong {font-size: var(--text-subtitle1); color: #fff; font-weight: var(--text-bold); width: 100%; display: block; line-height: 78%;}
.myresumeInfoBox.myResmeAdmin .fidelity span {font-size: var(--text-subtitle6); color: #fff; font-weight: var(--text-bold);}
.myresumeInfoBox.myResmeAdmin .straightUl {display:flex;flex-wrap:wrap;padding: 0 0 15px 3px;}
.myresumeInfoBox.myResmeAdmin .straightUl .dl {width: auto; padding-right: 15px;}
.myresumeInfoBox.myResmeAdmin .straightUl .dl .dt {}
.myresumeInfoBox.myResmeAdmin .straightUl .dl .dt:before {content:"\b7";margin-right: 3px;}
.myresumeInfoBox.myResmeAdmin .straightUl .dl:last-of-type {width:100%;}
.myresumeInfoBox.myResmeAdmin .btnbox {display:flex;justify-content: space-between;align-items: center;}
.myresumeInfoBox.myResmeAdmin .btnbox a {margin:0; width:50%; margin-right:5px;}
.myresumeInfoBox.myResmeAdmin .btnbox a:last-child {margin-right:0;}
.myresumeInfoBox.myResmeAdmin .applyStatus4 {display:flex; margin-top:15px;}
.myresumeInfoBox.myResmeAdmin .applyStatus4 a {width:25%; text-align:center; border-right:1px solid #E0E6EF; }
.myresumeInfoBox.myResmeAdmin .applyStatus4 a:last-child {border-right:none;}
.myresumeInfoBox.myResmeAdmin .applyStatus4 strong {font-size:22px; font-family:'SUIT'; color:#61A6FF;}
.myresumeInfoBox.myResmeAdmin .applyStatus4 p {font-size:12px; line-height:14px;color:#333333; margin-top:5px;}

.m-hunjang-wrap .myresumeList {padding:15px 15px 60px;}
.m-hunjang-wrap .myresumeList .libox {background:#ffffff; padding:20px; border-radius:10px; box-sizing:border-box; margin-bottom:15px;}
.m-hunjang-wrap .myresumeList .libox .dl .yellowMking {margin-top:0; vertical-align:middle; margin-left:10px;}
.m-hunjang-wrap .myresumeList .libox .left-box {width:95%;}
.m-hunjang-wrap .myresumeList .libox .left-box .titbox .tit .h-txt-pit {font-weight:400;}
.m-hunjang-wrap .myresumeList .libox .r-box a {margin:-13px -13px 0 0}
.m-hunjang-wrap .myresumeList .libox .btnbox a:last-child:not(:only-child) {border-color:#43A986; color:#43A986}
.m-hunjang-wrap .myresumeList .libox .btnbox a:only-child {width:100%; margin-top:15px;}
.m-hunjang-wrap .myresumeList .ican {font-size:12px; color:#7E7E7E; line-height:20px; margin-top:15px; width:100%; text-align:center;}
.m-hunjang-wrap .myresumeList .ican:after {content:"";width:10px;height: 5px;display:inline-block;vertical-align: middle;background: url(../images/mobile/m_arrow_down_gray.png) no-repeat;background-size: 100%;margin: -2px 0 0 2px; transition:transform 0.5s;}
.m-hunjang-wrap .myresumeList .ican.active:after {transform:rotate(180deg);}
.m-hunjang-wrap .myresumeList .icanList {display:none;}
.m-hunjang-wrap .myresumeList .icanList.active {display:block !important;}
.m-hunjang-wrap .myresumeList .icanList .swiper-slide {width:130px; margin-right:10px;}
.m-hunjang-wrap .myresumeList .icanList .rcrut-summaryView {background:#F5F7FA; border-radius:10px; padding:15px; box-sizing:border-box; margin-top:10px;}
.m-hunjang-wrap .myresumeList .icanList .rcrut-summaryView .h-txt-1 {line-height:18px;-webkit-line-clamp: 3;-webkit-box-orient:vertical;display:-webkit-box;white-space:normal;overflow: hidden;}
.m-hunjang-wrap .myresumeList .icanList .rcrut-summaryView .h-button-xxs0 {background:#8C9197;}


/* 지원현황 */
.m-hunjang-wrap .apply_topbox {display:flex;justify-content:space-between;flex-wrap:wrap;}
.m-hunjang-wrap .apply_topbox select {height:35px;min-width:130px;border-color: #CCD1D7;}
.m-hunjang-wrap .apply_topbox .r-box {}
.m-hunjang-wrap .apply_topbox .r-box .h-button-white {margin: 0 !important; min-width: 68px !important; border-color: #E0E6EF;}
.m-hunjang-wrap .apply_topbox .r-box .h-button-icon-refresh {background:var(--grey-1); width:38px; height:35px; min-width: 38px !important; margin: 0;}
.m-hunjang-wrap .apply_topbox .applyStatus4 {width:100%;margin-top: 15px;display: flex;justify-content: space-around;}
.m-hunjang-wrap .apply_topbox .applyStatus4 div {background:#EBEFF5;border-radius:4px;text-align:center;margin-right: 5px;flex-grow: 1;padding: 10px 0;}
.m-hunjang-wrap .apply_topbox .applyStatus4 div strong {font-family:'SUIT'; font-size:22px;}
.m-hunjang-wrap .apply_topbox .applyStatus4 div p {font-size:12px; line-height:14px; margin-top:5px;}
.m-hunjang-wrap .apply_topbox .applyStatus4 div:first-child {background:#26B2C8;}
.m-hunjang-wrap .apply_topbox .applyStatus4 div:first-child * {color:#fff;}
.m-hunjang-wrap .apply_topbox .applyStatus4 div:last-child {margin-right:0;}
.m-hunjang-wrap .apply_topbox .h-m-popup.popup-04 {position: relative; width: 100%; clear: both; border-radius: 4px; margin: 10px 0 0; padding:15px;}
.m-hunjang-wrap .apply_topbox .h-m-popup.popup-04 .periodBox {display:flex;line-height:22px;}
.m-hunjang-wrap .apply_topbox .h-m-popup.popup-04 .periodBox .period {color:var(--black-5);font-size:var(--text-subtitle5);margin-right: 15px;min-width:51px;}
.m-hunjang-wrap .apply_topbox .h-m-popup.popup-04 .periodBox .period:before {content:"\b7";margin-right: 3px;}
.m-hunjang-wrap .apply_topbox .h-m-popup.popup-04 .periodBox .date {color:var(--black-2)var(--black-2); font-size:var(--text-subtitle5);}

.m-hunjang-wrap .apply_List {}
.m-hunjang-wrap .apply_List .libox {}
.m-hunjang-wrap .apply_List .libox .txtdiv {display: flex; flex-wrap: wrap;}
.m-hunjang-wrap .apply_List .libox .txtdiv .dl {align-items: baseline;}
.m-hunjang-wrap .apply_List .libox .txtdiv .dl .yellowMking {margin-left:10px;}
.m-hunjang-wrap .apply_List .libox .txtdiv .dl .yellowMking.reading_O {color:#333333; font-weight:600;}
.m-hunjang-wrap .apply_List .libox .txtdiv .dl .yellowMking.reading_X {color:#BCBCBC; font-weight:600;}
.m-hunjang-wrap .apply_List .libox .txtdiv .dl .dd {max-width: 74%; vertical-align: middle;}
.m-hunjang-wrap .apply_List .libox .txtdiv .dl .dd a {color:#0E97FF;text-decoration:underline;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100%;vertical-align: middle;}
.m-hunjang-wrap .apply_List .libox .txtdiv .dl:first-of-type,
.m-hunjang-wrap .apply_List .libox .txtdiv .dl:nth-of-type(2) {width:100%;}
.m-hunjang-wrap .apply_List .libox .txtdiv .dl:last-of-type {margin-left:12px;}
.m-hunjang-wrap .apply_List .libox .r-btnbox {justify-content: flex-start;}
.m-hunjang-wrap .apply_List .libox .r-btnbox .rcrtSttBox {font-size:12px; padding:12px 10px; width:65px; box-sizing:border-box; text-align:center; margin-bottom:10px; border-radius:4px; background: #F5F7FA;}
.m-hunjang-wrap .apply_List .libox .r-btnbox .rcrtSttBox p {color:#333333;}
.m-hunjang-wrap .apply_List .libox .r-btnbox .rcrtSttBox span {color:#7E7E7E; margin-top:3px;}
.m-hunjang-wrap .apply_List .libox .r-btnbox .rcrtSttBox.ing p {}
.m-hunjang-wrap .apply_List .libox .r-btnbox .rcrtSttBox.ing span {}
.m-hunjang-wrap .apply_List .libox .r-btnbox .rcrtSttBox.fin p {color:#BCBCBC;}
.m-hunjang-wrap .apply_List .libox .r-btnbox .rcrtSttBox.fin span {}
.m-hunjang-wrap .apply_List .libox .r-btnbox a {min-width:63px !important;}





/* 스크랩채용 */
.m-hunjang-wrap .scrapRcrt_topbox {display:flex;justify-content:space-between;margin-bottom: -7px; flex-wrap:wrap;}
.m-hunjang-wrap .scrapRcrt_topbox select {height:35px;min-width:130px;border-color: #CCD1D7;}
.m-hunjang-wrap .scrapRcrt_topbox .r-box {}
.m-hunjang-wrap .scrapRcrt_topbox .r-box .h-button-white {margin: 0 !important; min-width: 68px !important; border-color: #E0E6EF;}
.m-hunjang-wrap .scrapRcrt_topbox .r-box .h-checkbox {background: #fff; width: 130px; margin: 0;}
.m-hunjang-wrap .scrapRcrt_topbox .r-box .h-checkbox input[type="checkbox"] + label {border: 1px solid #E0E6EF;border-radius: 4px;width: 100%;display: block;height: 35px;line-height: 35px;box-sizing: border-box;font-size: 13px; color:#333333;}
.m-hunjang-wrap .scrapRcrt_topbox .r-box .h-checkbox input[type="checkbox"] + label:after {display:none;}
.m-hunjang-wrap .scrapRcrt_topbox .r-box .h-checkbox i {font-size: 16px; color:#C3CAD4;}
.m-hunjang-wrap .scrapRcrt_topbox .r-box .h-checkbox input[type="checkbox"]:checked + label {font-weight: 500;border-color: #61A6FF; color:#61A6FF;}
.m-hunjang-wrap .scrapRcrt_topbox .r-box .h-checkbox input[type="checkbox"]:checked + label i {color:var(--blue-3);}
.m-hunjang-wrap .scrap_recruitList .txtdiv {padding-top: 2px;}
.m-hunjang-wrap .scrap_recruitList .txtdiv .txtdiv_column {display: flex; align-items: flex-end;}
.m-hunjang-wrap .scrap_recruitList .txtdiv .txtdiv_column div {width: 70%; flex-grow: 2;}
.m-hunjang-wrap .scrap_recruitList .txtdiv .txtdiv_column .h-button-xxs0 {}
.m-hunjang-wrap .scrap_recruitList .txtdiv .txtdiv_column .h-button-fin {background:#F2F2F2; color:#9A9A9A; width:63px;}
.m-hunjang-wrap .scrap_recruitList .txtdiv .txtdiv_column .r-btnbox {width: 30px !important; min-width: 30px; flex-grow: 0 !important;}
.m-hunjang-wrap .scrap_recruitList .txtdiv .dlWrap {display: flex;flex-wrap: wrap;width: 100% !important;}
.m-hunjang-wrap .scrap_recruitList .txtdiv .dlWrap .dl {padding-right:11px;width: auto;flex-grow: 0;}
.m-hunjang-wrap .scrap_recruitList .txtdiv .yellowMking {width: auto !important;}
.m-hunjang-wrap .scrap_recruitList .r-btnbox .h-button-del {margin: 0 -11px -10px 0;}
.m-hunjang-wrap .scrapRcrt_topbox .h-m-popup.popup-04 {position: relative; width: 100%; clear: both; border-radius: 4px; margin: 10px 0 13px; padding:15px;}
.m-hunjang-wrap .scrapRcrt_topbox .h-m-popup.popup-04 .periodBox {display:flex;line-height: 19px;}
.m-hunjang-wrap .scrapRcrt_topbox .h-m-popup.popup-04 .periodBox .period {color:var(--black-5);font-size:var(--text-subtitle5);margin-right: 15px;min-width: 40px;}
.m-hunjang-wrap .scrapRcrt_topbox .h-m-popup.popup-04 .periodBox .period:before {content:"\b7";margin-right: 3px;}
.m-hunjang-wrap .scrapRcrt_topbox .h-m-popup.popup-04 .periodBox .date {color:var(--black-2)var(--black-2); font-size:var(--text-subtitle5);}


/* 추천 채용정보 */
.rcmnd_topbox .btnbox a {margin:0 3px 0 0; width:120px;}
.rcmnd_topbox .rcmd-setlist {margin-top:10px;}
.rcmnd_topbox .rcmd-setlist div:not(.h-radio-03) {position:relative;margin-bottom: 5px;}
.rcmnd_topbox .rcmd-setlist div .h-radio-04 {margin:0; height:48px; width:100%;}
.rcmnd_topbox .rcmd-setlist div .h-radio-04 input[type="checkbox"] + label {width:100%;height:100%;text-align:left;padding:15px;background: #EBEFF5;border-color: #E0E6EF;}
.rcmnd_topbox .rcmd-setlist div .h-radio-04 input[type="checkbox"] + label:after {left:19px;}
.rcmnd_topbox .rcmd-setlist div .h-radio-04 input[type="checkbox"] + label span {width: 80%; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; color: #9A9A9A; }
.rcmnd_topbox .rcmd-setlist div .delete-check {width:15px;height:15px;background:url(../images/icon_xs_close.png);position: absolute;right: 15px;top: 50%;margin-top: -7.5px;}
.rcmnd_topbox .rcmd-setlist div .h-radio-04 input[type="checkbox"]:checked + label {color:#333333;background: #fff;}
.rcmnd_topbox .rcmd-setlist div .h-radio-04 input[type="checkbox"]:checked + label span {color: #333333;}

.alertSet {font-size:var(--text-subtitle5); color:var(--black-3); display:flex; float:right;}
.alertSet:before {content:""; width:16px; height:17px; display:inline-block; background:url(../images/mobile/alertSet.png); margin-right:7px; background-position:center; background-size: 100%;}

.rcmnd-InfoSet {}
.rcmnd-InfoSet .h-radio-02 {width:100%;}
.rcmnd-InfoSet .h-radio-02 label {flex-grow: 1;}
.rcmnd-InfoSet .h-radio-02>input:checked + label {background:#26B2C8;color:#fff;border-color: #1CA3B8 !important;}
.rcmnd-InfoSet .h-radio-02 .if_careerY {display:none; background:#fff; padding:20px 10px 20px 20px; box-sizing:border-box; border-radius:4px; margin-top: 10px; width: 100%;}
.rcmnd-InfoSet .h-radio-02 input#careerY:checked ~ .if_careerY {display:block;}
.rcmnd-InfoSet .h-radio-02 .if_careerY .selectbox {display: flex; align-items: center; margin-bottom: 10px;}
.rcmnd-InfoSet .h-radio-02 .if_careerY .selectbox select {width:100px;box-sizing: border-box;flex-shrink: 4;min-width: 100px;margin-right: 5px;}
.rcmnd-InfoSet .h-radio-02 .if_careerY .selectbox span {font-size:14px;color:#333333;padding-right: 10px;}
.rcmnd-InfoSet .h-radio-02 .if_careerY .h-checkbox {margin: 0;}
.rcmnd-InfoSet .h-radio-02.radioBlock-2 {flex-wrap:wrap;}
.rcmnd-InfoSet .h-radio-02.radioBlock-6 {border: 1px solid #CCD1D7;border-radius: 4px;box-sizing: border-box;overflow: hidden;flex-wrap: wrap;}
.rcmnd-InfoSet .h-radio-02.radioBlock-6 input[type="checkbox"] + label {width: 33.333%; margin-left: 0 !important; border-width: 0px 1px 1px 0; border-radius: 0;}
.rcmnd-InfoSet .h-radio-02.radioBlock-6 input[type="checkbox"]:nth-of-type(3n) + label {border-right-width:0;}
.rcmnd-InfoSet .h-radio-02.radioBlock-6 input[type="checkbox"]:nth-of-type(3) ~ input + label {border-bottom-width: 0; border-radius: 0 !important;}
.rcmnd-InfoSet .h-checkbox.checkbox01 input[type="checkbox"] + label {font-size:14px;}
.rcmnd-InfoSet .h-field-wrap {align-items: flex-start !important;height: auto !important;}
.rcmnd-InfoSet .h-field-wrap .srch-detail .depth-box {padding: 0;}
.rcmnd-InfoSet .h-field-wrap .srch-detail .depth-box input[type="text"] {border:none; outline:none;}
.rcmnd-InfoSet .h-field-wrap button {width:46px;height: 46px;}

