@charset "utf-8"; 


/*리스트 상단 기간 검색바*/
.list-topBox {background: var(--neutral-3);width: 100%; padding:20px 15px 11px;box-sizing:border-box;border-bottom: 1px solid var(--border-basic-3);}
.list-topBox.noborder {border:none;}
.list-topBox .tit {margin-bottom: 7px;display: flex;}
.list-topBox .tit strong {margin-right: 7px;}
.list-topBox .tit .i-guideBtn {}
.list-topBox .flex.flex-between a,.list-topBox .flex.flex-between button {padding: 0 12px !important; min-width: auto !important;}
.list-topBox .flex.flex-between a i,
.list-topBox .flex.flex-between button i {font-size:var(--text-subtitle3); vertical-align: middle; margin-top: -2px; margin-right: 3px;}
.list-topBox .flex.flex-between select { height: 35px; min-width: 100px;}
.list-topBox .m-datepicker {display: flex; justify-content: space-between;}
.list-topBox .m-datepicker .periodBox {width: calc(100% - 68px);background:var(--neutral-2);border-radius:4px;margin-right:5px;padding: 8px 15px;box-sizing:border-box;text-align: left;}
.list-topBox .m-datepicker .periodBox .period {color:var(--black-5);font-size:var(--text-subtitle5);margin-right: 8px;}
.list-topBox .m-datepicker .periodBox .period:before {content:"\b7";margin-right: 3px;}
.list-topBox .m-datepicker .periodBox .date {color:#var(--black-2)var(--black-2); font-size:var(--text-subtitle5);}
.list-topBox .m-datepicker .h-button-white {width:68px;margin: 0;}
.list-topBox .totaldata {display:flex;}
.list-topBox .totaldata .dt {font-size:var(--text-subtitle5); color:var(--black-3);}
.list-topBox .totaldata .dd {font-size:var(--text-subtitle5); color:#var(--black-2)var(--black-2); margin-left:3px;}
.list-topBox .bluebgBox {background:var(--neutral-2); border-radius:10px; padding:20px; box-sizing:border-box;}

/*기본 리스트*/
.list-mbasic {width:100%;}
.list-mbasic .libox {border-bottom:1px solid #E7EDF5;padding: 18px 15px;display: flex;}
.list-mbasic .chckdiv {}
.list-mbasic .txtdiv {}
.list-mbasic .txtdiv .trTit {font-size:var(--text-subtitle2);color:var(--black-1);font-weight:var(--text-bold);line-height:22px;margin-top: 2px;display: block;margin-bottom: 3px;}
.list-mbasic .txtdiv .dl {display:flex;}
.list-mbasic .txtdiv .dt {font-size:var(--text-subtitle6);color:var(--black-5);line-height:20px;margin-right: 3px;}
.list-mbasic .txtdiv .dd {font-size:var(--text-subtitle6); color:#var(--black-2)var(--black-2); line-height:20px;}
.list-mbasic .txtdiv .subco {color:var(--black-3); font-size:var(--text-subtitle5); line-height:20px;}
.list-mbasic .txtdiv.loginList {display:flex;}
.list-mbasic .txtdiv.loginList .dt {font-size:var(--text-subtitle5);}
.list-mbasic .txtdiv.loginList .dd {font-size:var(--text-subtitle5); margin:0 20px 0 2px}

.list-mbasic .straightUl {display: flex;}
.list-mbasic .straightUl .dt {}
.list-mbasic .straightUl .dd {margin-right: 15px;}

.list-mbasic.no-data {width: 100%;display: flex;background: var(--neutral-3);justify-content: center;align-items: center;min-height: 65vh;}
.list-mbasic.no-data p {font-size:var(--text-subtitle5); color:var(--black-3); line-height:20px; padding:0 30px;}
.list-mbasic.no-data.includeBtn {flex-direction: column;align-items: center; text-align: center;}
.list-mbasic.no-data.includeBtn a {margin-top:20px;}


.yellowMking {font-size:var(--text-subtitle6);color:#var(--black-2)var(--black-2);line-height:20px;margin-top: 4px;z-index: 0;display: inline-block;position: relative;}
.yellowMking:before {content:"";display:inline-block;width:100%;height:6px;background:#ffe43a;position: absolute;z-index: -1;bottom: 3px;}


.bg-lightblue-List {background:var(--neutral-3); padding:20px 15px; width:100%; box-sizing:border-box;}
.bg-lightblue-List .list-topBox {border-bottom:none; padding:0 0 3px;}
/*기본 화이트박스 리스트*/
.list-whitebox {background:#fff; border-radius:10px; box-sizing:border-box; padding:20px; margin-bottom:10px;}
.list-whitebox .trTit {font-size:var(--text-subtitle3); font-weight:var(--text-bold); line-height:18px; color:var(--black-1); margin-bottom:5px; display:block;}
.list-whitebox .subco {font-size:var(--text-subtitle5); color:var(--black-3); line-height:20px; margin-bottom:10px;}
.list-whitebox .select_check {margin-top:20px;}
.list-whitebox a:only-of-type.wd100 {margin-left:0; margin-right:0;}
.list-whitebox .h-switch {margin-right:15px;}













/*연락처공개제의학원*/
.rspnd-date {margin-top: 8px;text-align:center;line-height: 13px;}
.rspnd-date p {font-size:var(--text-subtitle6);color:var(--black-3);}
.rspnd-date .d-daytxt {font-size:var(--text-subtitle6);}
.list-mbasic .libox.libox-includeBtn .txtdiv {width: 100%;}

/*연락처공개제의학원*/
.filemngr .libox {display:flex; justify-content:space-between; align-items: flex-end;}
.filemngr .libox:last-child {margin-bottom:70px;}
.filemngr .filesort {display:flex; align-items:center;}
.filemngr .filesort img {width:18px; margin-right:7px;}
.filemngr .filesort span {font-size:var(--text-subtitle5); color:var(--black-3); line-height:20px;}
.filemngr .trTit {padding-top: 4px;}
.filemngr .r-box .h-button-del {margin:0 -10px -10px 0;}

/*내이력서열람학원*/
.myrsume-OpenAcmy {overflow:hidden;}
.myrsume-OpenAcmy .libox {display:flex; padding: 0;position: relative;flex-wrap: wrap; z-index:0;}
.myrsume-OpenAcmy .libox .libox.wd100 {z-index:1; background:#fff;}
.myrsume-OpenAcmy .chckdiv {padding: 17px 0 17px 15px;}
.myrsume-OpenAcmy .txtdiv {width: 100%;width: calc(100% - 128px);flex-shrink:3;padding: 17px 5px 17px 0;}
.myrsume-OpenAcmy .r-box {width: 68px; padding: 20px 0; display: flex; align-items: center; text-align: center; border-left: 1px solid #E7EDF5; box-sizing: border-box;}
.myrsume-OpenAcmy .r-box .geonIng {font-size:12px;width: 100%;}
.myrsume-OpenAcmy .r-box .geonIng p {font-weight:500;}
.myrsume-OpenAcmy .r-box .geonIng strong {font-weight:500;margin-right: -2px;}
.myrsume-OpenAcmy .r-box button {width:100%; clear:both; margin-top:3px;}
.myrsume-OpenAcmy .r-box button.close img {transform:rotate(180deg);}

.myrsume-OpenAcmy .libox-subWrap {background:#EBEFF5; padding-bottom:4px; transition: all 1s;overflow: hidden; margin-top: -180px;}
.myrsume-OpenAcmy .libox-subWrap.on {/*display:block !important;*/ margin-top:0;}
.myrsume-OpenAcmy .libox-sub {width:100%;background: #F5F7FA;border-top: 1px solid #E7EDF5;}
.myrsume-OpenAcmy .libox-sub .txtdiv {padding-left: 55px; position: relative; width: calc(100% - 80px); box-sizing: border-box;}
.myrsume-OpenAcmy .libox-sub .txtdiv .trTit {width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.myrsume-OpenAcmy .libox-sub .txtdiv .dt:not(:last-of-type):after {content:"";display: inline-block;width: 1px;height: 12px;background: #E0E6EF;margin: 0 5px 0 7px;vertical-align: middle;}
.myrsume-OpenAcmy .libox-sub .txtdiv:before {content:"";width:8px;height:10px;border:1px solid #C3CAD4;border-width:0 0 1px 1px;display:inline-block;/* margin: 22px 15px 0 32px; */position: absolute;left: 32px;top: 22px;}
.myrsume-OpenAcmy .libox-sub .r-box {border-left:none;flex-direction:column;align-items: flex-end;width: 80px;padding: 15px 15px 16px 0;}
.myrsume-OpenAcmy .libox-sub .r-box a {margin:0; width:65px;}
.myrsume-OpenAcmy .libox-sub .r-box .scrap_star {margin-top: 7px;}

.myrsume-OpenAcmy .libox-sub .r-box .scrap_star .btn-scrap-bold[type="checkbox"] + label {width: 20px; height: 18px;}
.myrsume-OpenAcmy .libox-sub .r-box .scrap_star .btn-scrap-bold[type="checkbox"] + label:before {background-size: 20px 18px;}


