@charset "utf-8"; 

/* 공통서비스, 멤버서비스 전용 css */


/* (styleGuide.css 수정 충돌 방지 위해 해당 문서에 입력함) */
/* [공통] 간격 */
.mt15 {margin-top:15px;}
.mt60 {margin-top:60px;}
.mr20 {margin-right:20px;}
.ml0 {margin-left:0 !important;}
.ml20 {margin-left:20px;}
.mb100 {margin-bottom:100px;}

/* [공통] 공간 */
.pdt15 {padding-top:15px !important;}
.pdt20 {padding-top:20px !important;}
.pdr20 {padding-right:20px !important;}
.pdr90 {padding-right:90px !important;}
.pd0 {padding:0 !important;}
.pd15 {padding:15px !important;}
.pd20 {padding:20px !important;}
.pd30 {padding:30px !important;}
.pdb60 {padding-bottom:60px !important;}
.pdb90 {padding-bottom:90px;}
.pdl15 {padding-left:15px !important;}
.pdl20 {padding-left:20px !important;}

/* [공통] width */
.w120 {width:120px !important;box-sizing:border-box;}
.w191 {width:191px !important;box-sizing:border-box;}
.w230 {width:230px;box-sizing:border-box;}
.w360 {width:360px;box-sizing:border-box;}
.wd20 {width:20% !important;box-sizing:border-box;}
.wd50 {width:50% !important;box-sizing:border-box;}

/* [공통] line-height */
.h-line-hgt18 {line-height: 18px!important;}
.h-line-hgt19 {line-height: 19px!important;}
.h-line-hgt20 {line-height: 20px!important;}
.h-line-hgt25 {line-height: 25px!important;}
.h-line-hgt28 {line-height: 28px!important;}

/* [공통] btn background */
.btnbg-grey-1 {background:#050607;color:#fff;}

/* [공통] 팝업전용 -> 웹페이지용 뒤로가기 title icon 적용 */
header.hc-white .location a.toplogoBtn.goback:before {display:inline-block;content: "";width:30px;height:23px;margin-right:0;background:url(../images/mobile/m_arrow_left.png) no-repeat 0 50%;vertical-align:middle;}

/* [공통] 페이지 좌우여백 색상 삭제 버전 레이아웃 */
.m-hunjang-wrap.customer .content.p0 {padding:0;background:#F5F7FA;}
.m-hunjang-wrap .content.p0 {padding:0;background:#F5F7FA;}

/* [공통] wide 하단 버튼 style */
.m-hunjang-wrap .btmbtnbox a:only-child, .m-hunjang-wrap .btmbtnbox button:only-child {margin:0;width:100% !important;border-radius:0;}
.m-hunjang-wrap .btmbtnbox a {font-size:var(--text-subtitle3);width:50%;height:54px;line-height:54px;text-align:center;display:inline-flex;justify-content:center;align-items:center;box-sizing:border-box;}

/* [공통] tab menu */
.h-tab-Contents-01.secession {display:flex;justify-content:center;}
.h-tab-Contents-01.secession > input[type="radio"] + label {width: 50%;background: #fff;font-size: 15px;color: #333;}
.h-tab-Contents-01.secession > input[type="radio"]:checked + label {background: #151515;border: 1px solid #151515;color: #fff;}
.h-tab-Contents-01.secession .tabBtn01_1 {border-radius: 4px 0 0 4px;}
.h-tab-Contents-01.secession .tabBtn01_2 {border-radius: 0 4px 4px 0;}

.h-tab-Contents-01.green {display:flex;justify-content:center;}
.h-tab-Contents-01.green > input[type="radio"] + label {width: 50%;background: #fff;font-size: 15px;color: #333;}
.h-tab-Contents-01.green > input[type="radio"]:checked + label {background: #4BAD8C;border: 1px solid #4BAD8C;color: #fff;}
.h-tab-Contents-01.green .tabBtn01_1 {border-radius: 4px 0 0 4px;}
.h-tab-Contents-01.green .tabBtn01_2 {border-radius: 0 4px 4px 0;}


/* 모바일 이용약관 탭 디자인 */
.tab-termsCndt .tab_inner {display: none;}
.tab-termsCndt .tab_inner.active {display: block;}

.tab-termsCndt .tab-wrap {padding:20px; background:#F5F7FA; box-sizing: border-box;}
.tab-termsCndt .tab {overflow: hidden; display: flex; justify-content: center; border:1px solid var(--border-basic-2); border-radius: 4px;}
.tab-termsCndt .tab li {display: flex; align-items: center; justify-content: center; height:46px; width:50%; font-size:var(--text-subtitle4); font-weight:var(--text-medium); background:#fff; cursor: pointer;}
.tab-termsCndt .tab li.active {background:var(--teal); color:#fff;}
.tab-termsCndt .tab li + li {border-left:1px solid var(--border-basic-2);}
.tab-termsCndt .tab_inner_wrap {padding:20px;}

/* [공통] form */
.commonFormWrap .lightblue-bgBox2 {width: 100%;padding: 20px;box-sizing: border-box;border-radius: 10px;margin-top: 15px;}
.commonFormWrap textarea {border-radius: 4px;border: 1px solid #CCD1D7;background: #fff;font-size: 14px;color: #333333;line-height: 16px;padding: 15px;box-sizing: border-box;width: 100%;height: 150px;}
.commonFormWrap .radio-textbox {display:flex;align-items:center;height:46px;}
.commonFormWrap .radio-textbox label {min-width:75px;margin: 0 !important;}
.commonFormWrap .error {border: 1px solid #FF5656 !important;background: #FFFDE2 !important;}
.commonFormWrap select {position:relative;}
.commonFormWrap select:disabled {background: var(--neutral-1)!important;color: var(--black-2);}

/* 파일업로드 버튼 */
.commonFormWrap .circle-plusBtn + .circle-plusBtn {margin-top:5px;} 
.commonFormWrap .circle-plusBtn {display:flex; align-items: center; padding:15px; width:100%; height:46px; border:1px solid var(--border-basic-2); border-radius:4px; text-align:left; font-size:var(--text-subtitle4); color:var(--black-2); box-sizing:border-box; background:#fff;}
.commonFormWrap .circle-plusBtn:before {content:''; display:inline-block; margin-right:10px; background:url('../images/icon_plus_outline.png') no-repeat!important; width:18px; height:18px;}
/* 업로드된 파일 */
.commonFormWrap .circle-plusBtn + .bg-file-box {margin-top:10px;}
.commonFormWrap .bg-file-box {display: flex; align-items: center; justify-content: space-between; height:46px; padding:0 15px; background:var(--neutral-3); border-radius: 4px;}
.commonFormWrap .bg-file-box span {font-size:var(--text-subtitle5);}
.commonFormWrap .bg-file-box .h-button-icon {width:auto; height:auto; margin:0;}

.commonFormWrap .info-box.detaile-roul {padding:23px 0;background-image: url(../images/auth/bg_diagonal_pattern.png), url(../images/auth/bg_diagonal_pattern.png);background-position: top center, bottom center;background-repeat: repeat-x, repeat-x;}

/* 게시판 상단 리스트 수 영역 */
.m-hunjang-wrap.customer .homeBlockTit {display:flex;font-size: var(--text-subtitle17);line-height:20px;}
.m-hunjang-wrap.customer .homeBlockTit .totlaNum {font-size: 13px;color: #9A9A9A;margin-left:8px;}
.m-hunjang-wrap.customer .homeBlockTit .totlaNum span {font-weight: 500;color: #333333;}

/* 서비스 탈퇴 - 포인트 현황 */
.commonFormWrap .point-box {padding:25px;border-radius:10px;}
.commonFormWrap .point-box .point-item {display:flex;justify-content:space-between;align-items:center;}
.commonFormWrap .point-box .point-item .point-tit {font-size:12px;color:#fff;}
.commonFormWrap .point-box .point-item .point-tit:before {content: "\b7";margin-right: 3px;color:#fff;}
.commonFormWrap .point-box .point-item .point-num {color:#FFF700;}
.commonFormWrap .point-box.green {background:#43A986;} 
.commonFormWrap .point-box.blue {background:#26B2C8;} 
.commonFormWrap .white-box {padding:30px;background:#fff;border-radius:10px;}
.commonFormWrap .secession-text-box {padding: 30px 0;background: url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 0;}
.commonFormWrap .secession-input-box {padding:40px 50px;background:#EBEFF5;border-radius:10px;}
.commonFormWrap .withdrawal-account li {position: relative;color: var(--black-2);padding-left: 10px;line-height: 24px;}
.commonFormWrap .withdrawal-account li:after {content: '';position: absolute;top: 10px;left: 0;width: 2px;height: 2px;background-color:var(--black-3);}

/* FAQ */
.m-hunjang-wrap.customer .board-search-bar {position:relative;}
.m-hunjang-wrap.customer .board-search-bar input {padding:0 68px 0 15px !important;background:#fff;border:1px solid #E0E6EF;}
.m-hunjang-wrap.customer .board-search-bar button {position:absolute;right:15px;top:13px;z-index:1;width:21px;height:21px;background: url(../images/mobile/m_icon_search_btn.png) no-repeat 50% 50%;font-size: 0;}
.m-hunjang-wrap.customer .board-search-bar .remove {position:absolute;right:48px;top:13px;}
.m-hunjang-wrap.customer .tabs-wrap {display:flex;flex-wrap:wrap;box-sizing:border-box;border-radius:4px;}
.m-hunjang-wrap.customer .tabs-wrap .tab-link {position:relative;display:flex;align-items:center;justify-content:center;width:calc(100% / 3);height:46px;background:#fff;font-size:14px;text-align:center;}
.m-hunjang-wrap.customer .tabs-wrap .tab-link:before {z-index: 5;content: "";border:1px solid #CCD1D7;transform: rotate(0);position: absolute;left: -1px;top: -1px;width: calc(100% - 1px);height: 45px;}
.m-hunjang-wrap.customer .tabs-wrap .tab-link.current {background:#26B2C8;color:#fff;}
.m-hunjang-wrap.customer .tabs-wrap .tab-link.current:before {z-index: 5;content: "";border: 1px solid #1CA3B8;transform: rotate(0);position: absolute;left: -1px;top: 0px;box-sizing: border-box;width:100%;height: 46px;}
.m-hunjang-wrap.customer .tabs-wrap li:nth-child(1)::before {border-radius:4px 0 0 0;}
.m-hunjang-wrap.customer .tabs-wrap li:nth-child(3)::before {border-radius:0 4px 0 0;}
.m-hunjang-wrap.customer .tabs-wrap li:nth-child(7)::before {border-radius:0 0 0 4px;}
.m-hunjang-wrap.customer .tabs-wrap li:nth-child(9) {background:none;}
.m-hunjang-wrap.customer .tabs-wrap li:nth-child(9)::before {border-radius:0 0 4px 0;}
.faq-wrap {background:#fff;}
.faq-wrap .faq-list-wrap {width: 100%;border-top:1px solid #E0E6EF;border-bottom: 1px solid #E0E6EF;letter-spacing: -0.02em;font-size: 18px;}
.faq-wrap .faq-list-wrap li {border-top: 1px solid #E0E6EF;}
.faq-wrap .faq-list-wrap li:first-child {border-top:none;}
.faq-wrap .faq-list .division {width: 102px;padding: 0 0 0 20px;box-sizing: border-box;font-size:12px;line-height:20px;color:#61A6FF;}
.faq-wrap .faq-list .wrap-question {display:flex;align-items:start;padding:20px 0;}
.faq-wrap .faq-question {display: block;width: 100%;padding: 0 50px 0 0;box-sizing: border-box;text-align: left;position: relative;}
.faq-wrap .faq-question::after {display: inline-block;content: '';position: absolute;right:20px;top:8px;width: 10px;height: 4px;background: url(../images/customer/icon_qna_arrow.png) no-repeat center right;background-size:100%;transition-duration: 0.3s;transition-timing-function: ease;}
.faq-wrap .faq-question.on::after {background: url(../images/customer/icon_qna_arrow_on.png) no-repeat center right;background-size:100%;transition-duration: 0.3s;transition-timing-function: ease;}
.faq-wrap .faq-question > p {font-size: 13px;line-height:20px;color:#333;}
.faq-wrap .faq-question.on > p {font-weight:600;}
.faq-wrap .faq-answer {display: block;width: 100%;border-top: 1px solid #d5d5d5;padding:20px;background:#F5F7FA;position: relative;box-sizing:border-box;}
.faq-wrap .faq-answer > p {position:relative;font-size:13px;line-height: 20px;color:#7E7E7E;}
.faq-wrap .faq-answer > p::after{display: block;content: '';position: absolute;top: 0;left: 0;width: 13px;height: 17px;background: url(../images/customer/icon_answer.png) no-repeat 0 0;}
.faq-wrap .faq-answer img {max-width:100%;}
.faq-wrap .faq-search-none {padding:30px 15px;}
.faq-wrap .faq-search-none .tip-text-box {padding:20px 20px;background:#F5F7FA;border-radius:10px;}
.faq-wrap .faq-search-none .tip-text-box li {border-style:none;}

/* 1대1 문의하기 */
.inquiry-wrap {background:#fff;}
.inquiry-wrap .inquiry-list-wrap {width: 100%;border-top:1px solid #E0E6EF;border-bottom: 1px solid #E0E6EF;letter-spacing: -0.02em;font-size: 18px;}
.inquiry-wrap .inquiry-list-wrap > li {border-top: 1px solid #E0E6EF;}
.inquiry-wrap .inquiry-list-wrap > li:first-child {border-top:none;}
.inquiry-wrap .inquiry-list .wrap-question {padding:20px 0 20px 20px;}
.inquiry-wrap .inquiry-question {display:flex;justify-content:space-between;align-items:center;position:relative;width:100%;padding:0 40px 0 0;box-sizing:border-box;text-align:left;}
.inquiry-wrap .inquiry-question::after {display: inline-block;content: '';position: absolute;right:20px;top:calc(50% - 2px);width: 10px;height: 4px;background: url(../images/customer/icon_qna_arrow.png) no-repeat center right;background-size:100%;transition-duration: 0.3s;transition-timing-function: ease;}
.inquiry-wrap .inquiry-question.on::after {background: url(../images/customer/icon_qna_arrow_on.png) no-repeat center right;background-size:100%;transition-duration: 0.3s;transition-timing-function: ease;}
.inquiry-wrap .inquiry-question p {display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;font-size: 13px;line-height:20px;color:#333;}
.inquiry-wrap .inquiry-question.on p {font-weight:600;}
.inquiry-wrap .inquiry-question .inquiry-question-text {width:calc(100% - 90px);}
.inquiry-wrap .inquiry-question .inquiry-question-text .division {position:relative;margin-right:15px;padding:0 15px 0 0;box-sizing: border-box;font-size:12px;line-height:20px;color:#61A6FF;}
.inquiry-wrap .inquiry-question .inquiry-question-text .division:before {display:block;content:"";position:absolute;right:0;top:2px;width:1px;height:12px;background:#E0E6EF;}
.inquiry-wrap .inquiry-question .inquiry-question-text .inquiry-date {font-size:12px;line-height:20px;color:#9a9a9a;}
.inquiry-wrap .inquiry-detail {padding:20px 20px 0 0;font-size:13px;color:#333;}
.inquiry-wrap .inquiry-detail .inquiry-detail-text {word-break: break-all;}
.inquiry-wrap .inquiry-detail .user-info {padding-top:10px;margin-top:15px;border-top:1px solid #E0E6EF;}
.inquiry-wrap .inquiry-detail .user-info ul {display:flex;justify-content:start;}
.inquiry-wrap .inquiry-detail .user-info ul li {position:relative;margin-right:15px;padding:0 15px 0 0;box-sizing: border-box;font-size:12px;line-height:20px;color:#9A9A9A;}
.inquiry-wrap .inquiry-detail .user-info ul li:before {display:block;content:"";position:absolute;right:0;top:2px;width:1px;height:12px;background:#E0E6EF;}
.inquiry-wrap .inquiry-detail .user-info ul li:nth-child(3) {margin-right:0;padding:0;}
.inquiry-wrap .inquiry-detail .user-info ul li:nth-child(3)::before {display:none;}
.inquiry-wrap .inquiry-answer {display: block;width: 100%;padding:20px;background:#F5F7FA;position: relative;box-sizing:border-box;}
.inquiry-wrap .inquiry-answer > p {position:relative;font-size:13px;line-height: 20px;color:#7E7E7E;}
.inquiry-wrap .inquiry-answer img {display:block;max-width:100%;}
.inquiry-wrap .inquiry-search-none .tip-text-box {padding:20px 20px;background:#F5F7FA;border-radius:10px;}
.inquiry-wrap .inquiry-search-none .tip-text-box li {border-style:none;}

/* 게시판 리스트 더보기 버튼 */
.m-hunjang-wrap.customer .arrow-bottomBtn {width:calc(100% - 30px);height:46px; border:1px solid var(--border-basic-3);box-sizing:border-box;border-radius: 4px;background:#fff;}
.m-hunjang-wrap.customer .arrow-bottomBtn:after {content:''; display:inline-block; background:url('../images/mobile/m_arrow_right_gray.png') no-repeat center; width:9px; height:12px; margin-left:10px; vertical-align: middle;transform:rotate(90deg);}

/* 공지사항 */
.notice-wrap .notice-list-wrap {width: 100%;border-top:1px solid #E0E6EF;border-bottom: 1px solid #E0E6EF;background:#fff;letter-spacing: -0.02em;font-size: 18px;}
.notice-wrap .notice-list-wrap > li {border-top: 1px solid #E0E6EF;}
.notice-wrap .notice-list-wrap > li:first-child {border-top:none;}
.notice-wrap .notice-list .wrap-notice {padding:20px 0 20px 20px;}
.notice-wrap .wrap-notice {display:flex;justify-content:space-between;align-items:center;position:relative;width:100%;padding:0 40px 0 0;box-sizing:border-box;text-align:left;}
.notice-wrap .wrap-notice::after {display: inline-block;content: '';position: absolute;right:20px;top:calc(50% - 2px);width: 10px;height: 4px;background: url(../images/customer/icon_qna_arrow.png) no-repeat center right;background-size:100%;transform:rotate(-90deg);}
.notice-wrap .wrap-notice p {display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;font-size: 13px;font-weight:600;line-height:20px;color:#333;}
.notice-wrap .wrap-notice a {display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;font-size: 13px;font-weight:600;line-height:20px;color:#333;}
.notice-wrap .wrap-notice .board-text {width:calc(100% - 90px);}
.notice-wrap .wrap-notice .board-text .division {position:relative;margin-right:15px;padding:0 15px 0 0;box-sizing: border-box;font-size:12px;line-height:20px;color:#61A6FF;}
.notice-wrap .wrap-notice .board-text .division:before {display:block;content:"";position:absolute;right:0;top:2px;width:1px;height:12px;background:#E0E6EF;}
.notice-wrap .wrap-notice .board-text .board-date {font-size:12px;line-height:20px;color:#9a9a9a;}

/* 공지사항 상세보기 */
.notice-view-wrap .notice-view {width: 100%;background:#fff;letter-spacing: -0.02em;font-size: 18px;}
.notice-view-wrap .notice-view .view-header {padding:20px 15px 20px;border-bottom: 1px solid #E0E6EF;}
.notice-view-wrap .notice-view .view-header .board-text .division {position:relative;margin-right:15px;padding:0 15px 0 0;box-sizing: border-box;font-size:12px;line-height:20px;color:#61A6FF;}
.notice-view-wrap .notice-view .view-header .board-text .division:before {display:block;content:"";position:absolute;right:0;top:2px;width:1px;height:12px;background:#E0E6EF;}
.notice-view-wrap .notice-view .view-header .board-text .board-date {font-size:12px;line-height:20px;color:#9a9a9a;}
.notice-view-wrap .notice-view .view-body {padding:20px 15px 20px;border-bottom: 1px solid #E0E6EF;}
.notice-view-wrap .notice-view .view-body img {display:block;width:100%;max-width:100%;}

/* 이벤트 리스트 게시판 */
.event-wrap {border-top: 1px solid #E0E6EF;}
.event-wrap .event-list {width: 100%;background:#fff;letter-spacing: -0.02em;font-size: 18px;}
.event-wrap .event-list .event-header {padding:20px 15px 20px;border-bottom: 1px solid #E0E6EF;}
.event-wrap .event-list .event-header .board-text .division {position:relative;margin-right:15px;padding:0 15px 0 0;box-sizing: border-box;font-size:12px;line-height:20px;color:#61A6FF;}
.event-wrap .event-list .event-header .board-text .division:before {display:block;content:"";position:absolute;right:0;top:2px;width:1px;height:12px;background:#E0E6EF;}
.event-wrap .event-list .event-header .board-text .board-date {font-size:12px;line-height:20px;color:#9a9a9a;}
.event-wrap .event-list .event-body {position:relative;display:block;padding:20px 15px 20px;border-bottom: 1px solid #E0E6EF;}
.event-wrap .event-list .event-body img {display:block;width:100%;max-width:100%;}
.event-wrap .event-list .event-body .service-name {display: block;width: 62px;height: 27px;position: absolute;left: 15px;top: 20px;z-index: 1;line-height: 27px;font-size: 13px;color: #fff;text-align: center;}
.event-wrap .event-list .event-body .service-name.green-label {background: #43A986;}
.event-wrap .event-list .event-body .service-name.pink-label {background: #E7628A;}
.event-wrap .event-list .event-body .service-name.orange-label {background: #EA7A2F;}

/* layer popup */
.popup-01.service-apply {position:fixed;left:20px;top:calc(50% / 2);width:calc(100% - 40px);padding:40px;border-radius:10px;box-sizing:border-box;z-index:200;background:#fff;}
.popup-01.service-apply .close {position:absolute;right:15px;top:15px;}
.popup-01.service-apply .btn-confirm {background:#EA7A2F;}
.m-hunjang-wrap .popup-01.service-apply {padding:30px;}

/* layer popup - 서비스(신청, 미완료, 약관동의) */
.popup-01 .pop-title.service-apply-tit {font-size:20px;}
.popup-01 .pop-title.service-apply-tit strong {display:block;}
.popup-01 ul.service-apply li {position:relative;}
.popup-01 ul.service-apply li p:before {display:block;content:"";position:absolute;right:20px;top:20px;width: 81px;height: 81px;background: #fff;border-radius: 50%;}
.popup-01 ul.service-apply li:first-child p::before {background:#fff url(../images/icon_apply_teacher.png) no-repeat 50% 50%;}
.popup-01 ul.service-apply li:nth-child(2) p::before {background:#fff url(../images/icon_apply_academy.png) no-repeat 50% 50%;}
.popup-01 ul.service-apply .h-subbox-basic-guide {padding:20px;background: var(--neutral-3);border-radius:10px;}
.popup-01 .today-close {position:relative;padding-right:15px;}
.popup-01 .today-close:before {display: block;content: "";width:8px;height:8px;position:absolute;right:0;top:4px;background: url(../images/icon_close8.png) no-repeat 0 0;}

.popup-01.service-apply.wide {position:unset;width:100%;padding:0;}
.popup-01.service-apply.wide .pop-body {height:100%;}
.popup-01.service-apply.wide .roul-check li:first-child {padding-bottom:23px;background: url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 bottom;}
.popup-01.service-apply.wide .roul-check li:nth-child(5) {padding-bottom: 23px;background: url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 bottom;}
.popup-01.service-apply.wide .auth-info-box .h-checkbox {position:relative;margin:0;font-size:14px;}
.popup-01.service-apply.wide .auth-info-box .h-checkbox .readmore-Arrowbtn {display: inline-block;width: 19px;height: 19px;border-radius: 100%;border: 1px solid var(--grey-2);text-indent: -999px;overflow: hidden;position: absolute;right: 0;top: 0;box-sizing: border-box;}
.popup-01.service-apply.wide .auth-info-box .h-checkbox .readmore-Arrowbtn:before {content:"";display:inline-block;width:6px;height:6px;border:1px solid var(--grey-2);border-width:0 1.5px 1.5px 0;position:absolute;left:5px;top:4px;transform:rotate(45deg);transition:0.5s;}
.popup-01.service-apply.wide .auth-info-box .h-checkbox .readmore-Arrowbtn.on:before {transform:rotate(225deg);top:7px;}
.popup-01.service-apply.wide .auth-info-box .dropdown {display:none;overflow-y:auto;height:150px;padding:20px;background:#F5F7FA;font-size:12px;line-height:18px;color:#7E7E7E;}
.popup-01.service-apply.wide .auth-info-box .dropdown.on {display:block;}
.popup-01.service-apply.wide .close {left:auto;top:20px;right:20px;left:auto;}

/* 클린 훈장마을 */ 
.clean-text-box {padding:20px;background:#fff;border-top:1px solid #E0E6EF;}
.bg-grey-box {background: #F5F7FA;}
.clean-text-box .grey-box {width:100%;padding:20px;border-radius:10px;box-sizing:border-box;background:#F5F7FA;font-size:12px;color:#7E7E7E;}
.clean-text-box .grey-box strong {display:block;font-size:14px;color:#333;}
.clean-text-box p {font-size:12px;line-height:20px;color:#333;}
.clean-border-box {border-top:1px solid #E0E6EF;}
.clean-border-box img {width:100%;}

/* 이용정책, 개인정보처리방침, 이력서 노출정책, 게시물 삭제규칙 공통 */
.service-roul-wrap {background:#F5F7FA;}
.service-roul-wrap .txt {font-size:14px;line-height:22px;color:#7e7e7e;}
.service-roul-wrap .text-box {padding:20px;border-radius:10px;background:#EBEFF5;}
.service-roul-wrap .text-box .txt {color:#333;}
.service-roul-wrap .icon-tit {display:block;position:relative;padding:0 0 0 21px;font-size:14px;color:#333333;}
.service-roul-wrap .icon-tit:before {display:inline-block;content:"";position:absolute;left:0;top:0;width:9px;height:9px;border:4px solid #43A986;border-radius:2px;}
.service-roul-wrap .list li {font-size:12px;line-height:18px;color:#7E7E7E;}
.service-roul-wrap .list li li {margin-left:15px;font-size:12px;line-height:22px;color:#7E7E7E;}
.service-roul-wrap .list li table {margin-left:15px;}
.service-roul-wrap .list .color-black {color:#333;}
.service-roul-wrap .list.depth1 > li {position:relative;padding-left:15px;color:#333;}
.service-roul-wrap .list.depth1 > li span {position:absolute;left:0;top:0;}
.service-roul-wrap .list.hyphen > li {position:relative;padding-left:10px;margin-left:0;}
.service-roul-wrap .list.hyphen > li:before {display:inline-block;content:"-";position:absolute;left:0;top:0;}

/* 학원서비스 신청 - 사업자 구분 */
.business-type-content  {padding:30px 20px;}
.business-type-content .business-type-box label {display:flex !important;width:100%; padding:20px 20px 16px 48px !important;background:#fff;border:1px solid #E0E6EF;border-radius:10px;box-sizing:border-box;}
.business-type-content .business-type-box input + label:before {position:absolute;left:20px;margin-top:0; border-color:#e2e5ea;}
.business-type-content .business-type-box input + label:after {left:24px; top:25px; border-color:#e2e5ea;}
.business-type-content .business-type-box label .r-area {text-align:left;}
.business-type-content .business-type-box label .r-area .type-title {color:#333333; font-size:15px; line-height:22px; font-weight:600;}
.business-type-content .business-type-box label .type-sub {width:190px;font-size:12px;line-height:18px;color:#7E7E7E;}
.business-type-content .business-type-box label .type-sub span {font-weight:500; color:#333333;}
.business-type-content .business-type-box.typeimg01 label {background:#fff url(../images/service_apply/icon_business_type01.png) no-repeat calc(100% - 20px) 50%;}
.business-type-content .business-type-box.typeimg02 label {background:#fff url(../images/service_apply/icon_business_type02.png) no-repeat calc(100% - 20px) 50%;}
.business-type-content .business-type-box.typeimg03 label {background:#fff url(../images/service_apply/icon_business_type03.png) no-repeat calc(100% - 20px) 50%;}
.business-type-content .business-type-box.typeimg04 label {background:#fff url(../images/service_apply/icon_business_type04.png) no-repeat calc(100% - 20px) 50%;}
.business-type-content .business-type-box input:checked + label {border:1px solid #61A6FF;background:#fff;border-radius:10px;}
.business-type-content .business-type-box.typeimg01 input:checked + label {background:#fff url(../images/service_apply/icon_business_type01_on.png) no-repeat calc(100% - 20px) 50%;}
.business-type-content .business-type-box.typeimg02 input:checked + label {background:#fff url(../images/service_apply/icon_business_type02_on.png) no-repeat calc(100% - 20px) 50%;}
.business-type-content .business-type-box.typeimg03 input:checked + label {background:#fff url(../images/service_apply/icon_business_type03_on.png) no-repeat calc(100% - 20px) 50%;}
.business-type-content .business-type-box.typeimg04 input:checked + label {background:#fff url(../images/service_apply/icon_business_type04_on.png) no-repeat calc(100% - 20px) 50%;}

.business-type-content .basic-inputdl .dl {margin-bottom: 25px;}
.business-type-content .basic-inputdl .dt {font-size: var(--text-subtitle6);color: var(--black-1);font-weight: var(--text-medium);line-height:14px;margin-bottom:6px;}
.business-type-content .basic-inputdl .dt:before {content: "\b7";margin-right: 3px;}
.business-type-content .h-txtfield-basic {height:45px !important;}
.business-type-content .checkbox05.bg-blue input[type="checkbox"]:checked + label,
.business-type-content .checkbox05.bg-blue input[type="checkbox"]:checked + label::before {background:#26B2C8;border-color:#26B2C8;color:#fff;}
.business-type-content .auth-info-box .h-checkbox {position:relative;margin:0;padding-right:27px;}
.business-type-content .auth-info-box .h-checkbox .readmore-Arrowbtn {display:inline-block;width:19px;height:19px;background:#fff;border-radius:100%;border:1px solid var(--grey-2);text-indent:-999px;overflow:hidden;position:absolute;right:0;top:0;box-sizing:border-box;}
.business-type-content .auth-info-box .h-checkbox .readmore-Arrowbtn:before {display:inline-block;content:"";width:6px;height:6px;border:1px solid var(--grey-2);border-width:0 1.5px 1.5px 0;position:absolute;left:5px;top:4px;transform:rotate(45deg);transition:0.5s;}
.business-type-content .auth-info-box .h-checkbox .readmore-Arrowbtn.on:before {transform:rotate(225deg);top:7px;}
.business-type-content .auth-info-box .dropdown {display:none;overflow-y:auto;height:150px;padding:20px;background:#ebeff5;border-radius:10px;font-size:13px;line-height:18px;color:#7E7E7E;}
.business-type-content .auth-info-box .dropdown.on {display:block;}
.business-type-content .auth-info-box .dropdown::-webkit-scrollbar-thumb {height:30%;}

.next-btn.xm-arrow:after {display: inline-block;content: '';width: 20px;height: 14px;margin-left: 10px;background: url(../images/icon-xm-arrow.png) no-repeat 100%;}
.business-type-content .checkbox05.line-blue {width:100%;margin:0;}
.business-type-content .checkbox05.line-blue input[type="checkbox"] + label {width:100%;height:59px;border-radius:10px;justify-content:left;}
.business-type-content .checkbox05.line-blue input[type="checkbox"] + label::before {top:18px;}
.business-type-content .checkbox05.line-blue input[type="checkbox"]:checked + label,
.business-type-content .checkbox05.line-blue input[type="checkbox"]:checked + label::before {border-color:#61A6FF;color:#61A6FF;}
.business-type-content .business-infobox {padding:20px;border-radius:10px;background:#EBEFF5;}

.m-hunjang-wrap .business-type-content .roul-check.pr0 {background: url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 bottom;}
.m-hunjang-wrap .business-type-content .roul-check.pr0 li.auth-info-box:first-child {padding-bottom: 23px; background: url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 bottom; margin-bottom:15px;}
.m-hunjang-wrap .business-type-content .roul-check.pr0 .auth-info-box .h-checkbox {padding-right:0;}




/* 서비스신청 - 학원선택 팝업*/
.POP-acdmySelect {margin-top:10px; height:350px; overflow-y:scroll;}
.POP-acdmySelect .h-radio-03 {display:flex; flex-wrap:wrap;}
.POP-acdmySelect .h-radio-03 label {width:100%; height:54px; border:1px solid #E0E6EF; border-radius:10px; margin-bottom:10px; box-sizing:border-box; padding:10px; margin-bottom:10px; display: flex; justify-content: space-between; align-items: center; padding:15px;}
.POP-acdmySelect .h-radio-03 label:last-of-type(4n) {margin-bottom:0;}
.POP-acdmySelect .h-radio-03 label:before {position:absolute; left:10px; top:20px;}
.POP-acdmySelect .h-radio-03 label:after  {top:22px !important; left:14px !important;}
.POP-acdmySelect .h-radio-03 input:disabled + label {background:#F2F2F2;}
.POP-acdmySelect .h-radio-03 input:disabled + label:before,
.POP-acdmySelect .h-radio-03 input:disabled + label:after {display:none;}
.POP-acdmySelect .h-radio-03 input:disabled + label p {color:#9a9a9a; padding-left:0;}
.POP-acdmySelect .h-radio-03 input:checked + label {border-color:#61A6FF; box-shadow: 0px 5px 13px #0000001A;}
.POP-acdmySelect .h-radio-03 input:checked + label p {color:#61A6FF;}
.POP-acdmySelect .h-radio-03 label p {color:#333333; font-size:14px; font-weight:500; padding-left:20px; width: 30%; flex-grow: 2; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; text-align: left; padding-right:10px;}
.POP-acdmySelect .h-radio-03 label [class^="info-"] {font-size:12px; line-height:14px;}
.POP-acdmySelect .h-radio-03 label .info-01 {color:var(--black-5);}
.POP-acdmySelect .h-radio-03 label .info-02 {color:var(--orange);}
.POP-acdmySelect .h-radio-03 label button {border:none; padding:0; background:transparent; width: auto; min-width: auto !important; color:#0E97FF !important; margin:0; font-size:12px;}
.POP-acdmySelect .h-radio-03 label button.h-button-grey3 {text-decoration:underline;}




/*간편결제 비밀번호*/
.pswrdWrap {display: flex; flex-direction: column; justify-content: space-between; height: 100%;}
.pswrdWrap .topArea {flex-grow:1; padding:50px 0 15px; display:flex; flex-direction:column; align-items:center;}
.pswrdWrap .topArea p {font-size:16px; color:#7E7E7E; line-height:22px; text-align:center;}
.pswrdWrap .topArea p b {font-weight:500; color:#333333; display:block;}
.pswrdWrap .topArea .pswrdBox {flex-grow:1; position: relative; width: 100%; text-align:center; padding-top:30px;}
.pswrdWrap .topArea .pswrdBox input[type="password"] {outline:none; border:none; text-align:center; width:100%; height: auto !important; padding: 0;}
.pswrdWrap .topArea .pswrdBox input[type="password"]:disabled {color:#EBEFF5; font-size: 21px; letter-spacing: 3px; opacity: 0.4; position: absolute; left: 0; top: 22px;}
.pswrdWrap .topArea .pswrdBox input[type="password"]:not(:disabled) {color:#43A986; font-size: 80px; letter-spacing: -19.5px; text-align: left; position: absolute; left: 112px; top: -19px; height: auto !important; line-height: normal; background: transparent;}
.pswrdWrap .topArea .pswrdBox span {display:inline-block; width:20px; height:20px; border-radius:100%; background:#EBEFF5; border:1px solid #E0E6EF; box-sizing:border-box; margin:0 3.5px; transition: background 0.3s;}
.pswrdWrap .topArea .pswrdBox span.on {background:#43A986;}
.pswrdWrap .topArea .re_pswrd {font-size:14px; color:#7E7E7E; padding:15px;}
.pswrdWrap .topArea .re_pswrd:after {content:url(../images/mobile/m_icon_xs_arrow_right.png);  margin-left:10px;}
.pswrdWrap .passwordArea {background:#43A986; display:flex; padding:30px; box-sizing:border-box; flex-wrap:wrap;justify-content: end;}
.pswrdWrap .passwordArea button {font-family:'SUIT'; font-size:24px; font-weight:600; color:#fff; width:calc(100% / 3); height:62px; line-height:62px; outline:none}
.pswrdWrap .passwordArea button.backspace {background:url(../images/btn_psrdback.png) no-repeat center;}

