@charset "utf-8"; 

/* 공통서비스, 멤버서비스 전용 css */


/* (styleGuide.css 수정 충돌 방지 위해 해당 문서에 입력함) */
/* 간격 */
.ml0 {margin-left:0 !important;}
.mt60 {margin-top:60;}

/* 공간 */
.pd0 {padding:0 !important;}
.pd30 {padding:30px !important;}
.pdb60 {padding-bottom:60px !important;}
.pdl15 {padding-left:15px !important;}

/* width */
.w120 {width:120px !important;box-sizing:border-box;}
.w191 {width:191px !important;box-sizing:border-box;}
.w230 {width:230px;box-sizing:border-box;}
.w360 {width:360px;box-sizing:border-box;}
.wd20 {width:20% !important;box-sizing:border-box;}
.wd50 {width:50% !important;box-sizing:border-box;}

/* line-height */
.h-line-hgt18 {line-height: 18px!important;}
.h-line-hgt19 {line-height: 19px!important;}
.h-line-hgt20 {line-height: 20px!important;}
.h-line-hgt28 {line-height: 28px!important;}

/* btn background */
.btnbg-grey-1 {background:#050607;color:#fff;}

/* tab menu */
.h-tab-Contents-01.secession {display:flex;justify-content:center;}
.h-tab-Contents-01.secession > input[type="radio"] + label {width: 50%;background: #fff;font-size: 15px;color: #333;}
.h-tab-Contents-01.secession > input[type="radio"]:checked + label {background: #151515;border: 1px solid #151515;color: #fff;}
.h-tab-Contents-01.secession .tabBtn01_1 {border-radius: 4px 0 0 4px;}
.h-tab-Contents-01.secession .tabBtn01_2 {border-radius: 0 4px 4px 0;}

.commonFormWrap .lightblue-bgBox2 {width: 100%;padding: 20px;box-sizing: border-box;border-radius: 10px;margin-top: 15px;}
.commonFormWrap textarea {border-radius: 4px;border: 1px solid #CCD1D7;background: #fff;font-size: 14px;color: #333333;line-height: 16px;padding: 15px;box-sizing: border-box;width: 100%;height: 150px;}
.commonFormWrap .radio-textbox {display:flex;align-items:center;height:46px;}
.commonFormWrap .radio-textbox label {min-width:75px;margin: 0 !important;}
.commonFormWrap .error {border: 1px solid #FF5656 !important;background: #FFFDE2 !important;}
.commonFormWrap select {position:relative;}
.commonFormWrap select:disabled {background: var(--neutral-1)!important;color: var(--black-2);}

/* 파일업로드 버튼 */
.commonFormWrap .circle-plusBtn + .circle-plusBtn {margin-top:5px;} 
.commonFormWrap .circle-plusBtn {display:flex; align-items: center; padding:15px; width:100%; height:46px; border:1px solid var(--border-basic-2); border-radius:4px; text-align:left; font-size:var(--text-subtitle4); color:var(--black-2); box-sizing:border-box; background:#fff;}
.commonFormWrap .circle-plusBtn:before {content:''; display:inline-block; margin-right:10px; background:url('../images/icon_plus_outline.png') no-repeat!important; width:18px; height:18px;}
/* 업로드된 파일 */
.commonFormWrap .circle-plusBtn + .bg-file-box {margin-top:10px;}
.commonFormWrap .bg-file-box {display: flex; align-items: center; justify-content: space-between; height:46px; padding:0 15px; background:var(--neutral-3); border-radius: 4px;}
.commonFormWrap .bg-file-box span {font-size:var(--text-subtitle5);}
.commonFormWrap .bg-file-box .h-button-icon {width:auto; height:auto; margin:0;}

.commonFormWrap .info-box.detaile-roul {padding:23px 0;background-image: url(../images/auth/bg_diagonal_pattern.png), url(../images/auth/bg_diagonal_pattern.png);background-position: top center, bottom center;background-repeat: repeat-x, repeat-x;}

/* 서비스 탈퇴 */
/* 포인트 현황 */
.commonFormWrap .point-box {padding:25px;border-radius:10px;}
.commonFormWrap .point-box .point-item {display:flex;justify-content:space-between;align-items:center;}
.commonFormWrap .point-box .point-item .point-tit {font-size:12px;color:#fff;}
.commonFormWrap .point-box .point-item .point-tit:before {content: "\b7";margin-right: 3px;color:#fff;}
.commonFormWrap .point-box .point-item .point-num {color:#FFF700;}
.commonFormWrap .point-box.green {background:#43A986;} 
.commonFormWrap .point-box.blue {background:#26B2C8;} 
.commonFormWrap .white-box {padding:30px;background:#fff;border-radius:10px;}

.commonFormWrap .secession-text-box {padding: 30px 0;background: url(../images/auth/bg_diagonal_pattern.png) repeat-x 0 0;}
.commonFormWrap .secession-input-box {padding:40px 50px;background:#EBEFF5;border-radius:10px;}

.common-service .h-button-teal.xm-arrow:after {display:inline-block;content:'';width:20px;height:14px;margin-left: 10px;background: url(../images/icon-xm-arrow.png) no-repeat;}