@charset "utf-8"; 

/*전체보기 메뉴 팝업*/
.m-hjmain-allmenuPOP {background:#fff; display:flex; height:100%; flex-direction:column;}
.m-hjmain-allmenuPOP .allmenu_topArea {padding:15px; border-radius:4px; width: 100%; box-sizing: border-box;}
.m-hjmain-allmenuPOP .allmenu_topArea .bnr-swiper .swiper-slide img {width:100%; display:block;}
.m-hjmain-allmenuPOP .allmenu_topArea .bnr-swiper .swiper-pagination { display: inline-block; background: rgba(0,0,0,0.3); color: #fff; border-radius: 4px 0 4px 0; font-size: 11px; width: 28px; height: 19px; line-height: 19px; box-sizing: border-box; position: absolute; right: 0; left:auto; bottom:0;}
.m-hjmain-allmenuPOP .allmenu_topArea .dfrnt_usrCo {}
.m-hjmain-allmenuPOP .allmenu_topArea .dfrnt_usrCo .login {width:100%; height:56px; font-size:17px; font-weight:600; margin:10px 0 0;}
.m-hjmain-allmenuPOP .allmenu_topArea .dfrnt_usrCo .login:after {content:""; width:17px; height:17px; background:url(../images/mobile/m-loginout-white.png) no-repeat; background-size:100%; vertical-align:middle; margin-left:10px;}

.m-hjmain-allmenuPOP .srchBoxArea {display:flex; padding:3px 20px 4px; align-items:center; background:#F5F7FA; border:1px solid #E0E6EF; border-width:1px 0;}
.m-hjmain-allmenuPOP .srchBoxArea button {margin-right:15px;}
.m-hjmain-allmenuPOP .srchBoxArea button img {vertical-align:middle;}
.m-hjmain-allmenuPOP .srchBoxArea input[type="text"] {flex-grow:1; background:transparent; border:none; outline:none; font-size:14px; color:#333333; padding:0;}
.m-hjmain-allmenuPOP .srchBoxArea input[type="text"]::placeholder {color:#BCBCBC;}
.m-hjmain-allmenuPOP .srvcTypeBox {display:flex; justify-content:space-between; align-items:center; margin-top:10px; border-radius:4px; padding:13px 13px 13px 20px; width:100%; box-sizing:border-box;}
.m-hjmain-allmenuPOP .srvcTypeBox.type-tchr {background:#43A986;}
.m-hjmain-allmenuPOP .srvcTypeBox.type-acdmy {background:#30B5CA;}

.m-hjmain-allmenuPOP .srvcTypeBox .myInfo {font-size:13px; color:#fff; flex-grow:1; padding-right:10px;}
.m-hjmain-allmenuPOP .srvcTypeBox .myInfo strong {font-size:16px;}
.m-hjmain-allmenuPOP .srvcTypeBox .myInfo strong:before {content:""; width:18px; height:18px; display:inline-block; margin-right:5px; vertical-align:middle;}
.m-hjmain-allmenuPOP .srvcTypeBox.type-tchr strong:before {background:url(../images/mobile/m-type-tchr.png);}
.m-hjmain-allmenuPOP .srvcTypeBox.type-acdmy strong:before {background:url(../images/mobile/m-type-acdmy.png);}
.m-hjmain-allmenuPOP .srvcTypeBox .rbox {position:relative;}
.m-hjmain-allmenuPOP .srvcTypeBox .rbox .service-mode {border:1px solid #FFFFFF4D; font-size:13px; font-weight:500; border-radius:30px; color:#fff; position:relative;padding: 8px 26px 8px 10px; box-sizing: border-box;}
.m-hjmain-allmenuPOP .srvcTypeBox .rbox .service-mode:after {content:""; width: 8px; height: 8px; display: inline-block; background: url(../images/mobile/m_arrow_down_white.png) no-repeat; background-size: 100%; transition: transform 0.5s; position: absolute; right: 11px; top: 44%;}
.m-hjmain-allmenuPOP .srvcTypeBox .rbox .popup-04 {display:none; width:66px; flex-direction: column;top:34px; border-radius: 6px !important; padding: 10px 0 !important;}
.m-hjmain-allmenuPOP .srvcTypeBox .rbox .popup-04.on {display:flex; }
.m-hjmain-allmenuPOP .srvcTypeBox .rbox .popup-04 button {font-size: var(--text-subtitle4); color: var(--black-3); line-height: 16px; padding: 8px 0px;}
.m-hjmain-allmenuPOP .srvcGo {display:flex; height:59px; align-items:center;justify-content: flex-end; margin-bottom:-15px;}
.m-hjmain-allmenuPOP .srvcGo div {width:50%; text-align:center; display:flex; align-items:flex-end; justify-content:center; position:relative;}
.m-hjmain-allmenuPOP .srvcGo div:nth-child(2):before {content:""; width:1px; height:18px; display:inline-block; vertical-align:middle; background-color:#E0E6EF ; position:absolute; left:0;}
.m-hjmain-allmenuPOP .srvcGo div img {margin-right:7px; vertical-align:middle;}
.m-hjmain-allmenuPOP .srvcGo div span { font-size:15px; font-weight:500;}
.m-hjmain-allmenuPOP .srvcGo .srvc-tchr {color:#43A986;}
.m-hjmain-allmenuPOP .srvcGo .srvc-acdmy {color:#26B2C8;}
.m-hjmain-allmenuPOP .srvcGo div:only-child {width:auto; padding-right:5px;}
.m-hjmain-allmenuPOP .srvcGo div:only-child:before {display:none;}
.m-hjmain-allmenuPOP .srvcGo div:only-child:after {content:""; width:16px; height:16px; display:inline-block; background:url(../images/mobile/icon_s_arrow_circle.png); transform:rotate(-90deg); background-size: 100%; vertical-align: middle; margin: 0 0 1px 7px;}
.m-hjmain-allmenuPOP .menuArea {display:flex; background: #F5F7FA; flex-grow: 2;}
    .l-1dptMenuBTN {width: 111px; display: flex; flex-direction: column; height: 100%; background: #F5F7FA; z-index: 2;}
    .l-1dptMenuBTN a {font-size: 15px; color: #7E7E7E; width: 100%; text-align: center; border: 1px solid #E0E6EF; border-width: 1px 0 0px; padding: 19px 0;}
    .l-1dptMenuBTN a.on {background: #fff; border-color: #CCD1D7; border-right: 1px solid #fff;}
    .l-1dptMenuBTN a.on + a {border-top-color: #CCD1D7;}
    .l-1dptMenuBTN a.on:first-child {border-top: none;}
    .l-1dptMenuBTN a:last-child {border-bottom-width: 1px;}

    .m-innerMenu {flex-grow: 1; background: #FFFFFF; padding: 0 20px; border-left: 1px solid #CCD1D7; max-height: 100vh; overflow-y: scroll; scroll-behavior: smooth; }
    .m-innerMenu li {padding: 20px 0; border-bottom: 1px solid #EBEFF5;}
    .m-innerMenu strong {font-size:16px;width: 100%;display: block;padding-left: 5px;}
    .m-innerMenu strong:before {content:"\b7";font-size: 24px;vertical-align: middle;margin-right: 3px;}
    .m-innerMenu a {font-size:16px; color:#333333;}
    .m-innerMenu li ul {}
    .m-innerMenu li ul li {padding: 9px 14px; border-bottom: none;}
    .m-innerMenu li ul li a {font-size:14px; }




/*메뉴검색 팝업*/
.menuSrchWrap {background:#fff; width:100%; height:100%; box-sizing:border-box; display:flex; flex-direction:column;}
.menuSrchWrap .topArea  {padding:20px 20px 0;}
.menuSrchWrap .topArea .srchBoxArea {display:flex; padding:3px 20px 4px; align-items:center; background:#F5F7FA; border-radius:10px;}
.menuSrchWrap .topArea .srchBoxArea button {margin-right:15px;}
.menuSrchWrap .topArea .srchBoxArea button img {vertical-align:middle;}
.menuSrchWrap .topArea .srchBoxArea input[type="text"] {flex-grow:1; background:transparent; border:none; outline:none; font-size:14px; color:#333333; padding:0;}
.menuSrchWrap .topArea .detail-srchBtn {font-size:12px; color:#333333; margin-top:15px; width:100%; text-align:right;}
.menuSrchWrap .topArea .detail-srchBtn:after {content: ""; width: 16px; height: 16px; display: inline-block; background: url(../images/mobile/m-rightArrowCircle.png); background-size: 100%;  vertical-align: middle; margin: 0 0 0 7px;}

.menuSrchWrap .srchRsult {display: flex; flex-direction: column; flex-grow:1; height: 100%; padding:0 20px;}

/*검색어 자동완성목록*/
.menuSrchWrap .srchRsult .autoSrchBox {flex-grow:1;}
.menuSrchWrap .srchRsult .autoSrchBox ul {width:100%; padding-top:14px;}
.menuSrchWrap .srchRsult .autoSrchBox ul li a {display:block; font-size:14px; color:#333333; width:100%; padding:6px 10px; box-sizing:border-box;}
.menuSrchWrap .srchRsult .autoSrchBox ul li a:before {content:""; background:url(../images/mobile/menusrch-icon.png); width:30px; height:30px; display:inline-block; vertical-align:middle; margin-right:10px;}
.menuSrchWrap .srchRsult .autoSrchBox ul li a .keyword {color:#61A6FF; font-weight:500;}
.menuSrchWrap .srchRsult .autoSrchBox ul.acdmyScrh {border: 1px solid #EBEFF5; border-width: 1px 0; margin-top: 20px; padding: 9px 0;}
.menuSrchWrap .srchRsult .autoSrchBox ul.acdmyScrh + ul {padding-top:9px;}

/*자동완성 끄기 버튼(하단)*/
.menuSrchWrap .autokyOFF {display: flex; justify-content: flex-end; background:#F5F7FA; font-size:13px; border-top:1px solid #EBEFF5; padding:0 20px; height:51px; align-items:center;}
.menuSrchWrap .autokyOFF .h-checkbox.checkbox04 input[type="checkbox"] + label {display: flex; font-size: 12px; color: #9A9A9A; align-items: center;}
.menuSrchWrap .autokyOFF .h-checkbox.checkbox04 input[type="checkbox"] + label:before {order: 2;margin: 0 0 0 4px; background: transparent;}
.menuSrchWrap .autokyOFF .h-checkbox.checkbox04 input[type="checkbox"] + label:after {left: auto; right: 4px; top: 5px;}
.menuSrchWrap .autokyOFF .h-checkbox.checkbox04 input[type="checkbox"]:checked + label {color:#61A5FF;}
.menuSrchWrap .autokyOFF .h-checkbox.checkbox04 input[type="checkbox"]:checked + label:after {border-color:#61A5FF;}

/* 최근 검색어 */
.menuSrchWrap .srchRsult .recentSrchHistory {padding-top: 20px; flex-grow: 1; display: flex; flex-direction: column;}
.menuSrchWrap .srchRsult .recentSrchHistory .htitle {font-size:15px; font-weight:500; color:#151515; margin-bottom:10px;}
.menuSrchWrap .srchRsult .recentSrchHistory .hstryList {border-top:1px solid #EBEFF5; padding:10px 0; display: flex; flex-direction: column;}
.menuSrchWrap .srchRsult .recentSrchHistory .hstryList:last-child {flex-grow:1;}
.menuSrchWrap .srchRsult .recentSrchHistory .hstryList li {display:flex; justify-content:space-between; align-items:center; padding:8px 10px;}
.menuSrchWrap .srchRsult .recentSrchHistory .hstryList li a {flex-grow:1; font-size:14px; color:#333333;}
.menuSrchWrap .srchRsult .recentSrchHistory .hstryList li div {display: flex; align-items: center;}
.menuSrchWrap .srchRsult .recentSrchHistory .hstryList li:only-child {font-size:14px; color:#7E7E7E; flex-grow: 2; justify-content: center;}
.menuSrchWrap .srchRsult .recentSrchHistory .hstryList .hdate {font-size:12px; color:#9A9A9A;}
.menuSrchWrap .srchRsult .recentSrchHistory .hstryList button {background:url(../images/mobile/m_icon_sm_close.png); width:8px; height:8px; background-size:100%; margin-left:13px;}
.menuSrchWrap .srchRsult .recentSrchHistory .allDeleteBox {padding:10px; text-align:right; border-top:1px solid #EBEFF5;}
.menuSrchWrap .srchRsult .recentSrchHistory .allDeleteBox button {margin:0;}

/*검색결과 리스트에 검색결과가 없는 경우*/
.m-hunjang-wrap .mainsrch-nodata {background:#fff; padding:0 15px 30px;}
.m-hunjang-wrap .mainsrch-nodata .noresult_sorry {width:100%; font-size:15px; color:#7E7E7E; padding:50px 0; text-align:center; line-height:22px;}
.m-hunjang-wrap .mainsrch-nodata .noresult_sorry span {color:#333333;}
.m-hunjang-wrap .mainsrch-nodata .srchTip {background:#F5F7FA; border-radius:10px; padding:20px; box-sizing:border-box;}
.m-hunjang-wrap .mainsrch-nodata .srchTip strong {font-size:14px; color:#333333; font-weight:500; line-height:20px;}
.m-hunjang-wrap .mainsrch-nodata .srchTip div {font-size:12px; color:#9A9A9A; line-height:20px;}

.m-hunjang-wrap .mainsrch-nodata + .recruitInfo-main .list-mbasic-wrap .strong-tit {border-top: none; padding-top: 0;}
.hunjangMainList {display: flex; flex-direction: column; height: 100%; flex-grow: 1;}
.hunjangMainList .list-mbasic .txtdiv .subco {font-size:14px;}
.hunjangMainList .list-mbasic .txtdiv .trTit {font-size:17px;}
.hunjangMainList .list-mbasic .libox .libox-sub {width:100%; display:flex; justify-content:space-between; align-items:center; padding-top:4px;}
.hunjangMainList .list-mbasic .libox .libox-sub .txtdiv {display:flex; ;flex-grow:1; padding-right:20px;}
.hunjangMainList .list-mbasic .libox .libox-sub .txtdiv:before {content:""; width:8px; height:10px; border:1px solid #C3CAD4; border-width:0 0 1px 1px; display:inline-block; vertical-align:middle; margin:5px 10px 0 4px;}
.hunjangMainList .list-mbasic .libox .libox-sub .trTit {width:100%; font-size:14px; color:#151515; font-weight:400;  white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.hunjangMainList .list-mbasic .libox .libox-sub .rcrt-num {font-size:14px; color:#7E7E7E;}

.hunjangMainList .mySrchlibox {display:flex; flex-direction:column; margin-bottom:3px;}
.hunjangMainList .mySrchlibox .kyTop {display:flex; justify-content:space-between; font-size:12px; color:#9A9A9A; padding-left:3px;}
.hunjangMainList .mySrchlibox .kyTop .hstry-wrd {}
.hunjangMainList .mySrchlibox .kyTop .hstry-wrd strong {font-size:14px; color:#61A6FF;}
.hunjangMainList .mySrchlibox .kyTop .hdate {}
.hunjangMainList .mySrchlibox .cndtionBox {display:flex; padding:11px 0 10px; flex-wrap:wrap;}
.hunjangMainList .mySrchlibox .cndtionBox .hitem {font-size:14px; border:1px solid #CCD1D7; border-radius:21px; margin:0 5px 5px 0; padding:10px 16px;}
.hunjangMainList .mySrchlibox .hbtnBox {display:flex; justify-content:flex-end;}
.hunjangMainList .mySrchlibox .hbtnBox button {margin:0 0 0 5px;}
.hunjangMainList .mySrchlibox .hbtnBox button:last-child {background:#8C9197;}
.hunjangMainList .list-mbasic-wrap:only-child .list-mbasic:only-child {flex-grow:1;}
/*나의검색- 검색조건 없는 경우*/
.hunjangMainList .list-mbasic-wrap:only-child {display:flex; height:100%; flex-direction:column;}
.hunjangMainList .list-mbasic-wrap:only-child .noresult_sorry {color:#7E7E7E; font-size:15px; display: flex; height: 100%; width: 100%; justify-content: center; align-items: center;}







/*
훈장마을 메인 홈
*/
.hunjang-homeMain-Wrap {margin-top:10px; overflow-x:hidden;}

/*메인비쥬얼 슬라이드*/
.hunjang-homeMain-Wrap .topMVarea {}
.hunjang-homeMain-Wrap .topMVarea .hjHomeMV-swiper {padding-bottom:20px; background:#fff;}
.hunjang-homeMain-Wrap .topMVarea .hjHomeMV-swiper img {display:block;}
.hunjang-homeMain-Wrap .topMVarea .hjHomeMV-swiper .swiper-slide img {width:100%;}
.hunjang-homeMain-Wrap .swiper-pagination {display: flex; justify-content: center; align-items: flex-end; bottom: 0;}
.hunjang-homeMain-Wrap .swiper-pagination .swiper-pagination-bullet {width: 10px; height: 10px; background: #000000; opacity: 0.1;}
.hunjang-homeMain-Wrap .swiper-pagination .swiper-pagination-bullet-active {background:#43A986; opacity:1;}

/*제목디자인*/
.hunjang-homeMain-Wrap .m-mainTitBlock {display:flex; padding:30px 20px 0; align-items:center; justify-content:space-between; background:#fff;}
.hunjang-homeMain-Wrap .m-mainTitBlock .titbox strong {font-size:17px; color:#151515; font-weight:600; margin-right:7px;}
.hunjang-homeMain-Wrap .m-mainTitBlock .titbox .guideBTN {display:inline-block; vertical-align:middle;}
.hunjang-homeMain-Wrap .m-mainTitBlock .titbox .guideBTN img {vertical-align:middle;}
.hunjang-homeMain-Wrap .m-mainTitBlock .readmore-btn {}
.hunjang-homeMain-Wrap .m-mainTitBlock.bg-transparent {background:transparent;}

/* 이미지 링크 배너  */
.hunjang-homeMain-Wrap .titleSlidearea {padding: 5px 0; background: #EBEFF5; border: 1px solid #E0E6EF; border-width: 1px 0;}
.hunjang-homeMain-Wrap .titleSlidearea img {display:block; width:100%;}


/* 이벤트 슬라이드배너 */
.hunjang-homeMain-Wrap .eventBnrarea {padding: 10px 0 60px 20px; background: #fff;}
.hunjang-homeMain-Wrap .eventBnrarea .hjHomevent-swiper {padding-bottom:20px;}
.hunjang-homeMain-Wrap .eventBnrarea .hjHomevent-swiper img {display:block;}
.hunjang-homeMain-Wrap .eventBnrarea .hjHomevent-swiper .swiper-slide img {width:100%;}
.hunjang-homeMain-Wrap .eventBnrarea .swiper-pagination {bottom:0;}


/* 상품 목록 디자인 */
.hunjang-homeMain-Wrap .block2-SlideWrap {padding: 10px 0 0 20px; background: #fff;}
.hunjang-homeMain-Wrap .block2-SlideWrap.bg-transparent {background:transparent;}
.hunjang-homeMain-Wrap .block2-SlideWrap.pb30 {padding-bottom:30px;}
.hunjang-homeMain-Wrap .block2-SlideWrap .swiper {width: 100%;height: 100%;margin-left: auto;margin-right: auto; overflow:visible;}
.hunjang-homeMain-Wrap .block2-SlideWrap .swiper .swiper-slide {background: #fff; height:calc((100% - 10px) / 2) !important; display: flex;  align-items: center; box-shadow: 5px 5px 10px #0000000D; border-radius: 10px;}
.hunjang-homeMain-Wrap .block2-SlideWrap .swiper-pagination {font-size:12px; color:#BCBCBC; bottom: auto; top: 0; margin-top: -31px; width: auto; right: 47px; left: auto;}
.hunjang-homeMain-Wrap .block2-SlideWrap .swiper-pagination .swiper-pagination-current {font-weight:600; color:#151515;}
.hunjang-homeMain-Wrap .block2-SlideWrap .swiper-pagination .swiper-pagination-total {color:#7E7E7E;}

.hunjang-homeMain-Wrap .libox {padding:20px; display: flex; flex-wrap: wrap; border: 1px solid #D4DAE2;  width: 100%; border-radius: 10px; box-sizing:border-box; background:#fff;}
.hunjang-homeMain-Wrap .libox .txtdiv {width:50%; flex-grow:1;}
.hunjang-homeMain-Wrap .libox .acdmy-LogoImg {width:100%; height:41px;  display: flex; align-items: center; margin: 5px 0 13px;}
.hunjang-homeMain-Wrap .libox .acdmy-LogoImg img {max-width:100%; height:auto; max-height:100%;}
.hunjang-homeMain-Wrap .libox .txtdiv .subco {color: var(--black-3);font-size:14px; line-height: 20px;}
.hunjang-homeMain-Wrap .libox .txtdiv .trTit {width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size:17px; color: var(--black-1); font-weight: var(--text-bold); line-height: 20px; margin-top: 2px; display: block; margin-bottom: 3px;}
.hunjang-homeMain-Wrap .libox .dl {display: flex;}
.hunjang-homeMain-Wrap .libox .dt { font-size: var(--text-subtitle6); color: var(--black-5); line-height: 20px; margin-right: 3px;}
.hunjang-homeMain-Wrap .libox .dd { font-size: var(--text-subtitle6); color: var(--black-2)var(--black-2); line-height: 20px;}
.hunjang-homeMain-Wrap .libox .dl.straightDl {}
.hunjang-homeMain-Wrap .libox .dl.straightDl .dt:not(:last-of-type):after { content: ""; display: inline-block; width: 1px; height: 12px; background: var(--border-basic-3); margin: 0 5px 0 7px; vertical-align: middle;}
.hunjang-homeMain-Wrap .libox .r-btnbox {display: flex; flex-direction: column; align-items: flex-end;}
.hunjang-homeMain-Wrap .libox .r-btnbox .acdmy-LogoImg {width: 90px;height: auto; margin:20px 0 0 !important;}

.hunjang-homeMain-Wrap .hgt2 .libox {padding:20px 20px 23px;}
.hunjang-homeMain-Wrap .hgt2 .libox .txtdiv .trTit {-webkit-line-clamp:2; -webkit-box-orient:vertical; display:-webkit-box; white-space:normal; padding-right:15px; box-sizing:border-box;}
.hunjang-homeMain-Wrap .hgt2 .libox .txtdiv .subco {margin-top:5px;}
.hunjang-homeMain-Wrap .hgt2 .libox .txtdiv .dl.straightDl {flex-wrap:wrap;}
.hunjang-homeMain-Wrap .hgt2 .libox .txtdiv .dl .dt:nth-child(3):after {display:none;}

.hunjang-homeMain-Wrap .hgt3 .libox {padding:15px 15px 19px; flex-direction:column;}
.hunjang-homeMain-Wrap .hgt3 .libox .txtdiv {order:2; width:100%;}
.hunjang-homeMain-Wrap .hgt3 .libox .r-btnbox {order:1;}
.hunjang-homeMain-Wrap .hgt3 .libox .txtdiv .dl {flex-wrap:wrap;}
.hunjang-homeMain-Wrap .hgt3 .libox .txtdiv .dl .dt {line-height:18px;}
.hunjang-homeMain-Wrap .hgt3 .libox .acdmy-LogoImg {width:70%; height:38px; margin-top:-3px !important;}
.hunjang-homeMain-Wrap .hgt3 .libox .txtdiv .trTit {-webkit-line-clamp: 2;-webkit-box-orient: vertical; display: -webkit-box; white-space: normal;}

.hunjang-homeMain-Wrap .hgt4 .swiper .swiper-slide {height:100% !important; flex-wrap:wrap; border:1px solid #D4DAE2; border-radius:10px; box-sizing:border-box;}
.hunjang-homeMain-Wrap .hgt4 .libox {padding:15px 15px 19px; flex-direction:column; width:50%; border-radius:0; border-width:0 1px 1px 0;}
.hunjang-homeMain-Wrap .hgt4 .libox:nth-child(2n) {border-right:none;}
.hunjang-homeMain-Wrap .hgt4 .libox:nth-child(2n+1) {border-left:none;}
.hunjang-homeMain-Wrap .hgt4 .libox:nth-child(2) ~ .libox {border-top:none; border-bottom:none;}
.hunjang-homeMain-Wrap .hgt4 .libox .txtdiv {order:2; width:100%;}
.hunjang-homeMain-Wrap .hgt4 .libox .r-btnbox {order:1;}
.hunjang-homeMain-Wrap .hgt4 .libox .txtdiv .dl {flex-wrap:wrap;}
.hunjang-homeMain-Wrap .hgt4 .libox .txtdiv .dl .dt {line-height:18px;}
.hunjang-homeMain-Wrap .hgt4 .libox .acdmy-LogoImg {width:70%; height:38px; margin-top:-3px !important;}
.hunjang-homeMain-Wrap .hgt4 .libox .txtdiv .trTit {-webkit-line-clamp: 2;-webkit-box-orient: vertical; display: -webkit-box; white-space: normal;}

.hunjang-homeMain-Wrap .hgt5 .swiper .swiper-slide {padding:0 20px; flex-direction:column; box-sizing:border-box; height:100% !important; border:1px solid #D4DAE2;}
.hunjang-homeMain-Wrap .hgt5 .libox {border-width:0 0 1px; border-radius:0; padding:20px 0;}
.hunjang-homeMain-Wrap .hgt5 .libox:last-child {border-bottom:none;}
.hunjang-homeMain-Wrap .hgt5 .libox .dl {flex-wrap:wrap; flex-grow:1; padding-top:4px;}
.hunjang-homeMain-Wrap .hgt5 .libox .dl .dt {line-height:16.5px;}
.hunjang-homeMain-Wrap .hgt5 .libox .acdmy-LogoImg {width:80px; height:34px;     display: flex; align-items: flex-end; margin-bottom: 0;}
.hunjang-homeMain-Wrap .hgt5 .libox .flex {align-items: flex-start;}
.hunjang-homeMain-Wrap .hgt5 .libox .txtdiv .trTit {font-size:15px;}
.hunjang-homeMain-Wrap .hgt5 .libox .txtdiv .subco {font-size:13px;}
.hunjang-homeMain-Wrap .hgt5 .libox .dl .dt:nth-child(3):after {display:none;}

.hunjang-homeMain-Wrap .hgt6 .swiper .swiper-slide {padding:0 20px; flex-direction:column; box-sizing:border-box; height:100% !important; border:1px solid #D4DAE2;}
.hunjang-homeMain-Wrap .hgt6 .libox {border-width:0 0 1px; border-radius:0; padding:19px 0;}
.hunjang-homeMain-Wrap .hgt6 .libox:last-child {border-bottom:none;}
.hunjang-homeMain-Wrap .hgt6 .libox .txtdiv .trTit {font-size:15px; margin:0; width:95%;}
.hunjang-homeMain-Wrap .hgt6 .libox .txtdiv .subco {font-size:13px;}

.hunjang-homeMain-Wrap .block2-SlideWrap.box-green {height:352px;}
.hunjang-homeMain-Wrap .block2-SlideWrap.box-blue  {height:342px;}
.hunjang-homeMain-Wrap .block2-SlideWrap.box-blue.hgt2 {height:326px;}
.hunjang-homeMain-Wrap .block2-SlideWrap.box-blue.hgt3 {height:432px;}
.hunjang-homeMain-Wrap .block2-SlideWrap.box-blue.hgt4 {height:423px;}
.hunjang-homeMain-Wrap .block2-SlideWrap.box-blue.hgt5 {height:619px;}
.hunjang-homeMain-Wrap .block2-SlideWrap.box-blue.hgt6 {height:409px;}
.hunjang-homeMain-Wrap .block2-SlideWrap.box-blue .libox .acdmy-LogoImg {margin-top:0;}
.hunjang-homeMain-Wrap .box-green .libox {border-left-width: 5px;}
.hunjang-homeMain-Wrap .box-green .libox.fixed {border-color:#43A986;}
.hunjang-homeMain-Wrap .box-blue .libox.fixed {border-color:#0E97FF;}




/* 훈장마을 메인 - 모달리스팝업 */
.btm-modal-POPUP {position: fixed;bottom: 0; z-index: 100; width: 100%;}
.btm-modal-POPUP .swiper-wrapper {align-items:flex-end;} 
.btm-modal-POPUP .swiper-slide {border-radius:20px 20px 0 0;overflow:hidden;}
.btm-modal-POPUP .modalPOPUP-swiper img {width:100%; display:block;}
.btm-modal-POPUP .btnBox {padding:0 20px; height:44px; display:flex; justify-content:space-between; align-items:center; background:#fff;}
.btm-modal-POPUP .btnBox button {font-size:12px; color:#7E7E7E;}

.btm-modal-POPUP .swiper-pagination-fraction {padding:6px 10px; border-radius:15px; background:rgba(0,0,0,0.3); font-size:12px; color:rgba(255,255,255,0.3); display: inline-block; width: auto; position: absolute; right: 15px; top: 15px; left: auto; bottom: auto;}
.btm-modal-POPUP .swiper-pagination-fraction .swiper-pagination-current {font-weight:600; color:#fff;}
.btm-modal-POPUP .swiper-pagination-fraction .swiper-pagination-total { color:rgba(255,255,255,0.7);}


/* 브랜드채용관 홈 */
.m-brndRcrt-mainWrap {width:100%; background:#fff; display:flex; height:100%; flex-direction:column;}
.m-brndRcrt-mainWrap .m-mainTitBlock {display:flex; justify-content:space-between; padding-bottom:15px; align-items:center;}
.m-brndRcrt-mainWrap .m-mainTitBlock .titbox {flex-grow:1;}
.m-brndRcrt-mainWrap .m-mainTitBlock .titbox strong {font-size:17px;}
.m-brndRcrt-mainWrap .m-mainTitBlock .readmore-btn {font-size:13px; color:#7E7E7E;}
.m-brndRcrt-mainWrap .m-mainTitBlock .readmore-btn:after {content:""; width:13px; height:10px; display:inline-block; vertical-align:middle; background:url(../images/mobile/m_arrow_left.png) no-repeat; background-size:100%; transform: rotate(180deg); margin-left: 7px;}

.m-brndRcrt-mainWrap .brndRcrtTop {background:url(../images/mobile/brndRcrt-homBg.png) no-repeat; padding:30px 0 40px 20px; background-position-y: bottom;}
.m-brndRcrt-mainWrap .brndRcrtTop .m-mainTitBlock .titbox strong {color:#fff;}
.m-brndRcrt-mainWrap .brndRcrtTop .m-mainTitBlock .readmore-btn {color:#fff; padding-right:20px;}
.m-brndRcrt-mainWrap .brndRcrtTop .m-mainTitBlock .readmore-btn:after {background:url(../images/mobile/m_arrow_left_white.png) no-repeat; background-size:100%;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap {height:366px;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .swiper {width: 100%;height: 100%;margin-left: auto;margin-right: auto; overflow:visible;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .swiper-slide {background:#fff; height: calc((100% - 10px) / 2) !important; display: flex; align-items: center; box-shadow: 5px 5px 10px #0000000D; border-radius: 10px;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .swiper-slide:last-child {margin-right:20px;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .brand-block {display: flex; flex-direction: column; width:100%; padding:30px 20px 0px; text-align:center; box-sizing:border-box; border: 1px solid #43A986; border-radius: 10px; justify-content:space-between;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .logoBox {width:100%; height:41px; display:flex; align-items:center;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .logoBox img {max-width:100%; max-height:100%;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .brandNmBox {font-size:15px; font-weight:600; color:#333333; margin-top:22px;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .brandnumberBox {font-size:13px; color:#7E7E7E; margin-top:15px; border-top:1px solid #E0E6EF; height:50px; line-height:48px;}
.m-brndRcrt-mainWrap .brndRcrtTop .topBrndSlideWrap .brandnumberBox strong {font-size:15px; color:#FF6000; margin:0 2px 0 5px;}

.m-brndRcrt-mainWrap .brndRcrt-allList {width: 100%; padding: 0 20px 20px; box-sizing: border-box;}
.m-brndRcrt-mainWrap .brndRcrt-allList .allBrndSlideWrap {}
.m-brndRcrt-mainWrap .brndRcrt-allList .allBrndSlideWrap .brand-block {display:flex; justify-content:space-between; border:1px solid #D4DAE2; border-radius:10px; background:#fff; box-shadow:5px 5px 10px #0000000D; padding:24px 30px; box-sizing:border-box; align-items:center; margin-bottom:10px;}
.m-brndRcrt-mainWrap .brndRcrt-allList .allBrndSlideWrap .brand-block .txtbox {flex-grow:1; width:50%;}
.m-brndRcrt-mainWrap .brndRcrt-allList .allBrndSlideWrap .brand-block .txtbox .brandNmBox {font-size:15px; color:#333333; padding-bottom:6px; font-weight:600; width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.m-brndRcrt-mainWrap .brndRcrt-allList .allBrndSlideWrap .brand-block .txtbox .brandnumberBox {font-size:12px; color:#7E7E7E;}
.m-brndRcrt-mainWrap .brndRcrt-allList .allBrndSlideWrap .brand-block .txtbox .brandnumberBox strong {font-size:14px; color:#FF6000;}
.m-brndRcrt-mainWrap .brndRcrt-allList .allBrndSlideWrap .logoBox {width:80px;}
.m-brndRcrt-mainWrap .brndRcrt-allList .allBrndSlideWrap .logoBox img {max-width:100%;}


/*브랜드채용관 - 상세페이지, 
학원정보 - 상세페이지*/
.m-brnd_detail-Wrap {}
.m-brnd_detail-Wrap .bgImgbox {width:100%; height:170px; position: fixed; top: 55px; z-index: 0; background-size: 1400px !important; background-position: center !important;}
.m-brnd_detail-Wrap .bgImgbox.bg01 {background:url(../images/mobile/bg_brandRecruit01.jpg);}
.m-brnd_detail-Wrap .brndrcrt-CoBox {background:#fff; display: flex; z-index:1; flex-direction: column;}

.m-brnd_detail-Wrap .brndInfo {display:flex; flex-direction:column; align-items:center;}
.m-brnd_detail-Wrap .brndInfo .brndNm {font-size:26px; color:#fff; line-height:31px; height:170px; display:flex; align-items:center; z-index:1;}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo {background:#fff; display: flex; flex-direction: column; align-items: center; z-index: 1; padding: 0 20px 30px; box-sizing: border-box;}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo .logoWrap {display:flex; justify-content:center; margin-bottom:30px; margin-top:-35px; width:100%; text-align:center;}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo .logoBox {width:160px; height:71px; line-height:70px; box-shadow:1px 5px 10px #0000000D; border-radius:10px;  overflow:hidden; text-align:center; background:#fff;}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo .logoBox img {max-width:100px; max-height:95%; display:inline-block; vertical-align:middle; background:#fff; z-index:1;}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo .likeIt {}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo .likeIt .btn-tgl[type="checkbox"] + label {font-size:11px; color:#333333; background:#fff; border-radius:10px; width:80px; height: 71px; text-align: center; display: flex; align-items: center; justify-content: center; text-indent: 0; flex-direction: column; box-shadow: 1px 5px 10px #0000000D;}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo .likeIt  .btn-like[type="checkbox"] + label:before {margin-bottom:8px;}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo .coBox {font-size:13px; color:#7E7E7E; line-height:20px;}
.m-brnd_detail-Wrap .brndInfo .brndInfoCo .coBox b {font-weight:500; color:#333333;}

.m-brnd_detail-Wrap .titleSlidearea {padding:4px 0; background:#EBEFF5; border:1px solid #E0E6EF; border-width:1px 0; box-sizing:border-box; z-index:1;}
.m-brnd_detail-Wrap .titleSlidearea img {width:100%;}
.m-brnd_detail-Wrap .TopSrchWrap {margin-bottom:0;}
.m-brnd_detail-Wrap .TopSrchWrap_guidetxt {width:100%; padding:15px; box-sizing:border-box; z-index:1; background:#F5F7FA;}
.m-brnd_detail-Wrap .TopSrchWrap_guidetxt .flex {padding:0 5px; box-sizing:border-box;}
.m-brnd_detail-Wrap .TopSrchWrap_guidetxt .flex select {height:35px;}
.m-brnd_detail-Wrap .list-mbasic .libox {padding-left:20px;}
.m-brnd_detail-Wrap .recruitInfo-main {background:#fff;}

.m-acdmy_detail-Wrap .brndInfoCo {background:#F5F7FA !important;}
.m-acdmy_detail-Wrap .TopSrchWrap_guidetxt {background:#fff; padding:30px 20px 12px;}
.m-acdmy_detail-Wrap .recruitInfo-main {border-top: 1px solid #EBEFF5;}
.m-acdmy_detail-Wrap .brndInfo .brndInfoCo .moreInfoArea {width:100%; padding-top:20px; margin-top:20px; border-top:1px solid #E0E6EF;}
.m-acdmy_detail-Wrap .brndInfo .brndInfoCo .moreInfoArea .dl {display:flex; justify-content:space-between;  align-items: flex-start; margin-bottom:8px;}
.m-acdmy_detail-Wrap .brndInfo .brndInfoCo .moreInfoArea .dl:last-of-type {margin-bottom:20px;}
.m-acdmy_detail-Wrap .brndInfo .brndInfoCo .moreInfoArea .dt {font-size:12px; color:#fff; font-weight:500; padding:4px 10px; background-color:#C3CAD4; border-radius:30px; white-space:nowrap;}
.m-acdmy_detail-Wrap .brndInfo .brndInfoCo .moreInfoArea .dd {width:calc(100% - 82px); padding-left:10px; font-size:14px; color:#333333; line-height:24px; box-sizing:border-box;}
.m-acdmy_detail-Wrap .brndInfo .brndInfoCo .moreInfoArea .h-button-ml {font-weight:500; color:#333333;}
.m-acdmy_detail-Wrap .brndInfo .brndInfoCo .moreInfoArea .h-button-ml img {display:inline-block; vertical-align:middle; margin-left:10px;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap {background:#fff; z-index:1;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .acdmyImg-swiper {padding-bottom:24px; position:relative;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-slide {height:220px; text-align:center; padding:0 20px; box-sizing:border-box;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-slide img {max-width:100%; height:100%; }
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-pagination {display: flex; align-items: flex-end; top: auto; bottom: 0; justify-content: center;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-pagination-bullet {width:10px; height:10px; margin:0 1.5px !important; background:#000; opacity:0.1;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-pagination-bullet-active {background:#43A986; opacity:1;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-button-next,
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-button-prev {width:30px; height:60px; display:flex; align-items:center; top: 50%; transform: translateY(-50%); background: rgba(255,255,255,0.9); opacity:1 !important;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-button-next {right:0;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-button-prev {left:0;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-button-next:after,
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-button-prev:after {width:10px; height:16px; background:url(../images/mobile/m_icon_arrow_bold_gray.png) no-repeat;}
.m-acdmy_detail-Wrap .acdmyInfo-ImgSlideWrap .swiper-button-prev:after {transform: rotate(180deg);}


.m-acdmy_detail-Wrap .acdmyInfo-bnftBox {background:#fff; z-index:1;}
.m-acdmy_detail-Wrap .bgImgbox.bg01 {background:url(../images/recruit_acdmyInfo-bgImg1.jpg); background-size: 1000px !important;}
.m-acdmy_detail-Wrap .bgImgbox.bg02 {background:url(../images/recruit_acdmyInfo-bgImg2.jpg); background-size: 1100px !important;}
.m-acdmy_detail-Wrap .bgImgbox.bg03 {background:url(../images/recruit_acdmyInfo-bgImg3.jpg); background-size: 990px !important;}
.m-acdmy_detail-Wrap .bgImgbox.bg04 {background:url(../images/recruit_acdmyInfo-bgImg4.jpg); background-size: 1100px !important;}
.m-acdmy_detail-Wrap .bgImgbox.bg05 {background:url(../images/recruit_acdmyInfo-bgImg5.jpg); background-size: 1100px !important;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-benefit {display: flex; flex-direction: column; align-items: flex-start; width:100%; padding:0 20px;box-sizing:border-box;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-benefit li {font-size: 14px; color:#333333; line-height:22px; padding: 11px 20px; border: 1px solid #E0E6EF; border-radius: 4px; margin-bottom:7px; background:#F5F7FA;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-person {width:100%; padding:0 20px 23px;box-sizing:border-box;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-person li {display:flex; justify-content:space-between; align-items:center; font-size: 14px; color:#333333; line-height:22px; padding: 11px 20px; border: 1px solid #E0E6EF; border-radius: 4px; margin-bottom:7px; background:#F5F7FA;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-person li div {width: calc(100% - 40px);font-size: 14px;color: #333;line-height: 22px;word-break: keep-all;text-align: left;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-person li .bedgeBox {width:25px;height:33px;display: inline-block;background: url(../images/mobile/m-recruit_acdmyInfo-bedgeImg.png) no-repeat;background-size:100%;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-person li:nth-child(5n+2) .bedgeBox {background-position-y: -33px;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-person li:nth-child(5n+3) .bedgeBox {background-position-y: -66px; height:31px;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-person li:nth-child(5n+4) .bedgeBox {background-position-y: -98px;}
.m-acdmy_detail-Wrap .acdmyInfo-bnftBox .academyInfo-person li:nth-child(5n) .bedgeBox {background-position-y: -132px;}


/* 스마트 취업Tool */
.smartTool_homeList {background:#F5F7FA; padding:0 20px 20px; box-sizing:border-box;}
.smartTool_homeList a {border:1px solid #D4DAE2; border-radius:10px; display:flex; justify-content:space-between; align-content:center; padding:14px 20px; width:100%; box-sizing:border-box; background:#fff; margin-bottom:6px;}
.smartTool_homeList a div {font-size:14px; color:#333333; line-height:16px;}

.smrtTool {}
.smrtTool .pageTAPWrap {border-radius:0;}
.smrtTool .pageTAPWrap .pageTAP {height:40px; line-height:40px; color:#7E7E7E; font-size:14px; border-width:0 0 1px; border-bottom:1px solid #EBEFF5; border-radius:0;}
.smrtTool .pageTAPWrap .pageTAP.activeTAB {color:#1CA3B8; font-weight:500; background:#fff; border-bottom:2px solid #1CA3B8;}
.smrtTool .innerWrap {padding:20px; position:relative;}
.smrtTool .innerWrap .basic-popup-inputdl {}
.smrtTool .innerWrap .basic-popup-inputdl .dl {}
.smrtTool .innerWrap .basic-popup-inputdl .dl .dt {font-size: var(--text-subtitle6); color: var(--black-2); font-weight: var(--text-medium); line-height: 14px; margin-bottom: 6px;}
.smrtTool .innerWrap .basic-popup-inputdl .dl .dt:before {content:"\b7"; margin-right:3px;}
.smrtTool .innerWrap .basic-popup-inputdl .dl .dd {padding:0 0 25px; position:relative;}
.smrtTool .innerWrap .basic-popup-inputdl .dl:last-child .dd {padding-bottom:0;}
.smrtTool .innerWrap .basic-popup-inputdl .dl:last-child .dd .error-txt {bottom:-17px;}
.smrtTool .h-field-wrap.errorBox {border-color:#FF6000;}
.smrtTool .error-txt {color:#FF6000; font-size:11px; margin-top:5px; position: absolute; bottom: 8px; width: 100%;}
.smrtTool .smrtTool-btnbox {margin-top:20px; display:flex; margin-bottom:40px;}
.smrtTool .smrtTool-btnbox button {margin:0; flex-grow:1; width:50%;}
.smrtTool .smrtTool-btnbox button:first-child:not(:only-child) {margin-right:5px;}
.smrtTool .smrtTool-btnbox .refreshBtn i {color:#c3cad3; font-size:20px; margin-right:5px;}
.smrtTool .h-radio-02 input[type="radio"] + label {flex-grow:1; height:46px;}
.smrtTool .h-radio-02 input[type="radio"]:checked + label {background:#26B2C8; border-color:#1CA3B8; color:#fff;}
.smrtTool .h-radio-02 input[type="radio"]:checked + label +input + label {border-left-color:#1CA3B8;}
.smrtTool .innerWrap .basic-popup-inputdl .dl .dd .h-field-wrap input[type="text"] {text-align:right; font-size:15px; padding-right:0; outline:none;}
.smrtTool .innerWrap .basic-popup-inputdl .dl .dd .h-field-wrap .include_txt {padding-left:10px;}
.smrtTool .num-upDown {display:flex; overflow:hidden; justify-content:flex-end;}
.smrtTool .num-upDown button {border:1px solid #26B2C8; font-size:22px; background:#26B2C8; color:#fff; width:46px; height:46px; line-height:44px; text-align:center; box-sizing:border-box;}
.smrtTool .num-upDown button:first-child {border-radius:4px 0 0 4px;}
.smrtTool .num-upDown button:last-child {border-radius:0 4px 4px 0;}
.smrtTool .num-upDown input {border:1px solid #CCD1D7; border-width:1px 0; text-align:center; color:#151515; font-size:15px; width:76px; height:46px; line-height:44px; box-sizing:border-box; border-radius:0;}


.m-toastMsg {padding:12px 30px; font-size:14px; color:#fff; background:rgba(0,0,0,0.7); border-radius:20px; display:inline-block; opacity:0;
            position: absolute; left: 50%; bottom:-60px;  transform: translate(-50%, +50%); white-space: nowrap; transition: all 0.5s;}
.m-toastMsg.on {bottom: 50%; opacity:1;}


.textCalc {padding:10px 20px;}
.textCalc .top-txtCalc {display:flex; margin-bottom:10px;}
.textCalc .top-txtCalc .boxdiv {width:50%; flex-grow:1; padding:0 15px; box-sizing:border-box; height:75px; align-items:center; display:flex; justify-content:space-between;}
.textCalc .top-txtCalc .boxdiv:first-child {border-right:1px solid #E0E6EF;}
.textCalc .top-txtCalc .boxdiv .lTit {font-size:14px; color:#333333; line-height:14px;}
.textCalc .top-txtCalc .boxdiv .numBox {font-size:12px; color:#333333; text-align:right;}
.textCalc .top-txtCalc .boxdiv .numBox strong {color:#26B2C8; font-size:20px; margin-right:3px; font-family: "Roboto";}
.textCalc .top-txtCalc .boxdiv .numBox p {font-size:12px; color:#BCBCBC; margin-top:4px;}
.textCalc .top-txtCalc .boxdiv .numBox p strong {font-size:12px; font-weight:400;}
.textCalc .textareaWrap {position:relative; overflow:hidden;}
.textCalc .textareaWrap textarea {width:100%; padding:15px; font-size:14px; color:#333333; line-height:22px; box-sizing:border-box; border:1px solid #E0E6EF; height:344px; resize:none; border-radius:4px;}

.salaryCalc .smrtTool-btnbox {margin-top:0; padding:10px 20px 0;}
.salaryCalc .m-toastMsg {bottom:63%;}

.smrtTool .expect-resultBox {border:1px solid #CCD1D7; border-radius:4px; box-sizing:border-box; overflow:hidden; margin-bottom:-10px;}
.smrtTool .expect-resultBox .Top-rslt {border-bottom:1px solid #E7EDF5; padding:30px 20px 20px; }
.smrtTool .expect-resultBox .Top-rslt .dl {display:flex; justify-content:space-between; margin-bottom:3px;}
.smrtTool .expect-resultBox .Top-rslt .dl strong {font-size:16px; color:#333333; line-height:22px;}
.smrtTool .expect-resultBox .Top-rslt .dl span {font-size:16px; color:#333333; line-height:22px;}
.smrtTool .expect-resultBox .rslt-detail {padding:30px 20px;}
.smrtTool .expect-resultBox .rslt-detail .dl {border-bottom:1px solid #E7EDF5; display:flex; justify-content:space-between; padding-bottom:4px; margin-bottom:15px; position:relative;}
.smrtTool .expect-resultBox .rslt-detail .dl:last-child {margin-bottom:0;}
.smrtTool .expect-resultBox .rslt-detail .dl .h-m-popup.popup-04 {display:none; top: 20px; left: -20px; width: calc(100% + 40px); border-radius: 0;}
.smrtTool .expect-resultBox .rslt-detail .dl .h-m-popup.popup-04.on {display:block;}
.smrtTool .expect-resultBox .rslt-detail .dl .h-m-popup.popup-04 strong {margin:-7px 0 10px; display:block;}
.smrtTool .expect-resultBox .rslt-detail .dl .popup-04 .basic-popup-list li {font-size:12px; line-height:18px; padding-left:8px;}
.smrtTool .expect-resultBox .rslt-detail .dl .popup-04 .basic-popup-list li:before {left:0;}
.smrtTool .expect-resultBox .rslt-detail .dl .popup-04 .basic-popup-list li:only-child {padding-left:0;}
.smrtTool .expect-resultBox .rslt-detail .dl .popup-04 .basic-popup-list li:only-child:before {display:none;}
.smrtTool .expect-resultBox .rslt-detail .lTit {font-size:14px; color:#7E7E7E; line-height:16px; display:flex; align-items:center;}
.smrtTool .expect-resultBox .rslt-detail .lTit span {min-width:68px;}
.smrtTool .expect-resultBox .rslt-detail .lTit button {}
.smrtTool .expect-resultBox .rslt-detail .lTit button img {display:inline-block; vertical-align:middle;} 
.smrtTool .expect-resultBox .rslt-detail .rCo {color:#7E7E7E; font-size:14px;}
.smrtTool .expect-resultBox .rslt-detail .rCo b {color:#151515; font-weight:400; margin-right:7px;}
.smrtTool .expect-resultBox .all-rslt {background:#F5F7FA; padding:20px; display:flex; justify-content:space-between;}
.smrtTool .expect-resultBox .all-rslt .lTit {font-size:16px; color:#333333;}
.smrtTool .expect-resultBox .all-rslt .rCo {font-size:16px; color:#7E7E7E;}
.smrtTool .expect-resultBox .all-rslt .rCo b {color:#26B2C8; margin-right:5px;}

.scoreCalc .innerWrap .basic-popup-inputdl .dl {flex-wrap:wrap;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl:only-child {margin-bottom:0;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl .dd:nth-last-child(2) {width:118px;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl .dd:nth-last-child(2) select {min-width:100%;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl .dd:nth-child(2):nth-last-child(1) {width:50%; flex-grow:1; margin-left:10px;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl .dd.wd100 {width: 100% !important; margin-left: 0 !important; display: flex; flex-direction: column;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl .dd .scoreCo {font-size:14px; color:#333333; border:1px solid #CCD1D7; border-radius:4px; background:#fff; height:46px; text-align:center; display:flex; align-items:center; width:100%; margin-bottom:6px; justify-content:center; align-items:center; box-sizing:border-box;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl .dd .scoreCo strong {color:#26B2C8; font-size:16px;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl .dd .scoreCo strong:after {content:"/"; margin:0 5px; font-size:14px; color:#333333; font-weight:400;}
.scoreCalc .innerWrap .basic-popup-inputdl .dl .dd .scoreCo:last-child {margin-bottom:0;}
.scoreCalc .smrtTool-btnbox {margin-top:0; padding:0px 20px 0;}

.smrtTool .scoreCaclTBL {margin-bottom:10px;}
.smrtTool .scoreCaclTBL thead th {color:#7E7E7E; height:36px; text-align:center; font-size:13px; border:1px solid #E0E6EF; border-width:1px 0; background:#F6F8FA; font-weight:400;}
.smrtTool .scoreCaclTBL tbody td {border:1px solid #E0E6EF; text-align:center;}
.smrtTool .scoreCaclTBL tbody td:first-child {border-left:none;}
.smrtTool .scoreCaclTBL tbody td:last-child {border-right:none;}
.smrtTool .scoreCaclTBL tbody td input[type="text"] {font-size:13px; color:#333333; border:none; padding:0 0 0 5px; outline:none;}
.smrtTool .scoreCaclTBL tbody td input[type="text"]::placeholder {color:#BCBCBC; font-size:13px;}
.smrtTool .scoreCaclTBL tbody td:nth-child(2) input[type="text"] {width:50px; padding:0; text-align:center;}
.smrtTool .scoreCaclTBL tbody td select {font-size:13px; border:none; min-width:auto; padding: 0 10px 0 0; background-position-x: 100%; width: 53px; outline:none;}
.smrtTool .scoreCaclTBL tbody td .h-checkbox {margin:0 6px;}
.smrtTool .scoreCaclTBL tbody td .h-checkbox label>input[type="checkbox"] + .spanLabel:after {display:none;}
.smrtTool .scoreCaclTBL tbody td .delectBtn {margin:0 6px;}
.scoreCalc .addBtn {margin:0 0 -10px;}
.smrtTool .addBtn i {color:#C3CAD4; font-size:22px;}
.scoreCalc .expect-resultBox {margin-bottom:0;}
.scoreCalc .expect-resultBox .Top-rslt .dl strong:last-child {width:50%; display: flex; justify-content: flex-end; color:#7E7E7E;}
.scoreCalc .expect-resultBox .Top-rslt .dl strong:last-child div {width:auto; margin-right:5px;}

.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd {display:flex;}
.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd:not(.each-radio) .h-radio-02 {width:158px;}
.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd .rInputBox {margin-left:9px; width: calc(100% - 168px);}
.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd.each-radio .h-radio-02 {flex-wrap:wrap; border-bottom: 1px solid #EBEFF5; padding-bottom: 15px;}
.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd.each-radio .h-radio-02 input[type="radio"] + label {width: 30%; flex-grow: 1; margin: 0 10px 10px 0; border-radius: 4px; border: 1px solid #CCD1D7; box-sizing: border-box;}
.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd.each-radio .h-radio-02 input[type="radio"] + label:nth-of-type(3n) {margin-right:0;}
.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd.each-radio .h-radio-02 input[type="radio"]:checked + label {border-color: #1CA3B8;}
.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd.each-radio .h-radio-02 input[type="radio"]:checked + label +input + label {}
.grdtnCalc .innerWrap .basic-popup-inputdl .dl .dd select {width:105px; min-width:105px;}
.grdtnCalc .innerWrap .mainTit {font-size:13px; color:#333333; font-weight:500;padding-bottom:6px; border-bottom:1px solid #CCD1D7; margin-bottom:14px;}
.grdtnCalc .innerWrap .num-upDown input[type="text"] {width:138px;}
.grdtnCalc .innerWrap .mainTit ~ .basic-popup-inputdl .dl {display: flex; justify-content: space-between; padding-bottom:6px; border-bottom:1px solid #EBEFF5; margin-bottom:14px; position:relative;}
.grdtnCalc .innerWrap .mainTit ~ .basic-popup-inputdl .dl .dt {line-height:16px;}
.grdtnCalc .innerWrap .mainTit ~ .basic-popup-inputdl .dl .dt .block {padding-left:5px;}
.grdtnCalc .innerWrap .mainTit ~ .basic-popup-inputdl .dl .dd {display: flex; flex-direction: column; padding-bottom:0; font-size:15px; color:#151515; line-height:26px; text-align:right; position:unset;}
.grdtnCalc .innerWrap .mainTit ~ .basic-popup-inputdl .dl .dd .num-upDown {margin-bottom:8px;}
.grdtnCalc .innerWrap .mainTit ~ .basic-popup-inputdl .dl:last-child {margin-bottom:-10px;}
.grdtnCalc .smrtTool-btnbox {margin-top:0; padding:10px 20px 0;}

.grdtnCalc .popup-04 {border-width: 2px; border-radius: 0; width: 100%; left: 0; text-align: left; padding: 18px 42px 18px 20px; top:50px;}
.grdtnCalc .popup-04:before {content:""; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 11px solid var(--grey-3); display: inline-block; position: absolute; right: 16px; top: -12px;}
.grdtnCalc .popup-04:after {content:""; width: 0; height: 0; border-left: 3px solid transparent; border-right: 3px solid transparent; border-bottom: 9px solid #fff; display: inline-block; position: absolute; right: 18px; top: -9px;}
.grdtnCalc .popup-04 .basic-popup-list li {line-height:18px; padding-left:0;}
.grdtnCalc .popup-04 .basic-popup-list li:before {display:none;}
.grdtnCalc .popup-04  button.close {top:20px;}

.langCalc .innerWrap .basic-popup-inputdl .dl .dd .rInputBox {margin-top:10px;}
.langCalc .smrtTool-btnbox {margin-top:10px; padding:0px 20px 0;}
.langCalc .innerWrap .basic-popup-inputdl .dl:last-child:not(:only-child) {border-top: 1px solid #EBEFF5; padding-top: 30px; margin-top: 5px;}
.langCalc .innerWrap .basic-popup-inputdl .dl .dd .scoreCo {font-size:14px; color:#333333; padding:0 20px; border:1px solid #CCD1D7; border-radius:4px; background:#fff; height:46px; text-align:center; display:flex; align-items:center; width:100%; margin-bottom:6px; justify-content:space-between; align-items:center; box-sizing:border-box;}
.langCalc .innerWrap .basic-popup-inputdl .dl .dd .scoreCo .ltit {}
.langCalc .innerWrap .basic-popup-inputdl .dl .dd .scoreCo strong {color:#26B2C8; font-size:16px; flex-grow:1; text-align:right; padding-right:3px;}
.langCalc .innerWrap .basic-popup-inputdl .dl .dd .scoreCo:last-child {margin-bottom:-10px;}

.photoResize .smrtTool-btnbox {margin-top:0; padding:0px 20px 0;}
.photoResize .innerWrap .photoBox {display:flex; height:280px; align-items:center; justify-content:center; border:1px dashed #CCD1D7; border-radius:4px; color:#7E7E7E; font-size:13px; line-height:20px; text-align:center; box-sizing:border-box;}
.photoResize .innerWrap .photoSize {display:flex; justify-content:space-between; align-items:center; padding-bottom:25px; position:relative;}
.photoResize .innerWrap .photoSize input {width:20%; border:1px solid #CCD1D7; height:46px; box-sizing:border-box; font-size:15px; color:#333333; padding:0 18px; flex-grow:1; border-radius:4px; text-align:right;}
.photoResize .innerWrap .photoSize input.errorBox {border-color:#FF6000;}
.photoResize .innerWrap .photoSize span {font-size:14px; color:#333333; padding:0 13px;}
.photoResize .innerWrap .photoSize .error-txt {text-align: center; bottom:7px !important;}
.photoResize .innerWrap .photoBox.step02 {background:#F6F8FA;}
.photoResize .innerWrap .photoBox.step02 img {max-width:100%; max-height:100%;}
.photoResize .innerWrap .m-toastMsg {bottom:69px;}

.smrtTool.crtficates .smrtTool-btnbox {margin-top:0; padding:0px 20px 0;}
.smrtTool.crtficates .crtficates-StepBox {padding:26px 20px 5px; background:#f5f7fa; border:1px solid #62666b; border-width:1px 0;}
.smrtTool.crtficates .crtficates-StepBox .mainTit {margin-bottom:16px; font-size:14px; display:block; color:#333333; letter-spacing:-0.5px;}
.smrtTool.crtficates .crtficates-StepBox ul {position:relative;}
.smrtTool.crtficates .crtficates-StepBox ul:before {content:""; width:1px; display:inline-block; border-right:1px dashed #ddd; position: absolute; left: 87px; top: 19px; height: 252px;}
.smrtTool.crtficates .crtficates-StepBox ul li {display:flex; align-items:center; margin-bottom:25px;}
.smrtTool.crtficates .crtficates-StepBox ul li .stepBox {width:70px; height:26px; border:1px solid #989898; text-align:center; border-radius:30px; font-size:12px; display:flex; align-items:center; justify-content:center; margin-right:5px; box-sizing:border-box;}
.smrtTool.crtficates .crtficates-StepBox ul li .stepBox:before {content:"STEP"; margin-right:3px; color:#808080;}
.smrtTool.crtficates .crtficates-StepBox ul li .dot {margin:0 10px; position:relative;}
.smrtTool.crtficates .crtficates-StepBox ul li .dot:before {content:"";}
.smrtTool.crtficates .crtficates-StepBox ul li .dot:after {content:""; width:7px; height:7px; border-radius:100%; background:#333333; display:inline-block; vertical-align:middle;}
.smrtTool.crtficates .crtficates-StepBox ul li .txtBox {font-size:13px;}


