
/***** 모바일 팝업 공통 (layout) *****/
.h-popup-wrap {display: none; z-index: 1001; display: flex; height: 100%; justify-content: center; left: 0; position: fixed; top: 0; width: 100%; } 
.h-m-popup {height: fit-content;top: 10%;white-space: normal;/* display: block; */word-wrap: break-word;position: relative;flex: 0 0 auto;flex-direction: column;z-index: 1001;background-color: #fff;box-sizing: border-box;} 
.h-m-popup {height: fit-content;top: 10%;white-space: normal; word-wrap: break-word;position: relative;flex: 0 0 auto;flex-direction: column;z-index: 1001;background-color: #fff;box-sizing: border-box;} 
.h-m-popup .pop-header {width:100%;text-align: left;box-sizing: border-box;} 
.h-m-popup .pop-header .pop-title {font-size:17px; color:var(--black-1); }
.h-m-popup .pop-body {height: calc(100% - 60px);box-sizing: border-box;position: relative;overflow: hidden;} 
.h-m-popup button.close {height: 14px;top: 15px;right: 15px;width: 14px;height: 14px;position: absolute;background:url(../images/btn_close.png);border: none;cursor: pointer;text-align: center;box-sizing: border-box;background-size: 100%;background-repeat: no-repeat;/* background-position: top right; *//* background-color: #ccc; */} 
.h-m-popup button.close img {vertical-align: middle; max-width: 14px; } 

/*popup-01*/
/*popup-01 -닫기*/
.h-m-popup.popup-01 {width: 100%;top: 0;height: 100vh;} 
.h-m-popup.popup-01 .pop-header {padding:17px 17px 17px 50px;border-bottom: 1px solid #EBEFF5;} 
.h-m-popup.popup-01 .pop-header .pop-title {font-weight: 500;} 
.h-m-popup.popup-01 .pop-container {padding: 20px; box-sizing: border-box;} 
.h-m-popup.popup-01 button.close {left:20px;top: 20px;} 
/*popup-01 -뒤로가기*/
.h-m-popup.popup-goback {width: 100%;top: 0;height: 100vh;} 
.h-m-popup.popup-goback .pop-header {padding:17px 17px 17px 50px;border-bottom: 1px solid #EBEFF5;} 
.h-m-popup.popup-goback .pop-header .pop-title {font-weight: 500;} 
.h-m-popup.popup-goback .pop-body {overflow-y: scroll;height: calc(100% - 55px);display: flex;flex-direction: column;justify-content: space-between;background: #F5F7FA;}
.h-m-popup.popup-goback .pop-container {padding: 20px;box-sizing: border-box;height: auto;overflow: initial;} 
.h-m-popup.popup-goback .btmbtnbox {display:flex;}
.h-m-popup.popup-goback .btmbtnbox a {font-size:15px;height: 54px;line-height: 54px;text-align:center;width:50%; display: inline-flex;justify-content: center; box-sizing:border-box;}
.h-m-popup.popup-goback .btmbtnbox .canclebtn {color:#333333;background: #fff;border-top:1px solid #E0E6EF;}
.h-m-popup.popup-goback .btmbtnbox .sendRespon {color:#fff; background-color:#62666B;}

.h-m-popup.popup-goback button.goback {left:20px;top: 20px;} 
.h-m-popup button.goback {height: 14px;top: 15px;right: 15px;width: 20px;height: 14px;position: absolute;background:url(../images/mobile/m_arrow_left.png);border: none;cursor: pointer;text-align: center;box-sizing: border-box;background-size: 100%;background-repeat: no-repeat;/* background-position: top right; *//* background-color: #ccc; */} 
.h-m-popup button.goback img {vertical-align: middle; max-width: 14px; } 


/*popup-02*/
.h-m-popup.popup-02 {padding: 20px 0 0;width: calc(100% - 40px); max-height: 95vh;border-radius: 10px;margin: 0 auto;box-shadow: 0px 5px 10px #0000001A;} 
/* 공통디자인 */
.basic-popup-greytxt {color:#7E7E7E; font-size:13px; line-height:20px; font-weight:400;}
.basic-popup-greytxt b {color:#333; font-weight:500;}
.basic-popup-blacktxt {color:#333333; font-size:13px; line-height:20px; font-weight:400;}

/*기본 회색 텍스트 목록*/
.popuplist-Tit {font-size:15px; color:#151515; line-height:18px; margin-bottom:10px; font-weight:600;}
/* 하늘색 배경박스*/
.lightblue-bgBox {width:100%; border-radius:10px; background:#F5F7FA; padding:20px; box-sizing:border-box;}
.lightblue-bgBox .h-radio-01:last-child label {margin-bottom:0;}
.popup-goback .lightblue-bgBox {background:#EBEFF5;}

.h-pop-btnbox {width: 100%;display:flex;justify-content: space-between;}
.h-pop-btnbox button {width:49.5%;margin: 0;}

a.h-txt-pit {text-decoration:underline;}
.separate-line {height: 0px; background: none; box-shadow: none; border: 0; border-top: 1px solid #E0E6EF; padding: 0; margin:20px 0;}

/*· 제목  내용 ~ 형태의 목록*/
.basic-popup-dl {}
.basic-popup-dl .dl {font-size:13px;line-height:22px;color:#7E7E7E;padding-left: 12px;position: relative;display: flex;}
.basic-popup-dl .dl:before {content:"\b7";position: absolute;left: 4px;}
.basic-popup-dl .dt {font-size:13px;color:#9a9a9a;line-height:24px;margin-right: 10px;flex-shrink: 0;}
.basic-popup-dl .dd {font-size:13px;color:#333333;line-height:24px;flex-shrink: 1;}
.basic-popup-dl .dd .comma {}
.basic-popup-dl .dd .comma:not(:last-child):after {content:",";}



a.h-txt-pit {text-decoration:underline;}
.resume-openSet .h-radio-05 input[type="radio"]:checked + label.h-radio-05 input[type="radio"] + label div b {color:#333333;font-weight: 500;}
.resume-openSet .h-radio-05 input[type="radio"]:checked + label {color: var(--blue-3);}


/*받은 제안보기*/
.tit-dateBox {}
.tit-dateBox .lbox {display:flex;}
.tit-dateBox .lbox strong {display:inline-flex;}
.tit-dateBox .emotionArea {display:inline-flex; margin-left:4px;}
.responWrap .h-radio-02 input[type="radio"] + label {display: flex;width: 100%;align-items: center;justify-content: center;border-color: #CCD1D7;}
.responWrap .h-radio-02 input[type="radio"]:checked + label {background: #26B2C8; color: #fff; border-color: #26B2C8;}
.responWrap .h-radio-02 input[type="radio"]:disabled + label {background:#F2F2F2; color:#BCBCBC;}
.responWrap textarea {font-size:14px;color:#333333;line-height:20px;padding:15px;width:100%;height:120px;box-sizing:border-box;border:1px solid #CCD1D7;border-radius:4px;margin-top: 10px;}
.responWrap textarea:disabled {background-color:#F2F2F2;margin-bottom: 60px;}