@charset "utf-8";


/***** 모바일 팝업 공통 (layout) *****/
.h-popup-wrap {display: none; z-index: 1001; display: flex; height: 100%; justify-content: center; left: 0; position: fixed; top: 0; width: 100%; } 
.h-m-popup {height: fit-content;top: 10%;white-space: normal; word-wrap: break-word;position: relative;flex: 0 0 auto;flex-direction: column;z-index: 1001;background-color: #fff;box-sizing: border-box;} 
.h-m-popup .pop-header {width:100%;text-align: left;box-sizing: border-box;} 
.h-m-popup .pop-header .pop-title {font-size:var(--text-subtitle17); color:var(--black-1); }
.h-m-popup .pop-body {height: calc(100% - 60px);box-sizing: border-box;position: relative;overflow: hidden;} 
.h-m-popup .pop-container {width: 100%;height: 100%;box-sizing: border-box;position: relative;word-wrap: break-word;overflow-y: auto;padding: 0 30px 30px;} 
.h-m-popup .pop-container .pop-title {margin-bottom:10px; } 
.h-m-popup button.close {height: 14px;top: 15px;right: 15px;width: 14px;height: 14px;position: absolute;background:url(../images/btn_close.png);border: none;cursor: pointer;text-align: center;box-sizing: border-box;background-size: 100%;background-repeat: no-repeat;/* background-position: top right; *//* background-color: #ccc; */} 
.h-m-popup button.close img {vertical-align: middle; max-width: 14px; } 

/*popup-01*/
/*popup-01 -닫기*/
.h-m-popup.popup-01 {width: 100%;top: 0;height: 100vh;} 
.h-m-popup.popup-01 .pop-header {padding:17px 17px 17px 50px;border-bottom: 1px solid var(--neutral-2);} 
.h-m-popup.popup-01 .pop-header .pop-title {font-weight:var(--text-medium);} 
.h-m-popup.popup-01 .pop-body {display: flex; flex-direction: column; justify-content: space-between;}
.h-m-popup.popup-01 .pop-container {padding: 20px; box-sizing: border-box; flex-shrink: 2;} 
.h-m-popup.popup-01 button.close {left:20px;top: 20px;} 
.h-m-popup.popup-01 .btmbtnbox {display:flex;}
.h-m-popup.popup-01 .btmbtnbox a {font-size:var(--text-subtitle3);height: 54px;line-height: 54px;text-align:center;width:50%; display: inline-flex;justify-content: center; box-sizing:border-box;}
.h-m-popup.popup-01 .btmbtnbox .canclebtn {color:var(--black-2);background: #fff;border-top:1px solid var(--border-basic-3);}
.h-m-popup.popup-01 .btmbtnbox .sendRespon {color:#fff; background-color:var(--border-basic-1);}
.h-m-popup.popup-01 .btmbtnbox a:only-child {margin:0; width:100%; border-radius:0;}
.h-m-popup.popup-01 .btmbtnbox a.nextpage img {transform:rotate(180deg); margin-left:10px; width:20px; height:14px;}
/*popup-01 -뒤로가기*/
.h-m-popup.popup-goback {width: 100%;top: 0;height: 100vh;} 
.h-m-popup.popup-goback .pop-header {padding:17px 17px 17px 50px;border-bottom: 1px solid var(--neutral-2);} 
.h-m-popup.popup-goback .pop-header .pop-title {font-weight:var(--text-medium); width:auto; display:inline-block;} 
.h-m-popup.popup-goback .pop-header .pop-title:only-child {width:100%; display:block;}
.h-m-popup.popup-goback .pop-body {height: calc(100% - 55px);display: flex;flex-direction: column;justify-content: space-between;background: var(--neutral-3);}
.h-m-popup.popup-goback .pop-container {padding: 20px;box-sizing: border-box;height:100%; flex-shrink: 2;} 
.h-m-popup.popup-goback .btmbtnbox {display:flex;}
.h-m-popup.popup-goback .btmbtnbox a {font-size:var(--text-subtitle3);height: 54px;line-height: 54px;text-align:center;width:50%; display: inline-flex;justify-content: center; box-sizing:border-box;}
.h-m-popup.popup-goback .btmbtnbox .canclebtn {color:var(--black-2);background: #fff;border-top:1px solid var(--border-basic-3);}
.h-m-popup.popup-goback .btmbtnbox .sendRespon {color:#fff; background-color:var(--border-basic-1);}
.h-m-popup.popup-goback .btmbtnbox a:first-child {width:44%;}
.h-m-popup.popup-goback .btmbtnbox a:last-child {flex-grow:2;}
.h-m-popup.popup-goback .btmbtnbox a:only-child {margin:0; width:100% !important; border-radius:0;}
.h-m-popup.popup-goback .btmbtnbox a.nextpage img {transform:rotate(180deg); margin-left:10px; width:20px; height:14px;}

.h-m-popup.popup-goback button.goback {left:20px;top: 20px;} 
.h-m-popup button.goback {height: 14px;top: 15px;right: 15px;width: 20px;height: 14px;position: absolute;background:url(../images/mobile/m_arrow_left.png);border: none;cursor: pointer;text-align: center;box-sizing: border-box;background-size: 100%;background-repeat: no-repeat;/* background-position: top right; *//* background-color: #ccc; */} 
.h-m-popup button.goback img {vertical-align: middle; max-width: 14px; } 


/*popup-02*/
.h-m-popup.popup-02 {padding: 20px 0 0;width: calc(100% - 40px); max-height: 95vh;border-radius: 10px;margin: 0 auto;box-shadow: 0px 5px 10px #0000001A;} 
.h-m-popup.popup-02 .pop-header .pop-title {padding:10px;} 
.h-m-popup.popup-02.popup-02-1 .pop-header .pop-title {padding: 10px 30px;}
.h-m-popup.popup-02.popup-02-2 .pop-header .pop-title {padding: 10px 30px;}
.h-m-popup.popup-02 .pop-container .popup-btnbox {margin-top:20px; width:100%; text-align:center;}
.h-m-popup.popup-02 .pop-container .popup-btnbox a {font-size:var(--text-subtitle5); display:inline-block; text-align:center; color:#fff; background:var(--border-basic-1); min-width:135px; height:35px; line-height:35px; border-radius:4px;}
.h-m-popup.popup-02 .pop-container + .popup-btnbox {width: 100%;display: flex;text-align: center;border-radius: 0 0 10px 10px;overflow: hidden;}
.h-m-popup.popup-02 .pop-container + .popup-btnbox a {height: 54px;line-height: 54px;font-size:var(--text-subtitle3);width: 50%;box-sizing: border-box;}
.h-m-popup.popup-02 .pop-container + .popup-btnbox a:first-child {border-top: 1px solid var(--border-basic-3);}
.h-m-popup.popup-02 .pop-container + .popup-btnbox a:last-child  {background:var(--border-basic-1);color: #fff;font-weight:var(--text-bold);}

/*popup-03*/
.h-m-popup.popup-bottom {top:auto; bottom:0; width:100%; border-radius: 10px 10px 0 0; position: fixed;} 
.h-m-popup.popup-bottom .pop-header .pop-title {padding-left: 30px;}
.h-m-popup.popup-bottom  .pop-container {padding: 0 20px 20px;}
.h-radio-05 input[type="radio"]:checked + label {font-weight:var(--text-regular);}

/*popup-04*/
.h-m-popup.popup-04  {position:absolute; padding: 20px; border: 1px solid var(--grey-3); border-radius: 2px; box-sizing: border-box; min-height: auto; max-height: none; background:#fff; z-index:2; border:1px solid #62666B; box-shadow: 0px 5px 10px #0000001A;}
.h-m-popup.popup-04 .pop-container { overflow: visible; padding:0; height: 100%;}
.h-m-popup.popup-04 .pop-body { height: 100%; overflow: visible; } 
.h-m-popup.popup-04 .pop-title { font-size:var(--text-subtitle3); font-weight:var(--text-bold);} 
.h-m-popup.popup-04 .h-checkbox { margin:0; } 
.h-m-popup.popup-04 .h-checkbox.checkbox01 input[type="checkbox"] + label { font-size:var(--text-subtitle4); } 
.h-m-popup.popup-04 button.close {background:url(../images/close_btn.svg) no-repeat; width:14px; height:14px;}
.h-m-popup.popup-04 select { height:46px; } 
.h-m-popup.popup-04.solid-2px {border:2px solid var(--border-basic-1); border-radius: 2px; box-shadow: 0px 5px 10px #0000001A;}
.h-m-popup .blt-dottxt {position:relative;}
.h-m-popup .blt-dottxt:before {content:'ㆍ'; position:absolute; top:0; left:-10px;}



/* 공통디자인 */
.basic-popup-greytxt {color:var(--black-3); font-size:var(--text-subtitle5); line-height:20px; font-weight:var(--text-regular);}
.basic-popup-greytxt b {color:var(--black-2); font-weight:var(--text-medium);}
.basic-popup-blacktxt {color:var(--black-2); font-size:var(--text-subtitle5); line-height:20px; font-weight:var(--text-regular);}

/*기본 회색 텍스트 목록*/
.popuplist-Tit {font-size:var(--text-subtitle3); color:var(--black-1); line-height:18px; margin-bottom:10px; font-weight:var(--text-bold);}
.popuplist-Titbig {font-size:var(--text-subtitle17); color:var(--black-1); line-height:20px; margin-bottom:10px; font-weight:var(--text-bold); display:block;}
.basic-popup-list li {font-size:var(--text-subtitle5);line-height:22px;color:var(--black-3);padding-left: 12px;position: relative;}
.basic-popup-list li:before {content:"\b7";position: absolute;left: 4px;}
.basic-popup-list li b {color:var(--black-2); font-weight:var(--text-medium);}
.basic-popup-list li b.h-txt-orange {color:var(--orange);}
.basic-popup-list li a.h-txt-pit {text-decoration:underline;}
.basic-popup-list li.h-txt-orange {color:var(--orange);}

/*- 불렛의 텍스트 목록*/
.basic-popup-list.bar-list li {font-size:var(--text-subtitle6);line-height: 20px;}
.basic-popup-list.bar-list li:before {content:"-";}
.basic-popup-list.bar-list li.h-txt-3 {color:var(--black-2);}

/* 하늘색 배경박스*/
.lightblue-bgBox {width:100%; border-radius:10px; background:var(--neutral-3); padding:20px; box-sizing:border-box;}
.lightblue-bgBox .h-radio-01:last-child label {margin-bottom:0;}
.white-bgBox {width:100%; border-radius:10px; background:#fff; padding:20px; box-sizing:border-box;}
.popup-goback .lightblue-bgBox {background:var(--neutral-2);}

.h-pop-btnbox {width: 100%;display:flex;justify-content: space-between;}
.h-pop-btnbox button {width:49.5%;margin: 0;}

a.h-txt-pit {text-decoration:underline;}
.separate-line {height: 0px; background: none; box-shadow: none; border: 0; border-top: 1px solid var(--border-basic-3); padding: 0; margin:20px 0;}

/*· 제목  내용 ~ 형태의 목록*/
.basic-popup-dl {}
.basic-popup-dl .dl {font-size:var(--text-subtitle5);line-height:22px;color:var(--black-3);padding-left: 12px;position: relative;display: flex;}
.basic-popup-dl .dl:before {content:"\b7";position: absolute;left: 4px;}
.basic-popup-dl .dt {font-size:var(--text-subtitle5);color:var(--black-5);line-height:24px;margin-right: 10px;flex-shrink: 0;}
.basic-popup-dl .dd {font-size:var(--text-subtitle5);color:var(--black-2);line-height:24px;flex-shrink: 1;}
.basic-popup-dl .dd .comma {}
.basic-popup-dl .dd .comma:not(:last-child):after {content:",";}

/*입력하는 박스가 있는 기본목록*/
.basic-popup-inputdl {}
.basic-popup-inputdl .dl {margin-bottom:25px;}
.basic-popup-inputdl .dt {font-size:var(--text-subtitle6); color:var(--black-1); font-weight:var(--text-medium); line-height:14px; margin-bottom:6px;}
.basic-popup-inputdl .dt:before {content:"\b7"; margin-right:3px;}
.basic-popup-inputdl .dd input[type="text"] {height:46px !important;}
.basic-popup-inputdl .dd .h-field-wrap {min-height:46px; height:46px;}




/*강사서비스 */
/*- 이력서 등록 : 이력서 유형선택 */
.rsme-rgst-btmpopupWrap {display: flex;flex-wrap: wrap;justify-content: space-between;}
.rsme-rgst-btmpopupWrap [class^="selectResume-"] {position:relative;border: 1px solid var(--border-basic-3);border-radius: 4px;padding: 17px 20px;box-sizing: border-box;}
.rsme-rgst-btmpopupWrap [class^="selectResume-"]:after {content:"";width:30px;height:30px;display:inline-block;position:absolute;left:20px;bottom: 18px;background:url(../images/mobile/resme-regist-btmpopup-arrow.svg);}
.rsme-rgst-btmpopupWrap [class^="selectResume-"] strong {}
.rsme-rgst-btmpopupWrap [class^="selectResume-"] strong:after {content:"";}
.rsme-rgst-btmpopupWrap [class^="selectResume-"] p {margin-top: 5px; width: 220px;}
.rsme-rgst-btmpopupWrap .selectResume-basic {width: 100%; margin-bottom: 8px; padding-bottom: 61px;}
.rsme-rgst-btmpopupWrap .selectResume-basic strong:after {width:72px; height:60px; display:inline-block; background:url(../images/mobile/resume-btmpop-basic.svg);position: absolute;right: 20px;bottom: 20px;}
.rsme-rgst-btmpopupWrap .selectResume-file strong:after  {width:72px; height:52px; display:inline-block; background:url(../images/mobile/resume-btmpop-file.svg);position: absolute;right: 20px;bottom: 20px;}
.rsme-rgst-btmpopupWrap .selectResume-link strong:after  {width:72px; height:52px; display:inline-block; background:url(../images/mobile/resume-btmpop-link.svg);position: absolute;right: 20px;bottom: 20px;}
.rsme-rgst-btmpopupWrap .wd50 {width: calc(50% - 4px);padding-bottom: 87px;}


/*- 이력서 등록 : 이력서를 3분만에 등록하고싶다면? */
.resume-3minute-Tip {}
.resume-3minute-Tip div {border-radius:10px;background-color: var(--neutral-3);padding:20px 115px 20px 20px;margin-bottom:10px;box-sizing:border-box;background-repeat: no-repeat; position:relative;}
.resume-3minute-Tip div strong {}
.resume-3minute-Tip div p {line-height:20px;}
.resume-3minute-Tip div.usefile:after,
.resume-3minute-Tip div.uselink:after {content:""; width:91px; height:90px; position:absolute; bottom:0; right:10px;}
.resume-3minute-Tip div.usefile:after {background: url(../images/mobile/resume-3minut-file.svg) var(--neutral-3);background-repeat: no-repeat;background-position: center 3px;}
.resume-3minute-Tip div.uselink:after {background: url(../images/mobile/resume-3minut-link.svg) var(--neutral-3);background-repeat: no-repeat;background-position: center 0px;height: 105px;}

/*- 입사지원(파일관리)*/
.resume-fileList {padding: 10px 5px 10px 20px;padding-right:5px;}
.resume-fileList .file-data {height: 210px;overflow-y:scroll;box-sizing: border-box;/* margin: 10px 0; */padding-right: 10px;}
.resume-fileList .h-radio-03 {margin-top: 10px;}
.resume-fileList .h-radio-03 label span {width: calc(100% - 25px);display: inline-block;text-align: left;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color: var(--black-1);}
.resume-fileList .h-radio-03 label a {color:var(--blue-4); text-decoration:underline;}
.resume-fileList .h-radio-03 input[type="checkbox"] + label:before {margin-top: -8px;}
.resume-fileList .h-radio-03 input[type="checkbox"] + label:after {top: 1px;}
.resume-fileList .file-nodata {padding: 9px 15px 10px 0;}

/*- 이력서 공개설정*/
.resume-openSet {}
.resume-openSet .h-radio-05 {height:98px;}
.resume-openSet .h-radio-05 input[type="radio"] + label {height:98px;flex-wrap: wrap;font-weight:var(--text-medium);color: var(--black-2);}
.resume-openSet .h-radio-05:last-child {margin-bottom:0;}
.resume-openSet .h-radio-05 input[type="radio"] + label div {width:100%;font-weight:var(--text-regular) !important;color: var(--black-3);}
.resume-openSet .h-radio-05 input[type="radio"] + label div b {color:var(--black-2);font-weight:var(--text-medium);}
.resume-openSet .h-radio-05 input[type="radio"]:checked + label.h-radio-05 input[type="radio"] + label div b {color:var(--black-2);font-weight:var(--text-medium);}
.resume-openSet .h-radio-05 input[type="radio"]:checked + label {color: var(--blue-3);}


/*받은 제안보기*/
.tit-dateBox {}
.tit-dateBox .lbox {display:flex;}
.tit-dateBox .lbox strong {display:inline-flex;}
.tit-dateBox .emotionArea {display:inline-flex; margin-left:4px;}
.responWrap textarea {font-size:var(--text-subtitle4);color:var(--black-2);line-height:20px;padding:15px;width:100%;height:120px;box-sizing:border-box;border:1px solid var(--border-basic-2);border-radius:4px;margin-top: 10px;}
.responWrap textarea:disabled {background-color:var(--neutral-1);margin-bottom: 60px;}


/*아이디-비번 찾기*/
.basic-popup-inputdl .dd.phonecrtf {display:flex; align-items:center; margin-bottom:5px;}
.basic-popup-inputdl .dd.phonecrtf input[type="text"] {}
.basic-popup-inputdl .dd.phonecrtf a {margin-right:0;min-width: 115px !important;padding: 0;font-size:var(--text-subtitle4);}


.h-radio-02.btn4item {}
.h-radio-02.btn4item input[type="radio"] + label {width: 25%;margin: 0;display: inline-flex;justify-content: center;}
.h-radio-02.btn4item input[type="radio"]:checked + label {background: var(--cyan);color: #fff;border-color: #1CA3B8;}
.h-radio-02.btn6item {flex-wrap:wrap;}
.h-radio-02.btn6item input[type="radio"] + label {width:33.3%; margin: 0;display: inline-flex;justify-content: center;}
.h-radio-02.btn6item input[type="radio"] + label:first-of-type {border-radius:4px 0 0 0;}
.h-radio-02.btn6item input[type="radio"] + label:nth-of-type(3) {border-radius:0 4px 0 0; border-right:1px solid var(--border-basic-2);}
.h-radio-02.btn6item input[type="radio"] + label:nth-of-type(3) ~ label {border-top:none;}
.h-radio-02.btn6item input[type="radio"] + label:nth-of-type(4) {border-radius:0 0 0 4px;}
.h-radio-02.btn6item input[type="radio"] + label:last-of-type {border-radius:0 0 4px 0;}
.h-radio-02.btn6item input[type="radio"]:checked + label +input + label {border-left-color:#1CA3B8;}
.h-radio-02.btn6item input[type="radio"]:nth-of-type(3):checked + label +input + label {border-left-color:var(--border-basic-2);}
.h-radio-02.btn6item input[type="radio"]:checked + label {background: var(--cyan);color: #fff;border-color: #1CA3B8;}

.datepicker2box .date-picker {width: 100%;justify-content: space-between;}
.datepicker2box .date-picker div {width: 47%;position: relative;}
.datepicker2box .wave {display: inline-flex;}
.datepicker2box .date-picker input.datePicker {width: 100% !important;padding-left: 15px;}
.datepicker2box .date-picker img.ui-datepicker-trigger {right: 10px; position: absolute; top: 11px;}
/*개발된 데이터피커*/
.v3dp__popout {width:190px !important; padding: 0px; border: 1px solid var(--grey-3); border-radius: 4px; box-sizing: border-box; min-height: auto; max-height: none; text-align: center; margin-top:6px;}
.v3dp__popout .v3dp__heading {display: flex; flex-direction: row; width: 100%; justify-content: center; align-items: center; padding:0 10px; box-sizing:border-box;}
.v3dp__popout .v3dp__heading .v3dp__heading__button {width: 29px; height: 29px; background: var(--neutral-3); border-radius: 100%; text-align: center;}
.v3dp__popout .v3dp__heading .v3dp__heading__button svg {display:none;}
.v3dp__popout .v3dp__heading .v3dp__heading__button:first-child {}
.v3dp__popout .v3dp__heading .v3dp__heading__button:last-child {}
.v3dp__popout .v3dp__heading .v3dp__heading__button:first-child:before,
.v3dp__popout .v3dp__heading .v3dp__heading__button:last-child:before {content: ""; display: inline-block; width: 7px; height: 7px; border: 1px solid var(--grey-2); transform: rotate(45deg); vertical-align: middle;}
.v3dp__popout .v3dp__heading .v3dp__heading__button:first-child:before {border-width: 0 0 1.5px 1.5px; margin-left: 3px;}
.v3dp__popout .v3dp__heading .v3dp__heading__button:last-child:before {border-width: 1px 1px 0 0; margin-right: 4px;}
.v3dp__popout .v3dp__heading .v3dp__heading__center {font-size:var(--text-subtitle2); color: var(--black-2); font-weight:var(--text-bold); margin: 0 6px; padding-left: 2px;}
.v3dp__popout .v3dp__body {}
.v3dp__popout .v3dp__body .v3dp__elements {padding:0 18px; display: flex; flex-wrap: wrap; justify-content: space-between;}
.v3dp__popout .v3dp__body .v3dp__elements button {width: 43px; height: 30px; padding:0;}
.v3dp__popout .v3dp__body .v3dp__elements button span {width: 100%; height:auto; display: block; line-height: 30px; border-radius: 4px; font-size:var(--text-subtitle4); color: var(--black-3);}
.v3dp__popout .v3dp__body .v3dp__elements button.selected,
.v3dp__popout .v3dp__body .v3dp__elements button.selected span {background:var(--neutral-3) !important; color:var(--blue-3) !important;}
.v3dp__popout .v3dp__body .v3dp__elements button:hover,
.v3dp__popout .v3dp__body .v3dp__elements button:hover span {background:var(--neutral-3) !important; color:var(--black-3) !important;}
  /*일까지 있는 달력형*/
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) {width:244px !important;}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__heading {padding:0 45px;}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__body .v3dp__elements {padding:0 30px;}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__body .v3dp__elements button {width:14%;}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__body .v3dp__elements button:nth-child(7n+1) span {color:var(--orange);}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__body .v3dp__elements button:nth-child(7n) span {color:var(--cyan);}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__subheading {padding:0 30px 5px;}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__subheading span:first-child {color:var(--orange);}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__subheading span:last-child  {color:var(--cyan);}
  .v3dp__datepicker .v3dp__popout:nth-last-child(2) .v3dp__divider {display:none;}
  /*세로로 긴 데이터픽커*/
  .v3dp__datepicker .v3dp__popout:nth-last-child(1) {}





/*열람제한 학원등록*/
.srchpopupWrap {display: flex; flex-direction: column; min-height: 100%;}
.srchpopupWrap .topsrchbox {padding: 20px; border-bottom: 1px solid #E0E6EF; display: flex; align-items: center;}
.srchpopupWrap .topsrchbox input[type="text"] {height: 46px !important; line-height: 46px !important;}
.srchpopupWrap .topsrchbox .h-button-s {width: 75px !important; min-width:75px !important; margin-right: 0;}

.srchResultList {background:#fff; width:100%; padding-bottom:20px;}
.srchResultList .libox {justify-content: space-between; padding: 0 !important;}
.srchResultList .libox.guideli { text-align:center;}
.srchResultList .libox.guideli p {color:#7E7E7E; font-size:13px;}
.srchResultList .libox .chckdiv {padding: 17px 0 17px 15px;}
.srchResultList .libox .txtdiv {width: 100%; flex-shrink: 3; padding: 17px 0;}
.srchResultList .libox .r-box {width: 68px; padding: 20px 0; display: flex; align-items: center; text-align: center; border-left: 1px solid #E7EDF5; box-sizing: border-box;}
.srchResultList .libox .r-box .geonIng {font-size:12px;width: 100%;}
.srchResultList .libox .r-box .geonIng p {font-weight:500;}
.srchResultList .libox .r-box .geonIng strong {font-weight:500;margin-right: -2px;}

.srchResultList.no-data {min-height: 100%; flex-grow: 2; display: flex; align-items: center;}
.srchResultList.no-data p {font-size:13px; color:#7E7E7E; width:100%; text-align:center;}



/* 입사지원 (완료 팝업)*/
.sendFinWrap {padding:30px 15px 15px; width:100%; box-sizing:border-box; background:#F5F7FA; text-align:center;}
.sendFinWrap img {width:92px; height:70px; margin-bottom:20px;}
.sendFinWrap .btnBox a {font-size:15px; margin:0; width:100%; margin-top:10px;}
.sendFinWrap .tit17 {font-size:17px; margin-top:30px;}

.simple-list {width:100%; max-height:200px; overflow-y:scroll; background:#fff; border-bottom:1px solid #E0E6EF; padding:10px 20px 10px; box-sizing:border-box;}
.simple-list a {width:100%; padding:8px 0; display:block;}
.simple-list p {font-size:13px; color:#7E7E7E; line-height:20px; margin-bottom:2px;}
.simple-list strong {font-size:16px; color:#151515; line-height:22px; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;}





