@charset "utf-8";

/* 복사하기 버튼 */
.h-button-copy {background:var(--grey-2);}
.h-button-copy.h-button-off {background:var(--grey-4)}

/* 채용공고 최상단 네비 */
.header-gradient {display: flex; align-items: center; justify-content: space-between; min-height:54px; margin:0 -20px 20px; /*height:100px;*/ padding:23px 0; background-image: linear-gradient(to right, #26B2C8 0%, #43A986 100%);}
.header-gradient .location {display:flex;align-items:center; width: 100%; font-size:var(--text-subtitle1); color:#fff;}
.header-gradient .location .arrowBtn {position: absolute; left: 20px; background:url('../images/mobile/m_arrow_left_white.png') no-repeat; width:22px; height:16px; /*margin-right:15px;*/}
.btn-share + .btn-allmenu {margin-left:15px;}

.recruitReg-cont {padding:0 20px 90px!important; background:var(--neutral-3);}
.recruitReg-cont .resume-title .h-txtfield-basic {height:46px!important; padding:0 15px!important;}


.top-nav {display: flex; justify-content: center; width:100%; margin-bottom:10px;}
.top-nav li {position:relative; display: flex; align-items: center; padding:0 10px; height:23px; font-size:var(--text-subtitle7); opacity: 0.5; box-sizing: border-box;}
.top-nav li.active {border-radius:15px; border:1px solid rgb(255 255 255 / 42%); opacity: 1; color:#FFFF17;}
.top-nav li.active + li:after, .top-nav li + li.active:after {display:none;}
.top-nav li + li:after {content:''; position:absolute; left:0; top:11px; width:2px; height:2px; background:#fff; opacity: 0.5;}
/* .top-nav li + li:last-child::after {display:none;} */


/* 채용공고등록 1STEP 모집부문 */
.step-box > li + li  {margin-top:25px; padding-bottom: 25px; border-bottom:1px solid var(--neutral-2);}
.step-box > li:first-child + li {border:0; padding-bottom:0;}
.step-box .h-resume-title {font-size:var(--text-subtitle6);}
.step-box .h-checkbox.checkbox01 input[type="checkbox"] + label {display: inline-block; height: 24px; line-height: 24px; font-size:var(--text-subtitle4);}
.step-box .h-checkbox.checkbox01 {display: flex; flex-direction: column; margin:15px 0 0 15px;}
.step-box .h-radio-01 {margin-top:15px; margin-left:0;}
.step-box .h-radio-01 li + li {margin:15px 0 0;}
.step-box .h-radio-01 input[type="radio"] + label {line-height:24px; height:24px; margin:0 0 0 15px;}

/* 사이에 직접입력 있을경우 input-etcAdd */
.step-box .h-radio-01 input[type="radio"] + label + .input-etcAdd,
.step-box .h-checkbox.checkbox01 input[type="checkbox"] + label + .input-etcAdd {margin:-10px 0 -10px 20px;}

/* 채용공고등록 모집부문 토글 */
.tgl-stepBtn {position:absolute; top:11px; right:11px; width: 28px; height:28px; border-radius:50%; background:var(--neutral-3);}
.tgl-stepBtn:after {content:''; display:inline-block; background:url('../images/mobile/m_arrow_down_on.png') no-repeat center; width:12px; height:7px; vertical-align: middle;}
.recruitReg-cont .tgl-stepBtn-wrap .tgl-stepBtn.active:after {background:url('../images/mobile/m_arrow_down_off.png') no-repeat center; transform: rotate(180deg); transition: all ease 0.5s;}
.recruitReg-cont .tgl-stepBtn-wrap .recrutInfo {padding:0; max-height: 10px; overflow: hidden; transition: max-height 0.2s ease-out;}
.recruitReg-cont .recrutTit {position:absolute; top:16px; font-size:var(--text-subtitle3); font-weight:var(--text-medium);}

/* 기타 직접입력 input[type="text"] */
.h-checkbox.checkbox01 .input-etcAdd input[type="text"] {display:block; position:relative; opacity: 1;}
.input-etcAdd input[type="text"] + label {font-size:var(--text-subtitle4);}

/* plus 추가 버튼 flex-center */
.recruitReg-cont .circle-plusBtn.h-button-ml {align-content: center; background:var(--grey-3); color:#fff;}
/* .circle-plusBtn.h-button-white {background-color:#fff!important; color:var(--black-2)!important; font-weight:var(--text-medium);} */

/* 채용공고등록의 blue-box */
.recruitReg-cont .blue-box {background:var(--neutral-3);}
.recruitReg-cont .blue-box.onlytxt {padding:15px;}
.h-radio-01 .blue-box .labelArea {padding-left:0; color:var(--black-5);}
.h-radio-01 .blue-box .labelArea:before {display:none;}
.h-radio-01 .blue-box .h-checkbox.checkbox01 {margin:0;}
.h-radio-01 .blue-box li + li {margin-top:20px;}
.h-radio-01 .blue-box {margin-top:15px;}

/* 과목 뎁스 */
/* .depth-btn-wrap {display:flex; flex-direction: column;} */
.btn-minus-box {display:flex; align-items: center; justify-content: space-between; /*height:46px;*/ padding:12px 15px; border:1px solid var(--border-basic-3); border-radius: 4px;}
.btn-minus-box + .btn-minus-box {margin-top:4px;}
.btn-minus-box span {font-size:var(--text-subtitle4);}
.btn-minus-box span + span {position:relative; padding-left: 15px;}
.btn-minus-box span + span:after {position:absolute; content:'>'; top:0; left:2px; color:var(--black-6); font-size:14px;}

.h-btn-minus {position:relative; top:0; display:inline-block; border:2px solid var(--border-basic-2); border-radius:50%; width:20px; height:20px;}
.h-btn-minus:after {content:''; display:block; width:10px; height:2px; margin:0 auto; background:var(--border-basic-2);}

.h-btn-onlyplus {margin:10px 0 0!important; padding-left: 30px!important; background:var(--grey-2); font-size:var(--text-subtitle5); /*font-weight:var(--text-medium);*/}
.h-btn-onlyplus:before {content:''; top:13px; left:14px; background:url('../images/mobile/m_icon-s-plus.png') no-repeat; width:11px; height:11px; opacity: 1;}
.h-btn-onlyplus2 {border: 1px solid #e0e6ef; padding: 0 15px !important; color: #333333 !important; margin:15px 0 0!important; background: #fff !important; width: 100%; display:flex; justify-content: flex-start !important; align-items:center;}
.h-btn-onlyplus2 + .h-btn-onlyplus2 {margin-top:5px !important;}
.h-btn-onlyplus2:before {content:''; width:18px; height:18px; display:inline-block; background:url(../images/mobile/plus-incircle-grey.jpg); margin-right:10px; line-height:normal; vertical-align:middle; position: relative; z-index: 0; opacity: 1;}

/* 누락데이터 체크 스타일 */

/* 누락데이터 체크 스타일 */
input[type="text"].h-txtfield-shadow.focus-Red {border:2px solid var(--red)!important; background:#FFFDE2;}
input.focus-Red {border-color:var(--red)!important; background:#FFFDE2;}
input[type="checkbox"].focus-Red + label:before, label>input[type="checkbox"].focus-Red + .spanLabel:before {border-color:var(--red)!important; background-color:#FFFDE2!important; color:#FFFDE2;}
input[type="radio"].focus-Red + label .rchk {border-color:var(--red)!important; background-color:#FFFDE2!important;}

.recruitReg-cont .basic-box {position:relative;}
.recruitReg-cont .h-checkbox.checkbox01 {margin:10px 0 0;}
.recruitReg-cont ul.h-checkbox.checkbox01 input[type="checkbox"] + label {margin-left:15px;}
.recruitReg-cont ul.h-checkbox.checkbox01 li + li {margin-top:15px;}

.h-btn-close {position:absolute; top:15px; right:15px; width:12px; height:12px; line-height:12px;}
.h-btn-close:after {content:''; display:inline-block; width:12px; height:12px; background:url('../images/close_btn.svg') no-repeat center; background-size:cover;}

/* x 버튼이 있을때는 타이틀에 mt5 */
.basic-box .h-btn-close + .labelArea {margin-top:5px;}

.notice-info-box li .h-button-underline {margin-left: 5px;}
.notice-info-box li + li {margin-top:5px;}

/* tip */
.blt-tip-box {display: flex; align-items: center;}
.blt-tip {width:26px; height:17px; margin-right:5px;}
.blt-tip.text-subtitle7 {font-size:var(--text-subtitle7);}

/* 근무지역 */
.blt-depth-area > li + li {margin-top:7px;}
.blt-depth-area li .depth-tit {flex:none; display:inline-block; padding:0 10px; height:26px; line-height:26px; background:var(--blue-3); border-radius: 18px; color:#fff; font-size:var(--text-subtitle4);}
.blt-depth-area li .depth-tit + .depth-in {position:relative; }
.blt-depth-area li .depth-tit + .depth-in:after {content:''; position:absolute; top:9px; left:-12px; background:url('../images/mobile/m_icon_xs_arrow_right.png') no-repeat center; width:6px; height:9px;}
.blt-depth-area li .depth-in li {display:inline-block; padding:0 10px; height:26px; line-height:26px; background:var(--neutral-3); border-radius: 18px; color:var(--black-3); font-size:var(--text-subtitle4);}
.blt-depth-area li .depth-in {display: flex; flex-direction: row; flex-wrap: wrap; gap: 5px; margin-left:18px;}
.blt-depth-area .btn-close-xs {display:inline-block; margin-left:7px; background:url('../images/icon-btn-close.png') no-repeat center; width:8px; height:8px; background-size:cover; vertical-align: 1px;}

/* 인근 지하철 */
.btn-minus-box .subway-box + .h-btn-minus {top:-10px;}

/* 근무요일 수 */
.radio-half-box .h-radio-01 input[type="radio"] + label {margin:0; line-height: 25px;}
.radio-half-box .h-radio-01 {display: flex; flex-wrap: wrap; gap: 15px; margin-left:15px;}
.radio-half-box .h-radio-01 li {display:flex; width:40%;}
.radio-half-box .h-radio-01 li + li {margin-left:0;}

/* 업로드된 파일 */
.circle-plusBtn + .bg-file-box {margin-top:10px;}
.bg-file-box {display: flex; align-items: center; justify-content: space-between; height:46px; padding:0 15px; background:var(--neutral-3); border-radius: 4px;}
.bg-file-box + .bg-file-box {margin-top:5px;}
.bg-file-box span {font-size:var(--text-subtitle5);}
.bg-file-box .h-button-icon {width:auto; height:auto; margin:0;}

/* 전형절차 안에 input txt */
.inp-minus-box .btn-minus-box input[type="text"] {width:auto; height:24px; border:0;}
.inp-minus-box .btn-minus-box {padding:10px 15px;}
/* .inp-minus-box .btn-minus-box:not(button) {justify-content: flex-start!important;} */

/* 키워드 검색 안에 keyword-del + 버튼 */
.keyword-delwrap input[type="text"]:only-child {padding:0 15px;}
.keyword-innerbtn {position:absolute; top:8px; right:8px; margin:0;}
.keyword-innerbtn + .keyword-del {right:80px;}



/* ========================== 서비스 신청 ======================= */

/* 멤버십 혜택 컴포넌트 */
.membership-pass {padding:18px 20px 15px;border-radius:10px;background:#333333;}
.membership-pass .h-button-xxs {margin:0;}
.membership-pass .h-txt-remon {color:#F7FF00;}

/* 채용공고 등록 - 서비스 신청 > 상픔정보 */
.fixed-bottom.btmbtnbox {display:flex;}
.fixed-bottom.btmbtnbox a {margin:0;line-height:54px;font-size:15px;color:#fff;text-align:center;border-radius:0;font-weight:600;}
.fixed-bottom.btmbtnbox a:first-child {width:55%;}
.fixed-bottom.btmbtnbox a:last-child {width:45%;}
.fixed-bottom.btmbtnbox .h-button-gray {background:#62666B;}
.fixed-bottom.btmbtnbox .h-button-green {background:#43A986;}
.fixed-bottom.btmbtnbox .h-button-green.disabled-pay {background:#D8D8D8;}

.header-gradient .top-title {position:relative; width:100%; height:100%; margin:0 20px; padding:20px; border-radius:10px 10px 0 0; background:var(--neutral-3); box-sizing: border-box;}
.header-gradient .top-title:after {content:''; position:absolute; bottom:0; left: 50%; width: calc(100% - 80px); height: 1px; background: #e0e6ef; transform: translateX(-50%);}
.header-gradient .top-title .btxt {font-size:var(--text-subtitle6); font-weight:var(--text-medium);}
.header-gradient .top-title .stxt {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; line-height: 1.3em; height: 2.6em;}

.gradient-basic {flex-wrap:wrap; padding:0;}
.gradient-basic .location {display:flex; justify-content: space-between; padding:16px 20px;}

.basic-box .date-picker {min-width:auto; justify-content: space-between;}
.basic-box .date-picker #datepickerStart {flex-grow: 1; margin-right: 5px;}

.checkbox07 input[type="checkbox"] + label {position:relative; z-index:0; display:inline-flex; justify-content:center; align-items:center; width:75px; height:38px; font-size:var(--text-subtitle4); color:#fff; padding:0 18px 0 10px; background-color:var(--grey-3); border-radius:4px; box-sizing:border-box;}
.checkbox07 input[type="checkbox"] + label .material-symbols-outlined {display: flex; align-items: center; width: 22px; height: 10px; font-size:21px; color:#919498;}
.checkbox07 input[type="checkbox"]:checked + label .material-symbols-outlined {color:#fff;}
.checkbox07 input[type="checkbox"]:checked + label {background:var(--teal);}

.txt-thline {/*font-size:var(--text-subtitle5);*/ color:var(--black-6); text-decoration: line-through;}
.txt-bubble {background:url('../images/mobile/m_icon_txtbubble.png') no-repeat; width:45px; height:21px; margin-bottom:2px; text-indent: -9999px;}

.srv-pricebox-wrap li + li {margin-top:15px;}
.srv-pricebox-wrap .strong-tit {display:block; font-weight:var(--text-bold); font-size:var(--text-subtitle17); color:var(--black-1); background:#fff;}
.srv-pricebox {position:relative; display: flex; justify-content: flex-end; align-items: center;}
.srv-pricebox .price-won + .h-checkbox {margin-left:15px;}
.srv-txtbox {display: flex; flex-direction: column; align-items: flex-end; margin-right:10px;}
.price-won {/*margin-right:15px;*/ color:var(--black-2); font-weight:var(--text-bold); font-size:var(--text-subtitle1);}
.price-won span {font-size:var(--text-subtitle4); color:var(--black-3); font-weight:var(--text-regular);}

.circle-fplusBtn {position:absolute; top:15px; right:15px; display:block; background:url('../images/mobile/m_icon_circle_plus.png') no-repeat; width:23px; height:23px;}
.tgl-srv-inner {position: fixed; bottom: 54px; width: 100%; padding:15px; border:1px solid var(--border-basic-3); background:#fff; box-sizing: border-box; border-width:1px 0 0;}
.tgl-srv-inner ul {margin-bottom:15px;}
.tgl-srv-inner li {position:relative; padding:15px; background:var(--neutral-3); border-radius: 8px;}
.tgl-srv-inner li + li {margin-top:10px;}

.small-arrowBtn {display:inline-block; width:22px; height:19px; margin-left:5px; background:#fff; border:1px solid var(--border-basic-2); border-radius: 4px; text-align: center;}
.small-arrowBtn:after {content:''; display:inline-block; background:url('../images/mobile/m_icon_xs_arrow.png') no-repeat center; width:8px; height:5px; vertical-align: middle;}
.small-closeBtn {position:absolute; top:15px; right:15px; background:url('../images/mobile/m_icon_sm_close.png') no-repeat; width:9px; height:9px;}

/* .tgl-srvBtn {position:absolute; top: -14px; left: 50%; transform: translateX(-50%); width:50px; height:15px; border:1px solid var(--border-basic-3); border-radius:10px 10px 0 0; border-width:1px 1px 0; background:#fff;}
.tgl-srvBtn:after {content:''; display:inline-block; background:url('../images/mobile/m_arrow_down_gray.png') no-repeat center; width:12px; height:6px; vertical-align: middle;} */

/* 결제정보 */
.notice-tit {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.3em; height: 2.6em; font-size:var(--text-subtitle3); font-weight:var(--text-bold); color:var(--black-1);}
.line-list-item li + li {padding-top: 12px; margin-top: 12px; border-top:1px solid var(--neutral-2);}
.line-list-item li {display: flex; justify-content: space-between; align-items: center;}

/* 배경색 흰색으로 바뀌는 구간 */
.detail-list-wrap {padding:25px 20px 130px; margin:0 -20px -130px; background:#fff;}
.detail-list-item li + li {margin-top:10px;}
.detail-list-wrap .basic-list-box {border-radius: 10px;}
.detail-list-item + .detail-list-item {margin-top:25px;}

/* 공통 */
.icon-success {display:block; margin:0 auto 10px; background:url('../images/mobile/m_check_cirlceline_cyan.png') no-repeat center; width:38px; height:38px;}
.blt-state-txt {display:inline-block; height:22px; line-height:22px; padding:0 10px; background:#D1D7DF; border-radius: 30px; font-size:var(--text-subtitle6); font-weight:var(--text-medium); color:#fff; flex:none; border:1px solid var(--border-basic-2);}
.blt-state-txt.h-button-blue {border:1px solid var(--blue-3);}

/* 채용담당자 팝업 */
.perCharge-box {padding-bottom:50px!important;}
.perCharge-box .blue-box {position:relative; box-sizing: border-box;}
.perCharge-box .blue-box > .h-button-white {position:absolute; top:12px; right:12px; margin: 0; padding: 0; min-width: 62px!important;}
.perCharge-box .blue-box > .h-button-del {position:absolute; right:20px; bottom:20px; width:auto; height:auto; margin:0;}
.perCharge-box .blue-box .h-bullet-01.text-subtitle6 li:after {background-color:var(--black-5);}
.perCharge-box .blue-box + .blue-box {margin-top:10px;}
.perCharge-box .swiper-pagination {width: auto; left: 50%; transform: translateX(-50%); height: 36px; line-height: 36px; bottom: auto; font-size:var(--text-subtitle2); color:var(--black-6);}
.perCharge-box .swiper-pagination-current {font-weight:var(--text-bold); color:var(--black-2);}
.perCharge-box .swiper-button-next, .perCharge-box .swiper-button-prev {width:34px; height:34px; /*margin: 0;*/ top: auto; bottom:0; border-radius: 50%; border:1px solid var(--border-basic-2); box-sizing:border-box;}
/* .perCharge-box .swiper-button-next:after, .perCharge-box .swiper-button-prev:after {width: 9px; height: 14px; font-size: 15px; color:var(--grey-2); font-weight:800;} */
.perCharge-box .swiper-button-next:after {content:''; display:inline-block; background:url('../images/mobile/m_icon_arrow_bold_gray.png') no-repeat; width:9px; height:14px;}
.perCharge-box .swiper-button-prev:after {content:''; display:inline-block; background:url('../images/mobile/m_icon_arrow_bold_gray.png') no-repeat; width:9px; height:14px; transform: rotate(180deg);}

.controller-button {position: absolute; bottom: 0; width: 60%; height: 34px; left: 50%; transform: translateX(-50%);}
.controller-button {}

.pop-title-sub {margin:0 30px; padding-top:15px; font-size:var(--text-subtitle5); color:var(--black-3); line-height: 20px; border-top:1px solid var(--border-basic-3);}
.popup-02-1 .blue-box {background:var(--neutral-3);}

/* 채용공고등록 > 서비스 결제 */
.detail-list-item .list-inner {padding:15px 0; border-top:1px solid var(--border-basic-3);}
.userPoint {position:relative; margin-top:10px;}
.userPoint .h-button-xxs {position:absolute; top:8px; right:8px; margin:0;}
.userPoint .h-txt-orange {position:absolute; top:10px; right:85px;}
.userPoint input[type="text"] {padding:0 95px 0 15px;}



/* 2x2 사각형 라인 탭 디자인 */
.h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"] + label {width:50%;}
.h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"] + label:first-of-type {border-radius: 4px 0 0 0;}
.h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"] + label:nth-of-type(2) {border-radius: 0 4px 0 0;}
.h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"] + label:nth-of-type(3) {margin-top:-1px; border-radius: 0 0 0 4px;}
.h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"] + label:nth-of-type(4) {margin-top:-1px; border-radius: 0 0 4px 0;}
.h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"]:checked + label +input + label {border-left-color:var(--border-basic-2);}

.tabCo-CommonBox.tabCo-overlapp .h-radio-01 input[type="radio"]:checked + label {background:none;}
.tabCo-CommonBox.tabCo-overlapp .h-radio-01 input[type="radio"] + label {width:auto; height:24px; line-height:24px; color:var(--black-2)!important; border:none; background: none;}
.tabCo-CommonBox.tabCo-overlapp .basic-list-box .list-item li {align-items: center; margin-top:0;}
.tabCo-CommonBox.tabCo-overlapp .basic-list-box .list-item li + li {margin-top:10px;}

.tgl-paymentbox {/*position: fixed; left:0; bottom: 54px;*/ width: 100%; padding: 15px; border: 1px solid var(--border-basic-3); background: #fff; box-sizing: border-box; border-width: 1px 0 0; box-shadow:0 -3px 10px #5d5d5d29;}
.tgl-paymentbox .paytxt + .paytxt {padding-top: 15px; margin-top: 10px; border-top:2px solid #eff2f7;}


/* 내용보기 토글 */
.tgl-guidetxt {margin: 15px -20px -20px; padding: 20px;background:var(--neutral-3);} 
.labelTit {display:inline-block; min-width:70px; font-size:var(--text-subtitle6); color:var(--black-2);}

.h-tab-Contents-pay .tabCo-CommonBox .basic-list-box {padding:20px; margin-top:15px;}
.h-tab-Contents-pay .tabCo-CommonBox .basic-list-box .tit-col {display:block; margin-bottom:15px; color:var(--black-5); font-weight:var(--text-medium); font-size:var(--text-subtitle6);}
.h-tab-Contents-pay .tabCo-CommonBox .basic-list-box .list-item .h-radio-01 {display:flex; gap:10px; flex-wrap: wrap;}
.h-tab-Contents-pay .tabCo-CommonBox .basic-list-box .h-textfield + .h-textfield {margin-top:5px;}
.h-tab-Contents-pay .tabCo-CommonBox .basic-list-box .column-info + .column-info {padding-top:20px; margin-top:20px; border-top:1px solid var(--border-basic-3);}
.h-tab-Contents-pay .tabCo-CommonBox .enterBtn {display: block; margin:20px 0 0!important; font-size:var(--text-subtitle4); font-weight:var(--text-medium);}


/* 간편 결제 카드 등록 */
.h-tab-Contents-pay .card-setting {display: flex; flex-wrap: wrap; justify-content: center; flex-direction: column; height: 184px; margin-top:15px; border-radius:10px; text-align:center; box-sizing: border-box; background:#61A6FF; }
.h-tab-Contents-pay .card-setting img { margin-bottom:15px; }
.h-tab-Contents-pay .card-setting .h-tit-16 { color:#fff; margin-bottom:10px; }
.h-tab-Contents-pay .card-setting .text-subtitle5 { color:#fff; line-height:20px; opacity:0.8; }
/* 간편 결제 카드 등록 후 */
.h-tab-Contents-pay .card-setting.on {position:relative; display: flex; flex-direction: column; justify-content: center; color:#fff;}
.h-tab-Contents-pay .card-setting.on .cname {font-weight:var(--text-medium); font-size:var(--text-subtitle2);}
.h-tab-Contents-pay .card-setting.on .cnumber {margin-top:10px; font-weight:var(--text-medium); font-size:var(--text-subtitle5); opacity: 0.7;}
.h-tab-Contents-pay .card-setting.on:after {content:''; position:absolute; top:20px; left:20px; background:url('../images/icon_card_chip.png') no-repeat; width:34px; height:28px;}
.h-tab-Contents-pay .card-setting.on .h-button-del {position:absolute; bottom:20px; right:20px; width: auto; height: auto; margin: 0; color:#fff; opacity: 0.5;}
.h-tab-Contents-pay .card-setting.on .h-button-del:hover {background-color:transparent!important;}


/* 인근 지하철 팝업  */
.h-m-popup .box-selected {padding:0 20px 20px;}
.h-m-popup .box-selected .blue-box {position:relative; margin:0; padding:15px; height:100px; border-radius:10px; background:var(--neutral-3);}
.h-m-popup .box-selected .blue-box .tit {min-width:105px;}
.h-m-popup .box-selected .blue-box + .blue-box {margin-top:5px;}
.h-m-popup .box-selected .blue-box input[type="text"], .h-m-popup .box-selected .blue-box select {height:38px; padding:0 35px 0 15px;}
/* .h-m-popup .subject-search-wrap.on {border-color: 1px solid var(--border-basic-3);} */

/* 상품영역 이동 TAB */
.recruitReg-cont .product-qnav {display: flex; justify-content: center; margin-bottom:20px;}
.recruitReg-cont .product-qnav li { /*min-width:108px; width:100%;*/ width:calc(100% / 3); border:1px solid var(--border-basic-2); border-radius:50px; background:#fff;}
.recruitReg-cont .product-qnav li + li {margin-left:6px;}
.recruitReg-cont .product-qnav li.on {background:var(--cyan); border-color:var(--cyan);}
.recruitReg-cont .product-qnav li.on a {color:#fff; font-weight:var(--text-medium);}
.recruitReg-cont .product-qnav li a {display:inline-block; display: flex; align-items: center; justify-content: center; height:42px;font-size:var(--text-subtitle4);}
/* 상단고정 */
.recruitReg-cont .product-qnav.fixed {position: fixed; top: 0; left: 0; width: 100%; background: var(--neutral-3); padding: 20px; box-sizing: border-box; z-index: 2;}


/* =================================== 채용정보 뷰 =============================== */

/* 채용정보 뷰 그라데이션 위에 헤더 겹치는 경우 */
.header-gradient .h-m-popup.popup-goback {height:fit-content;}
.header-gradient .h-popup-wrap {height:auto;}

.recruitInfo-cont {padding:0 20px 50px!important;}
.recruitInfo-cont .content-inner {margin:0 -20px; /*padding-top:10px;*/ /*background:var(--neutral-3);*/}
.recruitInfo-cont .header-gradient {margin:0 -20px;}

.top-roundInfo {width:100%; margin:0 15px 15px; padding:30px 25px; border-radius: 30px 10px 30px 10px; background:#fff;}
.top-roundInfo > ul > li + li {margin-top:20px; padding-top:20px; border-top:2px solid var(--neutral-3);}
.blt-btxt {display:inline-block; min-width:61px!important; margin:0 5px 0 0; padding:0; height:22px; line-height:22px; font-size:var(--text-subtitle6); border-radius: 30px;}
.blt-stxt {display:inline-block; min-width:41px!important; margin:0 0 0 5px; padding:0 10px; height:20px; line-height:20px; font-size:var(--text-subtitle6); border-radius: 30px;}
.top-roundInfo .list-txt + .list-txt {margin-top:8px;}
.top-roundInfo .list-txt {position:relative;}
.top-roundInfo .icon-businessbox {display: flex; flex-direction: column; align-items: center; flex-basis: 20%; flex-grow: 1;}
.top-roundInfo .icon-businessbox .imgbox {display: flex; align-items: center; justify-content: center; width:60px; height:60px; margin-bottom:10px; background:var(--neutral-3); border-radius: 50%;}

.recruit-nav-wrap {background:var(--neutral-3);}
/* 상단고정 */
.recruit-nav-wrap .recruit-nav.fixed {position: fixed; top: 0;}
.recruit-nav {display: flex; justify-content: center; width: 100%; background:#fff; border-bottom:1px solid var(--neutral-2); border-top:1px solid var(--neutral-2);}
.recruit-nav li {display: flex; align-items: center; justify-content: center; /*min-width:108px;*/ width:calc(100% / 3); font-size:var(--text-subtitle3);}
.recruit-nav li.active a {display:inline-block; position:relative; padding:19px 28px; color:var(--teal); font-weight:var(--text-medium);}
.recruit-nav li.active a:after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background: var(--teal);}
/* 상단고정 */

/* 모바일 채용공고 템플릿 */
.icon_tip_detail {display: flex; align-items: center; justify-content: center; margin-bottom:30px; font-size:var(--text-subtitle5);}
.icon_tip_detail:before {content:''; display: inline-block; margin-right:7px; background:url('../images/mobile/m_icon_hand.png') no-repeat; width:31px; height:29px; }

.employment-wrap {border-bottom:1px solid var(--border-basic-3); padding:20px 20px 15px;}



/* .article-white {padding:20px 20px 15px; border-top:1px solid var(--border-basic-3); border-bottom:1px solid var(--border-basic-3); background:#fff;} */
/* .article-white + .article-white {margin-top:10px;} */
.workplace-wrap {padding:30px 20px 20px; border-top: 1px solid var(--border-basic-3); border-bottom: 1px solid var(--border-basic-3); background:#fff;}
.workplace-wrap .blue-box {background-color:var(--neutral-3);}
.article-white .h-subway-wrap li + li {margin-top:5px;}
.article-white .h-subway-wrap li .h-subway {margin-right:7px;}
.article-white .h-subway-wrap li p {display: flex; align-items: center;}

/* .article-white > ul > li + li {margin-top:20px; padding-top:20px; border-top:1px solid var(--neutral-2);} */

/* 학원정보 */
.acdInfo-wrap {padding:20px 20px 30px; border-top: 1px solid var(--border-basic-3); border-bottom: 1px solid var(--border-basic-3); background:#fff;}
.acdInfo-wrap .logo-imgbox {display: flex; align-items: center; justify-content: center; width:130px; height:60px; margin-right:10px; border:1px solid var(--neutral-2); border-radius: 10px; box-sizing: border-box;}
.acdInfo-wrap .logo-imgbox img {max-width: 90px; max-height: 40px;}
.acdInfo-wrap .logo-txtbox {width:100%;}
.acdInfo-wrap .logo-imgbox + .logo-txtbox {width:calc(100% - 140px);}
.acdInfo-wrap > li + li {padding-top: 20px; margin-top: 20px; border-top:1px solid var(--border-basic-3);}
.acdInfo-wrap li ul li {line-height:22px;}

.bc-neutral-3 {background:var(--neutral-3);}

/* 배너 이미지 공통 */
/* .article-imgbox {overflow: hidden; position: relative; top: 0; left: 0; height:80px; margin:5px 0;}
.article-imgbox img {position: absolute; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px; margin: auto; min-height: 100%; min-width: 100%; max-width: 100%;} */
.bnr-imgbox {display:block; background:var(--neutral-3); font-size:0; border-top:1px solid var(--border-basic-3);}
.bnr-imgbox img {width:100%;}

.s-arrow-rightBtn {height:26px; padding:0 12px; border:1px solid var(--border-basic-4); border-radius: 4px;}
.s-arrow-rightBtn:after {content:''; display:inline-block; background:url('../images/mobile/m_icon_xs_arrow_right.png') no-repeat center; width:6px; height:9px; margin-left:7px; vertical-align: middle;}
.arrow-rightBtn {height:46px; border:1px solid var(--border-basic-3); border-radius: 4px;}
.arrow-rightBtn:after {content:''; display:inline-block; background:url('../images/mobile/m_arrow_right_gray.png') no-repeat center; width:9px; height:12px; margin-left:10px; vertical-align: middle;}

/* 접수방법 */
.receipt-wrap {padding:20px 20px 30px; background:#fff; border-top: 1px solid var(--border-basic-3); border-bottom: 1px solid var(--border-basic-3); background:#fff;}
.receipt-wrap .endTimebox {padding:16px 0; background:var(--cyan); border-radius: 4px; font-size:var(--text-subtitle4); text-align: center; color:#fff;}
.receipt-wrap .endTimebox b {font-family: "SUIT"; font-size:var(--text-h3); }
.receipt-wrap > ul > li + li {padding-top: 20px; margin-top: 20px; border-top:1px solid var(--border-basic-3);}

.bc-neutral-3 .blt-round-txt + .blt-round-txt {margin-top:8px;}
.bc-neutral-3 .blt-round-txt {font-size:var(--text-subtitle4);}

.blt-circleBlue {display: flex; align-items: center; margin-bottom:10px; font-size:var(--text-subtitle2);}
.subject-bg-blue {padding:15px; background:var(--neutral-4); border-radius: 4px; font-size:var(--text-subtitle3); font-weight:var(--text-medium);}

.subject-section .stepBox-round {position:relative;}
.subject-section .stepBox-round:after {content:''; display:block; position:absolute; top:0; left:32px; width:1px; height:100%; background:var(--blue-3);}
.subject-section .stepBox-round li .step-number {position: relative; display:inline-block; margin-right:5px; height:22px; line-height:22px; padding:0 15px; border-radius: 30px; background:var(--neutral-4); font-size:var(--text-subtitle6); color:var(--blue-3); z-index: 1;}
.subject-section .stepBox-round li .step-txt {font-size:var(--text-subtitle4);}
.subject-section .stepBox-round li {display: flex; align-items: center;}
.subject-section .stepBox-round li + li {margin-top:15px;}
.subject-section + .subject-section {padding-top: 30px; margin-top: 30px; border-top:1px solid var(--neutral-2);}

.subject-section .txtbox .depth-txt + .depth-txt {margin-top:20px;}


.h-btn-imark {width: 16px; height: 16px; background-size: contain;}

.article-white .blt-state-txt {flex:none; min-width: 40px; margin-bottom:6px; padding:0 10px; text-align: center;}


.btn-dtailview {/*display: flex; align-items: center; justify-content: center;*/ width:111px; height:43px; line-height:43px; font-size:var(--text-subtitle5); color:var(--black-3); border:1px solid var(--border-basic-3); border-radius: 4px;}
.btn-dtailview:before {content:''; display:inline-block; margin-right:7px; background:url('../images/mobile/m_icon_detailview.png') no-repeat; width:19px; height:19px; vertical-align: middle;}

/* 밑줄이랑 다운로드아이콘까지 있는 버튼 */
.h-line-download {margin:0; padding:0; vertical-align: baseline;}
.h-line-download:after {content:''; display:inline-block; background:url('../images/mobile/m_icon_download_gray.png') no-repeat; width:17px; height:14px; margin-left:7px;}

/* 채용공고와 유사한 인기공고 테이블 */
/* .recruitInfo-cont .list-mbasic {border-top: 1px solid var(--border-basic-3);} */
.recruitInfo-cont .list-mbasic .txtdiv .subco {font-size:var(--text-subtitle4);}
.recruitInfo-cont .list-mbasic .txtdiv .trTit {font-size:var(--text-subtitle17);}
.recruitInfo-cont .list-mbasic {background:#fff;}

.fixed-bottom .btn-tgl[type="checkbox"] + label {margin:0 7px 0 0;}

/* 접기 펼치기 토글 */
.recruitInfo-cont .tgl-downBtn {position: absolute; right: 0; background:url('../images/mobile/icon_s_arrow_circle.png') no-repeat; width:17px; height:17px; text-indent:-9999px; transition: all ease 0.5s;}
.recruitInfo-cont .tgl-downBtn.on {transform: rotate(180deg);}
.recruitInfo-cont .tgl-downtxt {overflow:hidden; height:22px;}
.recruitInfo-cont .tgl-downtxt.on {overflow:auto; height:100%;}

/* 채용공고등록 > 서비스신청> 서비스정보 팝업 */
.h-tab-Contents-srvInfo {}
.h-tab-Contents-srvInfo>input[type="radio"] + label {width: 50%; height: 38px; line-height: 38px; text-align: center; color: var(--black-2); border: 1px solid var(--border-basic-3); box-sizing: border-box; /*margin-left: -1px;*/ font-size: var(--text-subtitle6);}
.h-tab-Contents-srvInfo>input[type="radio"]:checked + label {background: var(--teal); color: #fff; border-color: var(--teal); font-weight:var(--text-medium);}

.h-tab-Contents-srvInfo .tabCo-Wrap {margin-top:-1px; border:1px solid var(--border-basic-3);}
.h-tab-Contents-srvInfo .tabCo-Wrap .tabCo-CommonBox .imgbox {font-size:0;}
.h-tab-Contents-srvInfo .tabCo-Wrap .tabCo-CommonBox .imgbox img {width:100%;}

.productView-popup {padding:0!important; /* border-bottom:1px solid var(--border-basic-2); */}
.productView-popup .pop-header .pop-title {padding:15px 30px!important; border-bottom:1px solid var(--border-basic-2);}
.productView-popup .pop-body {margin-top:30px; overflow-y: scroll!important; height:500px!important;}
.productView-popup .min-50px {display:inline-block; min-width:50px;}
.productView-popup .blue-box2 .infoTxt + .infoTxt {margin-top:20px;}




/* 접기 펼치기 토글 */
.productView-popup .tgl-downBtn {background:url('../images/mobile/icon_s_arrow_circle.png') no-repeat; margin-left:7px; width:17px; height:17px; text-indent:-9999px; transition: all ease 0.5s;}
.productView-popup .tgl-downBtn.on {transform: rotate(180deg);}
.productView-popup .tgl-downtxt {overflow-y:auto; width:198px; height:200px; /*padding-left:20px;*/ border:1px solid var(--grey-3); border-radius:4px; background:#fff;}
.productView-popup .tgl-downtxt li a {display:block; width:100%; padding:10px 0 10px 20px; font-size:var(--text-subtitle4); color:var(--black-2); font-weight:var(--text-bold); box-sizing:border-box;}
.productView-popup .tgl-downtxt.on {display:block!important; position:absolute; top: 40px; left: 30px; z-index:1;}

/* ============================= 채용정보 하위 페이지 ======================== */
.TopSrchWrap_guidetxt {padding:15px;}
.TopSrchWrap_guidetxt .TopSrchWrap {margin-bottom:0;}
.TopSrchWrap_guidetxt .topTitle select {height:35px;}

.recruitInfo-main {background:#fff;}
.recruitInfo-main .list-mbasic-wrap {box-sizing: border-box; background:var(--neutral-3);}
.recruitInfo-main .strong-tit {display:block; padding:30px 0 15px 20px; font-weight:var(--text-bold); font-size:var(--text-subtitle17); color:var(--black-1); border-bottom:1px solid var(--border-basic-3); border-top:1px solid var(--border-basic-3); background:#fff;}

.recruitInfo-main .list-mbasic-wrap.article-todays {border-top: 1px solid var(--neutral-2);}
.recruitInfo-main .list-mbasic-wrap.article-todays .libox {border-radius: 10px; border:1px solid var(--border-basic-4); box-shadow: 5px 5px 5px #0000000D;}
.recruitInfo-main .list-mbasic-wrap.article-todays .libox + .libox {margin-top:10px;}
.recruitInfo-main .list-mbasic-wrap.article-todays .list-mbasic {padding: 15px 15px 20px; box-sizing: border-box;}

.recruitInfo-main .list-mbasic-wrap.article-top100 .libox .number {display: flex; justify-content: center; align-items: center; width:60px; margin-left:-15px; font-size:var(--text-subtitle1); font-weight:var(--text-bold);}
.recruitInfo-main .list-mbasic-wrap.article-top100 .libox:nth-child(-n+3) .number {color:var(--blue-3);}
.recruitInfo-main .list-mbasic-wrap.article-top100 .qlink-Btn {width: calc(100% - 15px);}
.recruitInfo-main .list-mbasic-wrap.article-top100 .qlink-Btn:after {content:''; background:url('../images/sett_arrow_white.png') no-repeat; width:18px; height:16px; margin-left:10px;}

.recruitInfo-main .list-mbasic-wrap.article-top100 .list-mbasic .r-btnbox {min-width:70px;}


/* 카드형 UI */

.m-hunjang-wrap .card-logo-wrap ul li:nth-child(-n+2) {border-bottom:1px solid var(--border-basic-3);}
.m-hunjang-wrap .card-logo-wrap ul li:nth-child(odd) {border-right:1px solid var(--border-basic-3);}

.card-logo-wrap ul {display:flex; flex-wrap: wrap; /*border-top:1px solid var(--border-basic-3);*/ /*border-bottom:1px solid var(--border-basic-3);*/}
.card-logo-wrap ul li {/*position:relative;*/ /*padding:20px 15px;*/ /*width:calc(100% / 2);*/ /*height:210px;*/ /*box-sizing: border-box;*/}

.m-hunjang-wrap .card-logo-wrap ul li .imgbox {display:inline-block; width:90px; height:38px; margin:10px 0 15px;}
.m-hunjang-wrap .card-logo-wrap ul li .imgbox img {width:90px; height:38px;}
.m-hunjang-wrap .card-logo-wrap ul li .cardbox .name {margin-bottom:8px; font-size:var(--text-subtitle5); color:var(--black-3); font-weight:var(--text-regular);}
.m-hunjang-wrap .card-logo-wrap ul li .cardbox .btit {margin-bottom:8px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.3em; height: 2.6em; color:var(--black-2); font-weight:var(--text-bold); font-size:var(--text-subtitle3);}
.m-hunjang-wrap .card-logo-wrap ul li .cardbox .txtbox {font-size:var(--text-subtitle6); color:var(--black-5);}
.m-hunjang-wrap .card-logo-wrap ul li .cardbox .txtbox span {position:relative; margin-right:3px; padding-right:7px;}
.m-hunjang-wrap .card-logo-wrap ul li .cardbox .txtbox span:after {content:''; position:absolute; top:1px; right:0; width:1px; height:12px; background:var(--border-basic-3);}
.m-hunjang-wrap .card-logo-wrap ul li .btn-star {position:absolute; top:20px; right:20px; width:23px; height:23px; z-index:1;}
.m-hunjang-wrap .card-logo-wrap ul li .btn-star label {margin:0;}

.recruitInfo-main .list-mbasic-wrap .imgbox {position:absolute; bottom:20px; right:25px; width: 80px; height: 34px;}
.recruitInfo-main .list-mbasic-wrap .imgbox img {max-width:80px; max-height:34px;} 
.recruitInfo-main .list-mbasic-wrap .list-mbasic .r-btnbox {min-width:auto;}
.recruitInfo-main .list-mbasic-wrap .list-mbasic .libox {position:relative; z-index: 1;}
.recruitInfo-main .list-mbasic-wrap .list-mbasic .libox {padding:20px 15px 20px 20px}
.recruitInfo-main .list-mbasic-wrap .list-mbasic {background:#fff;}
.recruitInfo-main .h-pagination {background:#fff;}


/* ============================= 채용정보 메인 ======================== */
.recruit-MvSwiper-wrap {position:relative; /*padding:20px 20px 75px;*/ background: linear-gradient( to top, #FFFFFF, #F5F5F5 ); margin-bottom: -1px;}
.recruit-MvSwiper-wrap:after {content:''; position:absolute; bottom:0; display:inline-block; background:url('../images/mobile/recruitInfo_mv_pt01.png') no-repeat center; background-size:110%; width:100%; height:186px;}

.recruit-MvSwiper {padding:20px 14px 75px!important; box-sizing:border-box;}
.recruit-MvSwiper .swiper-wrapper .swiper-slide {position:relative; height:320px; padding:40px; border-radius:10px; background:var(--cyan); box-sizing: border-box;}
.recruit-MvSwiper .swiper-wrapper .swiper-slide .q-arrowBtn {position: absolute; bottom:40px; left:40px; font-size:var(--text-subtitle6); color:#fff;}
.recruit-MvSwiper .swiper-wrapper .swiper-slide .q-arrowBtn:after {content:''; display:inline-block; margin-left:7px; background:url('../images/btn_white_arrow.svg') no-repeat; width:14px; height:10px;}

.recruit-MvSwiper .swiper-wrapper .swiper-slide:nth-child(1) {background:var(--cyan);}
.recruit-MvSwiper .swiper-wrapper .swiper-slide:nth-child(2) {background:var(--teal);}
.recruit-MvSwiper .swiper-wrapper .swiper-slide:nth-child(3) {background:var(--blue-3);}
.recruit-MvSwiper .swiper-wrapper .swiper-slide:nth-child(4) {background:#A27AC1;}
.recruit-MvSwiper .swiper-wrapper .swiper-slide:nth-child(5) {background:#4ACB4A;}

.recruit-MvSwiper .swiper-wrapper .swiper-slide .mv-stit {margin-bottom:15px; font-size:var(--text-subtitle2); font-weight:var(--text-medium); color:#fff; opacity: 0.7;}
.recruit-MvSwiper .swiper-wrapper .swiper-slide .mv-btit {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.3em; height: 3.9em; font-size:var(--text-h3); font-weight:var(--text-bold); color:#fff;}
.recruit-MvSwiper .swiper-wrapper .swiper-slide .imgbox {position:absolute; right:30px; bottom:30px;}

.recruit-MvSwiper-wrap .swiper-pagination {bottom:45px!important;}
.recruit-MvSwiper-wrap .swiper-pagination-bullet {width:10px; height:10px;}

.recruit-MvSwiper-wrap .swiper-pagination-bullet-active {background:var(--teal)!important;}
.recruit-MvSwiper-wrap .swiper-pagination-bullet {background:#666;}

.recruitInfo-main .round10-plusbtn {display: flex; align-items: center; justify-content: center; margin-top:10px; height:54px; border-radius:10px; border:1px solid var(--border-basic-4); font-size:var(--text-subtitle4); font-weight:var(--text-medium); box-shadow: 5px 5px 5px #0000000D; background:#fff;}
.recruitInfo-main .round10-plusbtn:after {content:''; display:inline-block; background:url('../images/mobile/m_icon_circle_plus_neutral.png') no-repeat; margin-left:7px; width:20px; height:20px;}


/* 마감 예정 채용정보 */
.todaySwiper-wrap {position:relative;}
.todaySwiper-wrap:after {content:''; position:absolute; top:40px; display:inline-block; background:url('../images/mobile/recruitInfo_mv_pt02.png') no-repeat center; width:100%; height:130px;}
.todaySwiper-wrap .list-mbasic-wrap .list-mbasic {background:#FBFAF8;}
.todaySwiper-wrap .list-mbasic-wrap .list-mbasic .libox {background:#fff;}
.todaySwiper-wrap .list-mbasic-wrap .list-mbasic .txtbox {margin-bottom:15px; z-index: 1;}

.todaySwiper-wrap .list-mbasic-wrap .list-mbasic .libox-wrap {overflow-y: scroll; height:530px;}
.todaySwiper-wrap .list-mbasic-wrap .list-mbasic .libox-wrap::-webkit-scrollbar {display: none;}
/* .todaySwiper-wrap .list-mbasic-wrap.article-todays .list-mbasic {position:relative;} */
.todaySwiper-wrap .list-mbasic-wrap.article-todays .list-mbasic:after {content: ""; position: relative; bottom: 50px; height: 50px; margin-bottom:-30px; display: inline-block; background: linear-gradient( to bottom, white, #FBFAF8); opacity: 0.8; z-index: 2;}





/* 추천 콘텐츠 C */
.recommend-Cwrap {position:relative; overflow: hidden;}
.recommend-Cwrap:after {content:''; position:absolute; top:40px; right:-50px; display:inline-block; background:url('../images/mobile/recruitInfo_mv_pt03.png') no-repeat right; width:100%; height:165px;}
.recommend-Cwrap .list-mbasic-wrap.article-recommend .list-mbasic {background:#F9F2F2;}

.list-mbasic-wrap.article-recommend .list-mbasic {padding: 15px 15px 20px; box-sizing: border-box;}
.list-mbasic-wrap.article-recommend .list-mbasic .libox-wrap {display:flex; flex-wrap: wrap; gap:10px}
.list-mbasic-wrap.article-recommend .list-mbasic .libox {width: calc(100% / 2 - 5px); padding:15px; box-sizing: border-box; border:1px solid var(--border-basic-4); border-radius:10px; background:#fff;}
.list-mbasic-wrap.article-recommend .list-mbasic .libox .scrap_star {position: absolute; top: 15px; right: 15px;}
.list-mbasic-wrap.article-recommend .list-mbasic .txtbox {margin-bottom:15px; z-index: 1;}
.list-mbasic-wrap.article-recommend .list-mbasic .txtdiv .subco {margin-top:20px;}
.list-mbasic-wrap.article-recommend .list-mbasic .txtdiv .trTit {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; line-height: 1.3em; height: 2.6em; white-space: normal;}
.list-mbasic-wrap.article-recommend .list-mbasic .r-btnbox .h-button-teal {position:absolute; bottom:15px; right:15px;}


.recommend-Dwrap {position:relative; overflow: hidden;}
.recommend-Dwrap:after {content:''; position:absolute; top:-50px; background:url('../images/mobile/recruitInfo_mv_pt04.png') no-repeat center; background-size:120%; width:100%; height:206px;}
.recommend-Dwrap .list-mbasic-wrap.article-recommend .list-mbasic {background:#EEF2F8;}


/* =================================== 강사서비스 > 이력서강조상품 =================================== */
.solidLine-wrap li + li {padding-top:15px; margin-top:15px; border-top:1px solid var(--border-basic-3);}
.h-radio-02.squareBtn.hgt35 input[type="radio"] + label {height:35px!important; line-height:35px!important;}


/* 이력서강조상품 주문결제 */
.h-m-popup .resumeProduct-wrap .detail-list-item + .detail-list-item {margin-top:25px;}
.h-m-popup .resumeProduct-wrap .detail-list-wrap {margin: 20px -20px 0; padding: 25px 20px 300px!important;}
.h-m-popup .resumeProduct-wrap .detail-list-item .list-inner {padding:15px 0 0;}

.h-m-popup .resumeProduct-wrap .h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"] + label:first-of-type {border-radius: 4px 0 0 4px;}
.h-m-popup .resumeProduct-wrap .h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"] + label:nth-of-type(2) {border-radius:0;}
.h-m-popup .resumeProduct-wrap .h-radio-02.squareBtn .h-tab-Contents-pay > input[type="radio"] + label:last-of-type {margin-top:0; border-radius: 0 4px 4px 0;}


/* (공통) 동의 체크 */
.agr-checkbox .agrtxt {margin-top: -4px; margin-left: 10px;}
.agr-checkbox .h-checkbox.checkbox01 {display:flex;}
.agr-checkbox .agrtxt .h-button-underline {/*margin-left:10px!important;*/ vertical-align: unset;}

/* 이력서강조상품 결제완료 */
.h-m-popup .resumeProduct-wrap .pointTxt {display:inline-block; padding:0 15px; height:27px; line-height:27px; border-radius: 20px; background:var(--grey-2); font-size:var(--text-subtitle7); color:#fff;}
.h-m-popup .resumeProduct-wrap {padding-bottom:80px!important;}

/* 유료 이용내역 */
.chargedList-cont {padding:20px; margin-bottom:50px;}
.chargedList-cont .solidLine-wrap li + li {padding-top:20px; margin-top:20px;}
.chargedList-cont .solidLine-wrap li:last-child {padding-bottom:20px; border-bottom:1px solid var(--border-basic-3);}

.dateSrch-wrap {gap:5px;}
.dateSrch-wrap .date-picker {min-width:auto; margin-right:-5px;}
.dateSrch-wrap .date-picker input[type="text"].datePicker {/*min-width:110px;*/ width:100%; height:36px; padding:0 10px; font-size:var(--text-subtitle5);}
.dateSrch-wrap .date-picker input[type="text"].datePicker::placeholder {font-size:var(--text-subtitle5);}
.dateSrch-wrap .date-picker img.ui-datepicker-trigger {right:14px;}
.dateSrch-wrap .h-button-xs0 {min-width:54px!important;}
.dateSrch-wrap .h-button-icon-refresh {flex:none; height:35px;}

/* 이력서 강조 상품 home */
.resumeProduct-cont {padding:0 15px 145px;}
.resumeProduct-cont .round80-btn {position:absolute; bottom:-15px; right:15px; border-radius:80px;}
.resumeProduct-cont .bluebgBox {position:relative; padding:20px 20px 15px; border-radius: 10px; background:var(--neutral-2);}
.resumeProduct-cont .Applct-wrap {margin: 20px -15px; padding: 20px 15px; background:var(--neutral-3);}
.resumeProduct-cont .imgbox-sample {margin:0 -20px;}

/* 환불규정 모달 팝업 */
.h-m-popup .Refund-box {display:flex; flex-wrap: wrap; gap:5px;}
.h-m-popup .Refund-box li {display:flex; align-items: center; justify-content: center; min-width:95px; height:55px; background:var(--neutral-3); border-radius: 4px; text-align: center;}
.h-m-popup .indent-ex {position:relative;}
.h-m-popup .indent-ex:before {content:'예)'; position:absolute; top:3px; font-size:var(--text-subtitle5); color:var(--black-3);}
.h-m-popup .indent-ex li {position:relative; padding-left:20px;}

/* 지원이력서 리스트 arrow btn */
.myresume-list { position: absolute; top: 55px; left:0; width:100%; background:#fff; z-index: 1; border:2px solid var(--grey-3); border-radius: 4px; box-sizing: border-box; box-shadow: 0px 5px 10px #0000001A; }
.myresume-list .myresume-item { margin: 0; width: calc(100% - 30px); border-radius: 0; background:transparent; box-sizing: border-box; }
.myresume-list ul { overflow-y: auto; overflow-x: hidden; height: 200px; transition: height 0.5s; }
.myresume-list ul li { display: flex; padding: 15px; }
.myresume-list ul li + li {border-top:1px solid var(--neutral-2);}

.myresume-box .myresume-list{ display: block; height: 0; overflow: hidden; transition: height 0.5s; width: calc(100% - 10px); margin:0 5px; z-index: 1; border: 1px solid var(--border-basic-1); box-sizing: border-box; visibility: collapse; }
.myresume-box > input[type="checkbox"] { display: none; width: 1px; height: 1px; position: absolute; text-indent: -999px; overflow: hidden; }
.myresume-box > input[type="checkbox"] + label { position: relative; padding-right: 30px; font-size:var(--text-subtitle4); cursor: pointer; display: block; line-height: 22px; }
.myresume-box > input[type="checkbox"] + label:after { content: ""; position: absolute; width: 20px; height: 20px; right: 0; top: 0; background: url('../images/arrow_dropdown.svg') no-repeat; background-size: 20px; transition: transform 0.5s; cursor: pointer; }
.myresume-box > input[type="checkbox"] #tglArrow + label { display: block; width: 100%; padding-right: 30px; box-sizing: border-box; }
.myresume-box > input[type="checkbox"]:checked + label:after { transform: rotate(180deg); }
.myresume-box > input[type="checkbox"]:checked ~ .myresume-list { height: auto; visibility: visible; margin-bottom: 0; }

.h-plusBtn-left {}
.h-plusBtn-left:before {content:''; position: initial; display:inline-block; margin-right:7px; background:url('../images/mobile/m_icon_outline_plus_white.png') no-repeat; width:18px; height:18px; opacity: 1;}

.m-resume-settpop .fieldset-inputul ul li .innerline.hgt46 {height:46px; /*box-sizing: border-box;*/}
.m-resume-settpop .fieldset-inputul ul li .innerline.hgt46 .lTit {font-size:var(--text-subtitle4);}
.m-resume-settpop .fieldset-inputul ul li {margin-bottom:0;}
.m-resume-settpop .fieldset-inputul ul li + li {margin-top:5px;}


/* =================================== 훈장플러스 > 티츄 스토리 =================================== */
.tchoo-imgBox {position:relative; /*overflow:hidden; height:140px;*/}
.tchoo-imgTxt {position:absolute; top: 50%; left: 20px; transform: translateY(-50%);}
.tchooStory-wrap li + li {border-top:1px solid var(--neutral-2); box-sizing: border-box;}
.tchooStory-wrap li {padding:15px 20px;}
.tchoo-thumbox {overflow:hidden; position:relative; border-radius: 10px; width:125px; height:78px;}
.tchoo-thumbox img {width:125px; height:78px;}
.icon-updateNew:after {content: ''; position: absolute; top: 5px; left: 5px; background: url(../images/mobile/m_icon_newtxt_teal.png) no-repeat; background-size: contain; width: 44px; height: 18px;}


/* 전자근로계약서 */
.step-writingWrap {padding:0 20px;}
.step-writingWrap .promise-markBox .imgbox {margin-right:-20px;}
.step-writingBox > ul {padding:20px; border:1px solid var(--neutral-2); border-radius: 10px 10px 0 0;}
.step-writingBox .blue-box4 {border-radius: 0 0  10px 10px;}
.step-writingBox .stepNumber span {width:70px; height:25px; line-height:25px; font-size:var(--text-subtitle6); color:#fff; border-radius:15px; background:#333; text-align:center; box-sizing:border-box;}
.step-writingBox .stepNumber span + span {margin-top:25px;}
.step-writingBox .stepText {position:relative; margin-left:15px; font-size:var(--text-subtitle5);}
.step-writingBox .stepText:after {content:''; position:absolute; left:-1px; top:15px; width:1px; height:195px; border-left:1px dashed #d6d6d6}
.step-writingBox .stepText span {position:relative; padding-left:15px; height:25px; line-height:25px;}
.step-writingBox .stepText span:before {content:''; position:absolute; left:-4px; top:9px; width:7px; height:7px; background:#333; border-radius: 50%; z-index: 1;}


/* 채용상품 안내 home */
/* .recruit-productInfo-wrap .quick-btmBtn .fixedBtn {bottom:15px;} */
.h-m-popup.popup-goback .recruit-productInfo {height: calc(100% - 85px);}
.productImg-wrap .imgbox {width:190px; padding:20px; box-sizing: border-box; border-radius: 10px; background:#fff;}
.productImg-wrap .imgbox img {width:100%;}
.productImg-wrap {position:relative;}

.triangleLayer-wrap .triangleLayer:before {content:''; position:absolute; left:-19px; top:20px; background:url('../images/mobile/img_bltTriangle.png') no-repeat; background-size: cover; width:20px; height:20px;}
.triangleLayer-wrap .triangleLayer .arrowBtn {display:block; padding:12px 0; font-size:var(--text-subtitle5); background:var(--neutral-3); text-align:center; border-radius: 0 0 9px 9px;}
.triangleLayer-wrap .triangleLayer .arrowBtn:after{content:''; display:inline-block; margin-left:7px; background:url('../images/mobile/m_arrow_s_gray.png') no-repeat; background-size: cover; width: 6px; height: 9px;}
.triangleLayer-wrap .triangleLayer .triangle-body {padding:20px 20px 15px;}

.triangleLayer-wrap {position:absolute; top:0; left:125px; width: calc(100% - 125px);}
.triangleLayer-wrap .triangleLayer {position: relative; display:block; /*min-width:190px;*/ border:1px solid var(--grey-3); border-radius:10px; background:#fff; box-sizing: border-box; box-shadow: 0px 5px 10px #0000001A;}
.triangleLayer-wrap .triangleLayer:nth-child(1) {margin-top:160px;}
.triangleLayer-wrap .triangleLayer:nth-child(2) {margin-top:46px;}
.triangleLayer-wrap .triangleLayer:nth-child(3) {margin-top:75px;}
.triangleLayer-wrap .triangleLayer:nth-child(4) {margin-top:30px;}
.triangleLayer-wrap .triangleLayer:nth-child(5) {margin-top:70px;}
.triangleLayer-wrap .triangleLayer:nth-child(6) {margin-top:114px;}
.triangleLayer-wrap .triangleLayer:nth-child(7) {margin-top:144px;}

/* 지역별 */
.triangleLayer-wrap.proArealogo .triangleLayer:nth-child(1) {margin-top:118px;}
.triangleLayer-wrap.proArealogo .triangleLayer:nth-child(2) {margin-top:45px;}

/* 과목 직무 LOGO */
.triangleLayer-wrap.proSubject .triangleLayer:nth-child(1) {margin-top:118px;}
.triangleLayer-wrap.proSubject .triangleLayer:nth-child(2) {margin-top:45px;}

/* 채용상품안내_우수회원 */
.recruit-productInfo .imgboxBnr {margin:-10px -20px 0;}
.productTxt-wrap {padding:0 20px 80px; margin: -5px -20px 0; background:#fff;}
.productTxt-wrap .bodytxt > li + li {margin-top:15px;}
/* .productTxt-wrap .productTxt-inner > li + li {margin-top:20px;} */
.productTxt-wrap .productTxt-box {margin-top:20px; border:1px solid var(--neutral-2); }
.productTxt-wrap .productTxt-box:first-child {margin-top:0;}
.productTxt-wrap .productTxt-box .headtxt {padding:12px 20px; background:var(--neutral-3); font-weight:var(--text-bold);}
.productTxt-wrap .productTxt-box .bodytxt {padding:15px; border-top:1px solid var(--neutral-2);}

/*멤버쉽*/
.productTxt-wrap.membershipP {padding-bottom:30px; margin-bottom:20px;}
.productTxt-wrap.membershipP ~ .white-bgbox {background:#fff; border-radius:10px; padding:20px; box-sizing:border-box; width:100%; margin-top:10px;}
.productTxt-wrap.membershipP ~ .white-bgbox .basic-popup-inputdl .dl:not(:last-child) {border-bottom:1px solid #EBEFF5; padding-bottom:25px; margin-bottom:25px;}
.productTxt-wrap.membershipP ~ .white-bgbox .h-radio-01 {margin-top:15px;}
.productTxt-wrap.membershipP ~ .white-bgbox .h-radio-01 + .h-radio-01 {margin-top:8px;}
.productTxt-wrap.membershipP ~ .white-bgbox .h-radio-01:last-child input[type="radio"] + label {margin-bottom:0;}
.productTxt-wrap.membershipP ~ .lightblue-bgbox2 {background:#EBEFF5; padding:15px 20px; margin-bottom:98px;}


.tbl-productTxt {border:1px solid var(--neutral-2); }
.tbl-productTxt thead tr th {padding:12px 0; border-bottom:1px solid var(--neutral-2); background:var(--neutral-3); font-size:var(--text-subtitle5); font-weight:var(--text-regular); color:#4D4D4D;}
.tbl-productTxt tbody tr td {padding:15px; border-right:1px solid var(--neutral-2);}
.tbl-productTxt tbody tr td:last-child {border-right:0;}
/* .tbl-productTxt tbody tr td .h-bullet-01 {padding:15px;} */

/* 팝업형태인데 footer 하단에 아무버튼이 없는 경우 */
.fixedBtn-bottom .fixedBtn {bottom:15px;}






/* 채용공고 수정 */
.recruit-modifyWrap .header-gradient {}
.recruit-modifyWrap .header-gradient .location {}
.recruit-modifyWrap .header-gradient .location .top-nav {position: relative; margin-top: -22px;}
.recruit-modifyWrap .header-gradient .location .top-nav li {position: initial;}
.recruit-modifyWrap .header-gradient .location .top-nav li + li:after {position: relative; top: 0; left: -48px;}
.recruit-modifyWrap .header-gradient .location .top-nav li div {display:none; position: absolute; left: 0; width: 100%; text-align: center; margin-top: 65px; font-size: var(--text-subtitle1); color: #fff;}
.recruit-modifyWrap .header-gradient .location .top-nav li.active div {display:block;}
.recruit-modifyWrap .header-gradient .location>span {position: absolute; left: 0; top:59px; text-indent: -999px; width:22px; height:16px; overflow:hidden; left:20px;}
.recruit-modifyWrap .header-gradient .location>span a {left:0;}
.recruit-modifyWrap .recruit-Sctin {font-size:22px; line-height:22px; letter-spacing:-0.5px; color:#7E7E7E; padding:10px 0 20px;}
.recruit-modifyWrap .recruit-Sctin strong {color:#333;}
.recruit-modifyWrap .recruit-Sctin ~ .recruit-Sctin {padding-top:30px;}


/* 채용공고등록 > 멤버십 > 채용멤버십 */
.tit-membership {height:90px;line-height:90px;background:#F5F7FA;font-size:26px;color:#4A4A4A;}
.tit-membership .h-txt-puple {color: #6f30c4;}
.membership-pay-wrap {padding:20px;}
.membership-pay-wrap .basic-list-box .list-item li:before {display:none;}
.membership-pay-wrap .basic-list-box .column-info .h-field-wrap input[type="text"] {border:none;}
.membership-pay-wrap .basic-list-box .column-info .h-field-wrap {position:relative;padding-right:100px;}
.membership-pay-wrap .basic-list-box .column-info .h-field-wrap .h-button-xxs.h-button-grey2 {position:absolute;right:0;width:80px;}
.membership-bottom-wrap {padding:20px;padding-top:0;}





