@charset "utf-8";

.m-hunjang-wrap input[type="text"]::placeholder {font-size:var(--text-subtitle4); }
.min-wd100px {min-width:100px;}
.min-wd105px {min-width:105px;}


/* =================== 이력서 등록 완료 ================== */

/* 이력서 등록 네비 */
.resumeReg-nav {display:flex; width:100%;}
.resumeReg-nav li {display:flex; align-items: center; width: calc(100% / 6); justify-content: center;}
.resumeReg-nav li a {position:relative; padding:15px 5px; color:var(--blue-3);}
.resumeReg-nav li.active a:after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background: var(--blue-3);}

/* 이력서 제목 입력 추천 */
.resume-title {position:relative;}
.resume-title .h-txtfield-basic {padding:18px 20px!important; height:auto!important; border:2px solid var(--border-basic-1)!important; box-shadow: 0px 5px 10px #0000001A; }
.resume-title .my-resume-listBtn {position:absolute; right:37px; padding:20px 0; color:var(--grey-3); font-size:var(--text-subtitle5);}
.resume-title .my-resume-listBtn:after {content: ''; position: absolute; top: 25px; margin-left: 7px; width: 0px; height: 0px; border-top: 6px solid #666666; border-left: 6px solid transparent; border-right: 6px solid transparent;}
.resume-title .my-resume-listBtn.on:after {transform: rotate( 180deg );}

/* .my-resume-list {display:none;} */
.my-resume-list { position: absolute; top: 54px; left: 0; margin-top:5px; width: 100%; max-height: 300px; overflow-y: scroll; background:#fff; border:2px solid var(--grey-3); border-radius:4px; box-shadow:0px 5px 10px #0000001A; box-sizing: border-box; z-index: 1; } 
.my-resume-list ul { padding-top: 10px; } 
.my-resume-list ul li { font-size:16px; padding: 11px 28px; transition:background 0.5s; } 
.my-resume-list ul li + li {border-top:1px solid var(--neutral-2);}
.my-resume-list ul li:before { content:"\b7"; display: inline-block; } 
.my-resume-list ul li .rsmTit { display: inline-block; /*max-width: 100%;*/ width:calc(100% - 10px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; } 
.my-resume-list ul li span { font-size:12px; } 
.my-resume-list::-webkit-scrollbar { width:8px; } 
.my-resume-list::-webkit-scrollbar-track { background:transparent; } 
.my-resume-list::-webkit-scrollbar-thumb { background:#E1E1E1; } 

/* 필수입력 값 스타일 */
.requiredTxt {font-size:var(--text-subtitle6); color:var(--black-3);}
.h-resume-title {margin-bottom:10px; font-size:17px; font-weight:var(--text-bold);}
.h-resume-title .h-txt-pit {font-size:var(--text-subtitle4); color:var(--blue-3); font-weight:var(--text-medium);}
.h-resume-co {font-size:var(--text-subtitle5); color:var(--black-3); line-height:18px;}

/* input[type="text"]에 입력이 들어가면 hidden */
.h-textfield {position:relative; }
.h-textfield .placehoder-hidden {position:absolute; left:20px; font-size:var(--text-subtitle3); color:var(--black-6); font-weight:var(--text-regular);}
.h-textfield .placehoder-hidden .h-txt-orange {margin-left:3px; font-size:var(--text-subtitle6);}

/* 이력서 등록 폼 공통 */
.basic-box {padding:20px; background:#fff; border-radius:10px; box-sizing: border-box;}
.basic-box + .basic-box {margin-top:15px;}
.basic-box + .h-button-ml.h-button-teal {margin:15px 0 0;}
.h-button-ml.h-button-teal + .basic-box {margin:15px 0 0;}
.basic-box-inner {position:relative;}


/* 등록 완료 */
.basic-list-box {position:relative; margin-top:10px; padding:15px 25px 15px 15px; background:var(--neutral-3); border-radius:4px; box-sizing:border-box;}
/* .basic-list-box:first-child {margin-top:20px;} */
.basic-list-box + .circle-plusBtn {margin-top:10px;}
.circle-plusBtn + .basic-list-box {margin-top:20px;}
.basic-list-box .btit {font-size:var(--text-subtitle3); font-weight:var(--text-bold); color:var(--black-2);}
.basic-list-box .areatit {font-size:var(--text-subtitle5); color:var(--black-3);}
.basic-list-box .stit {margin-top:6px; font-size:var(--text-subtitle6); color:var(--black-3);}

.basic-list-box .list-item {display:flex; flex-direction: column;}
.basic-list-box .list-item li {position:relative; display:flex; margin-top:10px; padding-left:10px;}
.basic-list-box .list-item li:before {content:''; position:absolute; top:6px; left:5px; width:1px; height:1px; background:#aeaeaf;}
.basic-list-box .list-item li .tit {min-width:70px; color:var(--black-5); font-size:var(--text-subtitle6);}
.basic-list-box .list-item li .tit-co {color:var(--black-2); font-size:var(--text-subtitle5);}
.basic-list-box .list-item .list-item-inner li {flex-direction: column; padding-left:0; margin-top:0; line-height:18px;}
.basic-list-box .list-item .list-item-inner li:before {display:none;}
.basic-list-box .list-item .list-item-inner li + li {margin-top:10px;}

.basic-list-box .skill-item {display:flex; margin-top:15px; margin-bottom:20px;}
.basic-list-box .skill-item li {position:relative; display:flex; flex-direction: column; width: calc(100% / 3); text-align: center;}
.basic-list-box .skill-item li + li:after {content:''; position:absolute; top:0; left:0; width:2px; height:36px; background:#eaeef4;}
.basic-list-box .skill-item li .tit {font-size:var(--text-subtitle6); color:var(--black-5);}
.basic-list-box .skill-item li .grade {margin-top:5px; font-size:var(--text-subtitle3); color:var(--black-2); font-weight:var(--text-bold);}

.basic-list-box .file-item {position:relative;}
.basic-list-box .file-item .h-button-underline {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-right: -10px; margin-left:0; padding:0; font-weight:var(--text-medium); font-size:var(--text-subtitle5);}
.basic-list-box .file-item .file-info {display:flex;}
.basic-list-box .file-item .file-info p {font-size:11px;}
.basic-list-box .file-item .file-info p + p {margin-left:15px;}
.basic-list-box .file-item .remove {position:absolute; top: -5px; right: -15px;}

.basic-list-box .doc-item .doc-tit {font-size:var(--text-subtitle3); font-weight:var(--text-medium); color:var(--black-2);}
.basic-list-box .doc-item .doc-co {margin-top:10px; color:var(--black-2);}

.basic-list-box .special-item .tit-co {margin-top:10px; font-size:var(--text-subtitle5);}
.basic-list-box .special-item li + li {margin-top:15px;}

.col-block {flex-direction: column;}
.col-block .tit-co {margin-top:8px; line-height:18px;}
.col-block .tit-co + .tit-co {margin-top:0;}


/* 시강영상 */
.mv-thumbox {margin-top:25px; margin-bottom:10px; width:100%; /*height:165px;*/}
.mv-thumbox img {max-width:100%;}

/* 텍스트 블릿 */
.h-txtbox-3 {display: inline-flex; justify-content: center; align-items: center; min-width:41px; padding:4px 10px; height: 22px; font-size:var(--text-subtitle6); font-weight: var(--text-medium); color: #fff; line-height: normal; border-radius: 80px; box-sizing: border-box;}
.h-txtbox-3.option-gray{background:var(--grey-1);}
.h-txtbox-3 + .btit {margin-left:7px;}


/* 기본정보 */
.basic-info {display:flex; padding-top:20px; border-top:1px solid var(--neutral-2); box-sizing:border-box;}
.basic-info .imgbox {margin-right:20px; width:83px; height:100px; border-radius:4px;}
.basic-info .info-txt {display: flex; flex-direction: column; justify-content: center;}
.basic-info .info-txt .name {margin-bottom:5px; font-size:var(--text-subtitle2); color:var(--black-2); font-weight:var(--text-medium);}
.basic-info .info-txt .age {margin-bottom:16px; color:var(--black-3); font-size:var(--text-subtitle5); font-weight:var(--text-regular);}
.basic-info .info-txt .txt {margin-bottom:5px; color:var(--black-3); font-size:var(--text-subtitle6); font-weight:var(--text-regular);}
.basic-info .info-txt .time {font-size:var(--black-2); font-weight:var(--text-medium);}

/* 글수정 버튼 */
.editBtn {position:absolute; top:20px; right:0;}

/* 더보기 버튼 */
.dotmoreBtn {position:absolute; top:10px; right:8px; width:21px;height:21px;}
.dotmoreBtn:after {content:''; display:inline-block; background:url('../images/mobile/m_icon_dot.png') no-repeat; width:21px; height:21px;}

/* 학력사항 버튼 */
.circle-plusBtn + .circle-plusBtn {margin-top:5px;} 
.circle-plusBtn {display:flex; align-items: center; padding:15px; width:100%; height:46px; border:1px solid var(--border-basic-2); border-radius:4px; text-align:left; font-size:var(--text-subtitle4); color:var(--black-2); box-sizing:border-box; background:#fff;}
.circle-plusBtn:before {content:''; display:inline-block; margin-right:10px; background:url('../images/icon_plus_outline.png'); width:18px; height:18px;}

.outlineBtn-wrap .h-checkbox.checkbox02 + .h-checkbox.checkbox02 {margin-top:5px;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"]:checked + label:after, .icon-outlineChk .h-checkbox.checkbox02 input[type="radio"]:checked + label:after {display: none;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"] + label:hover:after, .icon-outlineChk .h-checkbox.checkbox02 input[type="radio"] + label:hover:after {display: none;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"] + label span {color:var(--black-2); font-size:var(--text-subtitle4);}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"]:checked + label span {color:var(--blue-3);}
.outlineBtn-wrap .h-checkbox.checkbox02 .material-icons {font-size:21px;}
.outlineBtn-wrap .h-checkbox.checkbox02 {display:block; margin:0;}
.outlineBtn-wrap .h-checkbox.checkbox02 i {margin:-2px 10px 0 0;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"] + label {display:flex; align-items: center; width:100%; height: 46px; padding: 0 15px; border:1px solid var(--border-basic-3); border-radius:4px; box-sizing:border-box;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"]:checked+ label {border:1px solid var(--blue-3);}

.outlineBtn-wrap.alRight .h-checkbox.checkbox02 input[type="checkbox"] + label {justify-content: space-between;}
.outlineBtn-wrap.alRight .h-checkbox.checkbox02 input[type="checkbox"] + label span {display: flex; align-items: center; font-size:var(--text-subtitle3);}
.outlineBtn-wrap.alRight .h-checkbox.checkbox02 input[type="checkbox"] + label span img {margin-right:9px;}

/* 버튼 2개가 한줄에 들어갈때 */
.outlineBtn-wrap.calc2 {display: flex; justify-content: space-between;}
.outlineBtn-wrap.calc2 .circle-plusBtn {width:calc(100% / 2 - 5px); margin:0;}

.h-checkbox.checkbox06 input[type="checkbox"] + label {position: relative; width:100%; padding:15px 0;  transition: color 0.5s; -webkit-transition: color 0.5s; color: var(--grey-2); font-size: 14px; cursor:pointer; text-align: center;}
.h-checkbox.checkbox06 li:nth-child(-n+2) input[type="checkbox"] + label {border-bottom:1px solid var(--border-basic-2)}
.h-checkbox.checkbox06 input[type="checkbox"]:checked + label {background:var(--cyan); color:#fff;}
.h-checkbox.checkbox06 li:nth-child(odd) input[type="checkbox"] + label {border-right:1px solid var(--border-basic-2)}

.edubg-listbox {display:flex; flex-wrap: wrap; width:100%; margin:0 0 20px 0; border:1px solid var(--border-basic-2); border-radius:4px; box-sizing: border-box;}
.edubg-listbox li {display:flex; width:50%;}


/* =================== 이력서 등록 ================== */
.resume-regList > li + li {margin-top:25px;}
.resume-regList .h-checkbox.checkbox01 {margin:10px 0 0;}

.h-txtfield-inner {position:relative; display:flex; align-items: center;}
.h-txtfield-inner + .h-txtfield-inner {margin-top:5px;}
.h-txtfield-inner > input[type="text"] + select {margin-left:5px;}
.h-txtfield-inner > input + button {flex:none;}
.h-txtfield-inner > input[type="text"] {position:relative;}

.h-txtfield-srch {position:relative; display:flex; align-items: center;}
.h-txtfield-srch input[type="text"] {padding:0 40px 0 15px;}
/* .h-btn-close {position:absolute; top:50%; right:13px; width:20px; height:20px; transform:translateY(-50%); background:url(../images/icon_sm_close_gray.png);} */



.labelArea {position:relative; padding-left:10px; margin-bottom:6px; font-size:var(--text-subtitle6); color:var(--black-2);}
.labelArea:before {content:''; position:absolute; top:5px; left:3px; width:2px; height:2px; background:var(--black-2);}
.labelArea > .h-txt-orange {margin-left:3px;}

/* 간격 */
/* .labelArea + input[type="text"], .labelArea + .h-txtfield-inner, .labelArea + .h-txtfield-wrap, .labelArea + select, .labelArea + textarea.h-txtfield-basic .labelArea + .h-radio-02{margin-top:6px;} */


/* 기본정보 */
.imgAdd {overflow:hidden; position:relative; width:130px; height:153px; padding: 10px; margin:0 auto; box-sizing: border-box;}
.imgAdd a.imgnone {display:flex; justify-content: center; align-items: center; flex-direction: column; width:110px; height:133px; background-color:#fff; color:var(--black-6); font-size:var(--text-subtitle5); border-radius: 4px;}
.imgAdd a.imgnone:before {content:''; display:inline-block; margin-bottom:7px; background:url('../images/mobile/m_icon_outline_plus_gray.png') no-repeat; width:18px; height:18px;}
.imgAdd .imgbox {overflow:hidden; width: 110px; height: 133px; border-radius: 4px;}
.imgAdd .imgbox img {max-width:100%;}
.imgAdd .remove {position:absolute; top:0; right:0;}
.imgAdd .imgChg {position: absolute; bottom: 10px; width: calc(100% - 20px); height: 30px; background: #00000080; color: #fff; font-size: var(--text-subtitle5); font-weight: var(--text-regular); text-align: center; border-radius: 0 0 4px 4px;}


/* 사각형 버튼 여러개 나열 */
.h-radio-02.squareBtn {margin-left:5px;}
.h-radio-02.squareBtn input[type="radio"] + label { display:inline-block; width:100%; height:45px; line-height:44px; border:1px solid var(--border-basic-2); font-size:var(--text-subtitle4); margin:0; padding:0 19px; margin-left:-5px; box-sizing:border-box; min-width:70px; text-align:center; position:relative; overflow:hidden; transition: all 0.5s; background:#fff; }
.h-radio-02.squareBtn input[type="radio"] + label:before { content:""; position:absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.1; background:var(--blue-3); border-radius: 100%; -webkit-transform: scale(0); transform: scale(0); -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.h-radio-02.squareBtn input[type="radio"]:checked + label { border-color:var(--cyan); background:var(--cyan); color: #fff; font-weight: var(--text-medium); }
.h-radio-02.squareBtn input[type="radio"]:checked + label +input + label { border-left-color:var(--cyan); }
.h-radio-02.squareBtn input[type="radio"]:disabled + label { background:var(--border-basic-4); }

.squareBtns-col5 .h-radio-02.squareBtn {display: flex; flex-wrap: wrap;}
.squareBtns-col5 .h-radio-02.squareBtn input[type="radio"] + label {width:40%; flex-basis: 30%; flex-grow: 10;}
.squareBtns-col5 .h-radio-02.squareBtn input[type="radio"] + label:nth-child(n+8) {margin-top:-1px;}
.squareBtns-col5 .h-radio-02 input[type="radio"] + label:first-of-type {border-radius: 4px 0 0 0;}
.squareBtns-col5 .h-radio-02 input[type="radio"] + label:last-of-type {border-radius: 0 0 4px 0;}
.squareBtns-col5 .h-radio-02 input[type="radio"] + label:nth-child(6) {border-radius: 0 4px 0 0;}
.squareBtns-col5 .h-radio-02 input[type="radio"] + label:nth-child(8) {border-radius: 0 0 0 4px;}


.h-txtfield-wrap.time {display: flex; justify-content: space-between; align-items: center;}
.h-txtfield-wrap.time select {width:calc(100% / 2 - 10px);}
.h-txtfield-wrap.time select + select {margin-left:0;}

/* 휴대폰번호 인증 */
/* .passcode-inner {position:relative;}
.passcode-inner > input[type="text"] {padding:0 60px 0 20px;}
.passcode-inner .rsultTxt {position:absolute; top: 15px; right: 15px; font-size:var(--text-subtitle6); font-weight:var(--text-regular);} */


/* 학력사항 공통 타이틀 fs17 */
/* .resume-btit {font-size:17px; font-weight:var(--text-bold); color:var(--black-2);} */

/* 학점계산기 버튼 */
.roundBtn50 {height:42px; padding:0 20px; border:1px solid var(--border-basic-2); border-radius: 50px; background:#fff; font-size:var(--text-subtitle4); color:var(--black-2); font-weight:var(--text-regular);}

/* 툴팁 버튼 */
.tooltipBtn {background:url('../images/mobile/m_icon_qmark.png') no-repeat; width:20px; height:20px;}

/* 그림자 스타일 input[type="text"] */
.h-txtfield-shadow {border-color:var(--grey-3)!important; box-shadow: 0px 5px 10px #0000001A;}

/* 항목추가 라인 */
.lineadd-wrap {border-top:2px solid var(--border-basic-3);}

/* input[type="text"]에 돋보기 */
.searchBtn-wrap {position:relative;}
.searchBtn-wrap .h-m-searchBtn {position:absolute; top:50%; right:15px; transform: translateY(-50%); background:url('../images/mobile/m_icon_sm_search.png') no-repeat; width:21px; height:21px;}
.searchBtn-wrap > input[type="text"] {padding:0 40px 0 15px;}

/* 자동완성 키워드 */
/* .keyword-Srch-Wrap {margin-top:0;} */