@charset "utf-8";

.m-hunjang-wrap input[type="text"]::placeholder {font-size:var(--text-subtitle4); }
.min-wd100px {min-width:100px;}
.min-wd105px {min-width:105px;}

.flex-none {flex:none;}

.h-line-hgt18 {line-height: 18px!important;}
.h-line-hgt20 {line-height: 20px!important;}

.h-button-underline.h-fs12 {font-size:var(--text-subtitle6); padding:0; margin:0;}
.m-hunjang-wrap textarea.h-txtfield-basic {resize: none;}



/* =================== 이력서 등록 완료 ================== */

/* 이력서 등록 네비 (슬라이드 X)*/
.resumeReg-nav {display:flex; justify-content: space-around; width:100%;}
.resumeReg-nav li {display:flex; align-items: center; /*width: calc(100% / 6);*/ justify-content: center;}
.resumeReg-nav li a {position:relative; padding:15px 3px; font-size:var(--text-subtitle3);}
.resumeReg-nav li.active a:after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background: var(--blue-3);}
.resumeReg-nav li.active a {font-weight: var(--text-medium); color:var(--blue-3);}

/* 이력서 등록 네비 (슬라이드 X)*/
/* .resumeReg-slide-nav {display:flex; justify-content: space-around; width:100%;} */
/* .resumeReg-slide-nav {padding:0 20px;} */
.resumeReg-slide-nav {background:var(--neutral-3);}
.resumeReg-slide-nav .swiper-slide {display:flex; align-items: center; width:auto; justify-content: center; margin-left:20px;}
.resumeReg-slide-nav .swiper-slide a {position:relative; padding:15px 5px; font-size:var(--text-subtitle3);}
.resumeReg-slide-nav .swiper-slide-active a:after {content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background: var(--blue-3);}
.resumeReg-slide-nav .swiper-slide-active a {font-weight: var(--text-medium); color:var(--blue-3);}

/* 이력서 제목 입력 추천 */
.resume-title {position:relative;}
.resume-title .h-txtfield-basic {padding:18px 20px!important; height:auto!important; border:2px solid var(--border-basic-1)!important; box-shadow: 0px 5px 10px #0000001A; }
.resume-title .my-resume-listBtn {position:absolute; right:37px; padding:20px 0; color:var(--grey-3); font-size:var(--text-subtitle5);}
.resume-title .my-resume-listBtn:after {content: ''; position: absolute; top: 25px; margin-left: 7px; width: 0px; height: 0px; border-top: 6px solid #666666; border-left: 6px solid transparent; border-right: 6px solid transparent;}
.resume-title .my-resume-listBtn.on:after {transform: rotate( 180deg );}

/* .my-resume-list {display:none;} */
.my-resume-list { position: absolute; top: 54px; left: 0; margin-top:5px; width: 100%; max-height: 300px; overflow-y: scroll; background:#fff; border:2px solid var(--grey-3); border-radius:4px; box-shadow:0px 5px 10px #0000001A; box-sizing: border-box; z-index: 1; } 
.my-resume-list ul { padding-top: 10px; } 
.my-resume-list ul li { font-size:16px; padding: 11px 28px; transition:background 0.5s; } 
.my-resume-list ul li + li {border-top:1px solid var(--neutral-2);}
.my-resume-list ul li:before { content:"\b7"; display: inline-block; } 
.my-resume-list ul li .rsmTit { display: inline-block; /*max-width: 100%;*/ width:calc(100% - 10px); white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; } 
.my-resume-list ul li span { font-size:12px; } 
.my-resume-list::-webkit-scrollbar { width:8px; } 
.my-resume-list::-webkit-scrollbar-track { background:transparent; } 
.my-resume-list::-webkit-scrollbar-thumb { background:#E1E1E1; } 

/* 필수입력 값 스타일 */
.requiredTxt {font-size:var(--text-subtitle6); color:var(--black-3);}
.h-resume-title {margin-bottom:10px; font-size:17px; font-weight:var(--text-bold);}
.h-resume-title .h-txt-pit {font-size:var(--text-subtitle4); color:var(--blue-3); font-weight:var(--text-medium);}
.h-resume-co {font-size:var(--text-subtitle5); color:var(--black-3); line-height:18px;}

/* input[type="text"]에 입력이 들어가면 hidden */
.h-textfield {position:relative; }
.h-textfield .placehoder-hidden {position:absolute; left:20px; font-size:var(--text-subtitle3); color:var(--black-6); font-weight:var(--text-regular);}
.h-textfield .placehoder-hidden .h-txt-orange {margin-left:3px; font-size:var(--text-subtitle6);}

/* 이력서 등록 폼 공통 */
.squareBtn + .basic-box {margin-top:15px;}
.basic-box {position:relative; padding:20px; background:#fff; border-radius:10px; box-sizing: border-box;}
.basic-box + .basic-box {margin-top:15px!important;}
.basic-box + .h-button-ml.h-button-teal {margin:15px 0 0;}
.h-button-ml.h-button-teal + .basic-box {margin:15px 0 0;}
.basic-box-inner {position:relative;}


/* 등록 완료 */
.basic-list-box {position:relative; margin-top:10px; padding:15px 25px 15px 15px; background:var(--neutral-3); border-radius:4px; box-sizing:border-box;}
/* .basic-list-box:first-child {margin-top:20px;} */
.basic-list-box + .circle-plusBtn {margin-top:10px;}
.circle-plusBtn + .basic-list-box {margin-top:20px;}
.basic-list-box .btit {font-size:var(--text-subtitle3); font-weight:var(--text-bold); color:var(--black-2);}
.basic-list-box .areatit {font-size:var(--text-subtitle5); color:var(--black-3);}
.basic-list-box .stit {margin-top:6px; font-size:var(--text-subtitle6); color:var(--black-3);}

.basic-list-box .list-item {display:flex; flex-direction: column;}
.basic-list-box .list-item li {position:relative; display:flex; margin-top:10px; padding-left:10px;}
.basic-list-box .list-item li:before {content:''; position:absolute; top:6px; left:5px; width:1px; height:1px; background:#aeaeaf;}
.basic-list-box .list-item li .tit {min-width:70px; color:var(--black-5); font-size:var(--text-subtitle6);}
.basic-list-box .list-item li .tit-co {color:var(--black-2); font-size:var(--text-subtitle5);}
.basic-list-box .list-item .list-item-inner li {flex-direction: column; padding-left:0; margin-top:0; line-height:18px;}
.basic-list-box .list-item .list-item-inner li:before {display:none;}
.basic-list-box .list-item .list-item-inner li + li {margin-top:10px;}

.basic-list-box .skill-item {display:flex; margin-top:15px; margin-bottom:20px;}
.basic-list-box .skill-item li {position:relative; display:flex; flex-direction: column; width: calc(100% / 3); text-align: center;}
.basic-list-box .skill-item li + li:after {content:''; position:absolute; top:0; left:0; width:2px; height:36px; background:#eaeef4;}
.basic-list-box .skill-item li .tit {font-size:var(--text-subtitle6); color:var(--black-5);}
.basic-list-box .skill-item li .grade {margin-top:5px; font-size:var(--text-subtitle3); color:var(--black-2); font-weight:var(--text-bold);}

.basic-list-box .file-item {position:relative;}
.basic-list-box .file-item .h-button-underline {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; margin-right: -10px; margin-left:0; padding:0; font-weight:var(--text-medium); font-size:var(--text-subtitle5);}
.basic-list-box .file-item .file-info {display:flex;}
.basic-list-box .file-item .file-info p {font-size:11px;}
.basic-list-box .file-item .file-info p + p {margin-left:15px;}
.basic-list-box .file-item .remove {position:absolute; top: -5px; right: -15px;}

.basic-list-box .doc-item .doc-tit {font-size:var(--text-subtitle3); font-weight:var(--text-medium); color:var(--black-2);}
.basic-list-box .doc-item .doc-co {margin-top:10px; color:var(--black-2);}

.basic-list-box .special-item .tit-co {margin-top:10px; font-size:var(--text-subtitle5);}
.basic-list-box .special-item li + li {margin-top:15px;}

.col-block {flex-direction: column;}
.col-block .tit-co {margin-top:5px; line-height:18px;}
.col-block .tit-co + .tit-co {margin-top:0;}


/* 시강영상 */
.mv-thumbox {overflow: hidden; position:relative; /*margin-top:25px;*/ margin-bottom:10px; width:100%; /*height:165px;*/ border-radius: 10px; font-size: 0; background:var(--neutral-2);}
.mv-thumbox img {width:100%;}
.mv-thumbox .dotmoreBtn:after {background:url('../images/mobile/m_icon_dot_white.png') no-repeat center;}
.mv-thumbox:not(img) {height:165px;}

.mv-thumbox .h-progress-wrap {display: flex; align-items: center; height: 100%; width: 50%; margin: 0 auto;}
.mv-thumbox .h-progress-wrap .h-progress .h-progress-bar-inner {height:10px;}
.mv-thumbox .h-progress-wrap .h-progress .h-progress-bar-inner .h-progress-bar {background-color:var(--blue-3);}




/* 텍스트 블릿 */
.h-txtbox-3 {display: inline-flex; justify-content: center; align-items: center; min-width:41px; padding:4px 10px; height: 22px; font-size:var(--text-subtitle6); font-weight: var(--text-medium); color: #fff; line-height: normal; border-radius: 80px; box-sizing: border-box;}
.h-txtbox-3.option-gray{background:var(--grey-1);}
.h-txtbox-3 + .btit {margin-left:7px;}


/* 기본정보 프로필 사진 */
.basic-info {position:relative; /*display:flex;*/ padding-top:20px; border-top:1px solid var(--neutral-2); box-sizing:border-box;}
.basic-info .imgbox {overflow:hidden; position: absolute; top: 20px; left: 0; /*margin-right:20px;*/ width:83px; height:100px; border-radius:4px;}
.basic-info .imgbox img {position: absolute; top: -9999px; bottom: -9999px; left: -9999px; right: -9999px; margin: auto; min-height: 100%; min-width: 100%; max-width: 100%;}
.basic-info .info-txt {display: flex; flex-direction: column; justify-content: center; margin-left:103px; height: 100px;}
.basic-info .info-txt .name {margin-bottom:5px; font-size:var(--text-subtitle2); color:var(--black-2); font-weight:var(--text-medium);}
.basic-info .info-txt .age {margin-bottom:16px; color:var(--black-3); font-size:var(--text-subtitle5); font-weight:var(--text-regular);}
.basic-info .info-txt .txt {margin-bottom:5px; color:var(--black-3); font-size:var(--text-subtitle6); font-weight:var(--text-regular);}
.basic-info .info-txt .time {font-size:var(--text-subtitle4); color:var(--black-2); font-weight:var(--text-medium);}

/* 글수정 버튼 */
.editBtn {position:absolute; top:20px; right:0;}

/* 더보기 버튼 */
.dotmoreBtn {position:absolute; top:10px; right:8px; width:21px;height:21px;}
.dotmoreBtn:after {content:''; display:inline-block; background:url('../images/mobile/m_icon_dot.png') no-repeat center; width:21px; height:21px;}

/* 학력사항 버튼 */
.circle-plusBtn + .circle-plusBtn {margin-top:5px;} 
.circle-plusBtn {display:flex; align-items: center; padding:15px; width:100%; height:46px; border:1px solid var(--border-basic-2); border-radius:4px; text-align:left; font-size:var(--text-subtitle4); color:var(--black-2); box-sizing:border-box; background:#fff;}
.circle-plusBtn:before {content:''; display:inline-block; margin-right:10px; background:url('../images/icon_plus_outline.png'); width:18px; height:18px;}

.outlineBtn-wrap .h-checkbox.checkbox02 + .h-checkbox.checkbox02 {margin-top:5px;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"]:checked + label:after, .icon-outlineChk .h-checkbox.checkbox02 input[type="radio"]:checked + label:after {display: none;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"] + label:hover:after, .icon-outlineChk .h-checkbox.checkbox02 input[type="radio"] + label:hover:after {display: none;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"] + label span {color:var(--black-2); font-size:var(--text-subtitle4);}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"]:checked + label span {color:var(--blue-3); font-weight:var(--text-medium);}
.outlineBtn-wrap .h-checkbox.checkbox02 .material-icons {font-size:21px;}
.outlineBtn-wrap .h-checkbox.checkbox02 {display:block; margin:0;}
.outlineBtn-wrap .h-checkbox.checkbox02 i {margin:-2px 10px 0 0;}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"] + label {display:flex; align-items: center; width:100%; height: 46px; padding: 0 15px; border:1px solid var(--border-basic-3); border-radius:4px; box-sizing:border-box; color:var(--grey-1);}
.outlineBtn-wrap .h-checkbox.checkbox02 input[type="checkbox"]:checked+ label {border:1px solid var(--blue-3); color:var(--blue-3);}

.outlineBtn-wrap.alRight .h-checkbox.checkbox02 input[type="checkbox"] + label {justify-content: space-between;}
.outlineBtn-wrap.alRight .h-checkbox.checkbox02 input[type="checkbox"] + label span {display: flex; align-items: center; font-size:var(--text-subtitle3);}
.outlineBtn-wrap.alRight .h-checkbox.checkbox02 input[type="checkbox"] + label span img {margin-right:9px;}

/* 사각형 플러스버튼 한줄에 두개 */
.outlineBtn-wrap.calc2 {display: flex; justify-content: space-between;}
.outlineBtn-wrap.calc2 .circle-plusBtn {width:calc(100% / 2 - 5px); margin:0;}

/* 사각형 버튼 한줄에 여러개 */
.h-radio-02.squareBtn {margin-left:5px;}
.h-radio-02.squareBtn input[type="radio"] + label { display:inline-block; width:100%; height:45px; line-height:44px; border:1px solid var(--border-basic-2); font-size:var(--text-subtitle4); margin:0; padding:0 19px; margin-left:-5px; box-sizing:border-box; min-width:70px; text-align:center; position:relative; overflow:hidden; transition: all 0.5s; background:#fff; }
.h-radio-02.squareBtn input[type="radio"] + label:before { content:""; position:absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.1; background:var(--blue-3); border-radius: 100%; -webkit-transform: scale(0); transform: scale(0); -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.h-radio-02.squareBtn input[type="radio"]:checked + label { border-color:var(--cyan); background:var(--cyan); color: #fff; font-weight: var(--text-medium); }
.h-radio-02.squareBtn input[type="radio"]:checked + label +input + label { border-left-color:var(--cyan); }
.h-radio-02.squareBtn input[type="radio"]:disabled + label { background:var(--border-basic-4); }

/* 사격형 버튼 딱맞게 떨어지는 스타일 */
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"] + label { display:inline-block; width:100%; height:45px; line-height:44px; border:1px solid var(--border-basic-2); font-size:var(--text-subtitle4); margin:0; padding:0 5px; margin-left:-1px; box-sizing:border-box; min-width:70px; text-align:center; position:relative; overflow:hidden; transition: all 0.5s; background:#fff; }
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"] + label:before { content:""; position:absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.1; background:var(--blue-3); border-radius: 100%; -webkit-transform: scale(0); transform: scale(0); -webkit-transition-property: transform; transition-property: transform; -webkit-transition-duration: 0.5s; transition-duration: 0.5s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"]:checked + label { border-color:#1ca3b8; background:var(--cyan); color: #fff; font-weight: var(--text-medium); }
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"]:checked + label +input + label { border-left-color:#1ca3b8; }
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"]:disabled + label { background:var(--border-basic-4); }

.flex-basis-even .h-checkbox.checkbox06 {display:flex; flex-wrap: wrap; margin:0; /*width:100%; margin:0 0 20px 0; border:1px solid var(--border-basic-2); border-radius:4px; box-sizing: border-box;*/}
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"] + label {/*width: 40%;*/ flex-basis: 30%; flex-grow: 1;}
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"] + label:nth-child(n+8) {margin-top:-1px;}

.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"] + label:first-of-type {border-radius: 4px 0 0 0;}
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"] + label:last-of-type {border-radius: 0 0 4px 0;}
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"] + label:nth-child(6) {border-radius: 0 4px 0 0;}
.flex-basis-even .h-checkbox.checkbox06 input[type="checkbox"] + label:nth-child(8) {border-radius: 0 0 0 4px;}

.flex-basis-even .h-radio-02.squareBtn {display: flex; flex-wrap: wrap;}
.flex-basis-even .h-radio-02.squareBtn input[type="radio"] + label {/*width:40%;*/ flex-basis: 30%; flex-grow: 1;}
.flex-basis-even .h-radio-02.squareBtn input[type="radio"] + label:nth-child(n+8) {margin-top:-1px;}

.flex-basis-even .h-radio-02 input[type="radio"] + label:first-of-type {border-radius: 4px 0 0 0;}
.flex-basis-even .h-radio-02 input[type="radio"] + label:last-of-type {border-radius: 0 0 4px 0;}
.flex-basis-even .h-radio-02 input[type="radio"] + label:nth-child(6) {border-radius: 0 4px 0 0;}
.flex-basis-even .h-radio-02 input[type="radio"] + label:nth-child(8) {border-radius: 0 0 0 4px;}

/* 사격형 버튼 안맞게 떨어지는 스타일 */
.flex-basis-even.fl-wd33 .h-checkbox.checkbox06 input[type="checkbox"] + label {flex-basis:33.33%; flex-grow:0;}
.flex-basis-even.fl-wd50 .h-checkbox.checkbox06 input[type="checkbox"] + label {flex-basis:50%; flex-grow:0;}
.flex-basis-even.fl-wd50 .h-checkbox.checkbox06 input[type="checkbox"] + label:nth-child(6) {border-radius: 0 0 0 4px;}
.flex-basis-even.fl-wd50 .h-checkbox.checkbox06 input[type="checkbox"] + label:nth-child(8) {border-radius: 0 0 4px 0;}
.flex-basis-even.fl-wd50 .h-checkbox.checkbox06 input[type="checkbox"] + label:nth-child(n+6) {margin-top:-1px;}
.flex-basis-even.fl-wd50 .h-checkbox.checkbox06 input[type="checkbox"] + label:nth-child(4) {border-radius: 0 4px 0 0;}







/* =================== 이력서 등록 ================== */
.resume-regList > li + li {margin-top:25px;}
.resume-regList > li + li.basic-box {margin-top:15px;}
.resume-regList .h-checkbox.checkbox01 {margin:10px 0 0;}

.h-txtfield-inner {position:relative; display:flex; align-items: center;}
.h-txtfield-inner + .h-txtfield-inner {margin-top:5px;}
.h-txtfield-inner > input[type="text"] + select {margin-left:5px;}
.h-txtfield-inner > input + button {flex:none;}
.h-txtfield-inner > input[type="text"] {position:relative;}
/* .h-txtfield-inner > select {min-width:100px;} */

.h-txtfield-srch {position:relative; display:flex; align-items: center;}
.h-txtfield-srch input[type="text"] {padding:0 40px 0 15px;}
/* .h-btn-close {position:absolute; top:50%; right:13px; width:20px; height:20px; transform:translateY(-50%); background:url(../images/icon_sm_close_gray.png);} */


.labelArea {position:relative; padding-left:10px; margin-bottom:6px; font-size:var(--text-subtitle6); color:var(--black-2); font-weight:var(--text-medium);}
.labelArea:before {content:''; position:absolute; top:5px; left:3px; width:2px; height:2px; background:var(--black-2);}
.labelArea > .h-txt-orange {margin-left:3px;}

/* 간격 */
/* .labelArea + input[type="text"], .labelArea + .h-txtfield-inner, .labelArea + .h-txtfield-wrap, .labelArea + select, .labelArea + textarea.h-txtfield-basic .labelArea + .h-radio-02{margin-top:6px;} */


/* 기본정보 */
.imgAdd {overflow:hidden; position:relative; width:130px; height:153px; padding: 10px; margin:0 auto; box-sizing: border-box;}
.imgAdd a.imgnone {display:flex; justify-content: center; align-items: center; flex-direction: column; width:110px; height:133px; background-color:#fff; color:var(--black-6); font-size:var(--text-subtitle5); border-radius: 4px;}
.imgAdd a.imgnone:before {content:''; display:inline-block; margin-bottom:7px; background:url('../images/mobile/m_icon_outline_plus_gray.png') no-repeat; width:18px; height:18px;}
.imgAdd .imgbox {overflow:hidden; width: 110px; height: 133px; border-radius: 4px;}
.imgAdd .imgbox img {max-width:100%;}
.imgAdd .remove {position:absolute; top:0; right:0;}
.imgAdd .imgChg {position: absolute; bottom: 10px; width: calc(100% - 20px); height: 30px; background: #00000080; color: #fff; font-size: var(--text-subtitle5); font-weight: var(--text-regular); text-align: center; border-radius: 0 0 4px 4px;}

.h-txtfield-wrap.time {display: flex; justify-content: space-between; align-items: center;}
.h-txtfield-wrap.time select {width:calc(100% / 2 - 10px);}
.h-txtfield-wrap.time select + select {margin-left:0;}

/* 휴대폰번호 인증 */
/* .passcode-inner {position:relative;}
.passcode-inner > input[type="text"] {padding:0 60px 0 20px;}
.passcode-inner .rsultTxt {position:absolute; top: 15px; right: 15px; font-size:var(--text-subtitle6); font-weight:var(--text-regular);} */


/* 학력사항 공통 타이틀 fs17 */
/* .resume-btit {font-size:17px; font-weight:var(--text-bold); color:var(--black-2);} */

/* 학점계산기 버튼 */
.roundBtn50 {height:42px; padding:0 20px; border:1px solid var(--border-basic-2); border-radius: 50px; background:#fff; font-size:var(--text-subtitle4); color:var(--black-2); font-weight:var(--text-regular);}

/* 툴팁 버튼 */
/* .tooltipBtn {background:url('../images/mobile/m_icon_qmark.png') no-repeat; width:20px; height:20px;} */
.h-btn-question {width: 20px; height: 20px; border-radius: 100%; border: 1px solid #cdd2d8; margin: 0 7px; background: #fff; font-size:12px;}
.h-btn-question:hover {cursor: pointer;}

/* 그림자 스타일 input[type="text"] */
.h-txtfield-shadow {border-color:var(--grey-3)!important; box-shadow: 0px 5px 10px #0000001A;}

/* 항목추가 라인 */
.lineadd-wrap {border-top:1px solid var(--border-basic-3);}
.lineadd-wrap .circle-plusBtn.on {}
.circle-plusBtn.on {border:1px solid var(--blue-3); color:var(--blue-3);}
.circle-plusBtn.on:before {background:url('../images/mobile/icon_minus_outline_blue.png');}

/* input[type="text"]에 돋보기 */
.searchBtn-wrap {position:relative;}
.searchBtn-wrap .h-m-searchBtn {position:absolute; top:50%; right:15px; transform: translateY(-50%); background:url('../images/mobile/m_icon_sm_search.png') no-repeat; width:21px; height:21px;}
.searchBtn-wrap > input[type="text"] {padding:0 40px 0 15px;}

/* 툴팁 팝업 */
.h-m-popup.popup-04 { position:absolute; padding: 20px; border: 1px solid var(--grey-3); border-radius: 2px; box-sizing: border-box; min-height: auto; max-height: none; box-shadow: 0px 5px 10px #0000001A; background:#fff; z-index:2;} 
.h-m-popup.popup-04 .pop-body { height: 100%; overflow: visible; } 
.h-m-popup.popup-04 .pop-container { height: 100%; overflow: visible; padding:0;} 
.h-m-popup.popup-04 .pop-title { font-size:var(--text-subtitle3); font-weight:var(--text-bold);} 
.h-m-popup.popup-04 select { height:46px; } 
.h-m-popup.popup-04 .h-checkbox { margin:0; } 
.h-m-popup.popup-04 .h-checkbox.checkbox01 input[type="checkbox"] + label { font-size:var(--text-subtitle4); } 
.h-m-popup.popup-04 button.close {background:url(../images/close_btn.svg) no-repeat; width:14px; height:14px;}
.h-m-popup .blt-dottxt {position:relative;}
.h-m-popup .blt-dottxt:before {content:'ㆍ'; position:absolute; top:0; left:-10px;}

/* 인풋 - 키워드 자동입력 박스 (학교검색/ 자격증검색 등) */
.keyword-Srch-Wrap { display:none; width: 100%; border: 1px solid var(--grey-3); border-radius: 4px; /*margin-top: 5px;*/ overflow: hidden; position: absolute; z-index: 1; background: #fff; top: 54px; box-sizing: border-box; } 
.keyword-Srch-Wrap.on { display:inline-block; } 
.keyword-Srch-Wrap .srchKeyword { color: var(--blue-3); } 
.keyword-Srch-Wrap>ul { height: 187px; padding-top:10px; overflow-y: scroll; } 
.keyword-Srch-Wrap>ul>li { font-size:15px; color:var(--black-2); padding: 9px 19px; } 
.keyword-Srch-Wrap>ul>li.no-data { text-align:center; display: flex; flex-direction: column; align-items: center; width: 100%; box-sizing: border-box; padding: 74px 0; background: #fff !important; } 
.keyword-Srch-Wrap>ul>li.no-data b { width:100%; font-weight: var(--text-medium); font-size:var(--text-subtitle4);} 
.keyword-Srch-Wrap>ul>li.no-data span { width:100%; color: var(--black-3); margin-top:5px; font-size:var(--text-subtitle5);} 
.keyword-Srch-Wrap>ul>li:hover { background: var(--neutral-3); } 
.keyword-Srch-Wrap .directInput { background: var(--neutral-3); border-top: 1px solid var(--border-basic-4); text-align: center; } 
.keyword-Srch-Wrap .directInput button { font-size:var(--text-subtitle4); color: var(--black-2); width: 100%; padding: 17px 5px; } 
.keyword-Srch-Wrap .directInput button span { } 
.keyword-Srch-Wrap .directInput button:after { content: ""; display: inline-block; width: 5px; height: 5px; border: 1px solid var(--grey-3); transform: rotate(45deg); border-width: 1px 1px 0 0; vertical-align: middle; margin-top: -1px; margin-left: 4px; } 

/* 키워드 지우기 */
.keyword-delwrap {width:100%; position:relative;}
.keyword-delwrap > input[type="text"] {padding:0 40px 0 15px;}
.keyword-del {position:absolute; top:13px; right:13px; background:url(../images/icon_sm_close_gray.png) no-repeat; width:20px; height:20px;}
.keyword-del-squared {flex:none; background:url(../images/mobile/m_icon_close_squared_gray.png) no-repeat; width:22px; height:22px;}



/* 이력서 등록 컨텐츠 색깔, 간격 */
.content {padding:20px 20px 80px;}
.content.resume-regList-cont {/*padding:20px 20px 80px;*/ background:var(--neutral-3);}

.pt30 {padding-top:30px;}
.mr15 {margin-right:15px;}


/* 이력서등록_경력사항(강사전용) */
.resume-addbox .h-checkbox.checkbox01 > span + span {margin-left:15px;}
/* .resume-addbox .h-checkbox.checkbox01 > span {width:25%;} */
.resume-addbox .h-checkbox.checkbox01 {display: flex;}

.resume-addbox.gap10 .h-checkbox.checkbox01 {display: flex; flex-wrap: wrap; gap: 12px;}
.resume-addbox.gap10 .h-checkbox.checkbox01 > span + span {margin-left:0;}

/* 금액 입력 (숫자만) 만원 */
.pseudo-wrap input[type="text"] + .pseudo-txt {position:absolute; top:15px; right:15px; font-size:var(--text-subtitle4);}
.pseudo-wrap input[type="text"] {padding:0 45px 0 15px;}

/* 추가선택항목 디자인 */
.basic-box .addlist .tit {display:inline-block; min-width:60px; font-size:var(--text-subtitle4); color:var(--black-1);}
.basic-box .addlist .tit + select {width: calc(100% - 85px); margin-left: 20px;}
.basic-box .addlist li + li {margin-top:10px;}

/* 내용보기 화살표 버튼 */
.h-button-underline.arrowBtn {margin:0;font-weight:var(--text-regular);}
.h-button-underline.arrowBtn:after {content:''; display:inline-block; margin-left:10px; background:url('../images/mobile/m_arrow_down_gray.png') no-repeat; width:12px; height:6px;}


/* 스타일 가이드에 문법 잘못되어있는거 고치기*/
.h-radio-01 {padding:0;}
.h-radio-01 input[type="radio"] + * {text-indent:0 !important;}

.basic-box .h-radio-01 li + li {margin-left:10px;}

/* */
.blue-box {padding:20px; background:var(--neutral-2); border-radius:10px;}
.blue-box .btit {font-size:var(--text-subtitle3);}
.blue-box .stit {font-size:var(--text-subtitle6); line-height:16px; font-weight: var(--text-regular);}

/* 이력서등록_파일등록 */
.file-upload-wrap .guidetxt {margin: -20px -20px 0; padding:20px; background:var(--neutral-3); color:var(--black-3); font-size:var(--text-subtitle5); border-bottom: 1px solid var(--neutral-2);}
.file-upload-wrap button:not(.h-button-del) {padding:0 30px;}
/* .file-regList {margin:0 -20px; background:#fff;} */
.file-regList {margin:0 -20px 20px;}
.file-regList > li {position:relative; padding:20px; border-bottom: 1px solid var(--neutral-2);}
.file-regList li .h-checkbox {float:left;}
.file-regList li .tit-list {margin-left:40px; width:calc(100% - 60px);}
.file-regList li .tit-list p {margin-bottom:3px; font-size:var(--text-subtitle5); color:var(--black-2);}
.file-regList li .tit-list .h-button-underline {display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:97%; padding:0; margin:0; font-size:var(--text-subtitle5); font-weight:var(--text-medium);}
.file-regList li .h-button-del {position:absolute; right:20px; bottom:20px; margin:0; width:auto; height:auto;}
.file-regList li .h-button-icon:hover {background:none!important;}
.file-regList li.no-data {display: flex; flex-direction: column; align-items: center; justify-content: center; height:135px;}

.file-regList.blue-type {margin:0 0 20px;}
.file-regList.blue-type > li {padding:15px; border-bottom:0; background:var(--neutral-3); border-radius:10px;}
.file-regList.blue-type > li + li {margin-top:5px;}
.file-regList.blue-type .detail-info {display: flex; margin-top:10px;}
.file-regList.blue-type .detail-info li {font-size:11px;}
.file-regList.blue-type .detail-info li + li {margin-left:15px;}

/* 이력서 파일 업로드 영역1 */
.upload-box {display: flex; flex-direction: column; justify-content: center; align-items: center; width:100%; height:97px; background:var(--neutral-3); border:1px solid var(--border-basic-3); border-radius: 4px; box-sizing:border-box;}
.upload-box:before {content:''; display:inline-block; margin-bottom:10px; background:url('../images/mobile/m_icon_cloud.png') no-repeat; width:40px; height:31px;}

/* 이력서 파일 업로드 영역2 */
.upload-filebox {display: flex; flex-direction: column; justify-content: center; align-items: center; height:220px; border:1px solid var(--border-basic-3); border-radius:4px; background:#fff;}
.upload-filebox:before {content:''; display:inline-block; margin-bottom:15px; background:url('../images/mobile/m_icon_file_plus.png') no-repeat; width:50px; height:51px;}

/* 파일 업로드 중입니다 로딩 */
.loader-txt-wrap {position: absolute; display: flex; flex-direction: column; align-items: center; justify-content: center; padding:0 30px;/* position: fixed; */ top: 50%; left: 50%; transform: translate(-50%, -50%); width: 60%; height: 200px; background-color: #fff; border-radius: 10px; z-index: 999;}
.loader-txt-wrap .h-file-loader {width:50px; height:50px;}

/* pdf 미리보기 영역 */
.pdf-preview {width:100%; height:194px; border-radius:4px; border:1px solid var(--border-basic-3); box-sizing: border-box;}

/* 이력서 링크(URL) 업로드 영역 */
.upload-box.linkUrl:before {background:url('../images/mobile/m_icon_clip.png') no-repeat; width: 36px; height: 31px; background-size: cover;}

.h-txt-warn.text-subtitle6 {}
.h-txt-warn.text-subtitle6::before {font-size:20px;}

/* input[type="text"]안에 왼쪽에 txt있을 경우 */
.inptxt-inner {position:relative;}
.inptxt-inner .tit {position:absolute; left:20px; top:16px; min-width:70px; font-size:var(--text-subtitle6); color:var(--black-5);}
.inptxt-inner .tit + input[type="text"] {padding:15px 15px 15px 70px;}

.top-tit {padding-bottom:25px; margin-bottom:25px; border-bottom:1px solid var(--border-basic-2);}
.sub-tit .inptxt-inner {margin-top:20px;}
.sub-tit .h-resume-title {font-size:var(--text-subtitle3);}

/* 공개여부 설정 inner */
input[type="checkbox"] + label.label-intxt {display:none;}
input[type="checkbox"] + label.label-intxt .intxt {display:none;}
input[type="checkbox"]:checked + label.label-intxt {overflow: hidden; display: flex; flex-wrap: wrap; flex-direction: row; height:auto!important; padding: 15px 15px 0!important;}
input[type="checkbox"]:checked + label.label-intxt .intxt {display:block; width:100%; margin: 10px -15px 0; padding:15px; font-size:var(--text-subtitle6); color:var(--black-3); background:var(--neutral-3); text-align: left; line-height:16px; border-top:1px solid var(--neutral-2);}

/*  */
.h-bullet-01.text-subtitle6 li:after {top:7px;}
.h-bullet-01.text-subtitle6 {line-height:18px;}



/* 이력서 등록 목록 */
/* 이력서 등록 */
.resumebox { display: flex; flex-direction: column; } 
.resumebox .resumbtn { position:relative; border-radius: 10px; background-color: #fff; } 
.resumebox .resumbtn + .resumbtn {margin-top:15px;}
.resumebox .resumbtn a { display: inline-block; height: 100%; padding: 30px; box-sizing: border-box; } 
.resumebox .resumbtn a img {max-width:80px;}


@keyframes imgAni { 
 0% { opacity: 0; left: -10px; } 
 100% { opacity: 1; left: 40px; } 
 }

@keyframes imgAni-on { 
 0% { opacity: 0; } 
 100% { opacity: 1; right: 30px; } 
 }

.resumebox .resumbtn:hover .ico_arrow,
.resumebox .resumbtn:hover .ico_arrow:before { border-color:#fff; } 
.resumebox .resumbtn:hover .ico_arrow:after { background:#fff; } 

.resumebox .resumbtn .text-subtitle4 {margin-top: 20px;} 
.resumebox .resumbtn img {position: absolute; bottom: 20px; right: 30px;} 

.resumebox .resumbtn .ico_arrow { position:relative; margin:15px 0 20px; width:30px; height:30px; text-indent:-9999px; border-radius: 50%; border:2px solid #CCD1D7; } 
.resumebox .resumbtn .ico_arrow:before { content:''; width:7px; height:7px; position:absolute; left:15px; top:50%; border-left:2px solid #CCD1D7; border-top:2px solid #CCD1D7; transform:translate(-50%,-50%) rotate(135deg); } 
.resumebox .resumbtn .ico_arrow:after { content:''; width:14px; height:2px; position:absolute; right:5px; top:50%; transform:translateY(-50%); background:#CCD1D7 } 


/* 이력서 선택 팝업 */
.h-radio-01.img-radiobox .img-box {width:calc(100% - 105px);}
.h-radio-01.img-radiobox .img-box .text-subtitle5 {line-height:1.3em;}
.h-radio-01.img-radiobox .img-box img {position: absolute; top: 50%; right: 20px; transform: translateY(-50%);}
.h-radio-01.img-radiobox input[type="radio"]:checked + label {border-color:var(--cyan)}
.h-radio-01.img-radiobox input[type="radio"] + label {padding:20px; border-radius:10px; background:var(--neutral-3); border:1px solid transparent;}
.h-popup-wrap .h-radio-01.img-radiobox + .enterBtn {display: block; margin-top:10px!important; width: calc(100% - 10px); font-size:var(--text-subtitle4); font-weight:var(--text-medium);}


/* ================= 퀵자기소개서 ================= */
/* .selfIntro-cont {background:var(--neutral-3);} */
.selfIntro-cont .basic-box {background:var(--neutral-3);}
.selfIntro-cont .h-textarea-box textarea {margin-top:10px; height:550px!important; border-radius: 3px 3px 0 0!important;}

/* .letter-count {display:flex; justify-content: flex-end;} */
.letter-count {position: relative; margin-top: -1px; padding:15px 0; background:var(--neutral-2); border-radius: 0 0 3px 3px; border:1px solid var(--border-basic-2); z-index: 1;}
.letter-count li + li {position:relative; padding-left: 10px; margin-left: 10px;}
.letter-count li + li:after {content:''; position:absolute; top:0; left:0; width:1px; height:14px; background:var(--border-basic-4);}
.selfIntro-cont .basic-box .introTxt {overflow: hidden; position:relative; width:calc(100% - 12px); margin-top:12px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; word-wrap:break-word; line-height: 1.4em; height: 4.2em; font-size:var(--text-subtitle5); color:var(--h-txt-2);}
/* .selfIntro-cont .basic-box .introTxt:after {content:''; position:absolute; bottom:7px; right:0; } */
.selfIntro-cont .basic-box + .basic-box {margin-top:10px!important;}
.selfIntro-cont .moreBtn-arrow {margin-bottom:5px; background:url('../images/mobile/m_arrow_down_gray.png') no-repeat; width:12px; height:6px;}

/* 선택 체크박스 */
.selfIntro-cont .basic-box .h-checkbox.checkbox02 {margin:0;}
.selfIntro-cont .basic-box .h-checkbox.checkbox02 label {display:inline-block; position: absolute; top: 15px; right: 15px; width:64px; height:28px; line-height:28px; border:1px solid var(--border-basic-2); border-radius: 50px; font-size:var(--text-subtitle6); background:#fff;}
.selfIntro-cont .basic-box .h-checkbox.checkbox02 label i {margin:-5px 7px 0 0; width:14px; height:14px; font-size:var(--text-subtitle1); color:var(--grey-1);}
.selfIntro-cont .basic-box .h-checkbox.checkbox02 input[type="checkbox"]:checked + label {border-color:var(--blue-3);}
.selfIntro-cont .basic-box .h-checkbox.checkbox02 input[type="checkbox"]:checked + label i {color:var(--blue-3);}

.round50-btn {position: fixed; bottom: 80px;  right: 70px; margin: 0; padding:0 20px; border-radius:50px;}
.round50-btn:after {content:''; display:inline-block; margin-left:10px; background:url('../images/mobile/m_arrow_down_white.png') no-repeat; width:12px; height:6px;}


.selfIntro-cont .h-textarea-box.prv-toggle {position:fixed; width:100%; left:0; bottom:54px; z-index:1;}
.selfIntro-cont .h-textarea-box.prv-toggle textarea {height:215px!important; margin-top:0; border-radius: 0!important; border-top-color: #000!important; font-size:var(--text-subtitle4); line-height:20px; box-shadow: 5px 6px 6px 6px #0000000D;}
.selfIntro-cont .h-textarea-box.prv-toggle .letter-count {border-radius: 0!important;}

.h-btn-imark {background:url('../images/mobile/icon_important_mark.png') no-repeat; width:18px; height:18px;}
.h-btn-imark + .h-m-popup.popup-04 {border:2px solid var(--border-basic-1); border-radius: 2px;}

