@charset "utf-8";

/* 간격 */
.max-w100 {max-width:100% !important;}

.pdtb100 {padding-top:100px;padding-bottom:100px;}

/* tab puple color style */
.h-tab-Contents-beige { position:relative;width:100%;z-index:11;}
.h-tab-Contents-beige:after {display:block;content:"";width:100%;height:1px;background:#DCDCDC;box-shadow: 0px 5px 10px #0000000D;position:absolute;bottom:0;z-index:0;}
.h-tab-Contents-beige > li.tab-item a { display:block; width:100%; height:60px; line-height:60px;position:relative;z-index:1;background:#000; text-align:center; font-family: 'SUIT', sans-serif;font-size:var(--text-subtitle3); color:#fff; border:1px solid #000; box-sizing:border-box; margin-left:-1px; } 
.h-tab-Contents-beige > li.tab-item.active a { background:#e5d4cc; color: #000; border-color:#e5d4cc; }

/* vboard */
.content.vboard {padding:0;}
.content.vboard * {box-sizing:border-box;}
.pc-ver {max-width: 1000px;margin: 0 auto;}
.mo-ver {width: 100%;margin: 0 auto;}
.content.vboard .h-tab-Contents-beige > li.tab-item {width:calc(100% / 3);}
.tabCo-CommonBox {display: none;}
.tabCo-CommonBox.active {display: block;}

.tab01 video {width: 100%;max-width: 1000px;}
.tab01 .content01 {width: 100%;height: 1327px;background: url(../images/vboard/img_vboard_pc_01.png) no-repeat 50% 0;}
.tab01 .content0102 {padding: 270px 0 40px;background: #fff;}
.tab01 .content0102 .contentvideo0102 {text-align: center;}
.tab01 .content0102 .content010201 {width: 100%;max-width: 1000px;margin: 180px auto 0;}
.tab01 .content0102 .content010201 img {width: 100%;}
.tab01 .content0103 {padding: 0 0 270px;background: #fff;text-align: center;}
.tab01 .content0103 .border-box {width: 100%;max-width: 1000px;padding: 80px 0 80px;margin: 0 auto;border-width: 1px;border-style: solid none solid;border-color: #c1c1c1;}
.tab01 .content0103 .content010301 {padding: 70px 0 0;width: 100%;max-width: 1000px;margin: 0 auto;}
.tab01 .content0103 .content010301 img {width: 680px;}
.tab01 .content0103 .text010302 {padding-top: 200px;}
.tab01 .content0103 .content010302 {padding: 70px 0 0;width: 100%;max-width: 1000px;margin: 0 auto;}
.tab01 .content0103 .content010302 img {width: 680px;}
.tab01 .content0103 .text010303 {padding-top: 200px;}
.tab01 .content0103 .content010303 {padding: 70px 0 0;width: 100%;max-width: 1000px;margin: 0 auto;}
.tab01 .content0103 .content010303 img {width: 680px;}.tab01 .content0104 {padding: 0 0 190px;background: #fff;}
.tab01 .content0104 .content010401 {width: 100%;max-width: 1000px;margin: 0 auto;}
.tab01 .content0104 .content010401 img {width: 100%;}
.tab01 .content02 {padding: 55px 0;background: #f8f8f8;}
.tab01 .content03 {padding-bottom: 80px;}
.tab01 .content04 {background: #f8f4f2;text-align: center;}
.tab01 .content04 video {display: block;max-width: 1000px;width: 100%;max-height: 560px;height: 100%;margin: 0 auto;background: #000;}
.tab01 .content05 {padding: 180px 0 200px;}
.tab01 .content06 {padding: 130px 0 120px;background: #f1cfba;}
.tab01 .slide-content {position: relative;padding: 130px 0 120px;background: url(../images/vboard/bg_slide_content.png) repeat 50% 50%;}
.tab01 .slide-content .slide-tit {text-align: center;width: 100%;padding-bottom: 38px;}
.tab01 .slide-content .slide-tit img {max-width: 602px;width: 100%;}
.tab01 .slide-content .slide-content-inner {max-width: 820px;margin: 0 auto;position: relative;}
.tab01 .slide-content .slide-content-inner .vboard-slide {overflow:hidden;}
.tab01 .slide-content .swiper-button {width: 90px;height: 90px;position: absolute;top: 50%;transform: translateY(-50%);}
.tab01 .slide-content .swiper-button::after {display: block;content: '';width: 90px;height: 90px;}
.tab01 .slide-content .swiper-button-prev {left: -130px;}
.tab01 .slide-content .swiper-button-prev::after {background: url(../images/vboard/btn_prev.png) no-repeat 50% 50%;}
.tab01 .slide-content .swiper-button-next {right: -130px;}
.tab01 .slide-content .swiper-button-next::after {background: url(../images/vboard/btn_next.png) no-repeat 50% 50%;}
.tab01 .slide-content .swiper-pagination {width: 100%;bottom: -70px;left: 50%;transform: translate(-50%, 0);}
.tab01 .slide-content .swiper-pagination .swiper-pagination-bullet {width: 18px;height: 18px;margin: 0 9px;background-color: #ffffff;opacity: 1;}
.tab01 .slide-content .swiper-pagination .swiper-pagination-bullet-active {width: 18px;height: 18px;margin: 0 9px;background-color: #f16251;}
.tab01 .content0107 .content010701 {width: 100%;max-width: 1000px;padding: 0 0 315px;margin: 0 auto;}
.tab01 .content0107 .content010701 img {width:100%;}
.tab01 .content08 {padding: 175px 0 200px;background: #f8f4f2;}
.tab01 .content08 .content010801 {width: 100%;max-width: 1000px;margin: 0 auto;}
.tab01 .content08 .content010801 img {width: 100%;}

.tab02 {text-align: center;}
.tab02 .content0201 {background: #e5d5ce;}
.tab02 .content0201 > div {margin: 0 auto;width: 100%;max-width: 1000px;}
.tab02 .content0201 .text020101 {padding: 137px 0 60px;}
.tab02 .content0201 .text020102 {padding: 70px 0 160px;text-align: left;}
.tab02 .content0202 {background: #fff;}
.tab02 .content0202 > div {margin: 0 auto;width: 100%;max-width: 1000px;}
.tab02 .content0202 .text020201 {padding: 0 0 50px;}
.tab02 .content0202 .text020202 {padding: 70px 0 160px;}
.tab02 .content0203 {background: #f8f4f2;padding-bottom: 205px;}
.tab02 .content0203 > div {margin: 0 auto;width: 100%;max-width: 1000px;}
.tab02 .content0203 .text020301 {padding: 134px 0 70px;}
.tab02 video {display: block;max-width: 1000px;width: 100%;max-height: 560px;height: 100%;margin: 0 auto;background: #000;}
.tab02 .video0203 {display: block;max-width: 1000px;width: 100%;max-height: 560px;height: 100%;margin: 0 auto;background: #000;}
.tab02 .video0203 iframe {width: 100%;height: 560px;}

.tab03 .content0301 {padding-bottom: 105px;background: #e5d5ce;}
.customer-line {background: #121212;}
.customer-line .customer-tit {position: relative;max-width: 1000px;margin: 0 auto;}
.quick-btn {position: fixed;right: 0;bottom: 50%;z-index: 10;width: 312px;}

.content.vboard .inquiry-wrap {padding:100px 0;text-align:center;}
.content.vboard .inquiry-wrap .btn-inquiry {display: inline-block;height:100px;line-height:100px;background:#000;border-radius:50px;font-size:32px;color:#fff;text-align:center;}


@media screen and (min-width: 1000px) {
    .pc-ver {display: block;}
    .mo-ver {display: none;}
}
@media screen and (max-width: 999px) {
    .pc-ver {display: none;}
    .mo-ver {display: block;}
    .tab01 .content01 {height: auto;background: none;}
    .tab01 .content0102 {padding: 27vw 7.6vw 4vw;}
    .tab01 .content0102 .content010201 {margin: 18vw auto 0;}
    .tab01 .text010301 img {width: 60.6vw;}
    .tab01 .text010301-1 img {width: 46vw;}
    .tab01 .content0103 {padding: 0 7.6vw 27vw;}
    .tab01 .content0103 .border-box {padding: 8vw 0 8vw;}
    .tab01 .content0103 .content010301 {padding: 7vw 0 0;}
    .tab01 .content0103 .content010301 img {width: 68vw;}
    .tab01 .content0103 .text010302 {padding-top: 20vw;}
    .tab01 .content0103 .text010302 img {width: 35.4vw;}
    .tab01 .content0103 .content010302 {padding: 7vw 0 0;}
    .tab01 .content0103 .content010302 img {width: 68vw;}
    .tab01 .content0103 .text010303 {padding-top: 20vw;}
    .tab01 .content0103 .text010303 img {width: 36.5vw;}
    .tab01 .content0103 .content010303 {padding: 7vw 0 0;}
    .tab01 .content0103 .content010303 img {width: 68vw;}
    .tab01 .content0104 {padding: 0 7.6vw 19vw;}
    .tab01 .content0107 .content010701 {padding: 0 7.6vw 31.5vw;}
    .tab01 .content06 {padding: 0;}
    .tab01 .content08 {padding: 17.5vw 7.6vw 20vw;}
    .tab01 .slide-content {padding: 105px 73px 136px;}
    .tab01 .slide-content .swiper-button {width: 45px;height: 45px;}
    .tab01 .slide-content .swiper-button:after {background-size: 100%;width: 45px;height: 45px;}
    .tab01 .slide-content .swiper-button-prev {left: -55px;}
    .tab01 .slide-content .swiper-button-next {right: -55px;}
    .tab02 .content0201 {padding: 0 7.6vw;}
    .tab02 .content0201 .text020101 {padding: 13.7vw 0 6vw;}
    .tab02 .content0201 .text020101 img {width: 28.9vw;}
    .tab02 .content0201 .text020102 {padding: 7vw 0 16vw;}
    .tab02 .content0201 .text020102 img {width:100%;}
    .tab02 .content0202 {padding: 0 7.6vw;background: #fff;}
    .tab02 .content0202 .text020201 {padding: 0 0 5vw;}
    .tab02 .content0202 .text020201 img {width: 28.9vw;}
    .tab02 .content0202 .text020202 {padding: 7vw 0 0;}
    .tab02 .content0202 .text020202 img {width:100%;}
    .tab02 .content0203 {background: #f8f4f2;padding: 0 7.6vw 20.5vw;}
    .tab02 .content0203 .text020301 {padding: 13.4vw 0 7vw;}
    .tab02 .content0203 .text020301 img {width: 36vw;}
    .tab02 .video0203 {max-height: 56vw;}
    .tab02 .video0203 iframe {height: 56vw;}
    .tab03 .content0301 {padding: 0 10vw 10.5vw;}
    .content.vboard .inquiry-wrap {padding:80px 20px;}
    .content.vboard .inquiry-wrap .btn-inquiry {height:50px;line-height:50px;font-size:18px;border-radius:25px;}

}


 @media screen and (max-width: 639px) {
    [class^='tab-Contents'] .tab-menu {height: 60px;}
    [class^='tab-Contents'] .tab-menu > span {height: 60px;line-height: 60px;font-size: 18px;}

    .tab01 .slide-content {padding: 50px 37px 68px;}
    .tab01 .slide-content .slide-tit {text-align: center;padding-bottom: 30px;width: calc(100% - 60px);margin: 0 auto;}
    .tab01 .swiper-container {margin-left: auto;margin-right: auto;position: relative;overflow: hidden;list-style: none;padding: 0;z-index: 1;}
    .tab01 .swiper-wrapper {position: relative;width: 100%;height: 100%;z-index: 1;display: flex;transition-property: transform;box-sizing: content-box;}
    .tab01 .slide-content .swiper-button {display: none;}
    .tab01 .slide-content .swiper-pagination {width: 100%;bottom: -25px;left: 50%;transform: translate(-50%, 50%);}
    .tab01 .slide-content .swiper-pagination .swiper-pagination-bullet {width: 9px;height: 9px;}
}
